<div class="'main_create_invoice'">
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="inside_create_invoice">
      <div class="header-area">
        <div class="header-top">
          <div class="header-top-left">
            <h3>New Purchase Order</h3>
          </div>
        </div>
        <div class="header-main">
          <div nz-row [nzGutter]="16" class="mb40">
            <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 12 }">
              <table class="purchase_info">
                <tbody>
                  <tr>
                    <td>Reference #</td>
                    <td style="width: 15px; text-align: center">:</td>
                    <td>
                      <input nz-input formControlName="reference" placeholder="PK-131 INDIA" />
                    </td>
                  </tr>
                  <tr>
                    <td>Manufacturer</td>
                    <td style="width: 15px; text-align: center">:</td>
                    <td>
                      <input nz-input formControlName="manufacturer" placeholder="Bangladesh, China, India" />
                    </td>
                  </tr>
                  <tr>
                    <td>Shipping Charge</td>
                    <td style="width: 15px; text-align: center">:</td>
                    <td>
                      <input nz-input type="number" digitOnly formControlName="purchaseShippingCharge"
                        placeholder="0.00" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 12 }">
              <table class="purchase_info">
                <tbody>
                  <tr>
                    <td>Supplier</td>
                    <td style="width: 15px; text-align: center">:</td>
                    <td>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Supplier" formControlName="supplier">
                        <nz-option [nzLabel]="data.name" [nzValue]="data._id" *ngFor="let data of suppliers">
                        </nz-option>
                      </nz-select>
                    </td>
                  </tr>
                  <tr>
                    <td>Supplier Link</td>
                    <td style="width: 15px; text-align: center">:</td>
                    <td>
                      <input nz-input type="link" formControlName="supplier_link" placeholder="https://" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="edit_order_search">
        <div class="serarch_left">
          <nz-affix (click)="onClickSearchArea($event)">
            <form class="form-field" #searchForm="ngForm">
              <input #searchInput nz-input id="searchInput"  type="text"
                placeholder="Search in caremebd..." (focus)="handleFocus($event)" name="searchTerm" autocomplete="off"
                ngModel required />
              <div *ngIf="isLoading" class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
              </div>
            </form>
          </nz-affix>
          <ul style="width: 400px" id="auto-suggestion" class="auto-complete-box"
            [ngClass]="searchProducts.length > 0 && isOpen ? 'active' : ''">
            <div *ngFor="let data of searchProducts; let i = index" style="display: flex">
              <li *ngIf="!data.hasVariant" class="list-view" (click)="onSelectItem(data)">
                <img class="img-thumb" [src]="
                      data.images && data.images.length > 0
                        ? data.images[0]
                        : '/assets/images/placeholder/test.png'
                    " [alt]="data?.productName" />
                <div class="desc">
                  <h3>{{ data?.name }}</h3>
                </div>
                <div class="price">
                  <h5>৳{{ data.sellingPrice }}</h5>
                  <p class="discount">

                  </p>
                </div>
              </li>
              <div *ngIf="data.hasVariant">
                <li *ngFor="let item of data.variantFormArray; let i = index" class="list-view"
                  (click)="onSelectItem(data, i)">
                  <img class="img-thumb" [src]="
                        data.images && data.images.length > 0
                          ? data.images[0]
                          : '/assets/images/placeholder/test.png'
                      " [alt]="data?.productName" />
                  <div class="desc">
                    <h3>{{ data?.name }}</h3>
                  </div>
                  <div class="price">
                    <h5>{{ item.variantSku }}</h5>
                    <p class="discount">
                    </p>
                  </div>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="order-table">
        <nz-table [nzData]="products">
          <thead>
            <tr>
              <th >Image</th>
              <th >Item Details</th>
              <th >Unit Cost Price</th>
              <th >PO Quantity</th>
              <th >Tax(%)</th>
              <th >Amount</th>
              <th >Remove</th>
            </tr>
          </thead>
          <tbody formArrayName="products">
            <tr *ngFor="let data of products.controls; let a = index" [formGroupName]="a">
              <td>
                <img [src]="'/assets/images/placeholder/test.png'" [alt]="data.value.productData.name" />
              </td>
              <td>
                <h3>{{ data.value.productData.name }}</h3>
                <p>SKU: {{ data.value.sku }}</p>
              </td>
              <td>
                <mat-form-field appearance="outline" class="form-field">
                  <input matInput type="number" (change)="calculateAmount(a)" formControlName="purchasePrice" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="form-field">
                  <input matInput type="number" (change)="calculateAmount(a)" formControlName="purchaseQuantity" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="form-field">
                  <input matInput type="number" (change)="calculateAmount(a)" formControlName="purchaseTax"
                    placeholder="percent(%)" />
                </mat-form-field>
              </td>
              <td>
                <span>{{ data?.value?.amount }} Tk</span>
              </td>
              <td>
                <mat-icon (click)="delete(i)"><i class="fa-solid fa-circle-minus"></i></mat-icon>
              </td>

            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="custom_notes_field">
        <div class="total-area">
          <ul>
            <li>
              <div class="total-title">
                <h3>Sub Total</h3>
              </div>
              <div class="total-price">
                <h4>{{ calculateSubTotal() }} TK</h4>
              </div>
            </li>
            <li>
              <div class="total-title">
                <h3>Shipping</h3>
              </div>
              <div class="total-price">
                <mat-form-field appearance="outline" class="form-field">
                  <input matInput type="number" formControlName="purchaseShippingCharge" digitOnly />
                </mat-form-field>
              </div>
            </li>
            <li>
              <div class="total-title">
                <h3>Adjustment</h3>
              </div>
              <div class="total-price">
                <mat-form-field appearance="outline" class="form-field">
                  <input matInput type="number" formControlName="adjustmentPrice" />
                </mat-form-field>
              </div>
            </li>
            <li>
              <div class="total-title">
                <h3>Total Amount =</h3>
              </div>
              <div class="total-price">
                <h4>{{ calculateTotal() }} TK</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="invoice_buttons">
        <button mat-stroked-button type="submit">Done</button>
      </div>
    </div>
  </form>
</div>
