<!--order-process-system-->
<div class="order-process-system">
    <div class="container">
        <div class="order-process-main">
            <!---order-process-system-info-->
            <div class="order-process-system-info complate-process" >
                <span><i class="fa fa-shopping-cart"></i></span>
                <h3>My Cart</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info complate-process" >
                <span><i class="fa fa-map"></i></span>
                <h3>Shipping Info</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info complate-process">
                <span><i class="fa fa-truck"></i></span>
                <h3>Delivery Info</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info complate-process">
                <span><i class="fa fa-credit-card"></i></span>
                <h3>Payment</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info active-process">
                <span><i class="fa fa-check-circle"></i></span>
                <h3>Confirmation</h3>
            </div>

        </div>
    </div>
</div>

<!---confirm-area-->
<div class="confirm-area">
    <div class="container">
        <div class="confirm-main">
            <!---confirm-info-->
            <div class="confirm-info">
                <!--confirm-check-->
                <div class="confirm-check">
                    <span><i class="fa fa-check"></i></span>
                </div>
                <div class="confirm-text">
                    <h3>Your Order Placed Successfully!</h3>
                    <p>Congratulations! Your Order has been Placed. </p>
                    <p>You can Track Your Order Number <span>#{{id}}</span></p>
                </div>
            </div>
            <!---confirm-btn-area-->
            <div class="confirm-btn-area">
                <ul>
                    <li><button routerLink="/">Continue Shopping</button></li>
                    <li><button class="active-track">Track Order</button></li>
                </ul>
            </div>


        </div>
    </div>
</div>
