<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 256 }">
  <div nz-col nzSpan="12">
    <nz-divider nzText="Delivery Info" nzOrientation="left"></nz-divider>
    <ul nz-list [nzDataSource]="list" [nzSplit]="false" nzSize="small">
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a>: Pathao</a>
          </nz-list-item-action>
        </ul>
        Shipped By
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a>: 1KG</a>
          </nz-list-item-action>
        </ul>
        Weight
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a>: 120TK</a>
          </nz-list-item-action>
        </ul>
        Shipping Cost
      </li>
    </ul>
  </div>

  <div nz-col nzSpan="12">
    <nz-divider nzText="Shipping Info" nzOrientation="left"></nz-divider>
    <ul nz-list [nzDataSource]="list" [nzSplit]="false" nzSize="small">
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>{{order?.name ? order.name : order?.user?.fullName}}</span>
          </nz-list-item-action>
        </ul>
        Name
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>{{order?.phoneNo ? order.phoneNo : order?.user?.phoneNo}}</span>
          </nz-list-item-action>
        </ul>
        Phone No
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>{{order?.user?.email}}</span>
          </nz-list-item-action>
        </ul>
        Email
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>{{order?.shippingAddress}}</span>
          </nz-list-item-action>
        </ul>
        Address
      </li>
    </ul>
  </div>
</div>


<nz-table style="margin: 30px 0px" #innerTable [nzData]="listOfChildrenData" nzSize="middle" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>
        <a style="font-size: 20px">SO - {{order?.orderId}}</a>
        <br>
        <span style="font-size: 15px">
          Date : {{order?.createdAt | date : 'short'}}
        </span>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><a class="pay-order">Pay now</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of innerTable.data; let i =index">
      <td>
        <img nz-image style="width: 100px" [nzSrc]="setThumbnailImage(data.product) ? setThumbnailImage(data.product) : '/assets/images/placeholder/test.png'" alt="">
      </td>
      <td>
        <a [routerLink]="['../../order-single-product-details', order._id, i]">{{data.product.name}}</a>
        <br>{{data.sku}}
      </td>
      <td>Qty : {{ data.quantity }}</td>
      <td>Total : {{ data.price }}</td>
      <td>Advance : {{ data.advance }}TK</td>
      <td><a class="status">{{ data.status | orderStatus }}</a></td>
      <td class="instock">Estimated Delivery by <br><span>{{ data.deliveryDate | date : 'short'}}</span></td>
      <td>
        <a class="order-status">{{ data.product.status | productOrderStatus}}</a>
      </td>
    </tr>
  </tbody>
</nz-table>
