<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 256 }">
  <div nz-col nzSpan="12">
    <nz-divider nzText="Delivery Info" nzOrientation="left"></nz-divider>
    <ul nz-list [nzDataSource]="list" [nzSplit]="false" nzSize="small">
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a>: Pathao</a>
          </nz-list-item-action>
        </ul>
        Shipped By
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a>: 1KG</a>
          </nz-list-item-action>
        </ul>
        Weight
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a>: 120TK</a>
          </nz-list-item-action>
        </ul>
        Shipping Cost
      </li>
    </ul>
  </div>

  <div nz-col nzSpan="12">
    <nz-divider nzText="Shipping Info" nzOrientation="left"></nz-divider>
    <ul nz-list [nzDataSource]="list" [nzSplit]="false" nzSize="small">
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>Saniul Islam</span>
          </nz-list-item-action>
        </ul>
        Name
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>01687248923</span>
          </nz-list-item-action>
        </ul>
        Phone No
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>rahim.fortunetech@gmail.com</span>
          </nz-list-item-action>
        </ul>
        Email
      </li>
      <li nz-list-item nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span>rahim fortunetech, dhaka, Bangladesh</span>
          </nz-list-item-action>
        </ul>
        Address
      </li>
    </ul>
  </div>
</div>


<nz-table style="margin: 30px 0px" #innerTable [nzData]="listOfChildrenData" nzSize="middle" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>
        <a style="font-size: 20px">SO - 1234</a>
        <br>
        <span style="font-size: 15px">
          Date : 8/12/2020
        </span>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><a class="pay-order">Pay now</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of innerTable.data">
      <td>
        <img style="width: 100px" src="/assets/images/placeholder/test.png" alt="">
      </td>
      <td>
        <a matTooltip="Click to view ordered product details"
          [routerLink]="['../../order-single-product-details']">{{data.name}}</a>
        <br>{{data.sku}}
      </td>
      <td>Qty : {{ data.qty }}</td>
      <td>Total : {{ data.total }}</td>
      <td>Advance : {{ data.advance }}TK</td>
      <td><a class="status">{{ data.paymentStatus }}</a></td>
      <td class="instock">Estimated Delivery by <br><span>{{ data.deliveryDate | date : 'short'}}</span></td>
      <td>
        <a class="order-status">{{ data.orderStatus }}</a>
      </td>
    </tr>
  </tbody>
</nz-table>
