<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <div class="heading-title">
      <h2>Order Details</h2>
    </div>
  </div>
  <div nz-col nzSpan="24">
    <nz-card class="order-details" nzSize="small">
      <div nz-row>
        <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 8 }">
          <h3>Order Informations</h3>
          <table>
            <tbody>
              <tr>
                <td>Shipped by</td>
                <td>:</td>
                <td>Pathao</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>:</td>
                <td>1 KG</td>
              </tr>
              <tr>
                <td>Shipping Cost</td>
                <td>:</td>
                <td>120 Tk</td>
              </tr>
              <tr>
                <td>Paid By</td>
                <td>:</td>
                <td>bKash (120 Tk)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 8 }">
          <h3>Shipping Informations</h3>
          <table>
            <tbody>
              <tr>
                <td>Name</td>
                <td>:</td>
                <td>{{ order?.name ? order?.name : order?.user?.fullName }}</td>
              </tr>
              <tr>
                <td>Phone No</td>
                <td>:</td>
                <td>
                  {{ order?.phoneNo ? order?.phoneNo : order?.user?.phoneNo }}
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>:</td>
                <td>{{ order?.user?.email }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>:</td>
                <td>{{ order?.shippingAddress }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<a [routerLink]="['../../../', 'success', order?.orderId]" nz-button nzType="primary" >Pay Now</a>
<div class="order-list" nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-card nzSize="small">
      <nz-table #innerTable [nzData]="listOfChildrenData" [nzShowPagination]="false" nzSize="small">
        <thead style="background: transparent">
          <tr>
            <th class="orderid">
              <a>
                <h2>{{ order?.orderId }}</h2>
                <h4>{{ order?.createdAt | date: "short" }}</h4>
              </a>
            </th>
            <th>Total Amount</th>
            <th>Advance Amount</th>
            <th>Payment Status</th>
            <th></th>
            <th><a [routerLink]="['../../', 'track-order', order?.orderId]" class="track-order">Track
                Order</a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of innerTable?.data; let i = index">
            <td>
              <div class="product-details">
                <img nz-image style="width: 80px"
                  [nzSrc]="getThumbnailImage(data.productId) ? getThumbnailImage(data.productId) : '/assets/image/placeholder/test.png'"
                  [alt]="data.name" />
                <div class="producttitle">
                  <h4>{{ data.name }}</h4>
                  <span> SKU: {{ data.sku }} </span>
                </div>
              </div>
            </td>
            <td>
              {{ data.quantity }} X {{ data.price + data.tax}}
              = {{ data.quantity * (data.price + data.tax)}}
            </td>
            <td>{{ data.advanceAmount }}TK</td>
            <td>
              <span class="payment paid unpaid">
                {{ data?.paymentStatus | paymentStatus}}
              </span>

            </td>
            <td class="estimated-time instock">
              <h3>
                Estimated Delivery by
                <span>{{ data?.deliveryDateTo | date: "d MMM" }}</span>
              </h3>
            </td>
            <td class="order-status">
              <!-- <span>{{ data.status | orderStatus }}</span> -->
              <span>{{data.deliveryStatus | orderStatus}}</span>
            </td>
            <td>
              <button nz-button nzType="danger" nzDanger *ngIf="data.deliveryStatus === 0"><i class="las la-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="single-order-summary">
        <div>
          <button nz-button nzType="outline" nzSize="large" (click)="showModal()">
            Raise an Issue
          </button>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Raise an Issue" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()" nzOkText="Send">
            <ng-container *nzModalContent>
              <div class="ticketinfo"></div>
              <div class="issue-form">
                <form>
                  <div class="inputgroup">
                    <label>Issue Type</label>
                  </div>
                </form>
              </div>
            </ng-container>
          </nz-modal>
        </div>
        <div class="order-summary">
          <nz-list>
            <nz-list-item>
              <h2>Sub-Total</h2>
              <h3>{{getSubTotal()}}</h3>
            </nz-list-item>
            <nz-list-item>
              <span>Coupon Code</span>
              <p>(-) 0 TK</p>
            </nz-list-item>
            <nz-list-item>
              <span>Points Redeem</span>
              <p>(-) 0 TK</p>
            </nz-list-item>
            <nz-list-item>
              <span>Shipping Charge</span>
              <p>120 TK</p>
            </nz-list-item>
          </nz-list>
          <nz-list>
            <nz-list-item>
              <h2>Amount to pay</h2>
              <h3>{{getSubTotal() + 120}} TK</h3>
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </nz-card>
  </div>
</div>
