<!---export-order-area-->
<div class="export-order-area" *ngIf="export === true">
    <!---export-order-main-->
    <div class="export-order-main">
        <!---export-order-header-->
        <div class="export-order-header">
            <div>
                <h3>Export Orders</h3>
            </div>
            <div>
                <span (click)="exportPOpUpHide()"><i class="fa-solid fa-xmark"></i></span>
            </div>
        </div>  <!---export-order-header-end-->
        <!---export-order-body-->
        <div class="export-order-body">
            <!---export--->
            <div class="export">
                <h3>Export</h3>
                <mat-radio-group [(ngModel)]="selectedAmount"  >
                    <mat-radio-button class="radio-box" *ngFor="let data of exportTypes" [value]="data.value">{{data?.viewValue}}</mat-radio-button>
                    <!-- <mat-radio-button class="radio-box" value="2" (click)="exportToExcel()">All orders</mat-radio-button>
                    <mat-radio-button class="radio-box" value="3">Selected: 2 orders</mat-radio-button>
                    <mat-radio-button class="radio-box" value="4">50+ Orders matching your search</mat-radio-button>
                    <mat-radio-button class="radio-box" value="5">Orders by date</mat-radio-button> -->
                  </mat-radio-group>
            </div>
            <!---export--->
            <div class="export">
                <h3>Export as</h3>
                <mat-radio-group [(ngModel)]="selectedType"  >
                    <mat-radio-button class="radio-box" value="1">CSV for Exchel, Numbers, or other spreadsheet programs</mat-radio-button>
                    <mat-radio-button class="radio-box" value="2">Plain CSV file</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div><!---end-->
        <div class="export-footer-area">
            <ul>
                <li><button (click)="exportPOpUpHide()">Cancel </button></li>
                <li><button>Export transaction histories</button></li>
                <li><button (click)="onExport()" class="export-btn-active">Export Orders</button></li>
            </ul>
        </div>
    </div>
</div>
