<!---collection-menu-->
<div class="collection-menu">
    <div class="container">
      <ul>
          <li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
          <li><a href="#">Refund & Return Policy</a></li>
      </ul>
    </div>
  </div>
<div class="about-us">
    <div class="container">
        <div class="about-main">
            <div class="title">
                <h3>Refund & Return Policy</h3>
            </div>
            <div class="about-description">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor, neque quidem autem expedita magni non consequuntur error maiores molestias quos totam impedit odit veritatis voluptatibus fuga consequatur ducimus amet.</p>

            </div>
        </div>
    </div>
</div>
