@import "src/theme/variables";

mat-toolbar {
  height: $toolbar-height;
  background: #17203f;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggleBtn {
  display: flex;
  align-items: center;
}
.brand {
  width: 150px;
}
.multi-serarch {
  width: 650px;
  input {
    color: #ccc;
    width: 100%;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #5c637a;
    background: #293049;
    height: 40px;
    padding: 20px;
  }
  input:placeholder {
    color: #919090;
  }
}
.toolbar-action {
  button {
    i {
      font-size: 24px;
    }
  }
  .notifibell {
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: 0;
      background: red;
      color: #ccc;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 100%;
      font-size: 10px;
    }
  }
}
.menuitem_btn {
  line-height: 30px;
  height: 30px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  i {
    margin-right: 15px;
    font-size: 20px;
  }
}
.action-container {
  i.la-plus-square {
    color: #00ff00;
  }
}
