<mat-toolbar>
  <div class="toggleBtn">
    <button
      (click)="onToggleSidenav()"
      mat-icon-button
      matTooltip="Toggle Menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="brand">
      <img routerLink="/admin" src="/assets/brand/logo-white.svg" alt="" />
    </div>
  </div>

  <div class="multi-serarch">
    <input nz-input placeholder="Search anything here..." />
  </div>

  <div fxLayout="row" fxLayoutAlign="end" class="toolbar-action">
    <div
      class="action-container"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0px"
    >
      <button
        class="addnewquick"
        nz-dropdown
        [nzDropdownMenu]="addnewQuick"
        mat-icon-button
      >
        <i class="las la-plus-square"></i>
        <nz-dropdown-menu #addnewQuick="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li class="single_menu" routerLink="add-product" nz-menu-item>
              <i
                style="font-size: 20px; margin-right: 10px"
                class="las la-list"
              ></i>
              Add New Products
            </li>
            <li nz-menu-item>
              <i
                style="font-size: 20px; margin-right: 10px"
                class="las la-money-check-alt"
              ></i>
              Purchase Orders
            </li>
          </ul>
        </nz-dropdown-menu>
      </button>
      <a
        mat-icon-button
        matTooltip="View Store"
        target="_blank"
        [routerLink]="['/']"
      >
        <i class="las la-store"></i>
      </a>
      <button
        class="notifibell"
        mat-icon-button
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzTrigger="click"
        nzPlacement="bottomRight"
      >
        <nz-badge [nzCount]="5">
          <i class="las la-bell"></i>
        </nz-badge>
      </button>
      <button (click)="adminLogOut()" mat-icon-button matTooltip="Logout">
        <i class="las la-power-off"></i>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="profile"
        matTooltip="My Profile"
      >
        <i class="las la-user"></i>
      </button>

      <mat-menu class="topbar_dropdown" #profile="matMenu">
        <button class="menuitem_btn" mat-menu-item>
          <i class="las la-user"></i>
          <span>Hello {{ adminData?.username }}!</span>
        </button>
        <button
          class="menuitem_btn"
          mat-menu-item
          [routerLink]="['my-profile']"
        >
          <i class="las la-id-card"></i>
          <span>View Profile</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<!--  notification bell items-->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable class="notification_area">
    <li
      nz-menu-item
      class="single_items"
      *ngFor="let notifilist of notification"
    >
      <img
        nz-image
        width="50px"
        height="50px"
        nzSrc="{{ notifilist.image }}"
        alt=""
      />
      <div class="bell_des">
        <p>{{ notifilist.notification }}</p>
        <span><i class="lar la-clock"></i> {{ notifilist.time }}</span>
      </div>
    </li>
  </ul>
</nz-dropdown-menu>
