<!-- Track Order -->
<div class="single-inv">
  <h2>Track Order</h2>
  <div class="invoice-card">
    <div class="invoice-table">
      <ul>
        <li *ngFor="let data of invoices">
          <div class="invoice-header">
            <div class="invoice-id">
              <h3>{{ data?.invoiceId }}</h3>
              <span>{{data?.createdAt | date : 'short'}}</span>
            </div>
            <h3>{{data?.deliveryStatus | orderStatus}}</h3>
          </div>
          <div class="invoice-progress">
            <div class="invoice-progress_step">
              <h1>
                Estimated Delivery By <span>Fri 22 Jul - Sun 22 Aug</span>
              </h1>
              <nz-steps [nzCurrent]="data?.deliveryStatus-3" [nzProgressDot]="progressTemplate">
                <nz-step nzTitle="Pending"></nz-step>
                <nz-step nzTitle="Shipped"></nz-step>
                <nz-step nzTitle="Delivered"></nz-step>
                <nz-step nzTitle="Returning"></nz-step>
                <nz-step nzTitle="Returned"></nz-step>
              </nz-steps>
              <ng-template
                #progressTemplate
                let-dot
                let-status="status"
                let-index="index"
              >
                <span
                  nz-popover
                  nzPopoverContent="steps {{ index }} status: {{ status }}"
                  style="margin-left: -100%"
                >
                  <ng-template [ngTemplateOutlet]="dot"></ng-template>
                </span>
              </ng-template>
              <div class="invoice-progress_timeline">
                <nz-timeline>
                  <nz-timeline-item
                    nzLabel="2015-09-01 09:12:11"
                    [nzDot]="propending"
                    nzColor="red"
                  >
                    Your Order is Shipped by Emmon
                  </nz-timeline-item>
                </nz-timeline>
                <ng-template #prodone>
                  <span
                    nz-icon
                    style="font-size: 18px"
                    nzType="check-circle"
                    nzTheme="outline"
                  ></span>
                </ng-template>
                <ng-template #propending>
                  <span
                    nz-icon
                    style="font-size: 18px"
                    nzType="clock-circle"
                    nzTheme="outline"
                  ></span>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngFor="let product of data.products" class="invoice-product">
            <div class="image">
              <img nz-image [nzSrc]="getThumbnailImage(product.productId)" />
            </div>
            <div class="details">
              <h3>{{ product.name }}</h3>
              <span>SKU: {{ product.sku }}</span>
            </div>
            <div class="total">
              {{ product.quantity }} X {{ product.price }} =
              {{ product.quantity * product.price }}
            </div>
            <div class="advanch">Cash On Delivery</div>
            <div class="paystatus">COD</div>
            <div class="status">{{data.deliveryStatus | orderStatus}}</div>
            <div class="returnpreiod">
              <a *ngIf="product.productId.canReturn" (click)="showReturn(data, product)">
                Return
                <h5>( 09:12:11 )</h5>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!---create-return-->
<nz-modal
  style="width: max-content"
  [(nzVisible)]="isVisible"
  nzTitle="Create Return"
  (nzOnCancel)="handleCancelRTD()"
  (nzOnOk)="handleOkRTD()"
>
  <ng-container *nzModalContent>
    <div class="return">
      <div class="box">
        <h4>Reason</h4>
        <nz-select [(ngModel)]="reason" placeholder="Select option">
          <nz-option nzValue="damage" nzLabel="Product Damage "></nz-option>
          <nz-option nzValue="mismatch" nzLabel="Quantity Mismatch"></nz-option>
          <nz-option
            nzValue="quality"
            nzLabel="Product Quality Issue"
          ></nz-option>
          <nz-option nzValue="late" nzLabel="Late delivery"></nz-option>
          <nz-option nzValue="mind_change" nzLabel="Change of mind"></nz-option>
        </nz-select>
      </div>
      <div class="box">
        <h4>Upload Image</h4>
        <div class="field">
          <button type="button" nz-button (click)="imagePicker.click()">
            <span nz-icon nzType="upload"></span>
            Click to Upload
          </button>
          <p *ngIf="this.url" class="upload-text">{{ this.file.name }}</p>
          <input
            [hidden]="true"
            #imagePicker
            type="file"
            (change)="fileChangeEvent($event)"
            accept="image/* | video/*"
            multiple
          />
        </div>
      </div>
    </div>
    <div class="box">
      <h4>Notes</h4>
      <textarea nz-input [(ngModel)]="notes" placeholder="Controlled autosize" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
    </div>
    <form [formGroup]="dataForm">
      <nz-table [nzData]="returnProducts" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Name</th>
            <th>Varaint</th>
            <th>SKU</th>
            <th>quantity</th>
            <th>price</th>
            <th>tax</th>
          </tr>
        </thead>
        <tbody formArrayName="products">
          <tr
            *ngFor="let data of products?.controls; let i = index"
            [formGroupName]="i"
          >
            <td>{{ data?.value.name }}</td>
            <td>{{ data?.value.variant }}</td>
            <td>{{ data?.value.sku }}</td>
            <td>
              <input
                nz-input
                type="number"
                max="data.value.totalInvoiceQty"
                formControlName="quantity"
                (change)="
                  onChangeQty(
                    i,
                    data?.value.quantity,
                    data.value.totalInvoicedQty
                  )
                "
              />
            </td>
            <td>{{ data?.value.price }}</td>
            <td>{{ data?.value.tax }}</td>
          </tr>
        </tbody>
      </nz-table>
    </form>
  </ng-container>
</nz-modal>
