<!-- order-header-area-->
<div class="page-header">
  <h2>All Return</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
  </div>
</div>
<div class="table-samary">
  <nz-card nzSize="small">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form #searchForm=ngForm>
            <input #searchInput nz-input id="searchInput" class="tw" type="text" placeholder="Filter Returns"
              (focus)=handleFocus($event) name="searchTerm" nzSize="large" autocomplete="off" ngModel required>
          </form>
          <ul>
            <li>
              <button nz-dropdown [nzDropdownMenu]="vendorMenu">
                Vendor <i class="las la-angle-down"></i>
              </button>
              <nz-dropdown-menu #vendorMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Care Me</li>
                  <li nz-menu-item>Global</li>
                  <li nz-menu-item>Intimate Star</li>
                  <li nz-menu-item>Thirdstep</li>
                </ul>
              </nz-dropdown-menu>
            </li>
            <li>
              <button nz-dropdown [nzDropdownMenu]="sortMenu">
                Sort <i class="las la-sort"></i>
              </button>
              <nz-dropdown-menu #sortMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="sortData({returnId: -1}, 1)"> Return Number(High to low) </li>
                  <li nz-menu-item (click)="sortData({returnId: 1}, 2)"> Return Number(Low to High) </li>
                  <li nz-menu-item (click)="sortData({createdAt: 1}, 3)"> Created (oldest first) </li>
                  <li nz-menu-item (click)="sortData({createdAt: -1}, 4)"> Created (newest first) </li>
                  <li nz-menu-item (click)="sortData({subTotal: -1}, 5)"> Amount(High to low) </li>
                  <li nz-menu-item (click)="sortData({subTotal: 1}, 6)"> Amount (Low to High) </li>
                </ul>
              </nz-dropdown-menu>
            </li>
          </ul>
        </div>
        <div class="table-data-area">
          <nz-table
            nzSize="small"
            #rowSelectionTable
            nzShowSizeChanger
            [nzLoading]="isLoading"
            [nzData]="returns"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
          >
            <thead>
            <tr>
              <th
                style="width: 50px"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                [nzLoading]="isLoading"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Return ID & Date</th>
              <th>Initiated By</th>
              <th>Invoice ID</th>
              <th>Return Status</th>
              <th>Sales Order</th>
              <th>Customer</th>
              <th>Received Qty</th>
              <th>Return (TK)</th>
              <th>Refund (TK)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td
                style="width: 50px"
                [nzChecked]="setOfCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
              <td>
                <a
                  [routerLink]="['../', 'details', data._id]"
                  routerLink="details"
                >
                  {{ data.returnId }}
                  <h5>{{ data.createdAt | date: "short" }}</h5>
                </a>
              </td>
              <td>SUPERADMIN</td>
              <td>{{ data.invoiceId }}</td>
              <td>PENDING</td>
              <td>{{ data.orderNumber }}</td>
              <td>Pending</td>
              <td>Accepted</td>
              <td>0</td>
              <td>0</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
