<!--order-process-system-->
<div class="order-process-system">
    <div class="container">
        <div class="order-process-main">
            <!---order-process-system-info-->
            <div class="order-process-system-info complate-process" >
                <span><i class="fa fa-shopping-cart"></i></span>
                <h3>My Cart</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info active-process" >
                <span><i class="fa fa-map"></i></span>
                <h3>Shipping Info</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info">
                <span><i class="fa fa-truck"></i></span>
                <h3>Delivery Info</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info">
                <span><i class="fa fa-credit-card"></i></span>
                <h3>Payment</h3>
            </div>
             <!---order-process-system-info-->
             <div class="order-process-system-info">
                <span><i class="fa fa-check-circle"></i></span>
                <h3>Confirmation</h3>
            </div>

        </div>
    </div>
</div>

<!---shipping-area-->
<div class="shipping-area">
    <div class="container">
       <div class="shipping-main-area">
            <!---shipping-top-->
            <div class="shipping-top-area">
                <!---title-->
                <div class="title">
                    <h3>Select Delivery Address</h3>
                </div>
                <!---add-address-btn-->
                <!-- (click)="showPupUp()" -->
                <div class="add-address-btn">
                    <button (click)="openDialog()" ><span>+</span> Add New Address</button>
                </div>
            </div><!---shipping-top-end-->

            <!---shipping-main-->
            <div class="shipping-address-main" >
                <!---shipping-info-->
                <div class="shipping-info" [class]="clickActive[i] ? 'active-address' : 'inactive'" (click)="onSelectAddress(data, i)" *ngFor="let data of addressInfo; let i=index">
                    <!---shipping-place-->
                    <div class="shipping-place">
                        <!--shiping-place-left-->
                        <div class="shipping-place-left">
                            <h3><i class="fa fa-briefcase"></i> {{data.addressType}}</h3>
                            <!-- <span>Default</span> -->
                        </div>
                        <!---shipping-place-right-->
                        <div class="shipping-place-right">
                            <span><i class="fa fa-check"></i></span>
                            <span><mat-icon (click)="editAddress(data, i)">edit</mat-icon></span>
                            <span><mat-icon (click)="deleteAddress(i)" >delete_outline</mat-icon></span>
                        </div>
                    </div><!---shipping-place-end-->
                    <!---shipping-info-body-->
                    <div class="shipping-info-body" >
                       <div class="name-area">
                            <h3>{{user?.fullName ? user.fullName : 'No Name'}}</h3>
                            <h3>{{data.phone}}</h3>
                       </div>
                       <div class="address">
                           <ul>
                               <li>{{data.address}}</li>
                               <li>{{data.zila.name}} {{data.city.name}} {{data.thana.name}}</li>
                           </ul>
                       </div>
                    </div>
                </div>
            </div>



              <!---cart-btn-area-->
            <div class="cart-btn-area">
                <div class="cart-btn-info">
                    <div class="cart-btn-left">
                        <button routerLink="/all-products"><i class="fa fa-arrow-left" routerLinkActive="router-link-active" ></i> Return to shop</button>
                    </div>
                    <div class="cart-btn-right" *ngIf="selectedAddress !== true" >
                        <button (click)="onSubmitSelectedAddress()">Continue to Delivery Info </button>
                    </div>

                </div>
            </div>


       </div>
    </div>
</div>

<!---add-new-address-->
<!-- <div class="add-new-ares">
    <app-add-new-adress #address ></app-add-new-adress>
</div> -->
