<!---order-header-area-->
<div class="page-header">
  <h2>All Invoice</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
  </div>
</div>
<div class="table-samary">
  <nz-card>
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <input nz-input placeholder="Search here" nzSize="large" />
          <ul>
            <li>
              <button [matMenuTriggerFor]="paymentStatus">
                Payment Status <i class="fa fa-caret-down"></i>
              </button>
            </li>
            <mat-menu #paymentStatus="matMenu">
              <button
                mat-menu-item
                *ngFor="let data of paymentOrderStatus"
                (click)="filterByPaymentStatus(data.value)"
              >
                {{ data.viewValue }}
              </button>
            </mat-menu>
            <li>
              <button [matMenuTriggerFor]="orderStatus">
                Order Status <i class="fa fa-caret-down"></i>
              </button>
            </li>
            <mat-menu #orderStatus="matMenu">
              <button
                mat-menu-item
                *ngFor="let data of productOrderStatus"
                (click)="filterByOrderStatus(data.value)"
              >
                {{ data.viewValue }}
              </button>
            </mat-menu>
            <li>
              <button [matMenuTriggerFor]="vendor">
                Vendor <i class="fa fa-caret-down"></i>
              </button>
            </li>
            <mat-menu #vendor="matMenu">
              <button mat-menu-item>Careme</button>
              <button mat-menu-item>Careme Global</button>
            </mat-menu>
          </ul>
        </div>
        <nz-table
        #rowSelectionTable
        [nzData]="listOfData"
        [nzLoading]="loading"
        [nzPageIndex]="currentPage"
        [nzFrontPagination]="false"
        [nzTotal]="totalNumbers"
        (nzQueryParams)="onPageChanged($event)"
        nzSize="small"
        >
          <thead>
            <tr>
              <th
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>ID & Date</th>
              <th>Delivery Status</th>
              <th>Due (TK)</th>
              <th>Order No</th>
              <th>Amount (TK)</th>
              <th>Payment Status</th>
              <th>Customer Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td
                [nzChecked]="setOfCheckedId.has(data.invoiceId)"
                (nzCheckedChange)="onItemChecked(data.invoiceId, $event)"
              ></td>
              <td>
                <a [routerLink]="['../../', 'invoice', data._id]">INV-{{ data.invoiceId }}</a>
                <h5>{{data.invoiceDate | date: 'short'}}</h5>
              </td>
              <td><span class="btn delivered">{{data.deliveryStatus | orderStatus}}</span></td>
              <td>0</td>
              <td>{{data.orderNumber}}</td>
              <td>{{data.subTotal}}</td>
              <td>{{data.paymentStatus | paymentStatus}}</td>
              <td>{{data.customerName}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
