<div class="main">
    <div class="order-top">
        <div class="user-info">
          <h2 class="title">Order Details</h2>
          <h3>Ahmed Rizvi</h3>
          <span>57/12 Shonagong plaza, Panthapoth signal, Dhaka</span>
          <p>+880161918770</p>
        </div>

        <div class="order-id-section">
          <div class="order-info">
            <h2 class="title">Order #1356984</h2>
            <p>Placed on 22 oct 2021 10:28 AM</p>
            <p>Paid on 23 oct 2021 12:20 PM</p>
          </div>
          <div class="receipt-section">
              <div class="invoice-section">
                <button type="button" >Invoice<i class="fas fa-arrow-circle-down"></i></button>
              </div>
              <div class="take-order-section">
                <button routerLink="./../../individual-product-status" type="button"> <i class="far fa-calendar-alt"></i> Take Order</button>
              </div>
          </div>
        </div>
    </div>
  
    <div class="orders">
      <div class="order">
        <!--order-product-left-->
        <div class="order-left">
            <!---product-img-->
            <div class="product-img">
              <img src="./assets/images/image/photo-1517420879524-86d64ac2f339.png" alt="">
            </div>
            <div class="product-info">
                <h3>Apple Smart Watch</h3>
                <h4>4500TK</h4>
                <span>x 1</span>
            </div>
  
        </div>
  
    <!--order-product-middle-->
        <div class="order-middle">
          <div class="product-id">
            <span>SKU:632563</span>
          </div>
        </div>
        <!--order-product-right-->
        <div class="order-right">
            <div class="order-status">
              <div class="delivery-status-delivered">
                <h3>Delivered</h3>
              </div>
              <div class="delivery-status-cancelled" style="display: none;">
                <h3>Cancelled</h3>
              </div>
              <div class="delivery-status-pending" style="display: none;">
                <h3>Pending</h3>
              </div>
              
              <div class="order_points">
                <span><i class="fas fa-coins"></i> 102 Points</span>
              </div>
              <div class="review">
                <button><i class="far fa-edit"></i> Write a review</button>
              </div>
            </div>
        </div>
    </div>
   </div>
<!-----payment calculate -area -->
  <div class="calculate">
    <ul>
      <li>
        <div>
          <span>Subtotal: </span>
        </div>
        <div>
          <span>5000 TK</span>
        </div>
      </li>
      <li>
        <div>
          <span>Shippings: </span>
        </div>
        <div>
          <span>100 TK</span>
        </div>
      </li>
      <li>
        <div>
          <span>Discount: </span>
        </div>
        <div>
          <span>250 TK</span>
        </div>
      </li>
      <li>
        <div>
          <span>Points: </span>
        </div>
        <div>
          <span>(-) 300</span>
        </div>
      </li>
      <hr style="height:1px;width:100%;border-width:0;color:gray;background-color:gray">
      <li>
        <div>
          <span>Total:</span>
        </div>
        <div>
          <span style="color: #db5791;">5050 TK</span>
        </div>
      </li>
      <li>
        <div>
          <span>Paid:  </span>
        </div>
        <div>
          <span style="color: #db5791;">5050 TK</span>
        </div>
      </li>
      <hr style="height:1px;width:100%;border-width:0;color:gray;background-color:gray">
      <li>
        <div>
          <span>Due: </span>
        </div>
        <div>
          <span style="color: #db5791;">5050 TK</span>
        </div>
      </li>

    </ul>
  </div>
    <div>
      <button class="issues"><i class="far fa-edit"></i>  Issues</button>
    </div>

  </div>