@import'./../../../../../theme/client-side-varriables';

.main{
  min-height: 600px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%),0 -2px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin-bottom: 30px;

}

.user-info{
  font-family: $font-en-primary-2;
  border-bottom: 2px solid #b8b8b8;
  padding-bottom: 15px;
}
.user-info h2{
    display: block;
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 20px!important;
}
.user-info h3{
    display: block;
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 9px!important;
}
.user-info span,.user-info p{
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 15px;
    display: block;
    line-height: 18px;
    margin-bottom: 6px!important;
}
.order-id-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.order-info{
  font-family: $font-en-primary-2;
}
.order-info h2{
  color: #000000;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 17px;
  display: block;
  margin-bottom: 10px!important;
}
.order-info p{
  color: #000000;
  font-weight: 500;
  font-family: $font-en-primary-2;
  font-size: 15px;
  display: block;
  line-height: 22px;
}
.invoice-section{
  display: block;
}
.invoice-section button{
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #7d7d7d;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 17px;
  border: none;
  background-color: #fff;
  padding: 4px 10px;
  box-sizing: border-box;
}
.take-order-section{
  display: block;
}
.take-order-section button{
  color: #2d2d2d;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #838383;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.take-order-section button:hover{
  background-color: #2d2d2d;
  color: #fff;
}
.receipt-section{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}



.order{
    background-color: #fff;
    padding: 20px 15px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%),0 -2px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 30px;

}

.order-left{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 15px;

}
.product-img{
  display: block;
  max-width: 130px;
}
.product-img img{
  width: 130px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.product-info{
    display: block;
}
.product-info h3{
    color: #000000;
    font-family: $font-en-primary-2;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    display: block;
    margin-bottom:5px!important;
}
.product-info h4{
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    display: block;
    margin-top: 10px!important;
    margin-bottom: 5px!important;
}
.product-info span{
  display: block;
  color: #000000;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 15px;
}
.order-right{
    display: block;
  }

.order-status{
    display: block;

}


.order-middle{
  display: block;

}

.order-middle span{
  color: #000000;
  font-family: $font-en-primary-2;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  display: block;

}
.order-status{
  display: block;
  text-align: right;
}
.delivery-status-delivered{
  display: block;
  margin-bottom: 8px;
}
.delivery-status-delivered h3{
  color: #13c100;
  font-family: $font-en-primary-2;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  display: block;
}
.delivery-status-pending{
  display: block;
  margin-bottom: 8px;
}
.delivery-status-pending h3{
  color: #ff9900;
  font-family: $font-en-primary-2;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  display: block;
}
.delivery-status-cancelled{
  display: block;
  margin-bottom: 8px;
}
.delivery-status-cancelled h3{
  color: #9e0000;
  font-family: $font-en-primary-2;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  display: block;
}

.order_points span{
  color: #000000;
  font-family: $font-en-primary-2;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  display: block;
  margin-top: 10px!important;
  margin-bottom: 15px!important;
}
.fa-coins{
  color: #f28500;
}
.review button{
  color: #2d2d2d;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #838383;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s linear;

}
.review button:hover{
  background-color: #2d2d2d;
  color: #fff;
}

.calculate{
  color: #000000;
  font-family: $font-en-primary-2;
  font-size: 16px;
  font-style: normal;
  display: block;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
}
.calculate ul{
  display: block;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.calculate ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 30px;
  box-sizing: border-box;
}
.calculate ul li span{
  color: #000000;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 16px;
  display: block;
  font-style: normal;
}

.issues{
  color: #2d2d2d;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #838383;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s linear;
  margin-top: 30px;
}
.issues:hover{
  color: #fff;
  background-color: #2d2d2d;
}


@media(max-width:730px) {
  .order{
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align: center;
  }
  .order-left{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-img img{
    width: 110px;
    height: 110px;
  }
  .order-status{
    text-align: center;
  }
  .main{
    box-shadow: none;
    padding: 5px;
    border-radius: 0px;
  }
}
@media(max-width:620px){
  .order-id-section{
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .receipt-section{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .calculate ul li{
    padding: 0px;
  }
}