<!---view-Points-top-->
<div class="view-product-header-area">
    <div class="view-product-header-main">
        <div class="view-product-header-left">
            <h2>Sales by Customer </h2>
            <p><strong>From 1 august 2021 to 1 august 2021</strong></p>
        </div>
        <div class="head">
          <div class='left'>
            <mat-form-field appearance="outline">
              <mat-label>Custom</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class='right'>
            <div class="search">
              <button><i class="fa fa-search"></i></button>
              <input type="text" name="" value="" placeholder="Search">
          </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="catagory-table">
  
    <div class='table-header'>
  
      <div class='name'>
        <p><strong>Name</strong></p>
      </div>
      <div>
        <p><strong>Invoice Count</strong></p>
      </div>
      <div>
        <p><strong>Sales</strong></p>
      </div>
      <div>
        <p><strong>Sales with Tax</strong></p>
      </div>
  
    </div>
  
    <div class='table-row'>
  
      <div class='name'>
        <p><strong>Rizvi Ahmed</strong></p>
      </div>
      <div>
        <p><strong>1</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
  
    </div>
  
    <div class='table-row'>
  
      <div class='name'>
        <p><strong>Rizvi Ahmed</strong></p>
      </div>
      <div>
        <p><strong>1</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
  
    </div>
  
    <div class='table-row'>
  
      <div class='name'>
        <p><strong>Rizvi Ahmed</strong></p>
      </div>
      <div>
        <p><strong>1</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
  
    </div>
  
    <div class='table-row'>
  
      <div class='name'>
        <p><strong>Rizvi Ahmed</strong></p>
      </div>
      <div>
        <p><strong>1</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
  
    </div>
  
    <div class='table-row'>
  
      <div class='name'>
        <p><strong>Rizvi Ahmed</strong></p>
      </div>
      <div>
        <p><strong>1</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
      <div class='sale'>
        <p><strong>BDT 3,00400</strong></p>
      </div>
  
    </div>
  
    <div class='table-total'>
  
      <div class='name'>
        <p><strong>total</strong></p>
      </div>
      <div>
        <p><strong>BDT 3,00400</strong></p>
      </div>
      <div>
        <p><strong>BDT 3,00400</strong></p>
      </div>
  
    </div>
  
    <div class='page'>
      <div class='div1'>
        <div>
          <p style='color: #0058ff;'>Total Count:</p>
        </div>
        <div>
          <p>30</p>
        </div>
      </div>
      <div class= 'pagination'>
  
      </div>
    </div>
  </div>
  
