<!---order-header-area-->
<div class="page-header">
  <h2>All Method</h2>
  <div class="header-action">
    <button class="create_btn" type="button" (click)="showMathod()">
      <i class="las la-plus"></i> Add Shipping Method
    </button>
  </div>
</div>
<div class="table-samary">
  <nz-card nzSize="small">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form>
            <input
              #searchInput
              nz-input
              id="searchInput"
              class="tw"
              type="text"
              placeholder="Filter Refund"
              (focus)="handleFocus($event)"
              name="searchTerm"
              nzSize="large"
              autocomplete="off"
              ngModel
              required
            />
          </form>
          <ul>
            <li>
              <button nz-button>
                Payment Status
                <i class="las la-angle-down"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="table-data-area">
          <nz-table
            nzSize="small"
            #rowSelectionTable
            [nzShowPagination]="false"
            [nzLoading]="loading"
            [nzData]="allMethods"
            [nzScroll]="{ x: '800px' }"
          >
            <thead>
              <tr>
                <th style="width: 50px; text-align: center">
                  <label nz-checkbox [(ngModel)]="checkedAll"></label>
                </th>
                <th>Name</th>
                <th>In Stock Delivery Option</th>
                <th>Pre-Order Delivery Option</th>
                <th>Opening Time</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionTable.data">
                <td style="text-align: center">
                  <label nz-checkbox [(ngModel)]="checkedAll"></label>
                </td>
                <td>{{ data?.name }}</td>
                <td>
                  <span *ngIf="data.inStockDeliveryOption === 'A'">
                    Same Day(Buffer : {{ data?.bufferTime }})
                  </span>
                  <span *ngIf="data.inStockDeliveryOption === 'B'">
                    Next Day(Buffer : {{ data?.bufferTime }})
                  </span>
                  <span *ngIf="data.inStockDeliveryOption === 'C'">
                    Custom({{ data?.inStockDeliveryFrom }} to
                    {{ data?.inStockDeliveryTo }}) days
                  </span>
                </td>
                <td>
                  <span *ngIf="data.productTypePreOrder === true">
                    Custom ({{ data?.preOrderDeliveryFrom }} to
                    {{ data?.preOrderDeliveryTo }}) days
                  </span>
                  <span *ngIf="data.productTypePreOrder !== true"> N/A </span>
                </td>
                <td>
                  <span>
                    {{
                      data?.customOpeningTime === true ? "Partial" : "All Day"
                    }}
                  </span>
                </td>
                <td>
                  <button nz-button nzType="default" (click)="edit(data)">
                    <i class="lar la-edit"></i>
                  </button>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button
                    nz-button
                    nzType="default"
                    (click)="showDeleteConfirm(data._id)"
                  >
                    <i class="las la-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>

<nz-modal
  [(nzVisible)]="isMethodVisible"
  nzTitle="Create a Method"
  (nzOnCancel)="mathodCancel()"
  (nzOnOk)="onSubmit()"
  nzOkText="Save Method"
  nzWidth="800px"
>
  <ng-container *nzModalContent>
    <div class="entry_method">
      <form nz-form [formGroup]="dataForm">
        <div nz-row [nzGutter]="16">
          <div nz-col class="mb15" [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="method"> Name </nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  name="method"
                  type="text"
                  id="method"
                  placeholder="Standard Shipping"
                  formControlName="name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="mb15" [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Opening Time</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  name="openingtime"
                  formControlName="customOpeningTime"
                >
                  <nz-option
                    [nzValue]="false"
                    nzLabel="All Day Open"
                  ></nz-option>
                  <nz-option
                    [nzValue]="true"
                    nzLabel="Sometime Open"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div
            nz-col
            class="mb15"
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
            *ngIf="dataForm.value.customOpeningTime"
            formArrayName="openingTimesArray"
          >
            <nz-card
              nzSize="small"
              class="schedule-container"
              *ngFor="
                let data of openingTimesArray.controls;
                let dayIndex = index
              "
            >
              <!-- <div class="time_range" > -->
              <nz-form-control class="day_name" [formGroupName]="dayIndex">
                <h3>{{ data.value.day }}</h3>
                <nz-switch nzSize="small" formControlName="isOpen"></nz-switch>
              </nz-form-control>
              <nz-form-control
                [formGroupName]="dayIndex"
                [nzSpan]="24"
                *ngIf="data.value.isOpen"
              >
                <span formArrayName="timing">
                  <span
                    class="single_time"
                    *ngFor="
                      let time of openingTiming(dayIndex).controls;
                      let timeIndex = index
                    "
                  >
                    <span [formGroupName]="timeIndex">
                      <!-- <input formControlName="startTime" type="time" /> -->
                      <nz-time-picker
                        formControlName="startTime"
                        [nzDefaultOpenValue]="defaultOpenValue"
                        nzFormat="h:mm a"
                      >
                      </nz-time-picker>
                    </span>
                    <span style="padding: 0 10px"> = </span>
                    <span [formGroupName]="timeIndex">
                      <nz-time-picker
                        formControlName="endTime"
                        [nzDefaultOpenValue]="defaultOpenValue"
                        nzFormat="h:mm a"
                      >
                      </nz-time-picker>
                    </span>
                    <span
                      class="add_newtime"
                      (click)="removeTiming(dayIndex, timeIndex)"
                    >
                      <i class="las la-minus-circle"></i>
                    </span>
                  </span>
                </span>
                <button nz-button nzType="text" (click)="addTiming(dayIndex)">
                  <i class="las la-plus"></i> Add Time
                </button>
              </nz-form-control>
              <nz-form-control [nzSpan]="24" *ngIf="data.value.isOpen !== true">
                <p style="color: red">Close</p>
              </nz-form-control>
              <!-- </div> -->
            </nz-card>
          </div>
          <div nz-col class="mb15" [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Product Type</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-checkbox-wrapper class="py5">
                  <label nz-checkbox formControlName="productTypeInStock">
                    In Stock Product
                  </label>
                  <label nz-checkbox formControlName="productTypePreOrder">
                    Pre Order Product</label
                  >
                </nz-checkbox-wrapper>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
            *ngIf="dataForm.value.productTypeInStock"
            class="mb15"
          >
            <nz-form-item class="mb15">
              <nz-form-label [nzSpan]="24">
                In Stock Delivery Options
              </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24" class="delivery_time">
                <nz-radio-group formControlName="inStockDeliveryOption">
                  <label nz-radio nzValue="A"> Same Day </label>
                  <label nz-radio nzValue="B"> Next Day </label>
                  <label nz-radio nzValue="C">
                    Custom
                    <span
                      class="custome_date"
                      *ngIf="dataForm.value.inStockDeliveryOption === 'C'"
                    >
                      <input
                        type="number"
                        digitOnly
                        nz-input
                        formControlName="inStockDeliveryFrom"
                      />
                      to
                      <input
                        type="number"
                        digitOnly
                        nz-input
                        formControlName="inStockDeliveryTo"
                      />
                      Days
                    </span>
                  </label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="mb15">
              <nz-form-label [nzSpan]="24"> Delivery Time </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24">
                <nz-radio-group formControlName="inStockDeliveryCustomRange">
                  <label nz-radio [nzValue]="true">Sometimes</label>
                  <label nz-radio [nzValue]="false">Anytime</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>

            <div *ngIf="dataForm.value.inStockDeliveryCustomRange">
              <div
                *ngFor="
                  let data of inStockDeliveryTimesArray.controls;
                  let i = index
                "
              >
                <nz-form-label [nzSpan]="24">
                  In Stock Delivery Time
                </nz-form-label>
                <nz-form-control
                  formArrayName="inStockDeliveryTimesArray"
                  [nzSpan]="24"
                >
                  <div class="single_date" [formGroupName]="i">
                    <span>
                      <nz-time-picker
                        [nzUse12Hours]="true"
                        formControlName="startTime"
                        [nzDefaultOpenValue]="defaultOpenValue"
                        nzFormat="h:mm a"
                      ></nz-time-picker>
                    </span>
                    <span style="padding: 0 10px"> to </span>
                    <span>
                      <nz-time-picker
                        [nzUse12Hours]="true"
                        formControlName="endTime"
                        [nzDefaultOpenValue]="defaultOpenValue"
                        nzFormat="h:mm a"
                      ></nz-time-picker>
                    </span>
                    <span
                      class="add_newtime"
                      (click)="removeInStockDeliveryTimesArray(i)"
                    >
                      <i class="las la-minus-circle"></i>
                    </span>
                  </div>
                </nz-form-control>
              </div>
              <button
                class="addbutton"
                nz-button
                nzType="dashed"
                (click)="addInStockDeliveryTime()"
              >
                <i class="las la-plus"></i> New Time
              </button>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
            *ngIf="dataForm.value.productTypePreOrder"
            class="mb15"
          >
            <nz-form-item>
              <nz-form-label [nzSpan]="24"> Pre Order Time </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24" class="delivery_time">
                <nz-radio-group formControlName="preOrderDeliveryOption">
                  <label nz-radio nz-radio nzValue="C">
                    Custom
                    <span class="custome_date">
                      <input
                        type="number"
                        digitOnly
                        nz-input
                        formControlName="preOrderDeliveryFrom"
                      />
                      to
                      <input
                        type="number"
                        digitOnly
                        nz-input
                        formControlName="preOrderDeliveryTo"
                      />
                      Days
                    </span>
                  </label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mb15">
              <nz-form-label [nzSpan]="24"> Delivery Time </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24">
                <nz-radio-group formControlName="preOrderDeliveryCustomRange">
                  <label nz-radio [nzValue]="true">Sometimes</label>
                  <label nz-radio [nzValue]="false">Anytime</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <div *ngIf="dataForm.value.preOrderDeliveryCustomRange">
              <div
                *ngFor="
                  let data of preOrderDeliveryTimesArray.controls;
                  let i = index
                "
              >
                <nz-form-label [nzSpan]="24">
                  Pre Order Delivery Time
                </nz-form-label>
                <nz-form-control
                  formArrayName="preOrderDeliveryTimesArray"
                  [nzSpan]="24"
                >
                  <div class="single_date" [formGroupName]="i">
                    <span>
                      <nz-time-picker
                        [nzUse12Hours]="true"
                        formControlName="startTime"
                        [nzDefaultOpenValue]="defaultOpenValue"
                        nzFormat="h:mm a"
                      ></nz-time-picker>
                    </span>
                    <span style="padding: 0 10px"> to </span>
                    <span>
                      <nz-time-picker
                        [nzUse12Hours]="true"
                        formControlName="endTime"
                        [nzDefaultOpenValue]="defaultOpenValue"
                        nzFormat="h:mm a"
                      ></nz-time-picker>
                    </span>
                    <span
                      class="add_newtime"
                      (click)="removePreOrderDeliveryTimesArray(i)"
                    >
                      <i class="las la-minus-circle"></i>
                    </span>
                  </div>
                </nz-form-control>
              </div>
              <button
                class="addbutton"
                nz-button
                nzType="dashed"
                (click)="addPreOrderDeliveryTime()"
              >
                <i class="las la-plus"></i> New Time
              </button>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
            *ngIf="
              dataForm.value.inStockDeliveryOption !== 'C' &&
              dataForm.value.productTypeInStock
            "
          >
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="buffertime">
                Buffer Time (In Hours)
              </nz-form-label>
              <nz-form-control [nzSpan]="12">
                <input
                  nz-input
                  name="buffertime"
                  type="number"
                  digitOnly
                  id="buffertime"
                  formControlName="bufferTime"
                  placeholder="0"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="mb15" [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24"> Choose Product </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24">
                <nz-checkbox-wrapper (nzOnChange)="productChoose($event)">
                  <label nz-checkbox nzValue="A" formControlName="allProductEnable">
                    All Product
                  </label>
                  <label nz-checkbox nzValue="B" formControlName="catEnable">Category</label>
                  <label nz-checkbox nzValue="C" formControlName="productEnable">Product</label>
                </nz-checkbox-wrapper>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div *ngIf="dataForm.value.allProductEnable" nz-col class="mb15" [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24"> Shipping Profile </nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select ngModel="dataForm.value.profile" placeholder="Select Profile" formControlName="profile">
                  <nz-option *ngFor="let data of profiles" [nzValue]="data._id" [nzLabel]="data.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div
            nz-col
            class="mb15"
            [nzXs]="{ span: 24 }"
            *ngIf="dataForm.value.catEnable"
          >
            <nz-form-item>
              <nz-form-label [nzSpan]="24"> Choose Category </nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  [(ngModel)]="listOfCatOptions"
                  nzMode="tags"
                  [nzTokenSeparators]="[',']"
                  nzPlaceHolder="Choose one"
                >
                  <nz-option
                    *ngFor="let option of categories"
                    [nzLabel]="option.name"
                    [nzValue]="option._id"
                  ></nz-option>
                </nz-select>
                <button nz-button nzType="default" style="margin: 5px 0" (onClick)="generateCatForm()">
                  Done
                </button>
                <nz-card nzSize="small" class="category_list">
                  List of Categories
                  <ul>
                    <li *ngFor="let cat of listOfCatOptions">
                      <span>{{data.name}}</span>
                      <span>
                        <nz-select ngModel="" placeholder="Select Profile">
                          <nz-option *ngFor="let data of profiles" [nzValue]="data._id" [nzLabel]="data.name"></nz-option>
                        </nz-select>
                      </span>
                    </li>
                  </ul>
                </nz-card>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            nz-col
            class="mb15"
            [nzXs]="{ span: 24 }"
            *ngIf="dataForm.value.productEnable"
          >
            <nz-form-item>
              <nz-form-label [nzSpan]="24"> Choose Category </nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  [(ngModel)]="listOfTagOptions"
                  nzMode="tags"
                  [nzTokenSeparators]="[',']"
                  nzPlaceHolder="Choose one"
                >
                  <nz-option
                    *ngFor="let option of listOfOption"
                    [nzLabel]="option.label"
                    [nzValue]="option.value"
                  ></nz-option>
                </nz-select>
                <button nz-button nzType="default" style="margin: 5px 0">
                  Done
                </button>
                <nz-card nzSize="small" class="category_list">
                  <ul>
                    <li>
                      <span>Men Shoe</span>
                      <span>
                        <nz-select ngModel="1">
                          <nz-option nzValue="1" nzLabel="Jack"></nz-option>
                          <nz-option nzValue="2" nzLabel="Lucy"></nz-option>
                        </nz-select>
                      </span>
                    </li>
                  </ul>
                </nz-card>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</nz-modal>
