@import "./../../../../../theme/variables";
.mb15 {
  margin-bottom: 15px;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  .header-action {
    display: flex;
    align-items: center;
    button {
      border: none;
      background: transparent;
      margin-left: 25px;
    }
    .create_btn {
      background: #1b75bb;
      color: #fff;
      border: 1px solid #1b75bb;
      padding: 10px 20px;
      transition: 0.3s;
      border-radius: 3px;
    }
    .create_btn:hover {
      background: #8bc53f;
      border: 1px solid #8bc53f;
    }
  }
}
.table-samary {
  margin-bottom: 30px;
}
.table-filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  form {
    width: 50%;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      border: 1px solid #ddd;
      button {
        i {
          margin-left: 10px;
        }
      }
    }
  }
}
.table-data-area {
  td {
    color: #585858;
  }
}
.entry_method {
  input,
  nz-select {
    width: 100%;
  }
}

.delivery_time {
  [nz-radio] {
    display: block;
  }
}
.custome_date {
  margin-left: 5px;
  input {
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
nz-divider {
  margin: 5px 0;
}

.add_newtime {
  margin-left: 15px;
  i {
    font-size: 25px;
  }
  i:hover {
    color: red;
  }
}
.single_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addbutton {
  width: 100%;
  display: flex;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  i {
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
  }
}
.schedule-container {
  margin-bottom: 10px;
  .day_name {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
    h3 {
      margin-right: 10px !important;
    }
  }
  .time_range {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
  }
  .single_time {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .table-filter-area {
    flex-direction: column;
    input {
      width: 100%;
    }
    ul {
      padding: 10px 0 0 0;
      li {
        button {
          padding: 5px;
        }
      }
    }
  }
}
