<!---order-header-area-->
<div class="page-header">
  <h2>All Method</h2>
  <div class="header-action">
    <button class="create_btn" type="button" (click)="showMathod()">
      <i class="las la-plus"></i> Add Shipping Method
    </button>
  </div>
</div>
<div class="table-samary">
  <nz-card nzSize="small">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form>
            <input
              #searchInput
              nz-input
              id="searchInput"
              class="tw"
              type="text"
              placeholder="Filter Refund"
              (focus)="handleFocus($event)"
              name="searchTerm"
              nzSize="large"
              autocomplete="off"
              ngModel
              required
            />
          </form>
          <ul>
            <li>
              <button nz-button>
                Payment Status
                <i class="las la-angle-down"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="table-data-area">
          <nz-table
            nzSize="small"
            #rowSelectionTable
            [nzShowPagination]="false"
            [nzLoading]="loading"
            [nzData]="shipedTable"
            [nzScroll]="{ x: '800px' }"
          >
            <thead>
              <tr>
                <th style="width: 50px; text-align: center">
                  <label nz-checkbox [(ngModel)]="checkedAll"></label>
                </th>
                <th>Name</th>
                <th>Products</th>
                <th>Rates for</th>
                <th>Condition</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionTable.data">
                <td style="text-align: center">
                  <label nz-checkbox [(ngModel)]="checkedAll"></label>
                </td>
                <td>{{ data.name }}</td>
                <td>All products</td>
                <td>Bangladesh</td>
                <td>0kg–45kg</td>
                <td>120 - 180 TK</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>

<nz-modal
  [(nzVisible)]="isMethodVisible"
  nzTitle="The first Modal"
  (nzOnCancel)="mathodCancel()"
  (nzOnOk)="mathodOk()"
  nzOkText="Save Method"
>
  <ng-container *nzModalContent>
    <div class="entry_method">
      <div nz-form>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="method">Name</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  name="method"
                  type="text"
                  id="method"
                  placeholder="Standard Shipping"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Opening Time</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select name="openingtime" [ngModel]="'1'">
                  <nz-option nzValue="1" nzLabel="All Day Open"></nz-option>
                  <nz-option nzValue="2" nzLabel="Sometime Open"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Product Type</nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24">
                <div class="py5">
                  <label nz-checkbox formControlName="required">
                    In Stock
                  </label>
                  <label nz-checkbox formControlName="required">
                    Pre Order
                  </label>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24">
                In Stock Delivery Options
              </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24" class="delivery_time">
                <nz-radio-group [(ngModel)]="instockValue">
                  <label nz-radio nzValue="A">Same Day</label>
                  <label nz-radio nzValue="B">Next Day</label>
                  <label nz-radio nzValue="C">
                    Custom
                    <span class="custome_date" *ngIf="instockValue === 'C'">
                      <input type="text" nz-input value="2" /> to
                      <input type="text" nz-input value="5" />
                      Days
                    </span>
                  </label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">
                In Stock Delivery Time
              </nz-form-label>
              <nz-form-control [nzSpan]="24" class="delivery_time">
                <span>
                  <nz-time-picker
                    [(ngModel)]="time"
                    [nzDefaultOpenValue]="defaultOpenValue"
                  ></nz-time-picker>
                </span>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24"> Pre Order Time </nz-form-label>
              <nz-divider></nz-divider>
              <nz-form-control [nzSpan]="24" class="delivery_time">
                <nz-radio-group [(ngModel)]="preOrderValue">
                  <label nz-radio nzValue="A">
                    Custom
                    <span class="custome_date" *ngIf="preOrderValue === 'A'">
                      <input type="text" nz-input value="2" /> to
                      <input type="text" nz-input value="5" />
                      Days
                    </span>
                  </label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="buffertime">
                Buffer Time
              </nz-form-label>
              <nz-form-control [nzSpan]="12">
                <input
                  nz-input
                  name="buffertime"
                  type="text"
                  id="buffertime"
                  placeholder="0"
                />
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
