<mat-dialog-content>

  <div class="main_create_invoice" [class]="createInvoice ?'active-create-invoice-area':'in-active'">
    <div class="inside_create_invoice">
      <!-- create invoice header  -->
      <div class="create-invoice-icon">
        <button mat-button mat-dialog-close><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="create_invoice_header">
        <h1>Customer Name:</h1>
        <div class="customer_details">
          <h1>{{order?.name ? order.name : order?.user?.fullName}}</h1>
          <p class="view_customer_details">View customer details</p>

          <div class="customer_address">
            <div class="customer_billing_address">
              <h2>BILLING ADDRESS <mat-icon>edit</mat-icon>
              </h2>
              <P>{{order?.user?.addresses[0].address}}</P>
              <p>{{order?.user?.addresses[0].city}} {{order?.user?.addresses[0].thana}}
                {{order?.user?.addresses[0].zilla}}</p>
              <p>Phone: {{order?.user?.addresses[0].phone}}</p>
            </div>
            <div class="customer_shipping_address">
              <H2>SHIPPING ADDRESS <mat-icon>edit</mat-icon>
              </H2>
              <P>{{order?.shippingAddress?.address}}</P>
              <p>{{order?.shippingAddress?.city}} {{order?.shippingAddress?.thana}} {{order?.shippingAddress?.zilla}}
              </p>
              <p>Phone: {{order?.shippingAddress?.phone}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- invoice input field  -->
      <form [formGroup]="dataForm" (ngSubmit)="onSubmitInvoice()">
        <div class="invoice_input_field">
          <!-- <div class="invoice_field">
        <h3>Invoice:</h3>
        <mat-form-field appearance="outline">
          <input matInput value="#IN654767" formControlName="invoiceId">

        </mat-form-field>
      </div> -->
          <div class="order_number_field">
            <h3>Order Number:</h3>
            <mat-form-field appearance="outline">
              <!-- <mat-label>REG55376587</mat-label> -->
              <input matInput formControlName="orderNumber">
            </mat-form-field>
          </div>
          <div class="invoice_date_field">
            <h3>Invoice Date:</h3>
            <mat-form-field appearance="outline">
              <!-- <mat-label>25/05/2022</mat-label> -->
              <input matInput formControlName="invoiceDate">
            </mat-form-field>
          </div>

          <div class="invoice_date_field">
            <h3>Sales Person</h3>
            <mat-form-field appearance="outline">
              <mat-label>Select Sales Person</mat-label>
              <mat-select disableRipple formControlName="salesPerson">
                <mat-option value="Nasrin Kana">Nasrin Kana</mat-option>
                <mat-option value="Saniul Islam">Saniul Islam</mat-option>
                <mat-option value="Anisul Islam">Anisul Islam</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="invoice_date_field">
            <h3>Shipping Carrier</h3>
            <mat-form-field appearance="outline">
              <mat-label>Pathao</mat-label>
              <mat-select disableRipple formControlName="shippingCarrier">
                <mat-option value="Pathao">Pathao</mat-option>
                <mat-option value="REDX">REDX</mat-option>
                <mat-option value="SA Paribahan">SA Paribahan</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <!-- invoice table  -->
        <div class="order-table">
          <table>

            <thead>
              <tr>
                <th class="si">SI</th>
                <th class="item">Item Name</th>
                <th class="vendor">Vendor</th>
                <th class="quantity">Quantity</th>
                <th class="price">Unit Price</th>
                <th class="discount">Discount</th>
                <th class="discount">Tax</th>
                <th class="amount">Amount</th>
                <th class="order-status">Delete</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let data of invoiceProducts; let i=index">
                <td class="si">
                  <span>{{i+1}}</span>
                </td>
                <td class="item">
                  <div class="product">
                    <div class="product-img">
                      <img [src]="data.product.medias ? data.product.medias[0] : '/assets/images/placeholder/test.png'"
                        alt="data.product.name">
                    </div>
                    <div class="product-info">
                      <h3>{{data?.product.name}}</h3>
                      <h5>Earn <span>+50</span> or redeem <span>-50</span> <img src="./assets/svg/coin.svg" alt=""></h5>
                      <p>SKU: {{data?.product.sku}}</p>
                      <p>Delivery: 10 to 15 days</p>
                    </div>
                  </div>
                </td>
                <td class="vendor">
                  <span>{{data?.product.vendor}}</span>
                </td>
                <td class="quantity">
                  <div class="invoice_total_main">
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="quantity" (change)="quantity(i)" required>
                    </mat-form-field>
                  </div>
                  <!-- <a href="#">{{item?.quantity}}</a> -->
                </td>
                <td class="price">
                  <span>{{data?.price}}</span>
                </td>
                <td class="discount">
                  <span>0</span>
                </td>
                <td class="tax">
                  <span>{{data.tax ? data.tax : '0'}}</span>
                </td>
                <td class="amount">
                  <span>{{(data?.price + data.tax) * data?.quantity}}</span>
                </td>
                <td class="order-delete">
                  <mat-icon (click)="deleteFromInvoice(invoiceProducts, i)">delete_sweep</mat-icon>
                </td>
              </tr>

            </tbody>

          </table>

        </div>

        <!-- invoice custom notes -->
        <div class="custom_notes_field">
          <div class="custom_note">
            <h1>Custom Notes</h1>
            <mat-form-field class="example-full-width" appearance="outline">
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
          <div class="invoice_total">
            <div class="invoice_total_main subtotal">
              <p>Subtotal:</p>
              <p>{{calculateSubTotal()}}</p>
            </div>
            <div class="invoice_total_main">
              <p>Delivery Fee:</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="deliveryFee">
              </mat-form-field>
            </div>
            <div class="invoice_total_main">
              <p>Adjustment:</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="adjustment">
              </mat-form-field>
            </div>
            <div class="total_horizontal_line"></div>
            <div class="total">
              <p>Total(BDT):</p>
              <p>{{calculateSubTotal() + this.dataForm.value.deliveryFee - this.dataForm.value.adjustment}}</p>
            </div>
            <div class="shipped_checkbox">
              <mat-checkbox [value]="true" formControlName="deliveryStatus">Mark as shipped</mat-checkbox>
            </div>
          </div>
        </div>

        <div class="invoice_buttons">
          <button mat-stroked-button type="submit">Save</button>
          <div class="save_print_button">
            <button mat-stroked-button type="submit">Save & Print</button>
          </div>

        </div>
      </form>

    </div>
  </div>

</mat-dialog-content>
