<!---collection-menu-->
<div class="collection-menu">
    <div class="container">
      <ul>
          <li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
<!---contact-area-->
<div class="contact-area">
    <div class="container">
        <div class="contact-container">
            <div class="title">
                <h3>Contact Us</h3>
                <p>Car Me is an uprising care & lifestyle brand in Bangladesh in 'Care Me' we do not sell a product; we believe it's a 'service'.Customer satisfaction is our highest priority! Feel free to contact us any time. We're always supportive to our customers.</p>
            </div>
            <!--contact-main-->
            <div class="contact-main">
                <!--form-->
                <div class="contact-form">
                    <div class="form-title">
                        <h3>Send Us An Email:</h3>
                        <p>ASK us anything! we'll get back to you within 12-24 Hours.</p>
                    </div>
                    <div class="form">
                       <form action="">
                        <div class="form-grid">
                            <div class="form-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput placeholder="Enter your name">
                                  </mat-form-field>
                            </div>
                            <div class="form-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>Phone</mat-label>
                                    <input type="text" matInput placeholder="Enter your phone number">
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="form-input">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Enter your name">
                              </mat-form-field>
                        </div>
                        <div class="form-input">
                            <mat-form-field appearance="outline">
                                <mat-label>Choose a type</mat-label>
                                <mat-select>
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="file-upload">
                            <button>Upload File<i class="fa fa-download"></i></button>
                        </div>
                        <div class="form-input">
                            <mat-form-field appearance="outline">
                                <textarea matInput placeholder="Type your message here" cols="10" rows="5"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="sub-btn">
                            <button>Send Now <i class="fa-brands fa-telegram"></i></button>
                        </div>
                       </form>
                    </div>

                </div>
                <!---contact-details-->
                <div class="contact-details">
                    <div class="contact-top">
                        <h2>Please do get in touch!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolores repellendus ut quae totam harum!</p>
                        <p>Suite #1402 (Lift #4), Navana D.H Tower, 6 Panthapath, Karwan Bazar, Dhaka-1215</p>
                        <ul>
                            <li><span>Email:</span> <a href="mailto:intimatestarbd@gmail.com">intimatestarbd@gmail.com</a></li>
                            <li><span>Phone: 09678445445</span></li>
                        </ul>
                        <h3>Online Support: <span>Everyday (9am-11pm)</span></h3>
                    </div>
                    <div class="contact-bottom">
                        <h3 style="margin-bottom:10px!important;">Opening Hours:</h3>
                        <span>Saturday to Thursday (9am-6pm)</span>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--contact-map-->
<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116834.0097778199!2d90.34928576871454!3d23.780777744581084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1650003504614!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>