<!--vendor-header-->
<div class="vendor-header">
  <!---vendor-header-main-->
  <div class="vendor-header-main">
    <!---title-->
    <div class="title">
      <h2>Brand</h2>
    </div>
    <!---vendor-search-->
    <div class="vendor-search" (click)="onClickSearchArea($event)">
      <button><i class="fa fa-search"></i></button>
      <form #searchForm=ngForm style="width: 100%;">
        <input #searchInput id="searchInput" (focus)=handleFocus($event) name="searchTerm" autocomplete="off" ngModel
          type="text" placeholder="Search">
      </form>
    </div>
    <div class="vendor-create-btn">
      <button (click)="showCreate()">+ Add Brand</button>
    </div>
  </div>
</div>

<nz-table #basicTable [nzData]="brands">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Logo</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>
        <a [href]="data.link">{{data.link}}</a>
      </td>
      <td> <img nz-image style="width: 50px" [nzSrc]="data.logo ? data.logo : '/assets/images/placeholder/test.png'"
          [alt]="data.name"></td>
      <td >
        <button nz-button nz-icon [nzType]="'edit'" (click)="edit(data)"></button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nz-icon [nzType]="'delete'" nzDanger (click)="showDeleteConfirm(data._id)"></button>
      </td>
    </tr>
  </tbody>
</nz-table>



<!----create-vendor-area-->
<div class="create-vendor" *ngIf="createBrand == true">
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">

    <div class="create-vendor-main">
      <!---create-vendor-header-->
      <div class="create-vendor-header">
        <h2>Create Brand</h2>
      </div>
      <!---create-vendor-body-->
      <div class="create-vendor-body">
        <div class="input-area">
          <!---input-infoo-->
          <div class="input-info">
            <!--input-info-left--->
            <div class="input-info-left">
              <h3>Brand Name:</h3>
            </div>
            <!---input-info-right-->
            <div class="input-info-right">
              <div class="form-input">
                <div class="field">
                  <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Brand Name</mat-label>
                    <input type="text" formControlName="name" matInput placeholder="Enter brand name" required>
                    <mat-error *ngIf="dataForm.invalid">This field is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!---input-infoo-->
          <div class="input-info">
            <!--input-info-left--->
            <div class="input-info-left">
              <h3>Link:</h3>
            </div>
            <!---input-info-right-->
            <div class="input-info-right">
              <div class="form-input">
                <div class="field">
                  <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Link</mat-label>
                    <input type="email" formControlName="link" matInput placeholder="Enter brand web link">
                    <mat-error *ngIf="dataForm.invalid">This field is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!---input-infoo-->
          <div class="input-info">
            <!--input-info-left--->
            <div class="input-info-left">
              <h3>Image:</h3>
            </div>
            <!---input-info-right-->
            <div class="input-info-right">
              <div class="form-input">
                <div class="field">
                  <button type="button" nz-button (click)="imagePicker.click()">
                    <span nz-icon nzType="upload"></span>
                    Click to Upload
                  </button>
                  <p *ngIf="this.url" class="upload-text">{{this.file.name}}</p>
                  <input [hidden]="true" #imagePicker type="file" (change)="fileChangeEvent($event)" accept="image/*"/>
                </div>
              </div>
            </div>
          </div>




        </div>
        <!----check-box-end-->
        <div class="create-vendor-btn">
          <ul>
            <li><button (click)="hideCreate()">Cancel</button></li>
            <li><button type="submit" class="save-active">Save Brand</button></li>
          </ul>
        </div>

      </div>

    </div>
  </form>
</div>
