<!---payment-area-->
<div class="payment-area">
    <div class="payment-main">
          <!---payment-title-->
          <div class="payment-title">
            <h3>Payment</h3>
        </div>
        <!----form-->
        <form action="#">
                <!--banking-details-->
        <div class="banking-details">
            <!--banikg-name-->
            <div class="banking-title">
                <h3>Mobile Banking</h3>
            </div>
             <!---form-field-area-->
             <div class="form-field-area">
                <!---form-input-->
                <div class="form-input">
                    <label for="#">Phone Number</label>
                    <!--form-field-->
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="field">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input matInput name="" value="" type="text" placeholder="Phone Number..">
                            <mat-error>This Field is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
                
                 <!---form-input-->
                 <div class="form-input">
                    <label for="#">Method Name</label>
                    <!--form-field-->
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="field">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input matInput name="" value="" type="text" placeholder="Mobile Bank Name..">
                            <mat-error>This Field is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
              
            </div><!---form-field-area-end-->
        </div> <!--banking-details-end-->

        <!--banking-details-->
        <div class="banking-details">
            <!--banikg-name-->
            <div class="banking-title">
                <h3>Credit or Debit Card</h3>
            </div>
             <!---form-field-area-->
             <div class="form-field-area bank">
                <!---form-input-->
                <div class="form-input">
                    <label for="#">Card Number</label>
                    <!--form-field-->
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="field">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input matInput name="" value="" type="text" placeholder="Card Number..">
                            <mat-error>This Field is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
                
                 <!---form-input-->
                 <div class="form-input">
                    <label for="#">Expire Date</label>
                    <!--form-field-->
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="field">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input matInput name="" value="" type="text" placeholder="MM-DD-YY">
                            <mat-error>This Field is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>

                  <!---form-input-->
                  <div class="form-input">
                    <label for="#">CVV/CVN</label>
                    <!--form-field-->
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="field">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input matInput name="" value="" type="text" placeholder="Cvv / Cvn ..">
                            <mat-error>This Field is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
                <!---form-input-->
                <div class="form-input">
                    <label for="#">ZIP Code</label>
                    <!--form-field-->
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="field">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input matInput name="" value="" type="text" placeholder="Zip Code..">
                            <mat-error>This Field is required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
              
            </div><!---form-field-area-end-->
        </div> <!--banking-details-end-->

        <div class="payment-btn">
            <ul>
                <li><button>Cancel</button></li>
                <li><button class="save-active">Save</button></li>
            </ul>
        </div>
        </form>
    </div>
</div>
