<!--invite-area-->
<div class="invite-area" *ngIf="invite == true">
    <div class="invite-main">
        <!---header-area-->
        <div class="header-area">
            <div>
                <h3>Invite User</h3>
            </div>
            <div>
                <span (click)="invitePopUpHide()"><i class="fa fa-xmark"></i></span>
            </div>
        </div>
        <!--edit-body-->
        <div class="edit-body">
            <form action="#">
                   <!---form-input-->
                <div class="form-input">
                    <h3>Email Address*</h3>
                    <div>
                        <mat-form-field appearance="outline" class="form-field">
                           <input type="text" value="" matInput placeholder="Enter email address">
                        </mat-form-field>
                    </div>
                </div><!--end-->
                    <!---form-input-->
                    <div class="form-input">
                        <h3>Name*</h3>
                        <div>
                            <mat-form-field appearance="outline" class="form-field">
                               <input type="text" value="" matInput placeholder="name..">
                            </mat-form-field>
                        </div>
                    </div><!--end-->
              <div class="form-input-area">
                <!---form-input-->
                <div class="form-input">
                    <h3>Role</h3>
                    <div>
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Select Dropdown</mat-label>
                            <mat-select>
                              <mat-option value="option">Option</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div><!--end-->
              </div>
              <!---form-btn-->
              <div class="edit-btn">
                  <ul>
                      <li><button class="save"><i>Save</i></button></li>
                      <li><button (click)="editPopUpHide()"><i>Cancel</i></button></li>
                  </ul>
              </div>
                
            </form>
        </div>
    </div>
</div>

