<div class="request-product-main">
    <!---product-search-area-->
<div class="product-search">
    <div class="container-mobile">
      <!---product-search-top-->
      <div class="product-search-top">
        <h3>Quick Order By Any Link</h3>
        <p>Enter link from any supported site here and order right away.</p>
      </div>
      <form [formGroup]="dataForm" (ngSubmit)="onSearch()">
        <!--product-search-main-->
        <div class="product-search-main">
          <div>
            <select formControlName="selectedSite" name="" id="">
              <!-- <option value="Amazon" >Amazon.com</option> -->
              <option value="Aliexpress">Aliexpress</option>
              <option value="Alibaba">Alibaba</option>
              <option value="Flipkart">Flipkart</option>
              <option value="Myntra">Myntra</option>
            </select>
          </div>
          <!---input-->
          <div class="input">
            <input formControlName="url" type="text" name="" id="" placeholder="Paste link or Search from million of products...">
          </div>
          <!--product-search-btn-->
          <div class="product-search-btn">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner
bdColor = "rgba(0, 0, 0, 0.8)"
size = "medium" color = "#fff"
type = "pacman" [fullScreen] = "true">
<!-- <p style="color: white" > Loading... </p> -->
<p style="color: white" > We are testing your patience... </p>
</ngx-spinner>
