@import'./../../../../theme/variables';
.view-product-header-area{
    display: block;
    width: 100%;
    margin:30px 0px 20px 0px;
    box-sizing: border-box;
}
.view-product-header-main{
  display: grid;
  grid-template-columns: 100px 1fr 300px;
  width: 100%;
  grid-template-rows: auto;
  grid-gap: 15px;
}
.view-product-header-left{
    display: block;
}
.view-product-header-left h2{
    color: #131523;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    margin: 0px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #80acff;
  border-radius: 5px;
  max-width: 450px;
  margin: auto;
  width: 100%;
  height:40px;

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 38px;
    outline:none;
    border: none;
    color: #0058ff;
    font-size: 16px;
    background-color: #f6f9fd;
  }
  input{
    outline: none;
    border: none;
    background-color: #f6f9fd;
    padding: 7px 15px;
    box-sizing: border-box;
    width: 100%;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 16px;
  }
  ::placeholder{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 16px;
  }
}

.header-right{
  display: block;
  width: 100%;
}
.header-right ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: right;
}
.header-right ul li{
  display:inline-block;
  margin-right: 15px;
}
.header-right ul li:last-child{
  margin: 0px;
}
.header-right ul li button{
  background-color: #0058ff;
  color: #fff;
  border-color: #0058ff;
  font-family: $font-en-primary-2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: block;
  border: 1px solid;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.header-right ul li .active-btn{
  background-color: #0058ff;
  color: #fff;
  border-color: #0058ff;
}
@media(max-width:700px){
  .view-product-header-main{
    grid-template-columns: 120px 1fr;
  }
  .header-midle{
    grid-column-start:-3;
    grid-column-end: -1;
    grid-row-start: 2;
  }
  .header-midle .search{
    max-width: 100%;
  }
  .header-right ul{
    text-align: right;
  }
}
@media(max-width:415px){
  .view-product-header-main{
    grid-template-columns: repeat(1, 1fr);
  }
  .header-midle{
    grid-column-start:auto;
    grid-column-end: auto;
    grid-row-start: auto;
  }
  .header-right ul{
    text-align: left;
  }
}
.second{
  margin-bottom: 20px;
  ul{
    list-style: none;
    padding: 0px;
    li{
      display: inline-block;
      padding: 15px 0px;
      color:#000;
      font-family: $font-en-primary-2;
      font-weight: 600;
      font-size: 16px;
      margin-right: 16px;
      border-bottom: 3px solid transparent;
      border-radius: 1px;
      &.active{
        border-color: #0058ff;
      }
  }
  li:last-child{
    margin: 0px;
  }
  }

}

@media(max-width:600px){
    .view-product-header-main{
        flex-direction: column;
        align-items: flex-start;
    }
    .view-product-header-right ul li:first-child{
        display: none;
    }
}
/**** all-products-main-area ****/
.catagory-table{
    display: block;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 80vh;
    border-radius: 12px;
    min-width: 820px;
    overflow-x: auto;
    overflow-y: hidden;
    .header-list{
      border-bottom: 1px solid;
      border-color: #0058ff;
      padding: 20px 15px 0px 15px;
      ul{
        list-style: none;
        padding: 0px;
        li{
          display: inline-block;
          color:#000;
          margin-right: 20px;
          font-family: $font-en-primary-2;
          font-weight: 500;
          font-size: 15px;
          border-bottom: 2px solid transparent;
          padding-bottom: 15px;
          box-sizing: border-box;
          &.active{
            border-color: #0058ff;
          }
      }
      li:last-child{
        margin: 0px;
      }

      }
    }


  .search-filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px 15px 0px 15px;
    box-sizing: border-box;
  .filter{
    max-width: 180px;
    width: 100%;
    button{
          background-color: white;
          border: 1px solid #0058ff;
          color: #0058ff;
          font-family: $font-en-primary-2;
          font-weight: 500;
          font-size: 17px;
          padding-left: 13px;
          padding-right: 13px;
          box-sizing: border-box;
          border-radius: 5px;
          outline: none;
          height:40px;
          width:100%;
      }

      }

      .search{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 2px solid #0058ff;
        border-radius: 5px;
        width: 100%;
        margin:0px 0px 0px auto!important;
        button{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 38px;
          outline:none;
          border: none;
          color: #0058ff;
          font-size: 16px;
          background-color: #ffffff;
        }
        input{
          outline: none;
          border: none;
          background-color: #ffffff;
          padding: 7px 15px;
          box-sizing: border-box;
          width: 100%;
          font-family: $font-en-primary-2;
          font-weight: 500;
          font-size: 16px;
        }
        ::placeholder{
          color: #0058ff;
          font-family: $font-en-primary-2;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
    .table {
      width: 100%;
      margin-top: 30px;
      .header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          padding:0px 20px;
          box-sizing: border-box;
          margin-bottom: 25px;
        .check{
          margin-top: auto;
          margin-bottom: auto;
        }
        .coupon{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          strong{
            color:#000;
            font-family: $font-en-primary-2;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
          }
          button{
            background-color: white;
            border: 1px solid #0058ff;
            color: #0058ff;
            font-family: $font-en-primary-2;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            font-size: 17px;
            padding: 6px 10px;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;
            transition: all 0.3s linear;
          }
          button:hover{
            color: #fff;
            background-color: #0058ff;
          }
        }
        .sort{
          display: flex;
          justify-content:end;

          button{
            background-color: white;
            border: 1px solid #0058ff;
            color: #0058ff;
            font-family: $font-en-primary-2;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            font-size: 17px;
            padding: 7px 10px;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;
            transition: all 0.3s linear;
          }
          button:hover{
            color: #fff;
            background-color: #0058ff;
          }
        }
      }
      .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
        height:80px;
        background-color:#f6f9fd;
        padding: 0px 20px;
        margin-bottom: 10px;
        .check{
          margin-top: auto;
          margin-bottom: auto;
        }
        .coupon{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 15px 20px;
          .details{
            font-size: 12px;
          }
        }
        .status{
          display: grid;
          justify-content: center;
          p{
            display:grid;
            background-color:red;
            color:white;
            border: none;
            border-radius: 15px;
            height: 25px;
            width: 70px;
            text-align: center;
            align-items: center;
          }
        }

        .status-active{
          display: grid;
          justify-content: center;
          p{
            display:grid;
            background-color:green;
            color:white;
            border: none;
            border-radius: 15px;
            height: 25px;
            width: 70px;
            text-align: center;
            align-items: center;
          }
        }
        .status-scheduled{
          display: grid;
          justify-content: center;
          p{
            display:grid;
            background-color:rgb(78, 78, 78);
            color:white;
            border: none;
            border-radius: 15px;
            height: 25px;
            width: 90px;
            text-align: center;
            align-items: center;
          }
        }



        .used{
          display:grid;
          justify-content: center;
        }

        .date{
          text-align: end;
        }
      }
    }
}






/** form-field and common code****/
.form-field{
  display: block;
  width: 100%;
  min-width: 0px;
}
::ng-deep.form-field.mat-form-field .mat-form-field-label{
  color: #74777e;
  font-family: $font-en-primary-2;
}
::ng-deep.form-field mat-select{
  color: #000;
  font-family: $font-en-primary-2;
}
::ng-deep.form-field .mat-form-field-infix{
  width: auto;
  min-width: 0px;
}
// ::ng-deep.filter .mat-form-field-infix{
//   width: 80px;
// }
.filter mat-label{
  color: #0058ff;
  font-family: $font-en-primary-2;
  font-style: normal;
  font-size: 15px;
}
::ng-deep.filter .mat-select-arrow{
  color: #0058ff;
}
::ng-deep.form-field .mat-form-field-appearance-outline .mat-form-field-outline{
  color: #a1a5a9;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  color: #0058ff;
}
::ng-deep.form-field.mat-form-field.mat-focused .mat-form-field-label{
  color: #0058ff!important;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper{
  padding-bottom:0px;
}
.form-field input,.form-field textarea{
  color: #74777e;
  font-family: $font-en-primary-2;
  font-size: 16px;
}
::placeholder{
  color:#74777e;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #0058ff;
}

::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin{
  background-color: #d7e7ff;
}
::ng-deep.mat-check .mat-checkbox-frame{
  border-color: #b0ceff;
}
::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #0058ff;
}
::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
  background-color: #0058ff;
}