@import'./../../../../../theme/client-side-varriables';
.order-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.order-main{
    padding:0px 10px;
    box-sizing: border-box;
    background-color:#fff;
    // box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%),0 -2px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.order-title{
    display: block;
    margin-bottom: 25px;
}
.order-title h3{
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: block;
    line-height: 32px;
}
.toggle-tab{
    display: block;
    width: 100%;
    border-bottom: 1px solid #db5791;
    padding-bottom: 10px;
}
.toggle-tab ul{
    display: block;
    margin: 0px;
}
.toggle-tab ul li{
    display: inline-block;
    margin-right: 5px;
}
.toggle-tab ul li:last-child{
    margin: 0px;
}
.toggle-tab ul li button{
    outline: none;
    background-color: #fff;
    padding: 3px 20px;
    box-sizing: border-box;
    color: #2d2d2d;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.toggle-tab ul li button:hover{
    background-color: #fc328b;
    color: #fff;
}
.toggle-tab-active{
    background-color: #fc328b!important;
    color: #fff!important;
}
.ordered-product-area{
    display: block;
    margin-top: 20px;
    width: 100%;
}
.order-product{
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%),0 -2px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;

}
.order-product-left{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 15px;
}
.product-img{
    display: block;
    max-width: 130px;
}
.product-img img{
    width: 130px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
.product-info{
    display: block;
}
.product-info h3{
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    display: block;
    margin-bottom: 7px!important;
}
.product-info p{
    color: #000000;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    font-family: $font-en-primary-2;
    display: block;
    margin-bottom: 5px!important;
}
.product-info h4{
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    display: block;
    margin-top: 7px!important;
}
.order-product-right{
    display: block;
}
.product-price{
    display: block;
    margin-bottom: 40px;
}
.product-price h3{
    color: #000000;
    font-family: $font-en-primary-2;
    font-weight:500;
    font-size: 18px;
    font-style: normal;
    display: block;
}
.product-price h3 span{
    color: #db5791;
}
.product-status{
    display:block;
    width: 100%;
}
.product-status .status{
    color: #15d100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 20px;
}
.status-circle{
    width: 21px;
    height: 21px;
    background-color: #15d100;
    border-radius: 50%;
}
.product-status .status.cancel{
    color: #9e0000;
}
.product-status .status.process{
    color: #ff9900;
}
.cancel .status-circle{
    background-color: #9e0000;
}
.process .status-circle{
    background-color: #ff9900;
}
@media(max-width:900px){
    .order-main{
        box-shadow: none;
        padding: 0px;
    }
}
@media(max-width:670px){
    .order-product{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .order-product-left{
        display: block;
    }
    .product-img {
        margin: auto;
        margin-bottom: 15px;
    }
    .product-price{
        margin-bottom: 10px;
    }
}
@media(max-width:470px){
    .toggle-tab ul{
        text-align: center;
    }
    .toggle-tab ul li{
        line-height: 40px;
        margin-bottom: 5px;
    }
}