<div class="subscription">
    <div class="main_container">
        <ul>
            <li class="subscription_list">
                
                <div class="subscription_list_header">
                    <div>
                        <h1 class="header_code">#GHJSDRTH23BN</h1>
                    </div>
                    <div class="icon_header">
                        <i class="fas fa-circle sub_icon"></i>
                        <div class="sub_icon_text">
                            <P><strong>Last Delivered on</strong></P>
                            <span>17 OCT 2022</span>
                        </div>
                    </div>
                </div>
                
                <div class="subscription_list_body">
                    <div class="left_column">
                        <img src="./assets/images/image/DAEDRIC-red-07.png" alt="Image">
                    </div>

                    <div class="right_column">
                        <h3>Diaper Subcription</h3>
                        <div class="middle_item_subcription">
                            <div class="first_item">
                                <div class="middle_item_content">
                                    <h4>Brand</h4>
                                    <p>Huggis</p>
                                </div>
    
                                <div class="middle_item_content">
                                    <h4>Size</h4>
                                    <p>M</p>
                                </div>
    
                                <div class="middle_item_content">
                                    <h4>Frequency</h4>
                                    <p>Weekly</p>
                                </div>

                                <div class="middle_item_content">
                                    <h4>Price</h4>
                                    <p>Huggis</p>
                                </div>
    
                                <div class="middle_item_content">
                                    <h4>Next delivery on</h4>
                                    <p>Huggis</p>
                                </div>

                                <div class="middle_item_content">
                                    <h4>Status</h4>
                                    <p ><i class="fas fa-circle sub_icon"></i><span class="active_color">Active</span></p>
                                </div>
                            </div>

                            <div class="last_item">
                                <button class="button_edit_cancle">Edit/Cancle</button>
                                <button class="button_review">Write a review</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </li>

            <li class="subscription_list">
                <div class="subscription_list_header">
                    <div>
                        <h1 class="header_code">#GHJSDRTH23BN</h1>
                    </div>
                    <div class="icon_header">
                        <i class="fas fa-circle sub_icon"></i>
                        <div class="sub_icon_text">
                            <P><strong>Last Delivered on</strong></P>
                            <span>17 OCT 2022</span>
                        </div>
                    </div>
                </div>
                
                <div class="subscription_list_body">
                    <div class="left_column">
                        <img src="./assets/images/image/DAEDRIC-red-07.png" alt="Image">
                    </div>
                    <div class="right_column">
                        <h3>Diaper Subcription</h3>
                        <div class="middle_item_subcription">
                            <div class="first_item">
                                <div class="middle_item_content">
                                    <h4>Brand</h4>
                                    <p>Huggis</p>
                                </div>
    
                                <div class="middle_item_content">
                                    <h4>Size</h4>
                                    <p>M</p>
                                </div>
    
                                <div class="middle_item_content">
                                    <h4>Frequency</h4>
                                    <p>Weekly</p>
                                </div>
    
                                <div class="middle_item_content">
                                    <h4>Next delivery on</h4>
                                    <p>Huggis</p>
                                </div>

                                <div class="middle_item_content">
                                    <h4>Status</h4>
                                    <p ><i class="fas fa-circle sub_icon"></i><span class="active_color">Active</span></p>
                                </div>
                            </div>
                            <div class="last_item">
                                <button class="button_edit_cancle">Edit/Cancle</button>
                                <button class="button_review">Write a review</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </li>

            
        </ul>

    </div>
    

</div>