

<mat-dialog-content>

  <div class="main_create_invoice" >
    <div class="inside_create_invoice">

      <!-- create invoice header  -->
    <div class="create-invoice-icon">
       <h1>Create Return</h1>
      <button mat-button mat-dialog-close><i class="fa-solid fa-xmark"></i></button>
    </div>


    <!-- invoice input field  -->
    <form [formGroup]="dataForm" (ngSubmit)="onSubmitReturn()">
    <div class="invoice_input_field">
      <div class="invoice_field">
        <h3>RMA:</h3>
        <mat-form-field appearance="outline">
          <input matInput formControlName="rma">
        </mat-form-field>
      </div>
      <div class="order_number_field">
        <h3>Reason:</h3>
        <mat-form-field appearance="outline">
          <input matInput formControlName="reason">
        </mat-form-field>
      </div>
      <div class="invoice_date_field">
        <h3>Date:</h3>
        <mat-form-field appearance="outline">
          <input matInput formControlName="date">
        </mat-form-field>
      </div>

    </div>

    <!-- invoice table  -->
    <div class="order-table">
      <table>

        <thead>
          <tr>
            <th class="si">SI</th>
            <th class="item">Item Name</th>
            <th class="vendor">Vendor</th>
            <th class="quantity">Quantity</th>
            <th class="price">Unit Price</th>
            <th class="discount">Discount</th>
            <th class="discount">Tax</th>
            <th class="amount">Amount</th>
            <th class="order-status">Delete</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let item of returnProducts; let i=index">
            <td  class="si">
              <span>{{i+1}}</span>
            </td>
                <td class="item">
                  <div class="product">
                    <div class="product-img">
                      <img [src]="item.product.medias ? item.product.medias[0] : '/assets/images/placeholder/test.png'" alt="item.product.name">
                    </div>
                    <div class="product-info">
                      <h3>{{item?.product.name}}</h3>
                      <h5>Earn <span>+50</span> or redeem <span>-50</span> <img src="./assets/svg/coin.svg" alt=""></h5>
                      <p>SKU: {{item?.product.sku}}</p>
                           <p>Delivery: 10 to 15 days</p>
                          </div>
                        </div>
                      </td>
                      <td class="vendor">
                        <span>{{item?.product.vendor}}</span>
                      </td>
                      <td class="quantity">
                        <div class="invoice_total_main">
                          <mat-form-field appearance="outline">
                            <input matInput formControlName="quantity" (change)="quantity(i)" required>
                          </mat-form-field>
                        </div>
                        <!-- <a href="#">{{item?.quantity}}</a> -->
                      </td>
                      <td class="price">
                    <span>{{item?.price}}</span>
                  </td>
                <td class="discount">
                  <span>0</span>
                </td>
                <td class="tax">
                  <span>{{item.tax ? item.tax : '0'}}</span>
              </td>
                <td class="amount">
                  <span>{{(item?.price + item?.tax) * item?.quantity}}</span>
                </td>
                <td class="order-delete">
                  <mat-icon (click)="deleteFromReturn(returnProducts, i)">delete_sweep</mat-icon>
                </td>
            </tr>

          </tbody>

        </table>

      </div>

      <!-- invoice custom notes -->
      <div class="custom_notes_field">
        <div class="custom_note">
          <h1>Custom Notes</h1>
          <mat-form-field class="example-full-width" appearance="outline">
            <textarea matInput ></textarea>
          </mat-form-field>
        </div>
        <div class="invoice_total">
          <div class="invoice_total_main subtotal">
            <p>Subtotal:</p>
            <p>{{calculateSubTotal()}}</p>
          </div>
          <div class="invoice_total_main">
            <p>Delivery Fee:</p>
            <mat-form-field appearance="outline">
              <input matInput type="number" formControlName="deliveryFee">
          </mat-form-field>
        </div>
        <div class="invoice_total_main">
          <p>Adjustment:</p>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="adjustment">
          </mat-form-field>
        </div>
        <div class="total_horizontal_line"></div>
        <div class="total">
          <p>Total(BDT):</p>
          <p>{{calculateSubTotal() + this.dataForm.value.deliveryFee - this.dataForm.value.adjustment}}</p>
        </div>
      </div>
    </div>

    <div class="invoice_buttons">
      <button mat-stroked-button type="button">Cancel</button>
      <div class="save_print_button">
        <button mat-stroked-button type="submit">Save</button>
      </div>

    </div>
  </form>

  </div>
</div>

</mat-dialog-content>
