@import "src/theme/gradients";

.pl-report {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 16px;
  margin-top: 16px;
}
.entry-chart_title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  h4 {
    span {
      margin-top: 5px;
      color: #474747;
      display: block;
    }
  }
  span {
    font-size: 25px;
    color: green;
  }
}
.return_chat {
  span {
    color: red;
  }
}
.invoice_chat {
  span {
    color: #1600dd;
  }
}
.order_chat {
  span {
    color: #10d831;
  }
}
.inventorty_chat {
  span {
    color: #018818;
  }
}
.entry-chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  h2 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 400;
  }
  .chart {
    height: 50px;
    width: 150px;
    margin-right: -15px;
  }
}

@media (max-width: 768px) {
  .entry-chart {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.mat-chip.info-chip {
  padding: 4px 8px;
  .mat-icon {
    margin-right: 4px;
  }
}

.h-100p {
  height: 100px;
}
