<div #resizedDiv style="padding-bottom: 15px">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 6 }">
      <nz-card nzSize="small">
        <div class="entry-chart_title">
          <h4>Total Order <b>(500)</b></h4>
          <span><i class="las la-arrow-up"></i> 24%</span>
        </div>
        <div class="entry-chart">
          <h2>BDT 22,110.00</h2>
          <div class="chart">
            <ngx-charts-bar-vertical
              [results]="products"
              (select)="onSelect($event)"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 6 }">
      <nz-card nzSize="small">
        <div class="entry-chart_title">
          <h4>Total Order</h4>
          <span><i class="las la-arrow-up"></i> 24%</span>
        </div>
        <div class="entry-chart">
          <h2>BDT 22,110.00</h2>
          <div class="chart">
            <ngx-charts-line-chart
              [results]="orders"
              [autoScale]="autoScale"
              (select)="onSelect($event)"
            >
            </ngx-charts-line-chart>
          </div>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 6 }">
      <nz-card nzSize="small">
        <div class="entry-chart_title">
          <h4>Total Order</h4>
          <span><i class="las la-arrow-up"></i> 24%</span>
        </div>
        <div class="entry-chart">
          <h2>BDT 22,110.00</h2>
          <div class="chart">
            <ngx-charts-bar-vertical
              [results]="refunds"
              (select)="onSelect($event)"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 6 }">
      <nz-card nzSize="small">
        <div class="entry-chart_title">
          <h4>Total Order</h4>
          <span><i class="las la-arrow-up"></i> 24%</span>
        </div>
        <div class="entry-chart">
          <h2>BDT 22,110.00</h2>
          <div class="chart">
            <ngx-charts-line-chart
              [results]="customers"
              [autoScale]="autoScale"
              (select)="onSelect($event)"
            >
            </ngx-charts-line-chart>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
