@import "src/theme/variables";

.container {
  width: 100%;
}


// Main Container
.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.img-placeholder {
  margin: auto;
  width: 200px;
  height: auto;

  img {
    width: 100%;
    height: 100%;
  }
}


// Right Area...
.right {
  margin: auto;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
  width: 70%;
  min-height: 450px;
  padding: 45px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.top-tittle {
  text-align: left;
  margin-bottom: 25px;

  h1 {
    font-family: $font-en-primary;
    font-weight: 600;
    color: #2AB3FC;
    font-size: 32px;
    padding: 8px 0;
  }

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    color: #484848;
  }
}

.login-form {
  width: 100%;
  font-size: 15.5px;

  .mat-data-input-field {
    width: 100%;
  }

  a {
    margin-top: 20px;
    text-decoration: none;
    color: #A8A8A8;

    &:hover {
      text-decoration: underline;
    }
  }
}

.submit-area {
  .remember{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-login {
    // margin-top: 18px;
    padding: 5px 30px;
    font-size: 16px;

    ::ng-deep {
      span {
        font-family: $font-en-primary;
        color: #FFFFFF;
      }
    }
  }

}

// Footer...
.footer {
  width: 100%;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  text-align: center;
  padding: 25px 0;

  p {
    font-size: 18px;
    color: $color-primary;
    font-family: $font-en-primary;
    font-weight: 400;
  }

  .footer-nav {
    list-style: none;
    margin-bottom: 8px;

    li {
      display: inline-block;
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }

      a {
        color: $color-primary;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


@media only screen and (max-device-width: 599px) {
  .container {
    width: 100%;
    position: relative;
  }
  // Main Container
  .content {
    width: 100%;
    margin: auto;
  }

  // Left Area...
  .left {
    display: none;
  }

  // Right Area...
  .right {
    margin: 0;
  }

  .card {
    width: 80%;
    padding: 15px;
  }

  // Footer...
  .footer {
    width: 100%;
    padding: 25px 0;

    p {
      font-size: 15px;
    }

    .footer-nav {
      margin-bottom: 8px;

      li {
        a {
          font-size: 11.5px;
        }
      }
    }
  }


}

