@import'./../../../../theme/client-side-varriables';
img{
    display: block;
    width: 100%;
    height: auto;
  }
/*** product-card-three ****/
.product-card-three{
    display: block;
    background-color: #fff;
    box-shadow: 0 7px 13px 0 #EBF1F5;
    border-radius: 0px 0px 15px 15px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    cursor: pointer;
}
.card-img{
    display: block;
    overflow: hidden;
}
.card-img img{
    // border-radius: 20px 20px 0px 0px;
    transform: scale(1.02);
    height: 250px;
    transition: all 0.3s linear;
}
@media(max-width:1050px){
    .card-img img{
        height: 220px;
    }
}

.product-card-three:hover{
    transform: translateY(-6px);
    box-shadow: 0 7px 13px 0 #EBF1F5;

}
.product-card-three:hover .card-img img{
    transform: scale(1.05);
}
.card-body{
    padding: 15px 10px;
    box-sizing: border-box;
}
.card-title{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.card-title a{
    color: #000;
    font-weight: 700;
    font-family: $font-en-primary-1;
    font-size: 15px;
    line-height: 24px;
    transition: all .3s linear;
    max-height: 48px;
    height: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: all 0.3s linear;
}
@media(max-width:450px){
    .card-img img{
        height: 150px;
    }
    .card-title a{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.card-title a:hover{
    color: #ff1111;
}
.price-rating{
    display: block;
}

.price{
    display: flex;
    align-items:center;
    gap: 10px;
    justify-content: space-between;
}
.price h3{
    color: #ff1111;
    font-size: 17px;
    font-family: $font-en-primary-1;
    font-weight: 700;
    display: block;
    margin-bottom: 5px!important;
}

.price  h4{
    color: #292929;
    font-size: 15px;
    font-family: $font-en-primary-1;
    font-weight: 700;
    display: block
}

.price h4 del{
    color: #9f9f9f;
    margin-right: 4px;
    display: inline-block;
}
@media(max-width:500px){
    .price h3{
        font-size: 17px;
    }
    .price  h4{
        font-size: 14px;
    }
    .rating ul li{
        font-size: 13px;
        font-weight: 700;
    }
    .card-title a{
        font-size: 15px;
        line-height: 22px;
        max-height: 45px;
    }
}
