@import'./../../../../theme/client-side-varriables';
.points-area{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.point{
    display: block;
    background-color: #fff;
    padding: 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%),0 -2px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-bottom: 20px;
}
.point:last-child{
    margin: 0px;
}
.point-top-area{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.point-top-area h3{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    display: block;
    line-height: 22px;
}
.point-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.point-left{
    display: block;
}
.point-left-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.point-left-info img{
    width: 60px;
    height: auto;
}
.point-left-info h3{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-style: normal;
    display: block;
    line-height: 25px;
    font-size: 19px;
}
.point-right{
    display: block;
    text-align: right;
}
.point-right span{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    display: block;
    margin-bottom: 15px!important;
}
.point-right h4{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-style: normal;
    display: block;
    line-height: 20px;
    font-size: 17px;
}
@media(max-width:400px){
    .point-left-info img{
        width: 50px;
    }
    .point-left-info h3{
        font-size: 18px;
        line-height: 20px;
    }
    .point{
        padding: 15px;
    }
    .point-right span{
        font-size: 16px;
        margin-bottom: 10px!important;
    }
    .point-right h4{
        font-size: 16px;
    }
}

/*** time-line-area ****/
.time-line-area{
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}
.time-line-top{
    display: block;
    margin-bottom: 40px;
    text-align: center;
}
.time-line-top h3{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    font-style: normal;
    display: block;
    position: relative;
    padding-bottom: 10px;
}
.time-line-top h3::after{
    content: "";
    max-width: 160px;
    width: 100%;
    background-color: #707070;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.time-line-status{
    display: block;
    max-width: 850px;
    width: 100%;
    margin-right: auto;
    padding-left: 20px;
    box-sizing: border-box;
}
.time-line-status ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
}
.time-line-status ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}
.time-line-status ul li:last-child{
    padding: 0px;
}
.time-line-status ul li::after{
    content: "";
    width:1px;
    height: 80%;
    background-color: #25c820;
    position: absolute;
    bottom: -20%;
    left: 16px;
    z-index: 10;

}
.time-line-status ul li:last-child::after{
    display: none;
}
.check{
    display: block;
}
.check span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #25c820;
    border: 1px solid #25c820;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    box-shadow: 0 3p 5px 0 rgb(0 0 0 / 5%);
    z-index: 15;
}
.time-status-info h3{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-bottom: 5px!important;
}
.time-status-info h4{
    color: #000;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 15px;
    display: block;
}
.time-status-info h4 span{
    color: #25c820;
    font-weight: 600;
    margin-left: 10px;
    display:inline-block;
}