<!-- order-header-area-->
<div class="page-header">
  <h2>Sales Order</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
    <button class="create_btn" (click)="openDialog2()">Create Order</button>
  </div>
</div>

<div class="table-samary">
  <nz-card nzSize="small">
    <nz-layout class="main-layout" style="min-height: 50vh">
      <nz-sider class="left_navbar">
        <div class="inner_nav_header">
          <div class="header_action">
            <a nz-dropdown [nzDropdownMenu]="statusMenu">
              All Order <i class="las la-angle-down"></i>
              <nz-dropdown-menu #statusMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>COD</li>
                  <li nz-menu-item>Paid</li>
                  <li nz-menu-item>Unpaid</li>
                  <li nz-menu-item>Partial Paid</li>
                  <li nz-menu-item>Invoiced</li>
                  <li nz-menu-item>Partial Invoiced</li>
                </ul>
              </nz-dropdown-menu>
            </a>
            <nz-button-group>
              <button nz-button nz-dropdown [nzDropdownMenu]="actionMenu" nzPlacement="bottomRight">
                <span nz-icon nzType="ellipsis"></span>
              </button>
              <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Delete</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </nz-button-group>
          </div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <ul class="refund_list" nz-menu nzTheme="light" nzMode="inline">
          <li nz-menu-item *ngFor="let data of orders" [routerLink]="['../../', 'order-details', data._id]">
            <div class="left">
              <h4>{{ data?.orderId }}</h4>
              <h5>{{ data?.checkoutDate | date: "short" }}</h5>
            </div>
            <div class="right">
              <h4>Pending</h4>
              <h5>{{ data?.totalAmount ? data?.totalAmount : 0 }} TK</h5>
            </div>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="refund_body_main" style="background: #fff">
        <div class="refund_details_header">
          <h4>{{ order?.orderId }}</h4>
          <h5>{{ order?.checkoutDate | date: "short" }}</h5>
        </div>
        <nz-tabset [nzTabBarExtraContent]="extraTemplate">
          <nz-tab *ngFor="let tab of bodyTabs" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">
            <div class="refund_details_body">
              <div nz-row [nzGutter]="16">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 10 }">
                  <h2>Order Details</h2>
                  <table>
                    <tbody>
                      <tr>
                        <td>Shipped by</td>
                        <td>:</td>
                        <td> Pathao </td>
                      </tr>
                      <tr>
                        <td>Weight</td>
                        <td>:</td>
                        <td>2 KG</td>
                      </tr>
                      <tr>
                        <td>Cost</td>
                        <td>:</td>
                        <td><b>120 TK</b></td>
                      </tr>
                      <tr>
                        <td>Paid by</td>
                        <td>:</td>
                        <td>bKash(01917658452)</td>
                      </tr>
                      <tr>
                        <td>Note</td>
                        <td>:</td>
                        <td>
                          <div>
                            <p>Sunday office hour er moddhe amar product ta delivery dewar try korben. Thank you.</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12,  offset: 2 }">
                  <h2>Delivery Details</h2>
                  <table>
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td><a>Md. Rahim</a></td>
                      </tr>
                      <tr>
                        <td>Phone No</td>
                        <td>:</td>
                        <td>01619187770</td>
                      </tr>
                      <tr>
                        <td>Shipping to</td>
                        <td>:</td>
                        <td>57/12 Sonargong Plaza, Panthapath Signal, Dhaka.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h2>Customer Details</h2>
                  <table>
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td><a>Md. Karim Khan</a></td>
                      </tr>
                      <tr>
                        <td>Phone No</td>
                        <td>:</td>
                        <td>01619187770</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>fortunetech@gmail.com</td>
                      </tr>
                      <tr>
                        <td>Shipping to</td>
                        <td>:</td>
                        <td>57/12 Sonargong Plaza, Panthapath Signal, Dhaka.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <nz-card class="refund_details_body-product" nzSize="small">



                <nz-table #rowSelectProduct [nzFrontPagination]="false" [nzData]="products"
                  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                  <thead>
                    <tr>
                      <th nzWidth="25px" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="onAllChecked($event)"></th>
                      <th>Image</th>
                      <th>Item Details</th>
                      <th>Qty</th>
                      <th>Price</th>
                      <th>Tax (+)</th>
                      <th>Discount (-)</th>
                      <th>Total</th>
                      <th>Advance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of rowSelectProduct.data; let i = index">
                      <td nzWidth="25px" [nzChecked]="setOfCheckedId.has(data.id)"
                        (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                      <td>
                        <img nz-image width="50px"
                        [nzSrc]="data.productId
                          ? setThumbnailImage(data.productId)
                          : '/assets/images/placeholder/test.png'"
                          [alt]="data.productId.name" />
                      </td>
                      <td>
                        {{data.name}}
                        {{data.sku}}
                      </td>
                      <td>
                        {{data.quantity}}
                        <div class="inv-qty">INV-{{ data?.invoicedQuantity }}</div>
                        <div class="rto-qty">RTO-{{ data?.returnedQuantity }}</div>
                      </td>
                      <td>{{data.price}}</td>
                      <td>{{data.tax? data.tax : '0'}}</td>
                      <td>0</td>
                      <td>{{ getAmount(data) }}</td>
                      <td>
                        <span [style]="order.paymentStatus === 1 ? 'color:green': 'color:orange'">
                          {{data.advanceAmount}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>

                <div nz-row [nzGutter]="0">
                  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                    <nz-card nzSize="small" class="ammount_summary">
                      <div class="ammount_summary_single">
                        <h4>Sub-Total</h4>
                        <span>1200 TK</span>
                      </div>
                      <div class="ammount_summary_single">
                        <h4>Shipping</h4>
                        <span>120 TK</span>
                      </div>
                      <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
                      <div class="ammount_summary_single">
                        <h4></h4>
                        <span> Refundable Amount = 1200 TK</span>
                      </div>
                      <div class="ammount_summary_single mt15">
                        <h4>Refund Amount</h4>
                        <span> <input nz-input value="1200" />TK </span>
                      </div>
                      <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
                      <div class="ammount_summary_single">
                        <h4></h4>
                        <span> Refundable Amount = 0 TK</span>
                      </div>
                    </nz-card>
                  </div>

                  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                    <div class="action_btn">
                      <button nzSize="large" nz-button nzType="default">
                        Reject
                      </button>
                      <button nzSize="large" nz-button nzType="primary">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </nz-card>
            </div>
          </nz-tab>
        </nz-tabset>
        <ng-template #extraTemplate>
          <button nz-button [routerLink]="['../../', 'edit-order', order?._id]"><i class="lar la-edit"></i></button>
          <button nz-button (click)="openDialog()"><i class="las la-file-invoice"></i></button>
        </ng-template>
      </nz-content>
    </nz-layout>
  </nz-card>
</div>
