@import'./../../../../../theme/variables';

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}


.order-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding-top: 20px;
}

.order-title {
  display: block;
}

.order-title h3 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
}

::placeholder {
  color: #989eaf;
}

.order-btn-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-btn-area ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

.order-btn-area ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.order-btn-area ul li:last-child {
  margin: 0px;
}

.order-btn-area ul li button {
  display: block;
  color: #000000;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  padding: 8px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.order-btn-area ul li .active-btn {
  background-color: #0058ff;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);

}


.order_details {
  display: flex;
  margin-top: 40px;
}

.order_details_left-sidebar {
  position: relative;
  width: 25%;
  display: block;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(12, 12, 12, 0.5);
}

.order-details-left-top-dotted button {
  background-color: transparent;
  color: #404041;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  border: 1px solid transparent;
}

.dotted span {
  background-color: #fff;
  border: 1px solid #eee;
  color: #404041;
  font-family: $font-en-primary-2;
  font-size: 16px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.order-details-left-sidebar-top {
  padding-bottom: 10px;
  position: relative;
}

.order-details-left-top-dotted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}


.top-search-area {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 3px;
}

.top-search-area button {
  background-color: #f5f5f5;
  width: 40px;
  height: 40px;
  border: 1px solid #b2b2b2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  font-size: 14px;
}

.search-input {
  display: block;
  width: 100%;
}

.search-input input {
  background-color: #f5f5f5;
  width: 100%;
  height: 40px;
  border: 1px solid #b2b2b2;
  outline: none;
  font-family: $font-en-primary-2;
  font-size: 14px;
  border-left: none;
  color: #131523;
  font-weight: 400;
  padding: 0px 10px;
  box-sizing: border-box;
}

.order-details-left-side-bar-main {
  width: 100%;
  display: block;
  max-height: 600px;
  padding: 0px 10px 0px 0px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: scroll;
}

.order-details-sidebar-info ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.order-details-sidebar-info ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 8px;
  border-bottom: 1px solid #eee;
  //padding: 10px 8px;

  &.active {
    background: #dee9ff;
  }
}

.order-details-sidebar-ul-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(242, 3, 3);
}

.order-details-sidebar-ul-li-inactive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

.sidebar-info-left {
  display: block;
}

.mat-check {
  display: block;
  color: #191818;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebar-info-left span {
  display: block;
  color: #383838;
  font-family: $font-en-primary-2;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}

.sidebar-info-right {
  display: block;
}

.sidebar-info-right h4 {
  color: #191818;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-info-right span {
  color: #f6954b;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 12px;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
  cursor: pointer;
}

.table_data_name {
  span {
    color: #131523;
    font-family: $font-en-primary-2;
    font-style: normal;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
  }
}

.table_data_id {
  p {
    color: #404041;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;

    span {
      font-family: $font-en-primary-2;
      font-style: normal;
      font-size: 10px;
      font-weight: 400;
      line-height: 30px;
      padding-left: 5px;
    }
  }
}

.table_data_amount {
  text-align: right;

  h3 {
    color: #131523;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 5px;
  }
}

.pending {
  background-color: gray !important;
}

.confirm {
  background-color: rgb(0, 255, 42) !important;
}

.delivered {
  background-color: rgb(82, 119, 255) !important;
}

.cancel {
  background-color: rgb(255, 9, 9) !important;
}

.processing {
  background-color: rgb(249, 225, 6) !important;
}

.refund {
  background-color: rgb(250, 169, 6) !important;
}

.shipping {
  background-color: rgb(161, 8, 249) !important;
}

.customer-comment-main {
  display: flex;
  align-items: start;
  justify-content: space-between;

  ::ng-deep mat-form-field {
    width: 100%;
  }

  button {
    margin-left: 20px;
  }
}

.order-details-container {
  display: block;
  width: calc(100% - 25%);
  box-sizing: border-box;
}

.order-id-area {
  background-color: #f8f8f8;
  display: block;
  padding: 10px 15px;
}

.order-details-main {
  display: block;
}

.order-details-left {
  display: block;
  width: 100%;
}


.req-id-title {
  display: block;
}

.req-id-title h4 {
  color: #131523;
  font-family: $font-en-primary;
  font-weight: 700;
  font-size: 16px;
  display: block;
  line-height: 25px;
  margin-bottom: 3px !important;
}

.req-id-title span {
  color: #5b5757;
  font-family: $font-en-primary;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

.xmarks {
  display: block;
}

.xmarks span {
  color: #000000;
  font-size: 14px;
}





.order-table {
  display: block;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 4px 5px rgb(0 0 0/5%);
  margin-bottom: 30px;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;

}

.table-head-left {
  display: block;
  text-align: center;
  margin: auto;
}

.table-head-left ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.table-head-left ul li {
  display: inline-block;
  margin-right: 5px;
}

.table-head-left ul li:last-child {
  margin: 0px;
}

.table-head-left ul li span {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  padding: 15px 15px;
  box-sizing: border-box;
  border: none;
  display: block;
  border-bottom: 2px solid transparent;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  position: relative;
  bottom: -1px;
  cursor: pointer;
}

.table-head-left ul li .menu-active {
  border-color: #0058ff;
}

.table-head-right {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}


.status-invoice-btn {
  display: block;

  ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }

  ::ng-deep .mat-form-field {
    width: 120px;
    height: 40px;
    padding: 5px;
  }
}

.status-invoice-btn ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.status-invoice-btn ul li {
  display: inline-block;
}

.status-invoice-btn ul li button {
  padding: 0px 15px;
  height: 33px;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: #fff;
  font-family: $font-en-primary-2;
  font-style: normal;
  font-weight: 500;
  outline: none;
}


.send-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.send-area input {
  border: 1px solid #edf0fa;
  border-left: none;
  border-right: none;
  background-color: #fff;
  height: 33px;
  padding: 0px 5px;
  box-sizing: border-box;
  outline: none;
  font-family: $font-en-primary-2;
  font-weight: 400;
  font-size: 14px;
}

.send-btn {
  display: block;
}

.send-btn button {
  box-sizing: border-box;
  height: 33px;
  background-color: #0058ff;
  color: #fff;
  padding: 0px 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  font-family: $font-en-primary-2;
  font-weight: 400;
  font-size: 12px;
}

.order-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.order-table table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 1090px;
  padding-top: 30px;
}

.order-table table th {
  font-size: 14px;
  font-weight: 700;
  font-family: $font-en-primary-2;
  color: #131523;
  // padding: 15px 10px;
  box-sizing: border-box;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  min-width: 100px;
}

.order-table table td {
  padding: 15px 0px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 100px;
}

.order-table table td a {
  color: #0058ff;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
}

.order-table table td span {
  display: block;
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.order-table table td button {
  background-color: #f68c3b;
  padding: 3px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 14px;

}

.order-table table td i {
  font-size: 14px;
  color: #131523;
}

.order-status {
  padding: 0px;
}

.order-status span {
  background-color: #ecff9f;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
}

.order-table table .check,
.order-table table .si {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  text-align: center;
}

.order-table table .item {
  min-width: 340px;
}

.order-table table .vendor {
  min-width: 130px;
  padding: 15px 5px;
  box-sizing: border-box;
}

.product-img {
  display: block;
}

.product-img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.product-info {
  display: block;
  text-align: left;
}

.product-info h3 {
  color: #131523;
  font-family: $font-en-primary;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  display: block;
  margin-bottom: 5px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 70px;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.product-info h5 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px !important;
}

.product-info h5 span {
  display: inline-block !important;
}

.product-info h5 img {
  max-width: 30px;
}

.product-info p {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 2px !important;
}

::ng-deep.order-table .mat-checkbox-frame,
::ng-deep.order-table .mat-checkbox-background {
  border-color: #c3daff;
  background-color: #c3daff;
}

::ng-deep.order-table .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #3b86ff !important;
}

.order-pay-details {
  margin-top: 30px;
  margin-bottom: 40px;
  right: 0;
  width: 100%;
}

.payment-summery-area {
  display: block;
}

.modift-btn-area {
  width: 100%;
}

.btn-area {
  display: block;
}

.btn-area ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.btn-area ul li {
  display: inline-block;
  margin-right: 15px;
}

.btn-area ul li:last-child {
  margin: 0px;
}

.btn-area ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  gap: 5px;
  border: 1px solid transparent;
  background-color: #0058ff;
  color: #fff;
  padding: 7px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  margin-bottom: 20px;
}

.paid-by {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  margin-right: 20px;
}

.paid-by img {
  width: 60px;
  object-fit: contain;
}

.paid-by span {
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.customer-msg {
  display: block;
  margin-right: 30px;
}

.customer-msg h3 {
  color: #131523;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px !important;
}

.customer-msg p {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 4px 0 rgb(0 0 0/10%);
  max-width: 500px;
  width: 100%;
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

/** order-details-right ***/
.order-details-right {
  display: block;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgb(0 0 0/10%);
  width: 70%;
  height: auto;
}

.delivery-data {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.delivery-data ul {
  list-style: none;
  padding: 0px;
  margin: 0px;


}

.delivery-data ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.delivery-data ul li div:first-child {
  max-width: 110px;
  width: 100%;
}

.delivery-data ul li h3 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.delivery-data ul li span {
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.customer-info-area {
  display: block;
  margin-bottom: 30px;
}

.customer-title {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.customer-title h3 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  border-bottom: 1px solid #3b86ff;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.customer-info {
  display: block;
}

.customer-info ul {
  list-style: none;
  padding: 0px;
}

.customer-info ul li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.customer-info-left {
  max-width: 75px;
  width: 100%;
}

@media(max-width:450px) {

  .delivery-data ul li,
  .customer-info ul li {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .customer-info-left {
    max-width: 100%;
  }
}

.customer-info-left h3 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.customer-info-right {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 230px;
}

.customer-info-right h4 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-style: normal;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.customer-info-right a {
  color: #0058ff;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 14px;
}

.customer-comment {
  display: block;
  margin-bottom: 30px;
}

.customer-comment textarea {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dae1f5;
  font-size: 14px;
  font-weight: 500;
  font-family: $font-en-primary;
  border-radius: 5px;
  padding: 7px 10px;
  box-sizing: border-box;
  outline: none;

}

.customer-comment button {
  background-color: #1581ed;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: $font-en-primary;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border: none;
  color: #fff;
  text-transform: capitalize;
}

.order-confirm-status {
  display: block;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.status-info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  justify-content: flex-start;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.status-info::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #86bef5;
  position: absolute;
  bottom: -5%;
  left: 13px;
  z-index: 1;
}

.status-info:last-child:after {
  display: none;
}

.status-info:first-child:after {
  display: none;
}

.status-check span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7e7ff;
  color: #fff;
  border: 1px solid #c3daff;
  font-size: 14px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: relative;
  top: 1px;
  z-index: 2;
}

.status-check span i {
  display: none;
}

.active-status {
  background-color: #0058ff !important;
  border-color: #0058ff !important;
}

.active-status i {
  display: block !important;
}

.status-type {
  display: block;
  width: 100%;
}

.status-type h3 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 5px !important;
  line-height: 18px;
  text-transform: capitalize;
}

.status-type .admin_name {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 10px;
  display: block;
  line-height: 12px;
}

.status-type .admin_massage {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 12px;
  display: block;
  margin-bottom: 5px !important;
  line-height: 18px;
}

/**** time-line-area *****/
.time-line-area {
  display: block;
  margin-top: 60px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
}

.time-line-title {
  display: block;
  margin-bottom: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}

.time-line-title h3 {
  color: #000000;
  font-family: $font-en-primary-2;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  display: block;
}

.timeline-main {
  padding: 30px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  width: 100%;
  color: #131523;

}

.timeline-main ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.timeline-main ul li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding-bottom: 25px;
  position: relative;
  z-index: 4;
  overflow: hidden;
  padding-left: 170px;
}

.timeline-main ul li::after {
  content: "";
  width: 1px;
  height: 80%;
  background-color: #5691ff;
  position: absolute;
  bottom: -14%;
  left: 15px;
  z-index: -4;
}

.timeline-main ul li:last-child::after {
  display: none;
}

.time-check {
  display: block;
}

.time-check span {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  color: #78d012;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  background-color: #fff;
}

.active-check {
  background-color: #0058ff !important;
  color: #fff !important;
  border-color: #0058ff !important;
}

.timeline-info {
  display: block;
  width: 100%;
}

.timeline-info h3 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-bottom: 5px !important;
  line-height: 18px;
  text-transform: capitalize;
}

.timeline-info p {
  color: #131523;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 5px !important;
  line-height: 18px;
}

.timeline-info .date {
  position: absolute;
  top: 12px;
  left: 0px;
  color: #b1b1b1;
}


.total-area {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.total-area hr {
  display: block;
  margin: 0px !important;
  background-color: #d1d1d1;
  width: 100%;
  height: 2px;
}

.total-area ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.total-area ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 10px;
  padding: 5px 0px;
}

.total-title h3 {
  color: #574d4d;
  font-family: $font-en-primary-2;
  font-weight: 400;
  font-size: 14px;
  display: block;
}

.total-price h4 {
  color: #574d4d;
  font-family: $font-en-primary-2;
  font-weight: 400;
  font-size: 14px;
  display: block;
}

.color-red {
  color: red !important;
  font-weight: 500;
}









/** form-field and common code****/
.form-field {
  display: block;
  width: 100%;
  min-width: 0px;
}

::ng-deep.form-field.mat-form-field .mat-form-field-label {
  color: #74777e;
  font-family: $font-en-primary-2;
}

::ng-deep.form-field mat-select {
  color: #000;
  font-family: $font-en-primary-2;
}

::ng-deep.form-field .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #a1a5a9;
}

::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #0058ff;
}

::ng-deep.form-field.mat-form-field.mat-focused .mat-form-field-label {
  color: #0058ff !important;
}

::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0px;
}

::ng-deep.form-field.mat-form-field-infix {
  min-width: 0px;
  width: auto;
}

.form-field input,
.form-field textarea {
  color: #74777e;
  font-family: $font-en-primary-2;
  font-size: 14px;
}

::placeholder {
  color: #74777e;
}

::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0058ff;
}




::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin {
  background-color: #d7e7ff;
}

::ng-deep.mat-check .mat-checkbox-frame {
  border-color: #b0ceff;
}

::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #0058ff;
}

::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: #0058ff;
}

::ng-deep.radio .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #0058ff;
}

::ng-deep.radio .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0058ff;
}

::ng-deep.radio .mat-radio-outer-circle {
  border-color: #c3c3c3;
}

::ng-deep.radio .mat-radio-label {
  white-space: pre-wrap;
}

::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin {
  background-color: #d7e7ff;
}

::ng-deep.mat-check .mat-checkbox-frame {
  border-color: #b0ceff;
}

::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #0058ff;
}

::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: #0058ff;
}

@media (min-width: 1400px) {
  .order_details_left-sidebar {
    width: 15%;
  }
  .order-details-container {
    width: calc(100% - 15%);
  }
}

img{
  cursor: pointer;
}
