@import "./../../../../../theme/variables";

nz-table{
  overflow-x: scroll;
}
.header-left{
  display: flex;
  align-items: center;
  .arrow {
    margin-right: 20px;
  }
}

.invoice_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
  background-color: lightblue;
}

.invoice_dropdown h3 {
  font-size: 14px;
  font-weight: 500;
}

.invoice_dropdown p {
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  box-sizing: border-box;
}

.timeline-items {
  height: 250px;
  width: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pending {
  background: #dbdbdb !important;
  color: #2d2d2d;
}
.confirm {
  background: #05c600 !important;
  color: #f0efef;
}
.delivered {
  background: #065600 !important;
  color: #f0efef;
}
.cancel {
  background: #ec0000 !important;
  color: #f0efef;
}
.processing {
  background: #f57224 !important;
  color: #f0efef;
}
.refund {
  background: #af0000 !important;
  color: #f0efef;
}
.shipping {
  background: #001bce !important;
  color: #f0efef;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  .header-action {
    display: flex;
    align-items: center;
    button {
      border: none;
      background: transparent;
      margin-left: 25px;
    }
    .create_btn {
      background: #1b75bb;
      color: #fff;
      border: 1px solid #1b75bb;
      padding: 10px 20px;
      transition: 0.3s;
      border-radius: 5px;
    }
    .create_btn:hover {
      background: #8bc53f;
      border: 1px solid #8bc53f;
    }
  }
}
.refunt-tab {
  min-height: 80vh;
  margin-bottom: 30px;
}
.tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 200px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-left: -22px;
  padding: 0 0 10px 0;
  .title {
    font-size: 14px;
  }
  .status-details {
    text-align: right;
    font-size: 14px;
    .details {
      font-size: 12px;
      span {
        margin-left: 15px;
      }
    }
  }
}

.ant-tabs-nav-list {
  padding: 0;
}
.header_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_navbar {
  background: #fff;
  border-right: 1px solid #ddd;
  min-width: 230px !important;
}
.inner_nav_header {
  margin-right: 10px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
  .header_action {
    margin-bottom: 15px;
  }
}
.refund_list {
  padding: 0;
  margin: 0;
  li {
    display: flex;
    padding: 5px 10px 5px 0 !important;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    height: unset;
    .right {
      text-align: right;
    }
  }
  li:hover {
    .left {
      h4 {
        color: #1b75bb;
      }
    }
  }
}
.refund_body_main {
  padding: 0 15px;
}
.refund_details_header {
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px 0;
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 12px;
  }
}
.refund_details_body {
  padding: 15px;
  h2 {
    color: #323232;
    font-size: 16px;
  }
  table {
    margin: 0px 0 20px 0;
  }
  tr > td {
    line-height: 25px;
    color: #626262;
    vertical-align: baseline;
  }
  tr > td:first-child {
    width: 80px;
  }
  tr > td:last-child {
    padding-left: 15px;
  }
  td .btn {
    text-align: center;
    width: 100%;
    padding: 5px 10px;
  }
  .btn:hover {
    background: transparent;
  }
}
.refund_details_body-product {
  margin: 30px 0;
  .thumb_img {
    width: 100px;
  }
  tr > td:first-child {
    width: 50px;
  }
}
.ammount_summary {
  margin: 0 0 15px 0;
  width: 400px;
  float: right;
}
.ammount_summary_single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    width: 70px;
    border: none;
    text-align: right;
    border-bottom: 1px solid #e4e4e4;
  }
  input:focus {
    background: none;
    box-shadow: none;
  }
}
.mt15 {
  margin-top: 15px;
}
.action_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin-left: 15px;
  }
}
.customer_details {
  td {
    a {
      position: relative;
      display: inline-block;
      i {
        position: absolute;
        right: -45%;
        top: 0;
        font-size: 20px;
        color: orange;
      }
    }
  }
}
.total-order {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-bottom: 2px solid #00a500;
  color: #00a500;
  display: block;
  font-size: 12px;
}
.total-return {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-bottom: 2px solid #ff0000;
  color: #ff0000;
  display: block;
  font-size: 12px;
}
.customadmin_note {
  button {
    margin-top: 5px;
  }
  .text_area {
    display: block;
  }
  .timeline {
    display: block;
    margin-top: 30px;
  }
}
.cuppon {
  span {
    font-size: 12px;
    color: #7c7c7c;
    font-weight: 300;
    margin-left: 5px;
  }
}
.customer_time_line {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}
.timeline_record {
  padding: 20px 0 0 40px;
}
.bodytext {
  color: #727272;
}
.title {
  color: #272727;
}
.linetime {
  color: #838383;
  font-size: 12px;
}
.showmore {
  padding: 0;
  margin: 0 0 0 0;
  font-size: 12px;
  i {
    margin-left: 5px;
  }
}
.customer_details {
  margin-right: 15px !important;
}
.entry_edit {
  .qty {
    display: flex;
    align-items: center;
    input {
      width: 50px;
      text-align: center;
    }
  }
}
.add_product {
  padding: 15px;
}
.search_items {
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: flex-start;
      .left_details {
        margin-left: 10px;
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .customer_details {
    margin-right: 0px !important;
  }
  .main-layout {
    flex-direction: column !important;
  }
  .left_navbar {
    min-width: 100% !important;
    width: 100% !important;
    border: none;
  }
  .thumb_img {
    width: 80px;
  }
  .ammount_summary {
    margin: 10px 0;
    width: 300px;
  }
  .refund_body_main {
    width: 100% !important;
    margin: 20px 0;
    padding: 0;
  }
  .refund_details_body {
    padding: 0;
  }
}
