<!-- order-header-area-->
<div class="page-header">
  <h2>Sales Order</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
    <button class="create_btn" (click)="openDialog2()">Create Order</button>
  </div>
</div>

<div class="table-samary">
  <nz-card nzSize="small">
    <nz-layout class="main-layout" style="min-height: 50vh">
      <nz-sider class="left_navbar">
        <div class="inner_nav_header">
          <div class="header_action">
            <a nz-dropdown [nzDropdownMenu]="statusMenu">
              All Order <i class="las la-angle-down"></i>
              <nz-dropdown-menu #statusMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>COD</li>
                  <li nz-menu-item>Paid</li>
                  <li nz-menu-item>Unpaid</li>
                  <li nz-menu-item>Partial Paid</li>
                  <li nz-menu-item>Invoiced</li>
                  <li nz-menu-item>Partial Invoiced</li>
                </ul>
              </nz-dropdown-menu>
            </a>
            <nz-button-group>
              <button nz-button nz-dropdown [nzDropdownMenu]="actionMenu" nzPlacement="bottomRight">
                <span nz-icon nzType="ellipsis"></span>
              </button>
              <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Delete</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </nz-button-group>
          </div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <ul class="refund_list" nz-menu nzTheme="light" nzMode="inline">
          <li nz-menu-item
              *ngFor="let data of orders" [routerLink]="['../../', 'order-details', data._id]">
            <div class="left">
              <h4>{{ data?.orderId }}</h4>
              <h5>{{ data?.checkoutDate | date }}</h5>
            </div>
            <div class="right">
              <h4>Pending</h4>
              <h5> {{ data?.totalAmount ? data?.totalAmount : 0}} TK</h5>
            </div>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="refund_body_main" style="background: #fff">
        <div class="refund_details_header">
          <h4><b>RFD-16767</b></h4>
          <h5>05 Jul 2022 | 11:30 PM</h5>
        </div>
        <div class="refund_details_body">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
              <h2>Refund Details</h2>
              <table>
                <tbody>
                <tr>
                  <td>Refund Status</td>
                  <td>:</td>
                  <td>
                    <span> Pending </span>
                  </td>
                </tr>
                <tr>
                  <td>Refund</td>
                  <td>:</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Amount</td>
                  <td>:</td>
                  <td><b>120 TK</b></td>
                </tr>
                <tr>
                  <td>Refund Way</td>
                  <td>:</td>
                  <td>bKash ( 01934548454 )</td>
                </tr>
                <tr>
                  <td>Customer</td>
                  <td>:</td>
                  <td>01917635242</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
              <table>
                <tbody>
                <tr>
                  <td>Invoice#</td>
                  <td>:</td>
                  <td><a>INV-195212</a></td>
                </tr>
                <tr>
                  <td>Sales Order</td>
                  <td>:</td>
                  <td><a>SO-195212</a></td>
                </tr>
                <tr>
                  <td>Crated By</td>
                  <td>:</td>
                  <td>Customer</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <nz-card class="refund_details_body-product" nzSize="small">
            <nz-table nzSize="small" nzShowPagination="false" [nzData]="[1, 2, 3]">
              <thead>
              <tr>
                <th style="width: 100px">Image</th>
                <th>Item</th>
                <th>Shipped</th>
                <th>Amount (TK)</th>
                <th>Recived QTY</th>
                <th>Refund Amount (TK)</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td style="width: 100px">
                  <img style="max-width: 100%"
                       src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
                       alt="" />
                </td>
                <td>
                  <h3>Men's casual shirt</h3>
                  <h5>Yellow / XXL</h5>
                  <h5>SKU: 5072036</h5>
                </td>
                <td>1</td>
                <td>1200</td>
                <td>1</td>
                <td>1200</td>
              </tr>
              </tbody>
            </nz-table>
            <div nz-row [nzGutter]="0">
              <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                <nz-card nzSize="small" class="ammount_summary">
                  <div class="ammount_summary_single">
                    <h4>Sub-Total</h4>
                    <span>1200 TK</span>
                  </div>
                  <div class="ammount_summary_single">
                    <h4>Shipping</h4>
                    <span>120 TK</span>
                  </div>
                  <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
                  <div class="ammount_summary_single">
                    <h4></h4>
                    <span> Refundable Amount = 1200 TK</span>
                  </div>
                  <div class="ammount_summary_single mt15">
                    <h4>Refund Amount</h4>
                    <span>
                                            <input nz-input value="1200" />TK
                                        </span>
                  </div>
                  <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
                  <div class="ammount_summary_single">
                    <h4></h4>
                    <span> Refundable Amount = 0 TK</span>
                  </div>
                </nz-card>
              </div>

              <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                <div class="action_btn">
                  <button nzSize="large" nz-button nzType="default">Reject</button>
                  <button nzSize="large" nz-button nzType="primary">Save</button>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-content>
    </nz-layout>
  </nz-card>
</div>







<!--order-details-->
<div class="order_details">
  <div class="order_details_left-sidebar">
    <div class="order-details-left-sidebar-top">
      <div class="order-details-left-top-dotted">
        <div>
          <button routerLink="/admin/regular-orders">
            All Order <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <div class="dotted">
          <span><i class="fa-solid fa-ellipsis"></i></span>
        </div>
      </div>
      <!--search-->
      <div class="top-search-area">
        <div>
          <button><i class="fa fa-search"></i></button>
        </div>
        <div class="search-input">
          <input type="text" value="" placeholder="Search customer "/>
        </div>
      </div>
    </div>
    <!---top-end-->
    <!---order-details-right-side-bar-main-->
    <div class="order-details-left-side-bar-main">
      <div class="order-details-sidebar-info">
        <ul>
          <li *ngFor="
              let data of orders
                | paginate
                  : {
                      itemsPerPage: ordersPerPage,
                      currentPage: currentPage,
                      totalItems: totalOrders
                    };
              let i = index
            " [class.active]="data?._id === id" [routerLink]="['../../', 'order-details', data._id]">
            <div class="sidebar-info-left">
              {{ data?.name ? data?.name : data.phoneNo }}
              <span [routerLink]="['../../', 'order-details', data._id]">{{ data?.orderId }}
                |
                <small>{{ data?.checkoutDate | date }}</small></span>
            </div>
            <div class="sidebar-info-right">
              <h4>{{ data?.totalAmount ? data?.totalAmount : 0}} TK</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!---end-->
  </div>
  <div class="order-details-container">
    <form [formGroup]="dataForm">
      <div class="order-id-area">
        <h4>{{ order?.orderId }}</h4>
        <span>{{order?.checkoutDate | date: "short"}}</span>
      </div>

      <!---order-details-main-area-->
      <div class="order-details-main">
        <!---order-details-left-->
        <div class="order-details-left">
          <!---order-details-table-area-->
          <div class="table-head-left">
            <ul>
              <li>
                <span [class]="clickActive[0] ? 'menu-active' : ''" (click)="getOrderDetails()">Order Details</span>
              </li>
              <li>
                <span [class]="clickActive[1] ? 'menu-active' : ''"
                      (click)="getInvoicesByOrderNo()">Invoices(100)</span>
              </li>
              <li>
                <span [class]="clickActive[2] ? 'menu-active' : ''" (click)="getReturns()">Return(100)</span>
              </li>
            </ul>
          </div>
          <div class="table-head-right">
            <span class="edit"><i class="fa fa-edit" [routerLink]="['../../', 'edit-order', order?._id]"></i></span>
            <a style="margin-right:10px" nz-button nzType="primary" [disabled]="selectedIds?.length < 1"
               (click)="openDialog()" type="button">
              Invoice
            </a>
            <input style="margin-right:10px" nz-input type="text" formControlName="statusNote"
                   placeholder="Write a note "/>
            <button style="margin-right:10px" nz-button nzType="primary" (click)="onOrderStatusChange()">Send</button>
          </div>
          <div>
          </div>
          <!---table-end-->
          <div *ngFor="let products of vProducts">


            <nz-table class="table" #columnTable [nzData]="products.data" [nzShowPagination]="false"
                      [nzTitle]="'Vendor Name : '+products._id">
              <thead>
              <tr>
                <th nzLeft nzWidth="25px" class="check">
                  <mat-checkbox></mat-checkbox>
                </th>
                <th nzLeft nzWidth="25px">Image</th>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Tax (+)</th>
                <th>Discount (-)</th>
                <th>Total</th>
                <th>Advance</th>
                <th nzWidth="100px">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of columnTable.data; let i=index">

                <td nzWidth="25px" nzLeft>
                  <mat-checkbox (change)="onCheckChange($event, i)"></mat-checkbox>
                </td>
                <td nzLeft>
                  <img nz-image width="50px" [nzSrc]="
                      data.productId
                        ? setThumbnailImage(data.productId)
                        : '/assets/images/placeholder/test.png'
                    " [alt]="data.productId.name"/>
                </td>
                <td>
                  <a target="_blank" [routerLink]="['../../../', 'product-details', data.productId.slug]"
                     class="text">
                    {{ data?.productId.name }}
                  </a>
                  {{ data?.sku }}
                </td>
                <td>
                  <div>
                    <b>{{ data?.quantity }}</b>
                  </div>
                  <div class="inv-qty">
                    INV-{{data?.invoicedQuantity}}
                  </div>
                  <div class="rto-qty">
                    RTO-{{data?.returnedQuantity}}
                  </div>
                </td>
                <td>{{ data?.price }}</td>
                <td>
                  {{ data.tax ? data.tax : "0" }}
                </td>
                <td>0</td>
                <td>{{ getAmount(data) }}</td>
                <td>
                    <span [style]="order.paymentStatus !== 1 ? 'color:green' : 'color:orange'">{{ data.advance ?
                      data.advance : 0}}</span>
                </td>
                <td>
                  <mat-form-field style="width: 100px" appearance="outline">
                    <mat-select [(value)]="data.deliveryStatus"
                                (selectionChange)="onStatusChange($event.value, order, data)">
                      <mat-option *ngFor="let option of productOrderStatus" [value]="option.value"
                                  [disabled]="option.disabled">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </div>
          <!---order-payment-details-->
          <div class="order-pay-details">
            <!--payment-summery-area-->
            <div class="payment-summery-area">
              <div class="total-area">
                <ul>
                  <li>
                    <div class="total-title">
                      <h3>Sub Total</h3>
                    </div>
                    <div class="total-price">
                      <h4>{{ calculateSubTotal }} TK</h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <h3>Coupon Code</h3>
                    </div>
                    <div class="total-price">
                      <h4 class="color-red">(-) 0 TK</h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <h3>Points Redeem</h3>
                    </div>
                    <div class="total-price">
                      <h4 class="color-red">
                        (-){{ 0 }} PTS
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <!--<h3>Shipping Charge</h3>-->
                    </div>
                    <div class="total-price">
                      <h4>{{120}} TK</h4>
                    </div>
                  </li>
                  <hr/>
                  <li>
                    <div class="total-title">
                      <h3>Amount to pay</h3>
                    </div>
                    <div class="total-price">
                      <h4>{{calculateSubTotal - 120}} TK</h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <h3>Paid</h3>
                    </div>
                    <div class="total-price">
                      <h4 class="color-red">(-) {{ 0 }}TK</h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <h3>Adjustment</h3>
                    </div>
                    <div class="total-price">
                      <h4 class="color-red">(-) 0 TK</h4>
                    </div>
                  </li>
                  <hr/>
                  <li>
                    <div class="total-title">
                      <h3>Due Amount</h3>
                    </div>
                    <div class="total-price">
                      <h4>{{ 0 }} TK</h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <!--                          <p>Cancelled (SKU:{{getCancelSKU()}})</p>-->
                      <!--                          <p >(-) &nbsp;{{calculateCancelTotal()}}TK</p>-->
                      <h3>Cancelled(SKU:{{ getCancelSKU() }})</h3>
                    </div>
                    <div class="total-price">
                      <h4 class="color-red">
                        (-) {{ calculateCancelTotal() }} TK
                      </h4>
                    </div>
                  </li>
                  <hr/>
                  <li>
                    <div class="total-title">
                      <h3>Refundable Amount</h3>
                    </div>
                    <div class="total-price">
                      <h4 class="color-red">- 0 TK</h4>
                    </div>
                  </li>
                  <li>
                    <div class="total-title">
                      <h3>Refund(SKU:676ds7)</h3>
                    </div>
                    <div class="total-price">
                      <h4>(-) 0 TK</h4>
                    </div>
                  </li>
                  <hr/>
                  <li>
                    <div class="total-title">
                      <h3>Total Due =</h3>
                    </div>
                    <div class="total-price">
                      <h4>{{calculateCancelTotal()}}</h4>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!--payment-summery-area-end-->
          </div>
          <!---order-payment-details-end-->

          <!---customer-msg-->
          <!-- <div class="customer-msg">
            <h3>Message From Customer</h3>
            <p>{{order?.orderNotes}}</p>
          </div> -->

          <!---time-line--->
          <div class="time-line-area">
            <div class="time-line-title">
              <h3>Timeline</h3>
            </div>
            <div class="timeline-main">
              <ng-container *ngIf="
                  order &&
                  order?.orderStatusTimeline &&
                  order?.orderStatusTimeline.length
                ">
                <ul *ngFor="let data of timelineStatus.reverse(); let i = index">
                  <li>
                    <div class="time-check">
                      <span><i class="fa fa-check"></i></span>
                    </div>
                    <div class="timeline-info">
                      <h3>{{ data?.status }}</h3>
                      <p>Status: {{ data?.sku }} product {{ data?.status }}</p>
                      <p class="date">{{ data?.dateTime | date: "medium" }}</p>
                      <h4>{{ data?.statusNote }}</h4>
                    </div>
                  </li>
                </ul>

                <ul>
                  <li>
                    <div class="time-check">
                      <span><i class="fa fa-check"></i></span>
                    </div>
                    <div class="timeline-info">
                      <h3>{{ "Pending" }}</h3>
                      <p>
                        Thank you for placing for your order at Care me. We will
                        start processing your order after payment is complete -
                        Care me
                      </p>
                      <p class="date">
                        {{ order?.checkoutDate | date: "medium" }}
                      </p>
                      <h4>{{ data?.statusNote }}</h4>
                    </div>
                  </li>
                </ul>
              </ng-container>
              <ng-container *ngIf="order && order?.orderStatusTimeline.length === 0">
                <ul>
                  <li>
                    <div class="time-check">
                      <span class="active-check"><i class="fa fa-check"></i></span>
                    </div>
                    <div class="timeline-info">
                      <h3>{{ "Pending" }}</h3>
                      <p>
                        Thank you for placing for your order at Care me. We will
                        start processing your order after payment is complete -
                        Care me
                      </p>
                      <p class="date">
                        {{ order?.checkoutDate | date: "medium" }}
                      </p>
                      <h4>{{ data?.statusNote }}</h4>
                    </div>
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>

        <!---order-details-left-end-->
        <!---order-details-right-->
        <div class="order-details-right">
          <!---delivery-info-->
          <div class="delivery-info">
            <!--customer-title-->
            <div class="customer-title">
              <h3>Delivery Info</h3>
            </div>
            <!--customer-title-end-->
            <!---delivery-data-->
            <div class="delivery-data">
              <ul>
                <li>
                  <div>
                    <h3>Shipped By:</h3>
                  </div>
                  <div>
                    <span>Pathao</span>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Weight:</h3>
                  </div>
                  <div>
                    <span>2kg</span>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>Cost:</h3>
                  </div>
                  <div>
                    <span>700 TK</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!---delivery-info-end-->

          <!---customer-info-->
          <div class="customer-info-area">
            <!--customer-title-->
            <div class="customer-title">
              <h3>Customer Info</h3>
            </div>
            <!--customer-title-end-->
            <!---customer-info--->
            <div class="customer-info">
              <ul>
                <li>
                  <div class="customer-info-left">
                    <h3>Name:</h3>
                  </div>
                  <div class="customer-info-right">
                    <h4>
                      {{ order?.name }}
                    </h4>
                  </div>
                </li>
                <li>
                  <div class="customer-info-left">
                    <h3>Phone No:</h3>
                  </div>
                  <div class="customer-info-right">
                    <h4>
                      {{order?.phoneNo}}
                    </h4>
                  </div>
                </li>
                <li>
                  <div class="customer-info-left">
                    <h3>Email:</h3>
                  </div>
                  <div class="customer-info-right">
                    <a href="#">{{ order?.email }}</a>
                  </div>
                </li>
                <li>
                  <div class="customer-info-left">
                    <h3>Shipping Address:</h3>
                  </div>
                  <div class="customer-info-right">
                    <h3>{{ order?.shippingAddress }}</h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!---customer-info-end-->

          <!---comment-->
          <div class="customer-comment">
            <div class="customer-title">
              <h3>Comments</h3>
            </div>
            <div class="customer-comment-main">
              <mat-form-field class="form-field" appearance="overlay">
                <textarea rows="5" formControlName="comment" [(ngModel)]="commentEmpty" matInput
                          placeholder="..."></textarea>
              </mat-form-field>
            </div>
            <button (click)="addNewComment()">Add</button>
          </div>
          <!---comment-end-->

          <!---order-confirm-status-->
          <div class="order-confirm-status">
            <!---status-info-->
            <div class="status-info"></div>
            <!---status-info-end-->
            <!---status-info-->
            <div class="status-info" *ngFor="let c of order?.comments.reverse(); let i = index">
              <!--status-check-->
              <div class="status-check" *ngIf="i === 0">
                <span class="active-status"><i class="fa fa-check"></i></span>
              </div>
              <div class="status-check" *ngIf="i !== 0">
                <span><i class="fa fa-check"></i></span>
              </div>
              <!--status-type-->
              <div class="status-type">
                <p class="admin_name">{{ admin?.name }}</p>
                <p class="admin_massage">{{ c }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---order-details-main-area-end-->
    </form>
  </div>
</div>
