<!---deshboard-->
<div class="deshboard">
    <div class="container">
        <div class="deshboard-main">
            <ul nz-menu nzMode="inline" style="width: 240px;">
              <li
                nz-menu-item
                nzTitle="Dashboard"
                routerLink="./summary"
              >Dashboard</li>
              <li
                nz-submenu
                [(nzOpen)]="openMap.sub1"
                (nzOpenChange)="openHandler('sub1')"
                nzTitle="My Account"
              >
                <ul>
                    <li nz-menu-item routerLink="./account">My Account</li>
                    <li nz-menu-item>Notifications</li>
                    <li nz-menu-item>Payment Options</li>
                    <li nz-menu-item>Vouchers</li>
                </ul>
              </li>
              <li
                nz-submenu
                [(nzOpen)]="openMap.sub2"
                (nzOpenChange)="openHandler('sub2')"
                nzTitle="Orders"
              >
                <ul>
                  <li nz-menu-item routerLink="./orders">My Orders</li>
                  <li nz-menu-item routerLink="./my-return">My Return</li>
                  <li nz-menu-item routerLink="./canceled-orders">Canceled Order</li>
                </ul>
              </li>
              <li nz-menu-item routerLink="./reviews">My Reviews</li>
              <li nz-menu-item routerLink="./tickets">Tickets</li>
              <li nz-menu-item routerLink="./setting">Settings</li>
            </ul>
            <!---deshboard-page-render-->
            <div class="deshboard-page-render">
                <!---menu-bar-->
                <div class="menu-bar">
                    <span (click)="sideMenuActive()"><i class="fa fa-bars"></i></span>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
