@import "./../../../theme/client-side-varriables";

.dashboard_main {
  display: flex;
}
.dashboard_menu {
  flex: 1;
}
.dashboard_body {
  flex: 4;
  margin: 20px 0px 0 20px;
}
.desktop_only {
  .profile {
    margin: 20px 0;
    text-align: center;
    .user_thumb {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 100%;
      border: 1px solid #ddd;
      overflow: hidden;
      cursor: pointer;
    }
    h2 {
      font-size: 18px;
      margin: 10px 0 0 0 !important;
    }
  }
  .menu {
    ul {
      border: none;
      li {
        color: #2d2d2d;
      }
      li:hover {
        color: #da5894;
      }
      li:hover div {
        color: #da5894;
      }
      li:hover div span {
        color: #da5894;
      }
    }
  }
}

@media (min-width: 768px) {
  .mobile_only {
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop_only {
    display: none;
  }
  .dashboard_main {
    flex-direction: column;
  }
  .mobile_only {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .md_profile {
    display: flex;
    align-items: center;
    h2 {
      font-size: 14px;
      margin: 0 0 0 15px !important;
    }
    .user_thumb {
      border-radius: 100%;
      overflow: hidden;
      width: 60px;
      height: 60px;
    }
  }
  .dashboard_menu {
    margin: 15px 0 !important;
  }
  .dashboard_body {
    flex: 1;
    margin: 0;
  }
}
