 <!---product-card-one-->
 <div class="product-card-one" [id]="data?._id" [routerLink]="[link]">
    <!---product-img-->
    <div class="card-img">
        <img  [src]="thumbnailImage ? thumbnailImage : '/assets/images/placeholder/test.png'" [alt]="data?.title">
    </div>
    <!---card-body-->
    <div class="card-body">
        <!---card-title-->
        <div class="card-title">
            <a routerLinkActive="router-link-active" >{{data?.name}}</a>
        </div>
        <!---card-title-end-->
        <!--card-price-and-rating-->
        <div class="price-rating">
            <!--price-->
            <div class="price">
                <h3>{{globalPrice | requestPrice: 1: data : globalRate}}TK</h3>
                <!-- <h4><del>{{data?.discount}}</del>-12%</h4> -->
            </div>
            <!---rating-->
            <div class="rating">
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
            </div>
        </div>

    </div>
</div><!---product-card-one-end-->
