<div nz-row [nzGutter]="16">
  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
    <nz-card nzSize="small" nzTitle="Office Address" [nzExtra]="extraTemplate">
      <table style="margin: 0">
        <tr>
          <th style="width: 15%">Name</th>
          <td>Saniul Islam</td>
        </tr>
        <tr>
          <th style="width: 15%">Phone</th>
          <td>01687248923</td>
        </tr>
        <tr>
          <th style="width: 15%">Email</th>
          <td>saniul.cliet@gmail.com</td>
        </tr>
        <tr>
          <th style="width: 15%">Address</th>
          <td>House 186, Lane 2, Dohs Baridhara, Dhaka</td>
        </tr>
      </table>
    </nz-card>
    <ng-template #extraTemplate>
      <a>Edit</a>
    </ng-template>
  </div>
  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
    <nz-card nzSize="small" nzTitle="Home Address" [nzExtra]="extraTemplate">
      <table style="margin: 0">
        <tr>
          <th style="width: 15%">Name</th>
          <td>Saniul Islam</td>
        </tr>
        <tr>
          <th style="width: 15%">Phone</th>
          <td>01687248923</td>
        </tr>
        <tr>
          <th style="width: 15%">Email</th>
          <td>saniul.cliet@gmail.com</td>
        </tr>
        <tr>
          <th style="width: 15%">Address</th>
          <td>House 186, Lane 2, Dohs Baridhara, Dhaka</td>
        </tr>
      </table>
    </nz-card>
    <ng-template #extraTemplate>
      <a>Edit</a>
    </ng-template>
  </div>
</div>

<br />

<div nz-row [nzGutter]="16">
  <div nz-col [nzXs]="{ span: 24 }">
    <nz-card nzSize="default">
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div nz-row>
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <h2>Manage Profile</h2>
            <br />
          </div>

          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <div class="manage_account">
              <div class="account_form">

                <div class="form_group">
                  <div nz-row [nzGutter]="16">
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                      <label>Full Name</label>
                      <br />
                      <input nz-input placeholder="Full Name" formControlName='fullName' />
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                      <label>Phone Number</label>
                      <br />
                      <input nz-input placeholder="01XXXXXXXXX" formControlName='phoneNo' />
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                      <label>E-mail</label>
                      <br />
                      <input nz-input placeholder="you@mail.com" formControlName='email' />
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                      <label>Gender</label>
                      <br />
                      <nz-select ngModel="male" formControlName="gender">
                        <nz-option nzValue="male" nzLabel="Male"></nz-option>
                        <nz-option nzValue="female" nzLabel="Female"></nz-option>
                      </nz-select>
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                      <label>Age</label>
                      <br />
                      <input nz-input placeholder="age" formControlName='age' digitOnly />
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">
                      <label>Zilla</label>
                      <br />
                      <nz-select ngModel="zilla" formControlName='zilla'>
                        <nz-option nzValue="dhaka" nzLabel="dhaka"></nz-option>
                        <nz-option nzValue="chittagong" nzLabel="chittagong"></nz-option>
                      </nz-select>
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">
                      <label>Thana</label>
                      <br />
                      <nz-select ngModel="city" formControlName='city'>
                        <nz-option nzValue="dhaka" nzLabel="dhaka"></nz-option>
                        <nz-option nzValue="gajipur" nzLabel="gajipur"></nz-option>
                      </nz-select>
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">
                      <label>City</label>
                      <br />
                      <nz-select ngModel="thana" formControlName='thana'>
                        <nz-option nzValue="cantonment" nzLabel="cantonment"></nz-option>
                        <nz-option nzValue="gulshan" nzLabel="gulshan"></nz-option>
                      </nz-select>
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">
                      <label for="firstname">Zip Code</label>
                      <br />
                      <input nz-input placeholder="Zip Code" formControlName='zipcode' />
                    </div>
                    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                      <label for="firstname">Address</label>
                      <br />
                      <nz-textarea-count [nzMaxCharacterCount]="100">
                        <textarea rows="1" formControlName="address" placeholder="Address" nz-input></textarea>
                      </nz-textarea-count>
                    </div>
                  </div>
                </div>

              </div>
              <div class="account_image">
                <nz-card style="width: 80%">
                  <div class="entry-thumb">
                    <div nz-row [nzGutter]="16">
                      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                        <img style="width: 200px; height: 200px; border-radius: 100%" [src]="
                            imgPlaceHolder
                              ? imgPlaceHolder
                              : '/assets/images/avatar/user-young.jpg'
                          " />
                      </div>
                      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                        <div class="upload">
                          <div class="link" (click)="profileImagePicker.click()">
                            Upload Image
                          </div>
                          <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)"
                            accept="image/*" />
                        </div>
                      </div>
                    </div>
                  </div>
                </nz-card>
              </div>
            </div>
          </div>
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <button type="submit" class="caremebtn" nz-button nzType="primary" nzSize="large">
              Update Profile
            </button>
          </div>
        </div>
      </form>
    </nz-card>
  </div>
</div>
