<div class="coupons">
    <!---coupon-->
  <div class="coupon" *ngFor="let data of [1,2,3]">
    <!--order-product-left-->
    <div class="coupon-left">
        <div class="coupon-info">
            <h3>CAREME 10</h3>
            <h4>10% off on all products</h4>
        </div>
    </div>
<!--order-product-middle-->
    <div class="coupon-middle">
        <div class="coupon-status-active">
            <button>Active</button>
        </div>
        <div class="coupon-status-expired" style="display: none;">
            <button>Expired</button>
        </div>
  </div>
    <!--order-product-right-->
    <div class="coupon-right">
        <div class="deadline">
            <p>Oct-10-2021</p>
        </div>
    </div>

</div><!---coupon-end-->



</div>
