<div class="entry_cart_page">
  <div class="container">
    <div nz-row [nzGutter]="16">
      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 16 }"
        [nzXXl]="{ span: 17 }"
      >
        <nz-card class="entry_cart_actions" nzSize="small">
          <div class="cart_actions">
            <label
              nz-checkbox
              [(ngModel)]="isCheckedButton"
              [nzDisabled]="isDisabledButton"
            >
              Select all Items
            </label>
            <span
              [style]="isCheckedButton ? 'display: Block' : 'display: None'"
              (click)="deleteUserCartList()"
            >
              <i style="color: #e62e04" class="las la-lg la-trash-alt"></i>
              DELETE ALL
            </span>
          </div>
        </nz-card>
        <nz-card class="single_vendor_cart_main" nzSize="small">
          <ul class="single_vendor_cart">
            <li class="single_vendor">
              <div class="single_vendor-header">
                <label
                  nz-checkbox
                  [(ngModel)]="isCheckedButton"
                  [nzDisabled]="isDisabledButton"
                >
                  Care Me Global
                </label>
              </div>
              <ul class="single_vendor-items">
                <li>
                  <div class="single_vendor-items-check">
                    <label
                      nz-checkbox
                      [(ngModel)]="isCheckedButton"
                      [nzDisabled]="isDisabledButton"
                    >
                    </label>
                  </div>
                  <div class="single_vendor-items-thumb">
                    <img nz-image
                      nzSrc="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/Hdd59afbbb8364c80ba526444dff1dbc8I_1.jpg"
                      alt="Mamun"
                    />
                  </div>
                  <div class="single_vendor-items-details">
                    <h2>Men's Waterproof Breathable Anti Slip Shoe</h2>
                    <div class="single_vendor-items-info">
                      <h4>SKU:987979, Black/32 <i class="las la-edit"></i></h4>
                      <h4>Price: <b>302TK</b>, Tax: <b>15TK</b></h4>
                    </div>
                    <div class="single_vendor-items-offer-info">
                      <h4>
                        <i
                          style="color: #ff9100"
                          class="las la-lg la-coins"
                        ></i>
                        Earn Pts +50
                      </h4>
                      <h4>
                        Estimated Delivery By
                        <span style="color: green">
                          Fri 22 Jul - Sun 24 Jul
                        </span>
                      </h4>
                    </div>
                  </div>
                  <div class="single_vendor-items-price">
                    <div class="single_vendor-items-price-one">
                      <div class="single_vendor-items-quantity">
                        <button nz-button><i class="las la-minus"></i></button>
                        <input type="text" [value]="1" />
                        <button nz-button><i class="las la-plus"></i></button>
                      </div>
                      <h2><span>(100%)</span> 0.00 TK</h2>
                    </div>
                    <div class="single_vendor-items-price-two">
                      <h2>0.00 TK</h2>
                      <span>
                        <i
                          style="color: #e62e04"
                          class="las la-lg la-trash-alt"
                        ></i>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nz-card>
      </div>
      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 8 }"
        [nzXXl]="{ span: 7 }"
      >
        <nz-card class="entry_cart_actions" nzSize="small">
          <div class="order_summary">
            <h2>Order Summary</h2>
            <ul *ngIf="!carts[0]?.requestProduct">
              <li>
                <p>Subtotal (3 items)</p>
                <p>{{ cartNewTotal() }} TK</p>
              </li>
              <li>
                <p>Coupon Code</p>
                <p><span>(-)</span> 50TK</p>
              </li>
              <li>
                <p>Shipping Fee</p>
                <p>120TK</p>
              </li>
              <li>
                <div class="point_main" [(ngModel)]="pointsType">
                  <div class="earn_point">
                    <span>
                      <input type="radio" id="earn" name="point" value="50" />
                      <label for="earn">Earn Points</label>
                    </span>
                    <h4>{{ earnPointsTotal() }} TK</h4>
                  </div>
                  <div class="earn_point">
                    <span>
                      <input type="radio" id="redeem" name="point" value="50" />
                      <label for="redeem">
                        Redeem Points
                        <span style="font-size: 11px; color: #898989">
                          ({{ user?.points }} Available)
                        </span>
                      </label>
                    </span>
                    <h4>{{ redeemPointsTotal() }} TK</h4>
                  </div>
                </div>
              </li>
              <li>
                <nz-divider
                  nzType="horizontal"
                  style="margin: 5px 0"
                ></nz-divider>
              </li>
              <li class="total_amount">
                <h3>Total Amount = {{ cartTotal() }} TK</h3>
              </li>
              <li class="total_advanch">
                <h2>
                  Advance to pay = <span>{{ advanceTotal() }} TK</span>
                </h2>
              </li>
              <li class="order_summary_btn">
                <button
                  *ngIf="this.carts?.length > 0"
                  type="submit"
                  (click)="onContinueToShipping()"
                >
                  PROCEED TO CHECKOUT
                </button>
              </li>
            </ul>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit Option"
  okText="ok"
  cancelText="cancel"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="1000"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzFrontPagination]="false"
      #basicTable
      [nzData]="vCarts[sGI].data"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th *ngFor="let item of basicTable.data[sPI]?.product.variants">
            {{ item }}
          </th>
          <th>Price</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Advance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ basicTable.data[sPI]?.product.name }}</td>
          <td
            *ngFor="
              let variant of basicTable.data[sPI]?.product?.variants;
              let i = index
            "
          >
            <nz-select
              [ngModel]="this.clickActive[i]"
              (ngModelChange)="
                onSelectVariant(
                  basicTable.data[sPI].product,
                  basicTable.data[sPI].product.sku,
                  basicTable.data[sPI]?.product?.variants[i],
                  sPI,
                  i,
                  $event
                )
              "
            >
              <nz-option
                [nzValue]="x"
                [nzLabel]="option"
                *ngFor="
                  let option of getOptions(
                    basicTable.data[sPI]?.product?.options[i]
                  );
                  let x = index
                "
              ></nz-option>
            </nz-select>
          </td>
          <td>{{ selectedVariant?.variantPrice }}</td>
          <td>
            {{
              basicTable.data[sPI]?.product.tax
                ? basicTable.data[sPI]?.product.tax
                : 0
            }}
          </td>
          <td>
            {{
              basicTable.data[sPI]?.product.tax + selectedVariant?.variantPrice
            }}
          </td>
          <td>
            {{
              selectedVariant?.variantQuantity === 0
                ? basicTable.data[sPI]?.product.partialPayment
                : "0"
            }}
          </td>
          <!-- <td>{{data.address}}</td> -->
          <!-- <td>
                                  <a>Action 一 {{data.name}}</a>
                                  <nz-divider nzType="vertical"></nz-divider>
                                  <a>Delete</a>
                                </td> -->
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <span></span>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      [disabled]="disableApplyButton"
      nz-button
      nzType="primary"
      (click)="handleOk(data)"
      [nzLoading]="isConfirmLoading"
    >
      {{ disableApplyButton ? "Out of Stock" : "Apply" }}
    </button>
  </div>
</nz-modal>
