<div class="entry_cart">
  <div class="container">
    <div nz-row [nzGutter]="16">
      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 16 }"
        [nzXXl]="{ span: 17 }"
      >
        <nz-card class="entry_cart_actions" nzSize="small">
          Order item
        </nz-card>
      </div>
      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 8 }"
        [nzXXl]="{ span: 7 }"
      >
        <nz-card class="entry_cart_actions" nzSize="small">
          Order Sammery
        </nz-card>
      </div>
    </div>
  </div>
</div>

<div class="entry_cart">
  <div class="container">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
        <nz-card class="entry_cart_actions" nzSize="small">
          <div class="cart_actions">
            <label
              nz-checkbox
              [(ngModel)]="isCheckedButton"
              [nzDisabled]="isDisabledButton"
            >
              Select all
            </label>
            <span
              [style]="isCheckedButton ? 'display: Block' : 'display: None'"
              (click)="deleteUserCartList()"
            >
              <i style="color: #e62e04" class="las la-lg la-trash-alt"></i>
              DELETE
            </span>
          </div>
        </nz-card>
        <nz-card
          class="entry_cart_actions"
          nzSize="small"
          *ngFor="let group of vCarts; let gi = index"
        >
          <div class="cart_vendor_actions">
            <label nz-checkbox [(ngModel)]="isCheckedButton"> Care Me </label>
          </div>
          <ul>
            <li
              class="cart_single_item"
              *ngFor="let data of group.data; let di = index"
            >
              <div class="product_thumb">
                <label nz-checkbox [(ngModel)]="isCheckedButton"></label>
                <div class="thumb">
                  <img
                    [src]="getThumbImage(data)"
                    [alt]="data.name"
                  />
                </div>
              </div>
              <div class="product_info">
                <div class="product_info_left">
                  <div class="product_info_left_title">
                    <h3>{{ data?.product.name }}</h3>
                    <div
                      class="product_sku_variation"
                      *ngIf="data.product.hasVariant"
                    >
                      <p>
                        SKU :
                        {{
                          data.variant[0]?.variantSku
                            ? data.variant[0].variantSku
                            : data.sku
                        }}, {{ data?.variant[0]?.variant }}
                      </p>
                      <a (click)="showModal(gi, di, data?.variant[0])">
                        <i class="las la-edit"></i>
                      </a>
                    </div>
                    <div
                      class="product_points"
                      *ngIf="data?.product?.canEarnPoints"
                    >
                      <i style="color: #ff9100" class="las la-lg la-coins"></i>
                      <span>
                        <span style="color: #008516ad">
                          +{{
                            data?.product
                              | coin
                                : "earn"
                                : data?.selectedQty
                                : data.variant[0].variantPrice
                          }}
                        </span>
                        <span> / </span>
                        <span style="color: #ff000093">
                          -
                          {{
                            data?.product
                              | coin
                                : "redeem"
                                : data?.selectedQty
                                : data.variant[0].variantPrice
                          }}
                        </span>
                      </span>
                    </div>
                    <h5>
                      Delivery withing
                      {{ data?.deliveryDateFrom | date: "EEE, MMM d" }} -
                      {{ data?.deliveryDateTo | date: "EEE, MMM d" }}
                    </h5>
                  </div>
                </div>
                <div class="mobile_view">
                  <div class="product_info_left_price">
                    <p *ngIf="!data?.requestProduct">
                      {{
                        data?.product
                          | price: "variant":1:data?.variant[0]?.variantPrice
                      }}
                      TK
                    </p>
                    <!-- <p>
                    Tax:
                    {{
                      data?.product?.hasTax
                        ? getTax(data?.product?.tax, data, data?.selectedQty)
                        : "0"
                    }}TK
                  </p> -->
                  </div>
                  <div class="cart_quantity_area">
                    <button
                      nz-button
                      (click)="decrementQty(data?._id, i, data.selectedQty)"
                    >
                      <i class="las la-minus"></i>
                    </button>
                    <input type="text" [value]="data.selectedQty" />
                    <button nz-button (click)="incrementQty(data._id, i)">
                      <i class="las la-plus"></i>
                    </button>
                  </div>
                  <div class="product_info_right_amount">
                    <div class="ammount_area">
                      <h3 class="total_price">{{ cartSubTotal(data) }}TK</h3>
                      <h2 class="total_advanch_price">
                        <span *ngIf="data?.product?.canPartialPayment">
                          <span *ngIf="data?.product?.partialPaymentType === 0">
                            ( {{ data?.product.partialPayment }}Tk )
                          </span>
                          <span *ngIf="data?.product?.partialPaymentType === 1">
                            ( {{ data?.product.partialPayment }}%)
                          </span>
                        </span>
                        {{
                          advanceForSingle(
                            data.product,
                            data.selectedQty,
                            data.variant[0].variantPrice
                          )
                        }}
                        TK
                      </h2>
                    </div>

                    <span
                      class="item_delete"
                      *ngIf="!data?.requestProduct"
                      (click)="
                        onDeleteCartItem(data?._id, data, data?.product._id)
                      "
                    >
                      <i class="las la-trash"></i>
                    </span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nz-card>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">
        <nz-card>
          <div class="order_summary">
            <h2>Order Summary</h2>
            <ul *ngIf="!carts[0]?.requestProduct">
              <li>
                <p>Subtotal (3 items)</p>
                <p>{{ cartNewTotal() }} TK</p>
              </li>
              <li>
                <p>Coupon Code</p>
                <p><span>(-)</span> 50TK</p>
              </li>
              <li>
                <p>Shipping Fee</p>
                <p>120TK</p>
              </li>
              <li>
                <div class="point_main" [(ngModel)]="pointsType">
                  <div class="earn_point">
                    <span>
                      <input type="radio" id="earn" name="point" value="50" />
                      <label for="earn">Earn Points</label>
                    </span>
                    <h4>{{ earnPointsTotal() }} TK</h4>
                  </div>
                  <div class="earn_point">
                    <span>
                      <input type="radio" id="redeem" name="point" value="50" />
                      <label for="redeem">
                        Redeem Points
                        <span style="font-size: 11px; color: #898989">
                          ({{ user?.points }} Available)
                        </span>
                      </label>
                    </span>
                    <h4>{{ redeemPointsTotal() }} TK</h4>
                  </div>
                </div>
              </li>
              <li>
                <nz-divider
                  nzType="horizontal"
                  style="margin: 5px 0"
                ></nz-divider>
              </li>
              <li class="total_amount">
                <h3>Total Amount = {{ cartTotal() }} TK</h3>
              </li>
              <li class="total_advanch">
                <h2>
                  Advance to pay = <span>{{ advanceTotal() }} TK</span>
                </h2>
              </li>
              <li class="order_summary_btn">
                <button
                  *ngIf="this.carts?.length > 0"
                  type="submit"
                  (click)="onContinueToShipping()"
                >
                  PROCEED TO CHECKOUT
                </button>
              </li>
            </ul>
          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="0">
      <div nz-col [nzXs]="{ span: 24 }">
        <a routerLink="/all-products">
          <i class="las la-lg la-long-arrow-alt-left"></i> Return to shop
        </a>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit Option"
  okText="ok"
  cancelText="cancel"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="1000"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzFrontPagination]="false"
      #basicTable
      [nzData]="vCarts[sGI].data"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th *ngFor="let item of basicTable.data[sPI]?.product.variants">
            {{ item }}
          </th>
          <th>Price</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Advance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ basicTable.data[sPI]?.product.name }}</td>
          <td
            *ngFor="
              let variant of basicTable.data[sPI]?.product?.variants;
              let i = index
            "
          >
            <nz-select
              [ngModel]="this.clickActive[i]"
              (ngModelChange)="
                onSelectVariant(
                  basicTable.data[sPI].product,
                  basicTable.data[sPI].product.sku,
                  basicTable.data[sPI]?.product?.variants[i],
                  sPI,
                  i,
                  $event
                )
              "
            >
              <nz-option
                [nzValue]="x"
                [nzLabel]="option"
                *ngFor="
                  let option of getOptions(
                    basicTable.data[sPI]?.product?.options[i]
                  );
                  let x = index
                "
              ></nz-option>
            </nz-select>
          </td>
          <td>{{ selectedVariant?.variantPrice }}</td>
          <td>
            {{
              basicTable.data[sPI]?.product.tax
                ? basicTable.data[sPI]?.product.tax
                : 0
            }}
          </td>
          <td>
            {{
              basicTable.data[sPI]?.product.tax + selectedVariant?.variantPrice
            }}
          </td>
          <td>
            {{
              selectedVariant?.variantQuantity === 0
                ? basicTable.data[sPI]?.product.partialPayment
                : "0"
            }}
          </td>
          <!-- <td>{{data.address}}</td> -->
          <!-- <td>
                                  <a>Action 一 {{data.name}}</a>
                                  <nz-divider nzType="vertical"></nz-divider>
                                  <a>Delete</a>
                                </td> -->
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <span></span>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      [disabled]="disableApplyButton"
      nz-button
      nzType="primary"
      (click)="handleOk(data)"
      [nzLoading]="isConfirmLoading"
    >
      {{ disableApplyButton ? "Out of Stock" : "Apply" }}
    </button>
  </div>
</nz-modal>
