@import "./../../../../theme/client-side-varriables";

.cart_page {
  padding: 15px 0;
}
.cart_single_vendor,
.cart_page_actions {
  margin-bottom: 15px;
}
.cart_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.cart_single_vendor-head {
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px 0;
}
ul.cart_vendor-items {
  margin: 15px 0 0 0;
}
li.cart_vendor_single-items {
  list-style: none;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
li.cart_vendor_single-items:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.cart_single_vendor-items-price {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  .items-quantity {
    display: flex;
    align-items: center;
    input {
      width: 35px;
      text-align: center;
      border: none;
      font-size: 16px;
    }
    button {
      width: 25px;
      height: 25px;
      font-size: 14px;
    }
  }
  .trash_item {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: rgb(226, 226, 226);
    cursor: pointer;
    border-radius: 100%;
    line-height: 32px;
    text-align: center;
    display: none;
    float: right;
    transition: 0.3s;
    i {
      font-size: 18px;
      color: #ff0000;
    }
  }
}
.cart_vendor_single-items:hover {
  .trash_item {
    display: block;
  }
}
.vendor-items-total_price {
  width: 42%;
}
.total-price,
.advanch-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  h3 {
    min-width: 60px;
    text-align: right;
  }
}
.advanch-price {
  h3 {
    color: #ff8100;
  }
}

.cart_single_vendor-items-details {
  width: 50%;
}
.cart_single_vendor-items-details {
  display: flex;
  align-items: baseline;
  .items-thumb {
    display: flex;
    align-items: flex-start;
    img {
      width: 80px;
      margin: 0 10px;
    }
  }
  .items-details {
    h2 {
      font-size: 16px;
      font-weight: 400;
      color: #1e1e1e;
      line-height: 24px;
      margin-bottom: 10px !important;
    }
  }
}
.cart_page_summary {
  h2 {
    margin-bottom: 20px !important;
  }
  ul {
    li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
    }
  }
}
.point_main {
  width: 100%;
  .earn_point {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input {
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
  }
  span > label {
    margin-left: 5px !important;
    cursor: pointer;
    display: flex;
    span {
      margin-left: 5px !important;
    }
  }
}
.order_summary_action_btn {
  text-align: center;
  h3 {
    padding: 10px 15px;
    background: #fffaed;
    border: 2px dashed #ffe5a4;
    color: #2d2d2d;
    font-size: 16px;
    margin-bottom: 15px !important;
    font-weight: 300;
    span {
      color: #ff8100;
      font-weight: 600;
    }
  }
  .order_summary_btn {
    width: 100%;
    height: 50px;
    background: #db5791;
    border: 1px solid #db5791;
    color: #fff;
    font-size: 16px;
    position: relative;
    transition: 0.3s;
    i {
      position: absolute;
      right: 0;
      transform: translate(10%, 20%);
      animation: nextmove 2s infinite;
    }
  }
  .order_summary_btn:hover {
    background: #1c871b;
    border: 1px solid #1c871b;
  }
  @keyframes nextmove {
    from {
      right: 20%;
      opacity: 0;
    }
    to {
      right: 10%;
      opacity: 1;
    }
  }
}
.coupon_code {
  width: 100%;
  height: 40px;
  margin-bottom: 15px !important;
  input {
    width: 70%;
    height: 100%;
    padding: 15px;
    border: 1px solid #ddd;
  }
  button {
    width: 30%;
    height: 100%;
  }
}
.total_advanch h2,
.total_amount h3 {
  text-align: right;
  width: 100%;
}
.deskoff {
  display: none;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .moboff {
    display: none;
  }
  .deskoff {
    display: block;
  }
  .items-thumb {
    img {
      width: 80px !important;
    }
  }
  li.cart_vendor_single-items {
    flex-direction: column;
  }
  .cart_vendor_single-items .vendor-items-total-price {
    .trash_item {
      display: block;
    }
  }
  .cart_single_vendor-items-price {
    width: 100%;
    margin-top: 10px;
    margin-left: 0%;
  }
  .cart_single_vendor-items-details {
    width: 100%;
  }
  .cart_single_vendor-items-details {
    .items-details {
      h2 {
        font-size: 14px !important;
        line-height: 20px !important;
        margin-bottom: 0px !important;
      }
    }
  }
  .cart_single_vendor-items-price {
    flex-direction: row-reverse;
    div#mb1 {
      order: 1;
      -webkit-order: 1;
      margin-left: 8%;
    }
    div#mb2 {
      order: 2;
      -webkit-order: 2;
    }
    div#mb3 {
      order: 3;
      -webkit-order: 3;
    }
  }
  .total-price,
  .advanch-price {
    h3 {
      min-width: 0px;
      margin-left: 5px !important;
    }
  }
  .deskoff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #dddddd82;
    border-bottom: 1px solid #dddddd82;
    .advanch-price {
      background: #e9e9e9;
      padding: 5px;
      clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
      width: 50%;
      flex-direction: column;
      span {
        font-size: 12px;
      }
      h3 {
        color: #ff8100;
      }
    }
    .trash_item {
      text-align: center;
      width: 10%;
    }
  }
  .items-quantity {
    button {
      width: 25px;
      height: 25px;
      font-size: 14px;
    }
  }
  .unit_charge {
    display: flex;
    align-items: center;
  }
  .unit_charge p:nth-child(1) {
    margin-right: 50px !important;
  }
}
