<!-- New Design Cart -->
<div class="cart_page">
  <div class="container">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 17 }">
        <nz-card class="cart_page_actions" nzSize="small">
          <div class="cart_actions">
            <label
              nz-checkbox
              [(ngModel)]="isCheckedButton"
              [nzDisabled]="isDisabledButton"
            >
              Select all Items
            </label>
            <span
              [style]="isCheckedButton ? 'display: Block' : 'display: None'"
              (click)="deleteUserCartList()"
            >
              <i style="color: #e62e04" class="las la-lg la-trash-alt"></i>
              DELETE
            </span>
          </div>
        </nz-card>
        <nz-card
          class="cart_single_vendor"
          nzSize="small"
          *ngFor="let group of vCarts; let gi = index"
        >
          <div class="cart_single_vendor-head">
            <label nz-checkbox [(ngModel)]="isCheckedButton"> Care Me </label>
          </div>
          <ul class="cart_vendor-items">
            <li
              class="cart_vendor_single-items"
              *ngFor="let data of group.data; let di = index"
            >
              <div class="cart_single_vendor-items-details">
                <div class="items-thumb">
                  <label nz-checkbox [(ngModel)]="isCheckedButton"></label>
                  <img
                    nz-image
                    [nzSrc]="getThumbImage(data)"
                    [alt]="data.product?.name"
                  />
                </div>
                <div class="items-details">
                  <h2>
                    {{ data?.product.name }}
                    ( Balck / 23
                    <i
                      (click)="showModal(gi, di, data?.variant[0])"
                      class="las la-lg la-edit"
                    ></i>
                    )
                  </h2>
                  <div class="items-details_info">
                    <div
                      class="product_point"
                      *ngIf="data?.product?.canEarnPoints"
                    >
                      <p>
                        <i
                          style="color: #ff9100"
                          class="las la-lg la-coins"
                        ></i>
                        <span style="color: #016d01">
                          {{
                            data?.product
                              | coin
                                : "earn"
                                : data?.selectedQty
                                : data.variant[0].variantPrice
                          }}
                        </span>
                        <span> / </span>
                        <span style="color: #ff7300">
                          {{
                            data?.product
                              | coin
                                : "redeem"
                                : data?.selectedQty
                                : data.variant[0].variantPrice
                          }}
                        </span>
                      </p>
                    </div>
                    <div class="delivery_time">
                      <p>
                        <i class="las la-shipping-fast"></i>
                        <span style="color: #0e00d3">
                          {{ data?.deliveryDateFrom | date: "EEE, MMM d" }}
                          -
                          {{ data?.deliveryDateTo | date: "EEE, MMM d" }}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cart_single_vendor-items-price">
                <div id="mb2" class="vendor-items-price">
                  <div class="unit_charge">
                    <p>
                      Price:
                      {{
                        data?.product
                          | price: "variant":1:data?.variant[0]?.variantPrice
                      }}
                      TK
                    </p>
                    <p>
                      Tax:
                      {{
                        data?.product?.hasTax
                          ? getTax(data?.product?.tax, data, data?.selectedQty)
                          : "0"
                      }}
                      TK
                    </p>
                  </div>
                </div>
                <div id="mb1" class="vendor-items-qt">
                  <div class="items-quantity">
                    <button
                      nz-button
                      (click)="decrementQty(data?._id, i, data.selectedQty)"
                    >
                      <i class="las la-minus"></i>
                    </button>
                    <input nz-input [value]="data.selectedQty" />
                    <button nz-button (click)="incrementQty(data._id, i)">
                      <i class="las la-plus"></i>
                    </button>
                  </div>
                </div>
                <div id="mb3" class="moboff vendor-items-total_price">
                  <div class="advanch-price">
                    <span>({{ data?.product.partialPayment }}% Advanch)</span>
                    <h3>
                      {{
                        advanceForSingle(
                          data.product,
                          data.selectedQty,
                          data.variant[0].variantPrice
                        )
                      }}
                      TK
                    </h3>
                  </div>
                  <div class="total-price">
                    <span>Total:</span>
                    <h3>{{ cartSubTotal(data) }} TK</h3>
                  </div>
                  <div
                    class="trash_item"
                    (click)="
                      onDeleteCartItem(data?._id, data, data?.product._id)
                    "
                  >
                    <i class="las la-lg la-trash-alt"></i>
                  </div>
                </div>
              </div>
              <div class="deskoff">
                <div
                  class="trash_item"
                  (click)="onDeleteCartItem(data?._id, data, data?.product._id)"
                >
                  <i class="las la-lg la-trash-alt"></i>
                </div>
                <div class="advanch-price">
                  <span>({{ data?.product.partialPayment }}% Advanch)</span>
                  <h3>{{ data?.product.partialPayment }} TK</h3>
                </div>
                <div class="total-price">
                  <span>Total:</span>
                  <h3>
                    {{
                      advanceForSingle(
                        data.product,
                        data.selectedQty,
                        data.variant[0].variantPrice
                      )
                    }}
                    TK
                  </h3>
                </div>
              </div>
            </li>
          </ul>
        </nz-card>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-card nzSize="small">
          <div class="cart_page_summary">
            <h2>Order Summary</h2>
            <div class="coupon_code">
              <input type="text" nz-input placeholder="Use coupon code" />
              <button type="submit" nz-button>Apply</button>
            </div>
            <ul *ngIf="!carts[0]?.requestProduct">
              <li>
                <p>Subtotal ({{ carts?.length }} items)</p>
                <p>{{ cartNewTotal() }} TK</p>
              </li>
              <li>
                <p>
                  Coupon Code
                  <span style="font-size: 12px; color: #898989">
                    ( <i class="las la-lg la-tags"></i> CAREME15 )
                  </span>
                </p>
                <p style="color: #ff0000c7">(-) 50 TK</p>
              </li>
              <li>
                <p>Shipping Cost</p>
                <p>120 TK</p>
              </li>
              <li>
                <nz-radio-group
                  nzName="radiogroup"
                  class="point_main"
                  [(ngModel)]="pointsType"
                >
                  <div class="earn_point">
                    <label nz-radio id="earn" nzValue="A"> Earn Points </label>
                    <h4>{{ earnPointsTotal() }} TK</h4>
                  </div>
                  <div class="earn_point">
                    <div class="redeems">
                      <label nz-radio id="redeem" nzValue="B">
                        Redeem Points
                        <span style="font-size: 12px; color: #898989">
                          ( {{ user?.points }} available )
                        </span>
                      </label>
                    </div>
                    <h4 style="color: #ff0000c7">
                      (-) {{ redeemPointsTotal() }} TK
                    </h4>
                  </div>
                </nz-radio-group>
              </li>
              <li>
                <nz-divider
                  nzType="horizontal"
                  style="margin: 5px 0"
                ></nz-divider>
              </li>
              <li class="total_amount">
                <h3>Total Amount = {{ cartTotal() }} TK</h3>
              </li>
            </ul>
          </div>
          <div
            class="order_summary_action_btn"
            [formGroup]="dataForm"
            (ngSubmit)="setUserOrderText()"
          >
            <h3 class="total_advanch">
              Advance to pay = <span> {{ advanceTotal() }} TK</span>
            </h3>
            <button
              class="order_summary_btn"
              type="submit"
              *ngIf="this.carts?.length > 0"
              (click)="onContinueToShipping()"
            >
              PROCEED TO CHECKOUT
              <i class="las la-lg la-long-arrow-alt-right"></i>
            </button>
          </div>
        </nz-card>
      </div>
    </div>

    <div nz-row [nzGutter]="0">
      <div nz-col [nzXs]="{ span: 24 }">
        <a
          routerLink="/all-products"
          style="display: inline-block; color: #2d2d2d"
        >
          <i class="las la-lg la-long-arrow-alt-left"></i> Return to shop
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Variation Edit Popup Modal -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit Option"
  okText="ok"
  cancelText="cancel"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="1000"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzFrontPagination]="false"
      #basicTable
      [nzData]="vCarts[sGI].data"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th *ngFor="let item of basicTable.data[sPI]?.product.variants">
            {{ item }}
          </th>
          <th>Price</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Advance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ basicTable.data[sPI]?.product.name }}</td>
          <td
            *ngFor="
              let variant of basicTable.data[sPI]?.product?.variants;
              let i = index
            "
          >
            <nz-select
              [ngModel]="this.clickActive[i]"
              (ngModelChange)="
                onSelectVariant(
                  basicTable.data[sPI].product,
                  basicTable.data[sPI].product.sku,
                  basicTable.data[sPI]?.product?.variants[i],
                  sPI,
                  i,
                  $event
                )
              "
            >
              <nz-option
                [nzValue]="x"
                [nzLabel]="option"
                *ngFor="
                  let option of getOptions(
                    basicTable.data[sPI]?.product?.options[i]
                  );
                  let x = index
                "
              ></nz-option>
            </nz-select>
          </td>
          <td>{{ selectedVariant?.variantPrice }}</td>
          <td>
            {{
              basicTable.data[sPI]?.product.tax
                ? basicTable.data[sPI]?.product.tax
                : 0
            }}
          </td>
          <td>
            {{
              basicTable.data[sPI]?.product.tax + selectedVariant?.variantPrice
            }}
          </td>
          <td>
            {{
              selectedVariant?.variantQuantity === 0
                ? basicTable.data[sPI]?.product.partialPayment
                : "0"
            }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <span></span>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      [disabled]="disableApplyButton"
      nz-button
      nzType="primary"
      (click)="handleOk(data)"
      [nzLoading]="isConfirmLoading"
    >
      {{ disableApplyButton ? "Out of Stock" : "Apply" }}
    </button>
  </div>
</nz-modal>
