
<div>
  <img src="assets/svg/logo_pink.svg" alt="logo">
  <div *ngIf="!showOtpSection">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmitForm()" autocomplete="off">
      <div class="input-field">
        <mat-form-field class="c-mat-field" >
          <mat-label>Mobile Number</mat-label>
          <span matPrefix>+880 &nbsp;</span>
          <input matInput formControlName="phoneNo" type="tel" digitOnly
                 [minLength]="10"
                 [maxLength]="11">
          <!-- <mat-icon matSuffix>call</mat-icon> -->
          <mat-error>Please enter a valid mobile Number</mat-error>
        </mat-form-field>
      </div>
      <div class="action">
        <mat-checkbox>Remember Device</mat-checkbox>
        <button mat-raised-button type="submit">Login</button>
      </div>
    </form>
  </div>
  <div *ngIf="showOtpSection" class="code-area">
    <form [formGroup]="verificationForm">
      <div >
        <mat-form-field class="verify-input-field" appearance="outline">
          <input matInput type="text" id="code1"
                 (keyup)="nextStep($event,1)"
                 (focus)="focused(1)" formControlName="code1"
                 maxlength="1"
                 (paste)="paste($event)" autofocus>
        </mat-form-field>

        <mat-form-field class="verify-input-field" appearance="outline">
          <input matInput type="text" id="code2" (keyup)="nextStep($event,2)"
                 (focus)="focused(2)" formControlName="code2" maxlength="1">
        </mat-form-field>

        <mat-form-field class="verify-input-field" appearance="outline">
          <input matInput type="text" id="code3" (keyup)="nextStep($event,3)"
                 (focus)="focused(3)" formControlName="code3" maxlength="1">
        </mat-form-field>

        <mat-form-field class="verify-input-field" appearance="outline">
          <input matInput type="text" id="code4" (keyup)="nextStep($event,4)"
                 (focus)="focused(4)" formControlName="code4" maxlength="1">
        </mat-form-field>
      </div>

      <!--****** verification-timing-area *******-->
      <div class="verification-timing-area" [fxHide]="countDown === 0">
        <h3><span><i class="fa fa-clock"></i></span>{{countDown | numMinDigit}} seconds</h3>
      </div>


      <div  >
        <button type="button" fxHide [fxShow]="countDown <= 0"  mat-raised-button color="accent" (click)="resendLoginCode()">Resent</button>
      </div>

    </form>
  </div>
</div>
