<!---order-header-area-->
<div class="page-header">
  <h2>Abandoned Checkouts</h2>
</div>
<div class="table-samary">
  <nz-card nzSize="small">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form #searchForm="ngForm">
            <input #searchInput nz-input autocomplete="off" required />
          </form>
          <ul>
            <li>
              <nz-range-picker
                [(ngModel)]="datePicker"
                (ngModelChange)="onChange($event)"
              ></nz-range-picker>
            </li>
            <li>
              <button nz-button type="default">
                Recovery Status <i class="las la-angle-down"></i>
              </button>
            </li>
            <li>
              <button nz-button type="default">
                Sort <i class="las la-sort"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="table-data-area">
          <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            nzSize="small"
          >
            <thead>
              <tr>
                <th
                  [nzSelections]="listOfSelection"
                  [(nzChecked)]="checked"
                  [nzIndeterminate]="indeterminate"
                  (nzCheckedChange)="onAllChecked($event)"
                  nzWidth="50px"
                ></th>
                <th>Checkout ID</th>
                <th>Placed By</th>
                <th>Recovery Status</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionTable.data">
                <td
                  [nzChecked]="setOfCheckedId.has(data.id)"
                  (nzCheckedChange)="onItemChecked(data.id, $event)"
                ></td>
                <td>Checkout ID</td>
                <td>Placed By</td>
                <td>Recovery Status</td>
                <td>Total</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
