<!---order-header-area-->
<div class="order-header-area">
  <div class="order-header-main">
      <!---order-header-top-->
      <div class="order-header-top">
          <!---order-title-->
          <div class="order-title">
              <h3>Abandoned Cart</h3>
          </div>
          <!---order-btn-area-->
          <div class="order-btn-area">
              <ul>
                  <li><button>Import</button></li>
                  <li><button>Export</button></li>
                  <li><button class="active-btn">Create Order</button></li>
                  <!-- <li><button (click)="picker.open()">Date<i class="fa fa-caret-down"></i></button></li> -->
                  <!-- <li><button [matMenuTriggerFor]="sort">Sort<i class="fa fa-caret-down"></i></button></li> -->

                </ul>
          </div>
      </div>

  </div>
</div>
<!---table-area-->
<div class="order-table-area">
<!---table-area-header-->
<div class="order-table-area-header">
  <!---table-menu-->
  <div class="table-menu">
    <ul>
      <li><button class="menu-active">All</button></li>
    </ul>
  </div>

  <div class="table-area-header-bottom">
    <!--left-->
    <div class="table-area-header-bottom-left">
    <!--order-search-->
    <form class="search-form" >
    <!--order-search-->
          <div class="order-search">
              <button><i class="fa fa-search"></i></button>
              <input type="text" value="" placeholder="Search">
          </div>
    </form>

    </div>
    <!---right-->
    <div class="table-area-header-bottom-right">
      <!--status-->
      <div class="status-btn">
        <ul>
          <li><button><i class="fa fa-calendar"></i> Date</button></li>
          <li><button><i class="fa fa-angle-down"></i> Status</button></li>
          <li><button><i class="fa fa-angle-down"></i> Vendor</button></li>
        </ul>
      </div>
      <!--filter-->
      <div class="filter">
        <ul>
          <li><button><i class="fa fa-angle-down"></i> Filter</button></li>
          <li><button><i class="fa fa-angle-down"></i> Sort</button></li>
        </ul>
        <div class="dots">
          <button><i class="fa-solid fa-ellipsis"></i></button>
        </div>
      </div>
      <!--dots-->
    </div>
  </div>
</div>

  <div class="order-table-main">
      <!---table-->
      <div class="table">
          <!---table-head-->
          <div class="table-head">
              <!---table-row-->
              <div class="table-row">
                  <div class="table-heading check">
                      <mat-checkbox class="mat-check"></mat-checkbox>
                  </div>
                  <div class="table-heading id">
                      <h3>Abandoned ID</h3>
                  </div>
                  <div class="table-heading date">
                      <h3>Date & Time</h3>
                  </div>
                  <div class="table-heading item">
                      <h3>Customer Name</h3>
                  </div>
                  <div class="table-heading amount">
                      <h3>Amount</h3>
                  </div>
                  <div class="table-heading amount">
                      <h3>Quantity</h3>
                  </div>
                  <div class="table-heading vendor">
                      <h3>Vendor</h3>
                  </div>
                  <div class="table-heading order-status">
                      <h3>Status</h3>
                  </div>

                  <div class="table-heading note">
                      <h3>Notes</h3>
                  </div>
              </div>
          </div>
          <!----table-body-->
          <div class="table-body">
              <div class="table-row" *ngFor="let data of abandonedData">
                  <div class="table-data check">
                      <mat-checkbox class="mat-check"></mat-checkbox>
                  </div>
                  <div class="table-data id">
                      <span [routerLink]="['../../','abandoned-cart-details', data._id ]">{{data.abandonedId}}</span>
                  </div>
                  <div class="table-data date">
                      <!-- <h3>Today</h3> -->
                      <!-- <h3>12:20 PM</h3> -->
                      <h3>{{data.createdAt | date}}</h3>
                  </div>
                  <div class="table-data item">
                      <span>{{data.user.fullName}} </span>
                      <!-- <i class="fa fa-check-circle"></i> -->
                  </div>
                  <div class="table-data amount">
                      <h3>{{data?.variant[0]?.variantPrice}}</h3>
                  </div>
                  <div class="table-data amount">
                      <h3>{{data.selectedQty}}</h3>
                  </div>
                  <div class="table-data vendor">
                      <button>Care Me</button>
                  </div>
                  <div class="table-data order-status">
                      <mat-form-field appearance="outline" class="form-field">
                          <mat-label>Select</mat-label>
                          <mat-select>
                            <mat-option value="01">Pending</mat-option>
                            <mat-option value="02">Recovered</mat-option>
                            <mat-option value="03">Follow Up Send</mat-option>
                            <mat-option value="04">Cancel</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="table-data note">
                      <span><i class="fa-solid fa-file-lines"></i></span>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <!---indicator-->
  <div class="indicator">
      <ul>
          <li><button><i class="fa fa-angle-left"></i></button></li>
          <li><button><i class="fa fa-angle-right"></i></button></li>
      </ul>
  </div>
</div>


