<div class="page-header">
  <h2>All Zone</h2>
  <div class="header-action">
    <button class="create_btn" [routerLink]="['add-city']">
      <i class="las la-plus"></i>
      Add New Zone
    </button>
  </div>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col nzXs="24" nzSm="12" nzMd="8" class="gutter-row"  *ngFor="let data of city; let thanaIndex=index">
    <div class="inner-box" >
      <nz-collapse>
        <nz-collapse-panel
        [nzExtra]="extraTpl"
          [nzHeader]="data?.name"
          [nzActive]="data?.active"
          [nzDisabled]="data?.disabled"
        >
          <ul class="list">
            <li *ngFor="let thana of thanas[thanaIndex]">
              {{thana?.name}} (H,C,P)
            </li>
          </ul>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #extraTpl>
        <span nz-icon nzType="edit" [routerLink]="['edit-city', data._id]"></span>
        <span nz-icon nzType="delete" (click)="showDeleteConfirm(data._id)"></span>
      </ng-template>
    </div>
  </div>
</div>
