<div class="invoice">
  <div class="invoice_header">
    <mat-icon [routerLink]="['../../', 'all-invoice']">
      keyboard_backspace
    </mat-icon>
    <div class="invoice_header_content">
      <h1>{{ invoice?.invoiceId }}</h1>
      <p>{{ invoice?.invoiceDate | date }}</p>
    </div>
  </div>
  <!-- invoice body html  -->
  <div class="invoice_body">
    <div class="invoice_buttons">
      <ul>
        <li><button>Write Off</button></li>
        <li><button (click)="generatePDF()">Pdf/Print</button></li>
        <li><button>Record Payment</button></li>
        <li><button (click)="createReturnButton()">Return</button></li>
        <li><button>Refund</button></li>
      </ul>
    </div>

    <div class="invoice_horizontal_line"></div>

    <div class="invoice_chackout_table">
      <div class="invoice_dropdown">
        <div class="invoice_item">
          <h3 class="IVN_code_content">{{ invoice?.invoiceId }}</h3>
          <p>25 Dec 2021</p>
        </div>
        <div class="invoice_item">
          <h3 class="paid_content" *ngIf="invoice?.shippingStatus">Paid</h3>
        </div>
        <div class="invoice_item">
          <h3>Balance</h3>
          <p><span>BDT 00</span>{{ invoice?.invoiceDate | date }}</p>
        </div>
        <div class="invoice_item">
          <h3>Amount</h3>
          <p>
            <span>BDT 0</span>
          </p>
        </div>
        <div class="invoice_item">
          <span><i class="fa-solid fa-bars"></i></span>
        </div>
      </div>

      <div class="main_invoice_checkout_table" id="invoice">
        <div class="invoice_logo_header">
          <div class="invoice_logo_header_left">
            <div class="invoice_careme_logo">
              <img src="../../../../../assets/images/logo/logo.png" alt="Care Me Logo" />
            </div>
            <div class="invoice_careme_logo_content">
              <h4>Care Me Global</h4>
              <p>Support: 0118375298954</p>
              <p>
                Suit#1402 (Lift #14) Navana D.H Tower, Karwan Bazar, Dhaka 1215
              </p>
            </div>
          </div>
          <div class="invoice_logo_header_right">
            <h1>{{ invoice?.invoiceId }}</h1>
            <p class="invoice_balance">Balance Due</p>
            <p class="invoie_bdt">BDT{{ invoice?.subTotal + 120 }}</p>
          </div>
        </div>

        <!-- bill to field  -->
        <div class="invoice_bill_to_field">
          <div class="bill_to_left">
            <div><span class="shipping-title">Shipping Address</span></div>
            <div><span> Name : &nbsp; </span> {{ invoice?.customerName }}</div>
            <div><span> Phone : &nbsp; </span> {{ invoice?.phoneNo }}</div>
            <div><span> Email : &nbsp; </span> {{ invoice?.email }}</div>
            <div>
              <span> Address : &nbsp; </span> {{ invoice?.shippingAddress }}
            </div>
          </div>
          <div class="bill_to_right">
            <div class="invoice_date_field">
              <h4>Invoice Id:</h4>
              <p>{{ invoice?.invoiceId }}</p>
            </div>
            <div class="invoice_date_field">
              <h4>Invoice Date:</h4>
              <p>{{ invoice?.invoiceDate | date }}</p>
            </div>
            <div class="invoice_date_field">
              <h4>Order Number:</h4>
              <p>{{ invoice?.orderNumber }}</p>
            </div>
            <div class="invoice_date_field">
              <h4>Sales Person:</h4>
              <p>Anisul Islam</p>
            </div>
            <div class="invoice_date_field">
              <h4>Shipping Carrier</h4>
              <p>{{ invoice?.shippingCarrier }}</p>
            </div>
          </div>
        </div>

        <div class="shipped_table">
          <table>
            <thead>
              <tr>
                <th class="items_middle">#</th>
                <th class="items_left">Items & Description</th>
                <th class="items_right">Qty</th>
                <th class="items_right">Rate</th>
                <th class="items_right">Tax</th>
                <!-- <th class="items_right">Discount</th> -->
                <th class="items_right">Amount</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let data of invoice.products; let i = index">
                <!-- {{data | json}} -->
                <td class="items_middle">{{ i + 1 }}</td>
                <td class="items_left">
                  <div>{{ data?.name }}</div>
                  <span>{{ data?.variant }} </span>
                  <br />
                  <span>SKU: {{ data?.sku }}</span>
                </td>
                <td class="items_right">{{ data?.quantity }}</td>
                <td class="items_right">{{ data?.price }}TK</td>
                <td class="items_right">{{ data?.tax }}</td>
                <!-- <td class="items_right">{{data.discount}}</td> -->
                <td class="items_right">
                  {{ (data?.price + data?.tax) * data?.quantity }}TK
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table_horizontal_line"></div>

        <div class="sub_total_right">
          <div class="main_sub_total_content">
            <div class="sub_total_content">
              <h5>Sub Total</h5>
              <p>{{ invoice?.subTotal }}</p>
            </div>
            <div class="sub_total_content">
              <h5>Discount</h5>
              <p class="payment_red">(-) 0</p>
            </div>
            <div class="sub_total_content">
              <h5>Adjustments</h5>
              <p>(-) 0</p>
            </div>
            <div class="sub_total_content">
              <h5>Shipping Charge</h5>
              <p>120TK</p>
            </div>
          </div>
          <div class="balance_due_content">
            <h5>Total</h5>
            <p>BDT{{ invoice?.subTotal + 120 }}</p>
          </div>
        </div>

        <div class="invoice_notes">
          <h4>Terms & Conditions</h4>
          <div>- Product can not be refunded after package is opened</div>
          <div>- Shipping Charge Must Be paid if the order is returned</div>
          <div>
            - We offer free replacement if the order is faulty/defective
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!---create-return-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create Return" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div class="return">
      <div class="box">
        <h4>Refund Eligibility</h4>
        <label nz-checkbox [(ngModel)]="checked" (click)="changeEligibility()">Yes</label>
      </div>
      <div class="box">
        <h4>Reason</h4>
        <nz-select placeholder="Select option">
          <nz-option nzValue="damage" nzLabel="Product Damage "></nz-option>
          <nz-option nzValue="mismatch" nzLabel="Quantity Mismatch"></nz-option>
          <nz-option nzValue="quality" nzLabel="Product Quality Issue"></nz-option>
          <nz-option nzValue="late" nzLabel="Late delivery"></nz-option>
          <nz-option nzValue="mind_change" nzLabel="Change of mind"></nz-option>
        </nz-select>
      </div>
      <div class="box">
        <h4>Upload Image</h4>
        <div class="field">
          <button type="button" nz-button (click)="imagePicker.click()">
            <span nz-icon nzType="upload"></span>
            Click to Upload
          </button>
          <p *ngIf="this.url" class="upload-text">{{this.file.name}}</p>
          <input [hidden]="true" #imagePicker type="file" (change)="fileChangeEvent($event)" accept="image/* | video/*"
            multiple />
        </div>
      </div>

    </div>
    <div *ngIf="checked" class="return">
      <div class="box">
        <h4>Payment By</h4>
        <nz-select [(ngModel)]="paymentBy">
          <nz-option nzValue="damage" nzLabel="Same as Payment" selected></nz-option>
          <nz-option nzValue="mismatch" nzLabel="Others"></nz-option>
        </nz-select>
      </div>
      <div class="box">
        <h4>Payment Options</h4>
        <nz-select [(ngModel)]="paymentOption" placeholder="Payment Method">
          <nz-option nzValue="bkash" nzLabel="Bkash" selected></nz-option>
          <nz-option nzValue="rocket" nzLabel="Rocket"></nz-option>
          <nz-option nzValue="visa" nzLabel="Visa/Master"></nz-option>
        </nz-select>
      </div>
      <div class="box">
        <h4>Phone</h4>
        <input nz-input [(ngModel)]="phone" type="text" placeholder="01X-XXX-XXXX">
      </div>
    </div>
    <form>
      <nz-table #return [nzLoading]="loading" [nzData]="returnProducts" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Name</th>
            <th>Varaint</th>
            <th>SKU</th>
            <th>quantity</th>
            <th>price</th>
            <th>tax</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of return.data">
            <td>{{data.name}}</td>
            <td>{{data.variant}}</td>
            <td>{{data.sku}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.price}}</td>
            <td>{{data.tax}}</td>
          </tr>
        </tbody>
      </nz-table>
    </form>
  </ng-container>
</nz-modal>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner></ngx-spinner>
