<form [formGroup]="dataForm">

  <!--order-details-->
  <div class="order-details-container">
    <!---order--details-page-title-->
    <div class="order-details-page-title">
      <h3>Request Details</h3>
    </div>

    <!---order-details-main-area-->
    <div class="order-details-main">
      <!---order-details-left-->
      <div class="order-details-left">
        <!---order-details-left-top-->
        <div class="order-details-left-top">
          <!---req-id-title-->
          <div class="req-id-title">
            <h3>Request ID:</h3>
            <h4>{{order?.orderId}}</h4>
            <span>{{order?.checkoutDate | date}}</span>
          </div>
          <!--write-note-->
          <div class="write-note">
            <!---status-btn-->
            <mat-form-field appearance="overlay" class="status-btn">
              <mat-label>Status </mat-label>
              <mat-select formControlName="selected" (selectionChange)="onOrderStatusChange()">
                <mat-option *ngFor="let data of productOrderStatus" [value]="data.value">
                  {{data.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!---add-note-->
            <div class="add-note">
              <!--add-note-input-->
              <div class="add-note-input">
                <input type="text" value="" name="" placeholder="Write a note for customer">
              </div>
              <!--note-add-btn-->
              <div class="note-add-btn">
                <button>add</button>
              </div>
            </div>
          </div>
        </div>
        <!---order-details-left-top-end-->
        <!---order-details-table-area-->
        <!---order-table-->
        <div class="order-table">
          <table>
            <!---table-head-->
            <thead>
              <tr>
                <!-- <th class="check">
                              <mat-checkbox ></mat-checkbox>
                            </th> -->
                <th class="check">Select</th>
                <th class="si">SI</th>
                <th class="item">Item Name</th>
                <th class="quantity">Quantity</th>
                <th class="price">Unit Price</th>
                <th class="amount">Amount</th>
                <th class="order-status">Status</th>
              </tr>
            </thead>
            <!---table-body-area-->
            <tbody>
              <!---data-row-->
              <tr *ngFor="let data of products; let i=index">
                <td class="check">
                  <mat-checkbox (click)="onCheckChange(i)"></mat-checkbox>
                </td>
                <td class="si">
                  <span>{{i+1}}</span>
                </td>
                <td class="item">
                  <div class="product">
                    <div class="product-img">
                      <img [src]="data?.image" [alt]="data.name">
                    </div>
                    <div class="product-info">
                      <h3>{{data?.name}}</h3>
                      <a [href]="data?.link" target="_blank">Product Link</a>
                    </div>
                  </div>
                </td>
                <td class="quantity">
                  <a href="#">{{data?.quantity}}</a>
                </td>
                <td class="price">
                  <span>{{getRoundValue(data?.price)}}</span>
                </td>
                <td class="amount">
                  <span>{{getRoundValue(data?.quantity * data?.price)}}</span>
                </td>
                <td class="order-status">
                  <span>{{data?.status | orderStatus}}</span>
                </td>
              </tr>

            </tbody>

          </table>

        </div>

        <div class="total_quantity">
          <p>Total Quantity <a href="#">{{getTotalQuantity(order?.orderedItems)}}</a></p>
        </div>

        <!---order-payment-details-->
        <div class="order-pay-details">
          <div class="modift-btn-area">
            <div class="btn-area">
              <ul style="visibility: hidden;">
                <li><button>Edit Request</button></li>
                <li><button>Payment Record</button></li>
              </ul>
            </div>

            <!---paid-by-->
            <div class="paid-by">
              <!-- <div>
                        <span>Paid By:</span>
                    </div>
                    <div>
                      <img src="./assets/images/payments/bkash-icon.png" alt="">
                    </div> -->
            </div>
          </div>
          <!--modify-btn-area-end-->
          <!--payment-summery-area-->
          <div class="payment-summery-area">
            <!---total-->
            <div class="payment-total">
              <ul>
                <li>
                  <div class="pay-type">
                    <h3>Subtotal:</h3>
                  </div>
                  <div class="pay-amount">
                    <span>{{order?.subTotal}} TK</span>
                  </div>
                </li>
                <li>
                  <div class="pay-type">
                    <h3>Discount:</h3>
                    <span>(CARE01234)</span>
                  </div>
                  <div class="pay-amount">
                    <span>(-) 0 TK</span>
                  </div>
                </li>
                <li>
                  <div class="pay-type">
                    <h3>Delivery Fee:</h3>
                  </div>
                  <div class="pay-amount">
                    <span>(+) 0 Tk</span>
                  </div>
                </li>
                <li class="total-ammount">
                  <div class="pay-type">
                    <h3>Total:</h3>
                  </div>
                  <div class="pay-amount">
                    <span>{{order?.totalAmount}}Tk</span>
                  </div>
                </li>
                <li *ngIf="order?.paidAmount">
                  <div class="pay-type">
                    <h3>Paid:</h3>
                  </div>
                  <div>
                    <span>{{order?.paidAmount}} Tk</span>
                  </div>
                </li>
                <li class="total-ammount">
                  <div class="pay-type">
                    <h3>Due:</h3>
                  </div>
                  <div class="pay-amount">
                    <span>{{order?.totalAmount - order?.paidAmount}} Tk</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <!--payment-summery-area-end-->


        </div>
        <!---order-payment-details-end-->
        <!---customer-msg-->
        <div class="customer-msg">
          <h3>Message From Customer</h3>
          <p>{{order?.orderNotes}}</p>
        </div>

        <!---time-line--->
        <div class="time-line-area">
          <!---timeline-title-->
          <div class="time-line-title">
            <h3>Timeline</h3>
          </div>
          <!---timeline-title-end-->
          <!---timeline-main-->
          <div class="timeline-main">
            <!-- {{order?.orderStatusTimeline | json}} -->
            <ng-container *ngIf=" order && order?.orderStatusTimeline && order?.orderStatusTimeline.length">
              <ul *ngFor="let data of order?.orderStatusTimeline.reverse();let i=index">
                <li *ngIf="i===0">
                  <div class="time-check">
                    <span class="active-check"><i class="fa fa-check"></i></span>
                  </div>
                  <div class="timeline-info">
                    <h3>{{data?.status}}</h3>
                    <p>Status Updated by {{data?.adminInfo}}</p>
                    <p>{{data?.dateTime | date: 'medium'}}</p>
                  </div>
                </li>
                <li *ngIf="i!==0">
                  <div class="time-check">
                    <span><i class="fa fa-check"></i></span>
                  </div>
                  <div class="timeline-info">
                    <h3>{{data?.status}}</h3>
                    <p>Status Updated by {{data?.adminInfo}}</p>
                    <p>{{data?.dateTime | date: 'medium'}}</p>
                  </div>
                </li>

              </ul>

              <ul>
                <li>
                  <div class="time-check">
                    <span><i class="fa fa-check"></i></span>
                  </div>
                  <div class="timeline-info">
                    <h3>{{'Pending'}}</h3>
                    <p>Thank you for placing for your order at Care me. We will start processing your order after
                      payment is complete - Care me</p>
                    <p>{{order?.checkoutDate | date: 'medium'}}</p>
                  </div>
                </li>

              </ul>
            </ng-container>
            <ng-container *ngIf=" order && order?.orderStatusTimeline.length === 0">
              <ul>
                <li>
                  <div class="time-check">
                    <span class="active-check"><i class="fa fa-check"></i></span>
                  </div>
                  <div class="timeline-info">
                    <h3>{{'Pending'}}</h3>
                    <p>Thank you for placing for your order at Care me. We will start processing your order after
                      payment is complete - Care me</p>
                    <p>{{order?.checkoutDate | date: 'medium'}}</p>
                  </div>
                </li>

              </ul>
            </ng-container>
          </div>
        </div>

      </div>
      <!---order-details-left-end-->
      <!---order-details-right-->
      <div class="order-details-right">
        <!---delivery-info-->
        <div class="delivery-info">
          <!--customer-title-->
          <div class="customer-title">
            <h3>Delivery Info</h3>
          </div>
          <!--customer-title-end-->
          <!---delivery-data-->
          <div class="delivery-data">
            <ul>
              <li>
                <div>
                  <h3>Shipped By:</h3>
                </div>
                <div>
                  <span>Pathao</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>Weight:</h3>
                </div>
                <div>
                  <span>2kg</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>Cost:</h3>
                </div>
                <div>
                  <span>700 TK</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!---delivery-info-end-->

        <!---customer-info-->
        <div class="customer-info-area">
          <!--customer-title-->
          <div class="customer-title">
            <h3>Customer Info</h3>
          </div>
          <!--customer-title-end-->
          <!---customer-info--->
          <div class="customer-info">
            <ul>
              <li>
                <div class="customer-info-left">
                  <h3>Name:</h3>
                </div>
                <div class="customer-info-right">
                  <h4>{{order?.name ? order.name : order?.user?.fullName}}</h4>
                </div>
              </li>
              <li>
                <div class="customer-info-left">
                  <h3>Phone No:</h3>
                </div>
                <div class="customer-info-right">
                  <h4>{{order?.phoneNo ? order.phoneNo : order?.user?.phoneNo}}</h4>
                </div>
              </li>
              <li>
                <div class="customer-info-left">
                  <h3>Email:</h3>
                </div>
                <div class="customer-info-right">
                  <a href="#">{{order?.user?.email}}</a>
                </div>
              </li>
              <li>
                <div class="customer-info-left">
                  <h3>Shipping Address:</h3>
                </div>
                <div class="customer-info-right">
                  <h3>{{order?.shippingAddress}}</h3>
                </div>
              </li>
              <li>
                <div class="customer-info-left">
                  <h3>Total Order:</h3>
                </div>
                <div class="customer-info-right">
                  <h4>{{order?.user?.checkouts.length}}</h4>
                </div>
              </li>
            </ul>

          </div>

        </div>
        <!---customer-info-end-->

        <!---comment-->
        <div class="customer-comment">
          <div class="customer-title">
            <h3>Comments</h3>
          </div>
          <div class="customer-comment-main">
            <mat-form-field class="example-full-width" appearance="overlay">
              <textarea rows="7" formControlName="comment" matInput placeholder="add new comment"></textarea>
            </mat-form-field>
          </div>
          <button (click)="addNewComment()">Add</button>
        </div>
        <!---comment-end-->
        <!---order-confirm-status-->
        <div class="order-confirm-status">
          <!---status-info-->
          <div class="status-info">
          </div>
          <div class="status-info" *ngFor="let c of order?.comments.reverse();let i=index">
            <!--status-check-->
            <div class="status-check" *ngIf="i===0">
              <span class="active-status"><i class="fa fa-check"></i></span>
            </div>
            <div class="status-check" *ngIf="i!==0">
              <span><i class="fa fa-check"></i></span>
            </div>
            <div class="status-type">
              <p>{{c}}</p>
            </div>
          </div>
        </div>


      </div>
      <!---order-details-right-end-->


    </div>
    <!---order-details-main-area-end-->
  </div>

</form>
