<!-- Checkout page Design -->
<div class="checkout_page">
  <div class="container">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 17 }">
        <nz-card
          class="checkout_address mb"
          nzSize="small"
          nzTitle="Delivery Address"
          [nzExtra]="addressAction"
        >
          <div class="newAddress" *ngFor="let data of [1]">
            <div class="address_header">
              <h3><i class="las la-suitcase"></i> Home</h3>
              <ul>
                <li class="trash"><i class="las la-trash"></i></li>
                <li class="edit"><i class="lar la-edit"></i></li>
                <li class="select"><i class="lar la-check-circle"></i></li>
              </ul>
            </div>
            <div class="address_body">
              <ul>
                <li>
                  <span><i class="lar la-user"></i></span>
                  <p>Md. Al-Mamun</p>
                </li>
                <li>
                  <span><i class="las la-phone"></i></span>
                  <p>01917632421</p>
                </li>
                <li>
                  <span><i class="las la-map-marked"></i></span>
                  <p>
                    Suite #1402 (Lift #14), Navana D.H. Tower, 6 Panthapath,
                    Karwan Bazar, Dhaka-1215.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </nz-card>
        <nz-card
          class="checkout_shipping"
          nzSize="small"
          nzTitle="Delivery Option"
          [nzExtra]="vendorName"
        >
          <div nz-row [nzGutter]="16">
            <div nz-col class="mb" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
              <nz-card class="shipping_single" nzSize="small">
                <h3>60 TK</h3>
                <h4>Standard Shipping</h4>
                <h5>
                  Delivery within
                  <span style="color: #ff9100">Fri 22 Jul - Sun 22 Aug</span>
                </h5>
                <i class="lar la-check-circle"></i>
              </nz-card>
            </div>
            <div nz-col class="mb" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
              <nz-card class="shipping_single active" nzSize="small">
                <h3>150 TK</h3>
                <h4>Express Shipping</h4>
                <h5>
                  Delivery within
                  <span style="color: green">Fri 22 Jul - Sun 24 Jul</span>
                </h5>
                <i class="lar la-check-circle"></i>
              </nz-card>
            </div>
            <div nz-col class="mb" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
              <nz-card class="shipping_single" nzSize="small">
                <h3>10 TK</h3>
                <h4>Pick by own</h4>
                <nz-radio-group class="pick_address" [(ngModel)]="pickAddress">
                  <label nz-radio nzValue="A">
                    D.H. Tower, 6 Panthapath, (01917654824)
                  </label>
                  <label nz-radio nzValue="B">
                    D.H. Tower, 6 Panthapath, Dhaka (01917654824)
                  </label>
                </nz-radio-group>
                <i class="lar la-check-circle"></i>
              </nz-card>
            </div>
          </div>
          <div nz-row [nzGutter]="16">
            <div
              nz-col
              class="mb"
              [nzSpan]="24"
              *ngFor="let data of carts; let index = i"
            >
              <nz-card nzSize="small">
                <div class="single_item">
                  <div class="items_left">
                    <img
                      nz-image
                      [nzSrc]="getThumbImage(data?.product)"
                      [alt]="data?.product.name"
                    />
                    <div class="descriptions">
                      <h3>{{ data?.product.name }}</h3>
                      <h4 *ngIf="data?.variant.length">
                        {{ data?.variant[0]?.variant }}
                      </h4>
                    </div>
                  </div>
                  <div class="items_right">
                    <div class="Product_qt">
                      <h4>
                        SKU:
                        {{
                          data?.variant[0]
                            ? data?.variant[0].variantSku
                            : data.sku
                        }}
                      </h4>
                      <h4>Qty: {{ data.selectedQty }}</h4>
                    </div>
                    <div class="Product_price">
                      <h4 *ngIf="data?.product.canPartialPayment">
                        <span
                          >({{ data?.product.partialPayment }}% Advance)</span
                        >
                        <span *ngIf="data?.variant.length">
                          {{
                            advanceForSingle(
                              data.product,
                              data.selectedQty,
                              data.variant[0].variantPrice
                            )
                          }}
                          TK
                        </span>
                        <span *ngIf="!data?.variant.length">
                          {{
                            advanceForSingle(
                              data.product,
                              data.selectedQty,
                              data.product.sellingPrice
                            )
                          }}
                          TK
                        </span>
                      </h4>
                      <h4 style="color:#016d01" *ngIf="!data?.product.canPartialPayment">Cash on Delivery</h4>
                      <h3>Total: {{ cartSubTotalProduct(data) }} TK</h3>
                    </div>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </nz-card>
        <ng-template #vendorName>
          <p>Shipped by: Care Me</p>
        </ng-template>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-card class="checkout_summary" nzSize="small">
          <h3>Order Summary</h3>
          <ul>
            <li>
              <h4>Subtotal ({{ carts?.length }} items)</h4>
              <h4>{{ cartNewTotal() }} TK</h4>
            </li>
            <li>
              <p>
                Coupon Code
                <span style="font-size: 12px; color: #898989">
                  ( <i class="las la-lg la-tags"></i> CAREME15 )
                </span>
              </p>
              <p style="color: #ff0000c7">(-) {{ getCouponAmount() }} TK</p>
            </li>
            <li *ngIf="selectedPointsType === '2'">
              <p>Earn Point</p>
              <p>{{ earnPointsTotal() }} TK</p>
            </li>
            <li *ngIf="selectedPointsType === '1'">
              <p>Redeem Point</p>
              <p style="color: #ff0000c7">(-) {{ redeemPointsTotal() }} TK</p>
            </li>
            <li>
              <p>Shipping Cost</p>
              <p>120 TK</p>
            </li>
            <li>
              <nz-divider></nz-divider>
            </li>
            <li>
              <h5>
                Total = <span>{{ cartTotal() }} TK</span>
              </h5>
            </li>
          </ul>
          <div class="order_submit">
            <label nz-checkbox [(ngModel)]="agreeChecked">
              I agree to the <span>Terms and conditions</span>,
              <span>Return policy</span> & <span>Privacy Policy</span>.
            </label>
            <button nz-button (click)="onSubmit()">SUBMIT ORDER</button>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal Area -->
<ng-template #addressAction>
  <div class="action_btn">
    <button nz-button [nzType]="default" (click)="showModal()">
      <i class="las la-plus"></i> Add New Address
    </button>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Delivery Address"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Save"
>
  <ng-container *nzModalContent>
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input
            nz-input
            name="username"
            type="text"
            id="name"
            placeholder="Name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="phone">Phone</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input
            nz-input
            name="userphone"
            type="text"
            id="phone"
            placeholder="01XXXXXXXXX"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="locate">Address</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select ngModel="bangladesh">
            <nz-option nzValue="bangladesh" nzLabel="Bangladesh"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
          <nz-select ngModel="dhaka">
            <nz-option nzValue="dhaka" nzLabel="Dhaka"></nz-option>
            <nz-option nzValue="khulna" nzLabel="Khulna"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
          <nz-select ngModel="dhaka">
            <nz-option nzValue="dhaka" nzLabel="Dhaka"></nz-option>
            <nz-option nzValue="dhaka" nzLabel="Dhaka"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
          <nz-select ngModel="dhaka">
            <nz-option nzValue="dhaka" nzLabel="Dhaka"></nz-option>
            <nz-option nzValue="dhaka" nzLabel="Dhaka"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Address</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <textarea
            formControlName="Address"
            nz-input
            rows="2"
            placeholder="Your address is here..."
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<!-- Old Code -->
<div class="new-shopping-info">
  <div class="container">
    <div class="new-shopping-info-main">
      <div class="new-shopping-info-left">
        <div class="shipping-top-area">
          <!---title-->
          <div class="title">
            <h3>Delivery Address</h3>
          </div>
          <!---add-address-btn-->
          <!-- (click)="showPupUp()" -->
          <div class="add-address-btn">
            <button (click)="openDialog()">
              <span>+</span> Add New Address
            </button>
          </div>
        </div>

        <div class="shipping-area">
          <div class="shipping-main-area">
            <!---shipping-main-->
            <div class="shipping-address-main">
              <!---shipping-info-->
              <div
                class="shipping-info"
                [class]="clickActive[i] ? 'active-address' : 'inactive'"
                (click)="onSelectAddress(data, i)"
                *ngFor="let data of addressInfo; let i = index"
              >
                <!---shipping-place-->
                <div class="shipping-place">
                  <!--shiping-place-left-->
                  <!-- <div class="shipping-place-left">
                                            <h3><i class="fa fa-briefcase"></i> {{data.addressType}}</h3>
                                        </div> -->
                  <div class="shipping-place-left">
                    <h3><i class="fa fa-briefcase"></i></h3>
                    <span class="home">{{
                      data?.addressType ? data?.addressType : "Home"
                    }}</span>
                    <a
                      class="default"
                      *ngIf="
                        data.addressType !== 'Work' &&
                        data.addressType !== 'Other'
                      "
                      >Default</a
                    >
                  </div>
                  <!---shipping-place-right-->
                  <div class="shipping-place-right">
                    <span><i class="fa fa-check"></i></span>
                    <span>
                      <mat-icon (click)="editAddress(data, i)">edit</mat-icon>
                    </span>
                    <span>
                      <mat-icon (click)="deleteAddress(i)"
                        >delete_outline</mat-icon
                      >
                    </span>
                  </div>
                </div>
                <div class="shipping-contact-info">
                  <div class="shipping-contact-info-elm">
                    <small class="contact">Contact :</small>
                    <span class="phone-no">{{ data?.phone }}</span>
                  </div>
                  <div class="shipping-contact-info-elm">
                    <small class="ship-to">Ship to :</small>
                    <span class="ship-address"
                      >{{ data?.zila?.name }} {{ data?.city?.name }}
                      {{ data?.thana?.name }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-btn-left">
        <button routerLink="/all-products">
          <i class="fa fa-arrow-left" routerLinkActive="router-link-active"></i>
          Return to shop
        </button>
      </div>
    </div>
  </div>
</div>
