<!-- Checkout page Design -->
<div class="checkout_page">
  <div class="container">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 17 }">
        <nz-card
          class="checkout_address mb"
          nzSize="small"
          nzTitle="Delivery Address"
          [nzExtra]="addressAction"
        >
          <div
            [class]="clickActive[i] ? 'active-address' : 'inactive-address'"
            (click)="onSelectAddress(data, i)"
            *ngFor="let data of addressInfo; let i = index"
          >
            <div class="address_header">
              <h3><i class="las la-suitcase"></i> Home</h3>
              <ul class="icons">
                <li class="trash" (click)="deleteAddress(i)">
                  <i class="las la-trash"></i>
                </li>
                <li class="edit" (click)="editAddressButton(data)">
                  <i class="lar la-edit"></i>
                </li>
                <li class="select"><i class="lar la-check-circle"></i></li>
              </ul>
            </div>
            <div class="address_body">
              <ul>
                <li>
                  <span><i class="lar la-user"></i></span>
                  <p>{{ data?.name }}</p>
                </li>
                <li>
                  <span><i class="las la-phone"></i></span>
                  <p>{{ data?.phone }}</p>
                </li>
                <li>
                  <span><i class="las la-map-marked"></i></span>
                  <p>
                    {{ data.address }}, {{ data?.thana.name }},
                    {{ data?.city.name }}, {{ data?.zila.name }}, Bangladesh
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </nz-card>
        <nz-card
          class="checkout_shipping"
          nzSize="small"
          nzTitle="Delivery Option"
          [nzExtra]="vendorName"
        >
          <div nz-row [nzGutter]="16">
            <div
              nz-col
              class="mb"
              [nzXs]="{ span: 24 }"
              [nzLg]="{ span: 8 }"
              *ngFor="let data of methods; let i = index"
            >
              <nz-card
                class="shipping_single"
                nzSize="small"
                *ngIf="showMethod[i]"
              >
                <h3>{{ data | shipping : selectedZoneName: carts}}TK</h3>
                <h4>{{ data?.name }}</h4>
                <h5>
                  Delivery within (In-Stock)
                  <span
                    style="color: #ff9100"
                    *ngIf="data.inStockDeliveryOption === 'A'"
                    >Today</span
                  >
                  <span
                    style="color: #ff9100"
                    *ngIf="data.inStockDeliveryOption === 'B'"
                    >Next Day</span
                  >
                  <span
                    style="color: #ff9100"
                    *ngIf="data.inStockDeliveryOption === 'C'"
                    >{{ data.inStockDeliveryFrom }} -
                    {{ data.inStockDeliveryTo }} days</span
                  >
                </h5>
                <h5 *ngIf="data.preOrderDeliveryOption === 'C'">
                  Delivery within (Pre-Order)
                  <span style="color: #ff9100"
                    >{{ data.preOrderDeliveryFrom }} -
                    {{ data.preOrderDeliveryTo }} days</span
                  >
                </h5>
                <i class="lar la-check-circle"></i>
              </nz-card>
            </div>
            <!-- <div nz-col class="mb" [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
              <nz-card class="shipping_single" nzSize="small">
                <h3>10 TK</h3>
                <h4>Pick by own</h4>
                <nz-radio-group class="pick_address" [(ngModel)]="pickAddress">
                  <label nz-radio nzValue="A">
                    D.H. Tower, 6 Panthapath, (01917654824)
                  </label>
                  <label nz-radio nzValue="B">
                    D.H. Tower, 6 Panthapath, Dhaka (01917654824)
                  </label>
                </nz-radio-group>
                <i class="lar la-check-circle"></i>
              </nz-card>
            </div> -->
          </div>
          <div nz-row [nzGutter]="16">
            <div
              nz-col
              class="mb"
              [nzSpan]="24"
              *ngFor="let data of carts; let index = i"
            >
              <nz-card nzSize="small">
                <div class="single_item">
                  <div class="items_left">
                    <img
                      nz-image
                      [nzSrc]="getThumbImage(data?.product)"
                      [alt]="data?.product.name"
                    />
                    <div class="descriptions">
                      <h3>{{ data?.product.name }}</h3>
                      <h4 *ngIf="data?.variant.length">
                        {{ data?.variant[0]?.variant }}
                      </h4>
                    </div>
                  </div>
                  <div class="items_right">
                    <div class="Product_qt">
                      <h4>
                        SKU:
                        {{
                          data?.variant[0]
                            ? data?.variant[0].variantSku
                            : data.sku
                        }}
                      </h4>
                      <h4>Qty: {{ data.selectedQty }}</h4>
                    </div>
                    <div class="Product_price">
                      <h4 *ngIf="data?.product.canPartialPayment">
                        <span
                          >({{ data?.product.partialPayment }}% Advance)</span
                        >
                        <span *ngIf="data?.variant.length">
                          {{
                            advanceForSingle(
                              data.product,
                              data.selectedQty,
                              data.variant[0].variantPrice
                            )
                          }}
                          TK
                        </span>
                        <span *ngIf="!data?.variant.length">
                          {{
                            advanceForSingle(
                              data.product,
                              data.selectedQty,
                              data.product.sellingPrice
                            )
                          }}
                          TK
                        </span>
                      </h4>
                      <h4
                        style="color: #016d01"
                        *ngIf="!data?.product.canPartialPayment"
                      >
                        Cash on Delivery
                      </h4>
                      <h3>Total: {{ cartSubTotalProduct(data) }} TK</h3>
                    </div>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </nz-card>
        <ng-template #vendorName>
          <p>Shipped by: Care Me</p>
        </ng-template>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-card class="checkout_summary" nzSize="small">
          <h3>Order Summary</h3>
          <ul>
            <li>
              <h4>Subtotal ({{ carts?.length }} items)</h4>
              <h4>{{ cartNewTotal() }} TK</h4>
            </li>
            <li>
              <p>
                Coupon Code
                <span style="font-size: 12px; color: #898989">
                  ( <i class="las la-lg la-tags"></i> CAREME15 )
                </span>
              </p>
              <p style="color: #ff0000c7">(-) {{ getCouponAmount() }} TK</p>
            </li>
            <li *ngIf="selectedPointsType === '2'">
              <p>Earn Point</p>
              <p>{{ earnPointsTotal() }} TK</p>
            </li>
            <li *ngIf="selectedPointsType === '1'">
              <p>Redeem Point</p>
              <p style="color: #ff0000c7">(-) {{ redeemPointsTotal() }} TK</p>
            </li>
            <li>
              <p>Shipping Cost</p>
              <p>120 TK</p>
            </li>
            <li>
              <nz-divider></nz-divider>
            </li>
            <li>
              <h5>
                Total = <span>{{ cartTotal() }} TK</span>
              </h5>
            </li>
          </ul>
          <div class="order_submit">
            <label nz-checkbox [(ngModel)]="agreeChecked">
              I agree to the <span>Terms and conditions</span>,
              <span>Return policy</span> & <span>Privacy Policy</span>.
            </label>
            <button nz-button (click)="onSubmit()">SUBMIT ORDER</button>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal Area -->
<ng-template #addressAction>
  <div class="action_btn">
    <button nz-button [nzType]="default" (click)="showModal()">
      <i class="las la-plus"></i> Add New Address
    </button>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Delivery Address"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Save"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="dataForm" (ngSubmit)="handleOk()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input
            nz-input
            name="username"
            type="text"
            id="name"
            placeholder="Name"
            formControlName="name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="phone">Phone</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input
            nz-input
            name="userphone"
            type="text"
            id="phone"
            placeholder="01XXXXXXXXX"
            formControlName="phone"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="locate">Address</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select formControlName="country">
            <nz-option nzValue="bangladesh" nzLabel="Bangladesh"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
          <nz-select
            formControlName="zila"
            ngModel
            (ngModelChange)="getAllCityByZilaId()"
          >
            <!-- <nz-option  on nzValue="disabled" nzLabel="Select Zila" nzDisabled selected></nz-option> -->
            <nz-option
              [nzValue]="data._id"
              [nzLabel]="data.name"
              *ngFor="let data of zilla"
            ></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
          <nz-select
            formControlName="city"
            ngModel
            (ngModelChange)="getAllThanaByCityId()"
          >
            <!-- <nz-option nzValue="disabled" nzLabel="Select city" nzDisabled selected></nz-option> -->
            <nz-option
              [nzValue]="data._id"
              [nzLabel]="data.name"
              *ngFor="let data of city"
            ></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
          <nz-select formControlName="thana" ngModel nzPlaceholder="Select">
            <!-- <nz-option nzValue="disabled" nzLabel="Select thana" nzDisabled selected></nz-option> -->
            <nz-option
              [nzValue]="data._id"
              [nzLabel]="data.name"
              *ngFor="let data of thana"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Address</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <textarea
            formControlName="address"
            nz-input
            rows="2"
            placeholder="Your address is here..."
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <button type="submit">Save</button>
      </nz-form-item> -->
    </form>
  </ng-container>
</nz-modal>
