<!--order-process-system-->
<div class="order-process-system">
  <div class="container">
    <div class="order-process-main">
      <!---order-process-system-info-->
      <div class="order-process-system-info complate-process">
        <span><i class="fa fa-shopping-cart"></i></span>
        <h3>My Cart</h3>
      </div>
      <!---order-process-system-info-->
      <div class="order-process-system-info complate-process">
        <span><i class="fa fa-map"></i></span>
        <h3>Shipping Info</h3>
      </div>
      <!---order-process-system-info-->
      <div class="order-process-system-info">
        <span><i class="fa fa-check-circle"></i></span>
        <h3>Payment</h3>
      </div>

    </div>
  </div>
</div>

<!-- //new-shopping-inf0 -->
<div class="new-shopping-info">
  <div class="container">
    <div class="new-shopping-info-main">
      <div class="new-shopping-info-left">
        <div class="shipping-top-area">
          <!---title-->
          <div class="title">
            <h3>Delivery Address</h3>
          </div>
          <!---add-address-btn-->
          <!-- (click)="showPupUp()" -->
          <div class="add-address-btn">
            <button (click)="openDialog()"><span>+</span> Add New Address</button>
          </div>
        </div>


        <div class="shipping-area">
          <div class="shipping-main-area">
            <!---shipping-main-->
            <div class="shipping-address-main">
              <!---shipping-info-->
              <div class="shipping-info" [class]="clickActive[i] ? 'active-address' : 'inactive'"
                (click)="onSelectAddress(data, i)" *ngFor="let data of addressInfo; let i=index">
                <!---shipping-place-->
                <div class="shipping-place">
                  <!--shiping-place-left-->
                  <!-- <div class="shipping-place-left">
                                            <h3><i class="fa fa-briefcase"></i> {{data.addressType}}</h3>
                                        </div> -->
                  <div class="shipping-place-left">
                    <h3><i class="fa fa-briefcase"></i></h3>
                    <span class="home">{{data?.addressType ? data?.addressType : 'Home'}}</span>
                    <a class="default" *ngIf="data.addressType !== 'Work' && data.addressType !== 'Other'">Default</a>
                  </div>
                  <!---shipping-place-right-->
                  <div class="shipping-place-right">
                    <span><i class="fa fa-check"></i></span>
                    <span>
                      <mat-icon (click)="editAddress(data, i)">edit</mat-icon>
                    </span>
                    <span>
                      <mat-icon (click)="deleteAddress(i)">delete_outline</mat-icon>
                    </span>
                  </div>
                </div>
                <div class="shipping-contact-info">
                  <div class="shipping-contact-info-elm">
                    <small class="contact">Contact :</small>
                    <span class="phone-no">{{data?.phone}}</span>
                  </div>
                  <div class="shipping-contact-info-elm">
                    <small class="ship-to">Ship to :</small>
                    <span class="ship-address">{{data?.zila?.name}} {{data?.city?.name}} {{data?.thana?.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- shopping method -->
        <div class="shopping-nethod">
          <h3>Shipping Method</h3>
          <div class="shopping-method-container">
            <div class="shopping-method-elm sm-title">
              <span>Delivery By</span>
              <span>Weight</span>
              <span>Cost</span>
            </div>
            <div class="shopping-method-elm elm-child">
              <div class="pathao">
                <mat-checkbox class="example-margin "></mat-checkbox>
                <span>Delivery By</span>
              </div>
              <span>1-3kg</span>
              <span>150Tk</span>
            </div>
            <div class="shopping-method-elm elm-child">
              <div class="pathao">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <span>Delivery By</span>
              </div>
              <span>1-3kg</span>
              <span>150Tk</span>
            </div>
            <div class="shopping-method-elm elm-child">
              <div class="pathao">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <span>Delivery By</span>
              </div>
              <span>1-3kg</span>
              <span>150Tk</span>
            </div>
          </div>
        </div>
      </div>
      <div class="new-shopping-info-right">
        <div class="new-shopping-content">
          <div class="right-elm right-elm-top">
            <h4>Order Summary</h4>
            <a href="">{{carts?.length}} Items</a>
          </div>
          <div class="right-elm earn-elm">
            <h4>Earn Point:</h4>
            <span>{{user?.earnedPoints}}</span>
          </div>
          <div class="right-elm product-total">
            <h4>Product</h4>
            <span>Total</span>
          </div>
          <div class="right-elm product product-border" *ngFor="let data of carts; let index= i">
            <div class="left">
              <p>{{data?.product?.name}}</p>
              <span>SKU {{data?.variant[0]?.variantSku}}.
                <small *ngIf="data?.variant[0]?.variantQuantity">(COD)</small>
                <small *ngIf="data?.variant[0]?.variantQuantity == 0 || data?.variant[0]?.variantQuantity == null">
                  <span *ngIf="data?.product?.partialPaymentType === 0">({{data?.product.partialPayment}}TK Pay)</span>
                  <span *ngIf="data?.product?.partialPaymentType === 1">({{data?.product.partialPayment}}% Pay)</span>
                </small>
              </span>
            </div>
            <div class="right">
<!--              <span>{{data?.variant[0]?.variantPrice}} TK</span>-->
              <span>{{cartSubTotalS(data)}} TK</span>
            </div>
          </div>
          <div class="discount-container">
            <div class="discount">
              <div class="discount-left">
                <input type="text" [(ngModel)]="couponCode" placeholder="Use your coupon code">

              </div>
              <div class="discount-right">
                <i class="fa-solid fa-xmark" (click)="disableCoupon()"></i>
                <a class="apply" (click)="applyCoupon()">Apply</a>
              </div>


            </div>
          </div>

          <div class="right-elm sub-total">
            <h4>Sub Total</h4>
            <span>{{cartNewTotal()}} TK</span>
          </div>
          <div class="right-elm cuppon-code">
            <h4>Cuppon Code <span><i class="fa-solid fa-tags"></i> CAREME15%</span></h4>
            <span> <small>(-)</small> {{getCouponAmount()}}Tk</span>
          </div>
          <div class="right-elm shipping">
            <h4>Shipping Charge</h4>
            <span>120Tk</span>
          </div>
          <div class="right-elm total-price">
            <h4>Total Price</h4>
            <span>{{cartTotal()}} TK</span>
          </div>
          <div class="right-elm advance-pay">
            <h4>Advance Pay </h4>
            <span>{{advanceTotal()}} TK</span>
          </div>
          <div class="agree" [class]="agreeConditions ? 'payment-check' : 'payment-check-error'">
            <mat-checkbox class="example-margin" (click)="changeAgreeConditions()"></mat-checkbox>
            <p> I agree to the <span>Trams and condition return policy </span> & <span>privecy policy.</span></p>
          </div>
          <div class="submit" (click)="onSubmit()">
            Submit Order
          </div>
        </div>
      </div>
      <div class="cart-btn-left">
        <button routerLink="/all-products"><i class="fa fa-arrow-left" routerLinkActive="router-link-active"></i> Return to shop</button>
      </div>
    </div>
  </div>
