@import "./../../../../theme/client-side-varriables";
/*** shipping-area ****/

// New Style

.active-address {
  background-color: #ffe3ef;
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid #db5791;
  .icons{
    display: inline;
    visibility: visible;
  }
  // background-color: #fcf2f6;
}
.inactive-address {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  .icons{
    display: none;
    visibility: hidden;
  }
  // background-color: #fcf2f6;
}
.inactive-address:hover {
  cursor: pointer;
  border: 1px solid #db5791;
}

.newAddress{
  padding: 10px;
}
.checkout_page {
  padding: 15px 0;
}
.mb {
  margin-bottom: 15px;
}
.address_body {
  ul {
    li {
      list-style: none;
      margin-bottom: 10px;
      p {
        font-size: 14px;
      }
      span {
        width: 25px;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fdcde3;
        margin-right: 10px;
        float: left;
        i {
          font-size: 18px;
          color: #da5894;
        }
      }
    }
  }
}
.address_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      margin-right: 10px;
      :last-child {
        margin-right: 0;
      }
      i {
        font-size: 30px;
        color: #d7d7d7;
      }
    }
  }
  h3 {
    display: flex;
    align-items: center;
    i {
      color: #707070;
      font-size: 30px;
      margin-right: 5px;
    }
  }
  .trash {
    :hover {
      color: #ff0000;
    }
  }
  .edit {
    :hover {
      color: #da5894;
    }
  }
  .select {
    i {
      color: green !important;
    }
  }
}
.shipping_single {
  position: relative;
  cursor: pointer;
  i {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 30px;
    color: #da5894;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  h5 {
    color: #2d2d2d;
    span {
      font-weight: 500;
    }
  }
}
.active {
  border-color: #f7d1e2;
  background: #fff6fa;
  i {
    visibility: visible;
    opacity: 1;
  }
}
nz-form-control {
  margin-bottom: 15px;
}
nz-select {
  margin: 0 0 10px 0;
  width: 95%;
}
.checkout_summary {
  h3 {
    margin-bottom: 20px !important;
    font-weight: 500;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 25px;
      h4 {
        font-weight: 500;
      }
      h5 {
        font-size: 18px;
        text-align: right;
        width: 100%;
        span {
          font-size: 18px;
        }
      }
    }
  }
  nz-divider {
    margin: 10px 0;
  }
}
.order_submit {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  label {
    width: 100%;
  }
  button {
    height: 50px;
    background: #da5894;
    color: #f7f7f7;
    border-color: #da5894;
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
  }
}
.pick_address {
  margin-top: 10px;
  label {
    font-size: 12px;
  }
}
.single_item {
  display: flex;
  align-content: center;
  justify-content: space-between;
  .items_left {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    width: 50%;
    img {
      width: 80px;
      margin-right: 10px;
    }
  }
  .items_right {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 45%;
  }
  .Product_price {
    h4 {
      color: orange;
      span {
        color: #5e5e5e;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
}
.descriptions {
  h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #585858;
    margin-bottom: 10px !important;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #585858;
  }
}
.Product_qt h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #585858;
}
.Product_price {
  text-align: right;
}
.order_submit {
  label {
    span {
      border-bottom: 1px solid #ffffff;
      transition: 0.3s;
    }
    span:hover {
      border-bottom: 1px solid #2d2d2d;
      color: #2d2d2d;
    }
  }
  label:hover {
    color: #da5894;
  }
}

@media (max-width: 500px) {
  .single_item {
    flex-direction: column;
  }

  .items_left,
  .items_right {
    width: 100% !important;
  }
  .items_right {
    margin-top: 10px;
    .Product_price {
      text-align: right;
    }
  }
}

