@import "./../../../../theme/client-side-varriables";
.md {
  margin-bottom: 15px !important;
}
.dash_welcome {
  h2 {
    color: #585858;
  }
}
.dash_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px !important;
  h2 {
    color: #585858;
    display: flex;
    align-items: center;
    i {
      font-size: 30px;
      margin-right: 10px !important;
    }
  }
}
.dash_body {
  h5 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
  }
}
