<ng-template #orderTemplate>
  <p>{{orders?.length}}</p>
</ng-template>
<ng-template #pointTemplate>
  <p>{{user?.points}} pts</p>
</ng-template>
<ng-template #returnTemplate>
  <p>0</p>
</ng-template>
<ng-template #refundTemplate>
  <p>0 Tk</p>
</ng-template>
<ng-template #reviewsTemplate>
  <p>0</p>
</ng-template>
<div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="5">
      <nz-card nzTitle="Orders" [nzExtra]="orderTemplate">
        <table style="width: 100%">
          <tr>
            <th >Order Pending</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Order Delivered</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Canceled Orders</th>
            <td>0</td>
          </tr>
        </table>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card nzTitle="Points" [nzExtra]="pointTemplate">
        <table style="width: 100%">
          <tr>
            <th >Lifetime Points</th>
            <td>{{user?.earnedPoints}}</td>
          </tr>
          <tr>
            <th>Use Points</th>
            <td>{{user?.redeemedPoints}}</td>
          </tr>
          <tr>
            <th>Pending Points</th>
            <td>0</td>
          </tr>
        </table>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card nzTitle="Return" [nzExtra]="returnTemplate">
        <table style="width: 100%">
          <tr>
            <th >Return Pending</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Return Accepted</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Return Cancelled</th>
            <td>0</td>
          </tr>
        </table>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="5">
      <nz-card nzTitle="Refund" [nzExtra]="refundTemplate">
        <table style="width: 100%">
          <tr>
            <th >Pending</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Accepted</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Canceled</th>
            <td>0</td>
          </tr>
        </table>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-card nzTitle="Reviews" [nzExtra]="reviewsTemplate">
        <table style="width: 100%">
          <tr>
            <th >Reviews Done</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Reviews Pending</th>
            <td>0</td>
          </tr>
        </table>
      </nz-card>
    </div>
  </div>
</div>
<nz-table style="margin-top: 50px;" #headerTable [nzSimple]="true"  [nzData]="orders" [nzPageSize]="50" [nzScroll]="{ y: '450px' }">
  <thead>
    <tr>
      <th>Order</th>
      <th>Placed On</th>
      <th nzWidth="100px">Items</th>
      <th >Total</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of headerTable.data">
      <td class="routerLink" [routerLink] = "['../../order-details', data._id]">{{ data.orderId }}</td>
      <td>{{ data.createdAt | date : 'short'}}</td>
      <td>{{ data.orderedItems?.length }}</td>
      <td>{{ data.totalAmount }}</td>
      <td>{{ data.deliveryStatus | orderStatus }}</td>
    </tr>
  </tbody>
</nz-table>

