<!-- New Code -->
<div class="page-header">
  <h2><i class="las la-arrow-left" routerLink="../../"></i> Purchase Order</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
    <button class="create_btn">New Purchase</button>
  </div>
</div>
<div class="table-samary">
  <nz-card nzSize="small" [nzBodyStyle]="{ padding: '0px' }">
    <nz-layout>
      <nz-sider class="left_navbar">
        <div class="inner_nav_header">
          <div class="header_action">
            <a nz-dropdown [nzDropdownMenu]="statusMenu">
              All Purchase <i class="las la-angle-down"></i>
              <nz-dropdown-menu #statusMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Close</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </a>
            <nz-button-group>
              <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="actionMenu" nzPlacement="bottomRight"
                class="action_btn">
                <i class="las la-ellipsis-v"></i>
              </span>
              <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Delete</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </nz-button-group>
          </div>
          <input nz-input placeholder="Use Purchase Order id" />
        </div>
        <ul class="refund_list" nz-menu nzTheme="light" nzMode="inline">
          <li nz-menu-item *ngFor="let data of purchases" [routerLink]="['../../', 'details', data._id]">
            <div class="left">
              <h4>{{ data?.purchaseId }}</h4>
              <h5>{{ data?.dateTime | date }}</h5>
            </div>
            <div class="right">
              <h4 style="color: #ff8800">{{ data?.status | purchaseStatus }}</h4>
              <h5>
                <span>{{ data?.totalAmount }} TK</span>
              </h5>
            </div>
          </li>
        </ul>
      </nz-sider>
      <nz-content [formGroup]="dataForm" class="refund_body_main" style="background: #fff">
        <div class="refund_details_header">
          <h4>{{ purchase?.purchaseId }}</h4>
          <h5>{{ purchase?.dateTime | date: "short" }}</h5>
        </div>
        <div class="refund_details_body">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
              <h2>Purchase Details</h2>
              <table>
                <tbody>
                  <tr>
                    <td>PO ID #</td>
                    <td>:</td>
                    <td>
                      <b>{{ purchase?.purchaseId }}</b>
                    </td>
                  </tr>
                  <tr>
                    <td>Purchase Status</td>
                    <td>:</td>
                    <td>
                      <span> {{ purchase?.status | purchaseStatus}} </span>
                    </td>
                  </tr>
                  <tr>
                    <td>Date & Time</td>
                    <td>:</td>
                    <td style="text-transform: uppercase">
                      {{ purchase?.dateTime | date: "short" }}
                      <i class="lar la-lg la-clock"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Total Amount</td>
                    <td>:</td>
                    <td>{{ purchase?.totalAmount }} TK</td>
                  </tr>
                  <tr>
                    <td>Created By</td>
                    <td>:</td>
                    <td>{{purchase?.admin?.name}} ({{purchase?.admin?.role}})</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
              <table>
                <tbody>
                  <tr>
                    <td>Refrence</td>
                    <td>:</td>
                    <td>{{ purchase?.reference }}</td>
                  </tr>
                  <tr>
                    <td>Manufacturer</td>
                    <td>:</td>
                    <td>{{ purchase?.manufacturer }}</td>
                  </tr>
                  <tr>
                    <td>Supplier Link</td>
                    <td>:</td>
                    <td>
                      <a [href]="purchase?.supplier?.link" target="_blank">
                        <i class="las la-lg la-external-link-alt"></i>
                      </a>

                    </td>
                  </tr>
                  <tr>
                    <td>Supplier Name</td>
                    <td>:</td>
                    <td>
                      <p>{{purchase?.supplier?.name}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>Supplier Phone</td>
                    <td>:</td>
                    <td>
                      <p>{{purchase?.supplier?.phoneNo}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <nz-card class="refund_details_body-product" nzSize="small">
            <nz-table nzSize="small" nzShowPagination="false" [nzData]="products" #tableData
              [nzScroll]="{ x: '700px' }">
              <thead>
                <tr>
                  <th>Image</th>
                  <th nzWidth="160px">Item</th>
                  <th>Unit Price</th>
                  <th>Tax</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Recieved Qty</th>
                  <th nzWidth="100px">Recieved Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableData.data; let i = index">
                  <td>
                    <img style="max-width: 50px" nz-image [nzSrc]="
                        item.productData.images[0]
                          ? item.productData.images[0]
                          : '/assets/images/placeholder/test.png'
                      " [alt]="item.productData.name" />
                  </td>
                  <td>
                    <a class="text">{{ item?.productData?.name }}</a>
                    <p>sku: {{ item?.sku }}</p>
                  </td>
                  <td>
                    <input nz-input placeholder="0" value="{{ item?.purchasePrice }}" />
                  </td>
                  <td>
                    <input nz-input placeholder="0" value="{{ item.purchaseTax }}" />
                  </td>
                  <td>
                    <input nz-input placeholder="0" value="{{ item?.purchaseQuantity }}" />
                  </td>
                  <td>{{getAmount(item)}} ৳</td>
                  <td>
                    <div class="recived_qt">
                      <p>{{ item.recieved ? item.recieved : 0 }}</p>
                      <i (click)="showModal(item, i)" class="lar la-plus-square"></i>
                      <!-- Recived Modal -->

                    </div>
                  </td>
                  <td>
                    <b>{{getRecievedAmount(item)}}৳</b>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div nz-row [nzGutter]="0">
              <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                <nz-card nzSize="small" class="ammount_summary">
                  <div class="ammount_summary_single">
                    <h4>Sub Total</h4>
                    <span>{{ purchase?.subTotal }} TK</span>
                  </div>
                  <div class="ammount_summary_single">
                    <span>Tax (10%)</span>
                    <span>120 TK</span>
                  </div>
                  <div class="ammount_summary_single">
                    <span>Shipping Cost</span>
                    <span>{{ purchase?.purchaseShippingCharge }} TK</span>
                  </div>
                  <nz-divider style="margin: 5px 0" nzType="horizontal"></nz-divider>
                  <div class="summary_total">
                    <h2>Total = {{ purchase?.totalAmount }} TK</h2>
                  </div>
                </nz-card>
              </div>
            </div>
            <div class="purchase_edit" nz-row [nzGutter]="0">
              <div nz-col [nzXs]="{ span: 24 }">
                <div class="purchase_edit_btn">
                  <button nz-button nzSize="large" nzType="primary">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-content>
    </nz-layout>
  </nz-card>
</div>


<nz-modal [(nzVisible)]="recivedQty" nzTitle="Recived Quantity" (nzOnCancel)="recivedCancel()" (nzOnOk)="onSubmit()"
  nzWidth="300px" nzSize="small">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="dataForm2">
      <nz-form-item class="mb">
        <nz-form-label [nzSpan]="24" nzFor="proqty">
          Product Quantity
        </nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input name="proqty" type="number" formControlName="recieved" id="proqty" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="comment">Comment</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <textarea formControlName="message" nz-input rows="2" placeholder="write any thing"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
