<!-- New Code -->
<div class="page-header">
  <h2><i class="las la-arrow-left"></i> Purchase Order</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
    <button class="create_btn">New Purchase</button>
  </div>
</div>
<div class="table-samary">
  <nz-card nzSize="small" [nzBodyStyle]="{ padding: '0px' }">
    <nz-layout>
      <nz-sider class="left_navbar">
        <div class="inner_nav_header">
          <div class="header_action">
            <a nz-dropdown [nzDropdownMenu]="statusMenu">
              All Purchase <i class="las la-angle-down"></i>
              <nz-dropdown-menu #statusMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Close</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </a>
            <nz-button-group>
              <span
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="actionMenu"
                nzPlacement="bottomRight"
                class="action_btn"
              >
                <i class="las la-ellipsis-v"></i>
              </span>
              <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Delete</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </nz-button-group>
          </div>
          <input nz-input placeholder="Use Purchase Order id" />
        </div>
        <ul class="refund_list" nz-menu nzTheme="light" nzMode="inline">
          <li nz-menu-item>
            <div class="left">
              <h4>PO00101</h4>
              <h5>05 Jul 2022 | 11:30 PM</h5>
            </div>
            <div class="right">
              <h4 style="color: #ff8800">Draft</h4>
              <h5>
                <span>1 / 0</span>
                <span>846 TK</span>
              </h5>
            </div>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="refund_body_main" style="background: #fff">
        <div class="refund_details_header">
          <h4>PO00101</h4>
          <h5>05 Jul 2022 | 11:30 PM</h5>
        </div>
        <div class="refund_details_body">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
              <h2>Purchase Details</h2>
              <table>
                <tbody>
                  <tr>
                    <td>PO ID #</td>
                    <td>:</td>
                    <td><b>PO00101</b></td>
                  </tr>
                  <tr>
                    <td>Purchase Status</td>
                    <td>:</td>
                    <td>
                      <span> DRAFT </span>
                    </td>
                  </tr>
                  <tr>
                    <td>Date & Time</td>
                    <td>:</td>
                    <td>05 Jul 2022 | 11:30 PM</td>
                  </tr>
                  <tr>
                    <td>Total Amount</td>
                    <td>:</td>
                    <td>50000 TK</td>
                  </tr>
                  <tr>
                    <td>Inishete By</td>
                    <td>:</td>
                    <td>Omee</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
              <table>
                <tbody>
                  <tr>
                    <td>Manufacturer</td>
                    <td>:</td>
                    <td>Bata</td>
                  </tr>
                  <tr>
                    <td>Supplier Link</td>
                    <td>:</td>
                    <td>
                      <a href="#" target="_blank">
                        <i class="las la-lg la-external-link-alt"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <nz-card class="refund_details_body-product" nzSize="small">
            <nz-table
              nzSize="small"
              nzShowPagination="false"
              [nzData]="[1, 2, 3]"
              [nzScroll]="{ x: '1000px' }"
            >
              <thead>
                <tr>
                  <th style="width: 100px">Image</th>
                  <th>Item</th>
                  <th>Unit Price</th>
                  <th>Tax</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Recieved</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td style="width: 100px">
                    <img
                      style="max-width: 100%"
                      src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
                      alt=""
                    />
                  </td>
                  <td>
                    <h3>Men's casual shirt</h3>
                    <h5>Yellow / XXL</h5>
                    <h5>SKU: 5072036</h5>
                  </td>
                  <td>1</td>
                  <td>1200</td>
                  <td>1</td>
                  <td>1200</td>
                  <td>
                    <div class="recived_qt">
                      <p>0</p>
                      <i class="lar la-plus-square"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div nz-row [nzGutter]="0">
              <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                <nz-card nzSize="small" class="ammount_summary">
                  <div class="ammount_summary_single">
                    <h4>Sub Total</h4>
                    <span>1200 TK</span>
                  </div>
                  <div class="ammount_summary_single">
                    <span>Tax (10%)</span>
                    <span>120 TK</span>
                  </div>
                  <nz-divider
                    style="margin: 5px 0"
                    nzType="horizontal"
                  ></nz-divider>
                  <div class="summary_total">
                    <h2>Refundable Amount = 1200 TK</h2>
                  </div>
                </nz-card>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-content>
    </nz-layout>
  </nz-card>
</div>

<!-- Old Code -->
<div>
  <div class="order-header-top">
    <div class="order-title">
      <h3>Purchase Order Details</h3>
    </div>

    <div class="order-btn-area">
      <ul>
        <li><button>Import</button></li>
        <li><button>Export</button></li>
        <li>
          <button class="active-btn" (click)="openDialog2()">+ New</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="order_details">
    <div class="order_details_left-sidebar">
      <div class="order-details-left-sidebar-top">
        <div class="order-details-left-top-dotted">
          <div>
            <button routerLink="/admin/regular-orders">
              All Purchase <i class="fa fa-angle-down"></i>
            </button>
          </div>
          <div class="dotted">
            <span><i class="fa-solid fa-ellipsis"></i></span>
          </div>
        </div>

        <div class="top-search-area">
          <div>
            <button><i class="fa fa-search"></i></button>
          </div>
          <div class="search-input">
            <input type="text" value="" placeholder="Search purchase" />
          </div>
        </div>
      </div>

      <div class="order-details-left-side-bar-main">
        <div class="order-details-sidebar-info">
          <ul>
            <li
              *ngFor="
                let data of purchases
                  | paginate
                    : {
                        itemsPerPage: ordersPerPage,
                        currentPage: currentPage,
                        totalItems: totalOrders
                      };
                let i = index
              "
              [class.active]="data?._id === id"
              [routerLink]="['../../', 'details', data._id]"
            >
              <div class="sidebar-info-left">
                <span [routerLink]="['../../', 'details', data._id]"
                  >{{ data?.purchaseId }} |
                  <small>{{ data?.dateTime | date }}</small></span
                >
              </div>
              <div class="sidebar-info-right">
                <h4>{{ data?.totalAmount }} TK</h4>
                <span>{{ data?.reference }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <form [formGroup]="dataForm">
      <div class="order-details-container">
        <div class="order-id-area">
          <div class="req-id-title">
            <h4>{{ purchase?.purchaseId }}</h4>
            <span
              >{{ purchase?.timeline?.purchasePlacedDate | date }}
              {{
                purchase?.timeline?.purchasePlacedDate | date: "mediumTime"
              }}</span
            >
          </div>
        </div>

        <div class="order-details-main">
          <div class="order-details-left">
            <div class="table-head">
              <div class="table-head-left">
                <ul>
                  <li>
                    <span
                      [class]="clickActive[0] ? 'menu-active' : ''"
                      (click)="getPurchaseDetails()"
                      >Overview</span
                    >
                  </li>
                  <li>
                    <span
                      [class]="clickActive[1] ? 'menu-active' : ''"
                      [routerLink]="['../../', 'edit', purchase?._id]"
                    >
                      <button class="edit-button" mat-button>
                        Edit <i class="fa fa-edit"></i>
                      </button>
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="info">
              <div class="title">
                <h3>Product Information</h3>
              </div>
              <div class="details">
                <div class="items">
                  Vendor : <span>{{ purchase?.supplier?.name }}</span>
                </div>
                <div class="items">
                  Manufacturer : <span>{{ purchase?.manufacturer }}</span>
                </div>
                <div class="items">
                  Supplier Link : <span>{{ purchase?.supplier_link }}</span>
                </div>
              </div>
            </div>

            <div class="order-table">
              <table>
                <thead>
                  <tr>
                    <th class="check">
                      <mat-checkbox></mat-checkbox>
                    </th>
                    <th class="si">SI</th>
                    <th class="item">Item Details</th>
                    <th class="quantity">PO Quantity</th>
                    <th class="quantity">Unit Price</th>
                    <th class="quantity">Tax</th>
                    <th class="quantity">Amount</th>
                    <th class="price">Recieved Quantity</th>
                    <th class="quantity">Recieved Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of products; let i = index">
                    <td class="check">
                      <mat-checkbox
                        (change)="onCheckChange($event, i)"
                      ></mat-checkbox>
                    </td>
                    <td class="si">
                      <span>{{ i + 1 }}</span>
                    </td>
                    <td class="item">
                      <div class="product">
                        <div class="product-img">
                          <img
                            [src]="
                              item.image
                                ? item.image
                                : '/assets/images/placeholder/test.png'
                            "
                            alt="item.product.name"
                          />
                        </div>
                        <div class="product-info">
                          <h3>{{ item?.productData?.name }}</h3>
                          <p>SKU: {{ item?.sku }}</p>
                        </div>
                      </div>
                    </td>

                    <td class="quantity">
                      <span>{{ item?.purchaseQuantity }}</span>
                    </td>
                    <td class="quantity">
                      <a href="#">{{ item?.purchasePrice }}</a>
                    </td>
                    <td class="tax">
                      <span>{{ item.purchaseTax }}%</span>
                    </td>
                    <td class="amount">
                      <span>{{ getAmount(item) }}</span>
                    </td>
                    <td class="price">
                      <span>
                        {{ item.recieved ? item.recieved : 0 }}
                        <a
                          (click)="
                            openRecieved(
                              item.productData._id,
                              item?.recieved,
                              i,
                              item?.purchaseQuantity
                            )
                          "
                        >
                          +
                        </a>
                      </span>
                    </td>
                    <td class="quantity">
                      <span>{{ getRecievedAmount(item) }} TK</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="order-pay-details">
              <div class="payment-summery-area">
                <div class="total-area">
                  <ul>
                    <li>
                      <div class="total-title">
                        <h3>Sub Total</h3>
                      </div>
                      <div class="total-price">
                        <h4>{{ purchase?.subTotal }} TK</h4>
                      </div>
                    </li>
                    <li>
                      <div class="total-title">
                        <h3>Shipping Charge</h3>
                      </div>
                      <div class="total-price">
                        <h4>{{ purchase?.purchaseShippingCharge }} TK</h4>
                      </div>
                    </li>
                    <li>
                      <div class="total-title">
                        <h3>Adjustment</h3>
                      </div>
                      <div class="total-price">
                        <h4>{{ purchase?.adjustmentPrice }} TK</h4>
                      </div>
                    </li>
                    <li>
                      <div class="total-title">
                        <h3>Total</h3>
                      </div>
                      <div class="total-price">
                        <h4>{{ purchase?.totalAmount }} TK</h4>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
