<!--create-zone-->
<div class="create-zone-area" *ngIf="createZonePopUp == true">
    <div class="create-zone-main">
        <!---header-->
        <div class="create-zone-header">
            <div>
                <h3>Create Zone</h3>
            </div>
            <div>
                <span (click)="ZonepopUpHide()"><i class="fa fa-xmark"></i></span>
            </div>
        </div><!---end-->
        <div class="create-zone-body">
            <div class="form-input">
                <h3>Zone Name</h3>
                <div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" value="" placeholder="Enter your zone name">
                    </mat-form-field>
                    <span>Customer's won't see this.</span>
                </div>

            </div>
            <!---form-input-->
            <div class="form-input">
                <div class="search">
                    <button><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search countries and regions ">
                </div>
            </div>
            <!--form-input-->
            <div class="form-input">
                <div class="city">
                    <mat-checkbox class="mat-check">All Bangladesh</mat-checkbox>
                    <mat-checkbox class="mat-check">Dhaka</mat-checkbox>
                </div>
            </div>
            <div class="form-input">
                <div class="sub-city">
                    <mat-checkbox class="mat-check">North Dhaka</mat-checkbox>
                </div>
            </div>
            <div class="form-input">
                <div class="town">
                    <mat-checkbox class="mat-check">Kala</mat-checkbox>
                    <mat-checkbox class="mat-check">North Dhaka</mat-checkbox>
                </div>
            </div>
        </div><!---end-->
        <div class="create-zone-btn">
            <ul>
                <li><button (click)="ZonepopUpHide()">Cancel</button></li>
                <li><button class="active">Done</button></li>
            </ul>
        </div>
    </div>
</div>