@import'./../../../../.../../.././theme/variables';
.create-zone-area{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 50%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}
.create-zone-main{
    display: block;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 80px;
}

.create-zone-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #e2e4e6;
    padding: 20px 20px;
    box-sizing: border-box;
}
.create-zone-header h3{
    color: #000000;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight:600;
    font-size: 19px;
    display: block;
    line-height: 24px;
}
.create-zone-header span{
    font-size: 17px;
    color: #6d7072;
}
.create-zone-body{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.form-input{
    display: block;
    border-bottom: 1px solid #e2e4e6;
    padding: 10px 20px;
    box-sizing: border-box;
}
.form-input span{
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #707070;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 15px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.search button{
    background-color: #fff;
    outline: none;
    border: 1px solid #c2c6ca;
    width: 40px;
    height: 37px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #84888b;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
.search input{
    background-color: #fff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #c2c6ca;
    height: 37px;
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    outline: none;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}
.campaign-header-search ::placeholder{
    color: #84888b;
}
.create-zone-btn{
    display: block;
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: right;
}
.create-zone-btn ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.create-zone-btn ul li{
    display: inline-block;
    margin-right: 15px;
}
.create-zone-btn ul li:last-child{
    margin: 0px;
}
.create-zone-btn ul li button{
    border: 1px solid #e2e4e6;
    outline: none;
    color: #252728;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s linear;
}
.create-zone-btn ul li button:hover{
    background-color: #0058ff;
    border-color: #0058ff;
    color: #fff;
}
.create-zone-btn ul li .active{
    background-color: #0058ff;
    border-color: #0058ff;
    color: #fff;
}




/** form-field and common code****/
.form-input h3{
    color: #3b3c3d;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    display: block;
    line-height: 22px;
    margin-bottom: 7px!important;
}
.form-field{
    display: block;
    width: 100%;
    min-width: 0px;
}
.form-field input{
    color: #131523;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 15px;
}
.form-field mat-form-field{
    display: block;
    width: 100%;
}
::ng-deep.form-field.mat-form-field .mat-form-field-label{
    color: #74777e;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field mat-select{
    color: #000;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field .mat-form-field-infix{
    width: auto;
    min-width: 0px;
}
::ng-deep.filter .mat-form-field-infix{
    width: 80px;
}
.filter mat-label{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 15px;
}
::ng-deep.filter .mat-select-arrow{
    color: #0058ff;
}
::ng-deep.form-field .mat-form-field-appearance-outline .mat-form-field-outline{
    color: #a1a5a9;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: #0058ff;
}
::ng-deep.form-field.mat-form-field.mat-focused .mat-form-field-label{
    color: #0058ff!important;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding-bottom:0px;
}
.form-field input,.form-field textarea{
    color: #74777e;
    font-family: $font-en-primary-2;
    font-size: 16px;
}
::placeholder{
    color:#74777e;
}
.mat-check{
    color: #707070;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
.sub-city{
    margin-left: 20px;
}
.town{
    margin-left: 40px;
}
.mat-check:last-child{
    margin: 0px;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline{
    color: #0058ff;
}

::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin{
    background-color: #d7e7ff;
}
::ng-deep.mat-check .mat-checkbox-frame{
    border-color: #b0ceff;
}
::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #0058ff;
}
::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #0058ff;
}