<!-- <mat-dialog-content> -->

  <div class="create-order-area" class="active-create-order-area">

    <div class="create-order-main">
       <form
       [formGroup]="dataForm!!"
       (ngSubmit)="onSubmitForm()"
       #formTemplate="ngForm">

        <!--create-order-header-->
        <div class="create-order-header">
            <div class="create-order-header-left">
                <h3>Edit Order</h3>
            </div>
            <div class="create-order-header-right">
              <span ><i mat-dialog-close class="fa-solid fa-xmark"></i></span>
            </div>
        </div>
        <!----create-order-body-->
        <div class="create-order-body">
            <!---create-order-body-top-->
            <div class="create-order-body-top">
                <!---create-order-top-form-input-->
                <div class="create-order-top-form-input">
                   <div class="create-order-top-form-input-left">
                       <h3>Customer Name:</h3>
                   </div>
                   <div class="create-order-top-form-input-right">
                    <div class="form-input order-flex">
                        <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                            <mat-label>Customer Name</mat-label>
                            <input formControlName="fullName" matInput placeholder="Enter your name ">
                            <!-- <mat-error *ngIf="">This field is required</mat-error> -->
                          </mat-form-field>
                          <!-- <div class="order-search">
                              <button><i class="fa fa-search"></i></button>
                          </div> -->
                    </div>
                   </div>
                </div> <!---create-order-top-form-input-end-->
                <!---create-order-top-form-input-->
                <div class="create-order-top-form-input">
                    <div class="create-order-top-form-input-left">
                        <h3>Email</h3>
                    </div>
                    <div class="create-order-top-form-input-right">
                        <div class="form-input">
                            <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email" placeholder="Enter your email id" value="">
                                <mat-error *ngIf="">This field is required</mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                 </div> <!---create-order-top-form-input-end-->
                <!---create-order-top-form-input-->
                <div class="create-order-top-form-input">
                    <div class="create-order-top-form-input-left">
                        <h3>Phone</h3>
                    </div>
                    <div class="create-order-top-form-input-right">
                        <div class="form-input">
                            <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                                <mat-label>Phone no</mat-label>
                                <input formControlName="phoneNo" type="text" matInput placeholder="Enter your phone no" value="">
                                <mat-error *ngIf="">This field is required</mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                 </div> <!---create-order-top-form-input-end-->
                   <!---create-order-top-form-input-->
                <div class="create-order-top-form-input">
                    <div class="create-order-top-form-input-left">
                        <h3>Address</h3>
                    </div>
                    <div class="create-order-top-form-input-right">
                        <div class="form-input">
                            <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                                <mat-label>Address</mat-label>
                                <input formControlName="shippingAddress" type="text" matInput placeholder="Enter your address" value="">
                                <mat-error *ngIf="">This field is required</mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                 </div> <!---create-order-top-form-input-end-->
                        <!---create-order-top-form-input-->
                <div class="create-order-top-form-input">
                    <div class="create-order-top-form-input-left">
                        <h3>Delivery Method:</h3>
                    </div>
                    <div class="create-order-top-form-input-right">
                     <div class="form-input ">
                         <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                             <mat-label> Select delivery method</mat-label>
                             <mat-select formControlName="deliveryOption">
                                <mat-option *ngFor="let option of deliveryOptions" [value]="option.value" >
                                    {{option.viewValue}}
                                </mat-option>
                             </mat-select>
                             <mat-hint style="padding-top: 20px;">Inside Dhaka : Pathao, REDX , Outside Dhaka : Sa Paribahan Sundarban</mat-hint>
                             <mat-error *ngIf="">This field is required</mat-error>
                           </mat-form-field>

                     </div>
                    </div>
                 </div> <!---create-order-top-form-input-end-->


            </div><!---create-order-body-top-end-->
            <!---create-order-body-main-->
            <div class="create-order-body-main">
                <!---item-details-->
                <div class="item-details">
                    <!---item-details-header-->
                    <div class="item-details-header">
                        <h3>Item Details</h3>
                    </div>
                    <!--product-info-->
                    <div class="product-info" *ngFor="let data of products;let i=index" > <!-- " -->
                        <!---product-img-->
                        <div class="product-img">
                            <img  [src]="data?.product?.medias ? data.product.medias[0] : '/assets/images/placeholder/test.png'" [alt]="data?.productName">
                        </div>
                        <!---product-text-details-->
                        <div class="product-text-details">
                            <!--product-header-->
                            <div class="product-header">
                                <div>
                                    <a href="#">{{data.product.name}}</a>
                                </div>
                                <div (click)="onDeleteCartItem(data._id)">
                                    <span><i class="fa fa-trash"></i></span>
                                </div>
                            </div>
                            <!---product-point-->
                            <div class="product-point">
                                <h3>Earn <span class="earn">+50</span> or redeem <span class="redeem-pts">-50</span> pts</h3>
                            </div>
                            <!---product-sku-->
                            <div class="product-sku">
                                <h3>SKU: 23456</h3>
                            </div>
                            <!---product-bottom-->
                            <div class="product-bottom">
                                <div>
                                    <h3>Delivery within 30 Days</h3>
                                </div>
                                <div>
                                    <span>( 10% advance )</span>
                                </div>
                            </div>

                        </div>
                    </div><!---product-end-->
                    <!----add-product-img-->
                    <div class="add-product">
                        <!---add-btn-->
                        <div class="add-btn">
                            <button><i class="fa fa-images"></i></button>
                        </div>
                        <div class="add-form-input">
                            <div class="form-input" (click)="onClickSearchArea($event)">
                                    <form class="form-field" #searchForm=ngForm>
                                      <input #searchInput
                                             id="searchInput"
                                             class="form-inp"
                                             type="text"
                                             placeholder="Search in caremebd..."
                                             (focus)=handleFocus($event)
                                             name="searchTerm"
                                             autocomplete="off"
                                             ngModel
                                             required>
                                      <div *ngIf="isLoading" class="sk-fading-circle">
                                        <div class="sk-circle1 sk-circle"></div>
                                        <div class="sk-circle2 sk-circle"></div>
                                        <div class="sk-circle3 sk-circle"></div>
                                        <div class="sk-circle4 sk-circle"></div>
                                        <div class="sk-circle5 sk-circle"></div>
                                        <div class="sk-circle6 sk-circle"></div>
                                        <div class="sk-circle7 sk-circle"></div>
                                        <div class="sk-circle8 sk-circle"></div>
                                        <div class="sk-circle9 sk-circle"></div>
                                        <div class="sk-circle10 sk-circle"></div>
                                        <div class="sk-circle11 sk-circle"></div>
                                        <div class="sk-circle12 sk-circle"></div>
                                      </div>
                                    </form>

                              <!-- Suggestion View -->
                                    <ul id="auto-suggestion" class="auto-complete-box"
                                        [ngClass]="searchProducts.length > 0 && isOpen ? 'active' : ''">
                                      <li class="list-view" *ngFor="let data of searchProducts" (click)="onSelectItem(data)">
                                        <img class="img-thumb" [src]="data.images && data.images.length > 0 ? data.images[0] : '/assets/images/placeholder/test.png'" [alt]="data?.productName">
                                        <div class="desc">
                                          <h3>{{data?.name}}</h3>
                                        </div>
                                        <div class="price">
                                          <h5>৳{{data.sellingPrice}}</h5>
                                          <p class="discount">
                                            <!-- {{(data | price: 'discountPercentage') > 0 ? '(' + (data | price: 'discountPercentage') + '% OFF)' : ''}} -->
                                          </p>
                                       </div>
                                      </li>
                                    </ul>
                                   <!-- END SEARCH -->
                            </div>
                        </div>

                    </div>

                </div><!--item-details-end-->
                <!---table-area-->
                <div class="product-table-area">

                    <div class="product-table-area-main">
                        <!----table-->
                        <div class="table">

                            <div class="table-head">
                                <div class="table-row">
                                    <div class="table-heading">
                                        <h3>Vendor</h3>
                                    </div>
                                    <div class="table-heading">
                                        <h3>Quantity</h3>
                                    </div>
                                    <div class="table-heading">
                                        <h3>Price</h3>
                                    </div>
                                    <div class="table-heading">
                                        <h3>Discount</h3>
                                    </div>
                                    <div class="table-heading amount">
                                        <h3>Amount</h3>
                                    </div>

                                </div>
                            </div>
                            <!---table-body-area-->
                            <div class="table-body">
                                <div class="table-row" *ngFor="let data of products;let i=index">
                                    <!---table-data-->
                                    <div class="table-data">
                                        <div class="table-input">
                                           <select name="#" id="">
                                               <option value="global">Global</option>
                                               <option value="careme">Careme</option>
                                           </select>
                                        </div>
                                    </div>
                                  <!---table-data-->
                                  <div class="table-data">
                                    <div class="table-input qty-input">
                                        <button class="inc" (click)="decrementQty(i)" >-</button>
                                       <h2>{{data.quantity}}</h2>
                                        <button class="inc" (click)="incrementQty(i)">+</button>
                                    </div>
                                </div>
                                  <!---table-data-->
                                  <div class="table-data">
                                    <div class="table-input">
                                      <h3>{{data.product.sellingPrice}}</h3>
                                    </div>
                                </div>
                                 <!---table-data-->
                                 <div class="table-data">
                                    <div class="table-input">
                                      <h3>0</h3>
                                    </div>
                                </div>
                                  <!---table-data-->
                                  <div class="table-data amount">
                                      <!---price-->
                                      <div class="price">
                                          <!-- <del>2000</del> -->
                                          <h3>{{getTotal(data)}}</h3>
                                      </div>
                                </div>
                            </div>

                            </div>

                            <!---discount-area-->
                            <div class="discount-area">
                                <!--discount-info--->
                                <div class="discount-info">
                                    <!---discount-left-->
                                    <div class="discount-left">
                                        <div>
                                            <h3>Total Discount:</h3>
                                        </div>
                                        <div>
                                            <input #discountInput (keyup)="handleDiscountChange(discountInput.value)"  type="number" value="">
                                        </div>
                                    </div>
                                    <!---discount-right-->
                                    <div class="discount-right">
                                        <span>{{totalDiscount>0?totalDiscount:"0.00"}}</span>
                                    </div>
                                </div>
                                <!--discount-info--->
                                <div class="discount-info">
                                    <!---discount-left-->
                                    <div class="discount-left">
                                        <div>
                                            <h3>Delivery fees:</h3>
                                        </div>
                                        <div>
                                            <input  #deliveryFees (keyup)="handleDeliveryChange(deliveryFees.value)" type="number" value="">
                                        </div>
                                    </div>
                                    <!---discount-right-->
                                    <div class="discount-right">
                                        <span>{{totalDeliveryFee>0?totalDeliveryFee:'0.00'}}</span>
                                    </div>
                                </div>
                            </div>

                        </div><!----table-end-->
                    </div><!----table-area-main-end-->
                </div>
            </div><!---create-order-body-main-end-->

              <!---summery-area-->
              <div class="summery-area">
                <!---summery-info-->
                <div class="summery-info">
                    <div class="summery-info-left">
                        <h3>Total:</h3>
                    </div>
                    <!--summery-info-right-->
                    <div class="summery-info-right">
                        <h3>{{cartSubtotal}}</h3>
                    </div>
                </div>
                <!---summery-info-->
                <div class="summery-info">
                    <div class="summery-info-left">
                        <h3>Need to pay:</h3>
                    </div>
                    <!--summery-info-right-->
                    <div class="summery-info-right">
                        <h3 style="color: #e62e04;">{{cartSubtotal}}</h3>
                    </div>
                </div>
                <!---pts-->
                <div class="point">
                    <mat-checkbox class="mat-check">50 Pts (-)</mat-checkbox>
                    <mat-checkbox class="mat-check">100 Pts (+)</mat-checkbox>
                </div>
                  <!---summery-info-->
                  <div class="summery-info due">
                    <div class="summery-info-left">
                        <h3>Due:</h3>
                    </div>
                    <!--summery-info-right-->
                    <div class="summery-info-right">
                        <h3>{{cartSubtotal}}</h3>
                    </div>
                </div>
            </div>
            <!--message-area-->
            <div class="messsage-area">
                <div class="form-input">
                    <h3>Message from customer:</h3>
                    <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                        <mat-label>Your Message...</mat-label>
                        <textarea formControlName="message" matInput rows="7" cols="10" placeholder="write your message.."></textarea>
                      </mat-form-field>

                </div>
            </div>
        </div><!----create-order-body-end-->
        <div class="create-order-btn">
            <ul>
                <li><button type="button" >Cancel</button></li>
                <li><button type="submit" class="save-active">Send</button></li>
            </ul>
        </div>

       </form>
    </div>
</div>

<!-- </mat-dialog-content> -->
