@import'./../../../../theme/variables';

.header-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-top{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
@media(max-width:500px){
    .header-top{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.title{
    display: block;
    width: 100%;
}
.title h3{
    color: #131523;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
}
.title h4{
    color: #000;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-top: 10px!important;
}


.coupon-header-bottom{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
@media(max-width:790px){
    .coupon-header-bottom{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }
}
.coupon-header-bottom-right{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}
@media(max-width:570px){
    .campaign-header-bottom-right{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.coupon-header-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 300px;
    width: 100%;
}
.coupon-header-search button{
    background-color: #fff;
    outline: none;
    border: 1px solid #0058ff;
    width: 40px;
    height: 37px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0058ff;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
.coupon-header-search input{
    background-color: #fff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #0058ff;
    height: 37px;
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    outline: none;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}
.coupon-header-search ::placeholder{
    color: #0058ff;
}
.coupon-header-btn{
    display: block;
}
.coupon-header-btn ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.coupon-header-btn ul li{
    display: inline-block;
    margin-right: 10px;
}
.coupon-header-btn ul li:last-child{
    margin: 0px;
}
.coupon-header-btn ul li button{
    background-color: #0058ff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    border: 1px solid #0058ff;
    border-radius: 5px;
}

/****return-table-area ***/
.coupon-table-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 0px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%),0 -1px 2px rgb(0 0 0 / 10%);
    background-color: #fff;
    margin-bottom: 30px;
    // min-height: 65vh;
}
.coupon-table-main{
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.table{
    display: block;
    width: 100%;
}
.table-head{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.table-head .table-row{
    box-shadow: none;
    margin-bottom: 5px;
}
.table-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    min-width:650px;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}
.table-row:last-child{
    margin: 0px;
}
.table-heading{
    display: block;
    width: 100%;
    min-width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0px;
    box-sizing: border-box;
}
.table-heading h3{
    color: #131523;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    display: block;
    line-height: 17px;
}
.table-data{
    width: 100%;
    min-width: 140px;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;
}
.table-data h3{
    color: #000;
    font-family: $font-en-primary-2;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: block;
    margin: 0px!important;
    line-height: 20px;
}
.table-data span{
    display: block;
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: underline;
}
.table-data.status button{
    outline: none;
    border: none;
    background-color: #22d500;
    padding: 3px 15px;
    color: #fff;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    border-radius: 20px;
}
.table-data.vendor button{
    background-color: #ff9292;
    color: #131523;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 13px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    border: none;
}

.code,.total{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 10px;
}
.code span{
    text-align: right!important;
}


.indicator{
    display: block;
    width: 100%;
    margin: 40px 0px 0px 0px;
    padding-bottom: 20px;
}
.indicator ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.indicator ul li button{
    background-color: #0058ff;
    color:#fff;
    width: 35px;
    height: 35px;
    outline: none;
    border: 1px solid #0058ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 17px;
}

/** form-field and common code****/
.form-field{
    display: block;
    width: 100%;
    min-width: 0px;
}
::ng-deep.form-field.mat-form-field .mat-form-field-label{
    color: #74777e;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field mat-select{
    color: #000;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field .mat-form-field-infix{
    width: auto;
    min-width: 0px;
}
::ng-deep.filter .mat-form-field-infix{
    width: 150px;
}
.filter mat-label{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 15px;
}
::ng-deep.filter .mat-select-arrow{
    color: #0058ff;
}
::ng-deep.form-field .mat-form-field-appearance-outline .mat-form-field-outline{
    color: #a1a5a9;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: #0058ff;
}
::ng-deep.form-field.mat-form-field.mat-focused .mat-form-field-label{
    color: #0058ff!important;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding-bottom:0px;
}
.form-field input,.form-field textarea{
    color: #74777e;
    font-family: $font-en-primary-2;
    font-size: 16px;
}
::placeholder{
    color:#74777e;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline{
    color: #0058ff;
}

::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin{
    background-color: #d7e7ff;
}
::ng-deep.mat-check .mat-checkbox-frame{
    border-color: #b0ceff;
}
::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #0058ff;
}
::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #0058ff;
}