@import "./../../../../theme/variables";

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  .header-action {
    display: flex;
    align-items: center;
    button {
      border: none;
      background: transparent;
      margin-left: 25px;
    }
  }
}
.table-filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  form {
    width: 50%;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      border: 1px solid #ddd;
      button {
        border: none;
        background: none;
        padding: 10px 20px;
      }
    }
  }
}
.produc-details {
  h2 {
    font-size: 14px;
    color: #2d2d2d;
    display: flex;
    a {
      margin-left: 15px;
      display: inline-block;
      i {
        visibility: hidden;
      }
    }
  }
}
tr:hover .produc-details h2 a i {
  visibility: visible;
}
.variant-name {
  display: flex;
}

.view-product-header-area {
  display: block;
  width: 100%;
  margin: 30px 0px 40px 0px;
  box-sizing: border-box;
}
.view-product-header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.view-product-header-left {
  display: block;
}
.view-product-header-left h2 {
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  margin: 0px;
}
.view-product-header-right {
  display: block;
}
.view-product-header-right ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.view-product-header-right ul li {
  display: inline-block;
  margin-right: 20px;
  color: #000;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 19px;
}
.view-product-header-right ul li:last-child {
  margin: 0px;
}
.view-product-header-right ul li button {
  background-color: #fff;
  border: 1px solid #0058ff;
  color: #0058ff;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 17px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s linear;
}
.view-product-header-right ul li button:hover {
  background-color: #0058ff;
  color: #fff;
}
.view-product-header-right ul li .active-btn {
  background-color: #0058ff;
  color: #fff;
}
@media (max-width: 768px) {
  .view-product-header-main {
    flex-direction: column;
    align-items: flex-start;
  }
  .view-product-header-right ul li:first-child {
    display: none;
  }
  .table-filter-area {
    flex-direction: column;
  }
  .table-filter-area form {
    width: 100%;
    margin-bottom: 10px !important;
  }
}
