<!---header-area-->
<div class="page-header">
  <h2>All Stock <span (click)="onRefresh()"><i [class]="isLoading ? 'fa fa-refresh fa-spin': 'fa fa-refresh'"></i></span></h2>
  <div class="header-action">
    <button type="button" (click)="exportPopUpShow()">Export</button>
    <button type="button" (click)="exportPopUpShow()">Import</button>
  </div>
</div>

<!---Table-area-->
<div class="table-samary" style="margin-bottom: 30px">
  <nz-card>
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form #searchForm=ngForm >
            <input nz-input #searchInput id="searchInput" class="tw" type="text" placeholder="Filter Products"
              (focus)=handleFocus($event) name="searchTerm" autocomplete="off" ngModel required>
          </form>
          <ul>
            <li>
              <button [matMenuTriggerFor]="changeProductStatus">
                Bulk Action <i class="fa fa-caret-down"></i>
              </button>
            </li>
            <mat-menu #changeProductStatus="matMenu">
              <button mat-menu-item>Action 1</button>
              <button mat-menu-item>Action 2</button>
              <button mat-menu-item>Action 3</button>
            </mat-menu>
            <li>
              <button [matMenuTriggerFor]="productSort">
                Sort <i class="fa fa-caret-down"></i>
              </button>
            </li>
            <mat-menu #productSort="matMenu">
              <button mat-menu-item (click)="sortData({ name: 1 }, 1)" [class.dropdown-active]="activeSort === 1">
                Product Title (A-Z)
              </button>
              <button mat-menu-item (click)="sortData({ createdAt: 1 }, 2)" [class.dropdown-active]="activeSort === 2">
                Created (Oldest First)
              </button>
              <button mat-menu-item (click)="sortData({ quantity: -1 }, 3)" [class.dropdown-active]="activeSort === 3">
                High Inventory
              </button>
              <!-- need to change -->
              <button mat-menu-item (click)="sortData({ categoryName: -1 }, 4)"
                [class.dropdown-active]="activeSort === 4">
                Product Type (A-Z)
              </button>
              <button mat-menu-item (click)="sortData({ vendor: 1 }, 5)" [class.dropdown-active]="activeSort === 5">
                Vendor (A-Z)
              </button>
            </mat-menu>
            <li><button>More</button></li>
          </ul>
        </div>

        <nz-table [nzData]="products" [nzLoading]="isLoading" #basicTable nzSize="small">
          <thead>
            <tr>
              <th style="width: 50px; text-align: center">
                <mat-checkbox #matCheckbox class="mat-check" (change)="onAllSelectChange($event)">
                </mat-checkbox>
              </th>
              <th style="width: 50px; text-align: center">Image</th>
              <th>Product Details</th>
              <th>SKU</th>
              <th>Instock</th>
              <th>Committed</th>
              <th>Available</th>
              <th>Unit Cost</th>
              <th>Pre-Order</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of basicTable.data">
            <tr *ngIf="!data.hasVariant">
              <td style="width: 50px; text-align: center">
                <mat-checkbox class="mat-check" (ngModelChange)="onCheckChange($event, i, data?._id)"
                  [(ngModel)]="data.select"></mat-checkbox>
              </td>
              <td>
                <img style="width: 50px" [src]="
                    setThumbnailImage(data)
                      ? setThumbnailImage(data)
                      : '/assets/images/placeholder/test.png'
                  " alt="data.name" />
              </td>
              <td class="produc-details">
                <h2>
                  {{ data.name }}
                  <a [routerLink]="['../../', 'add-product', data._id]"><i class="eyeButton" class="fa fa-eye"></i></a>
                </h2>
              </td>
              <td>
                <span>{{ data.sku }}</span>
              </td>
              <td style="color: blue">
                {{ data.quantity + data.committedQuantity }}
              </td>
              <td style="color: orange">{{ data.committedQuantity }}</td>
              <td style="color: green">{{ data.quantity }}</td>
              <td>{{ data.costPrice }}</td>
              <td>{{ data.continueSelling ? "Yes" : "No" }}</td>
            </tr>

            <tr *ngFor="let variant of data?.variantFormArray; let i = index">
              <td style="width: 50px; text-align: center">
                <mat-checkbox class="mat-check" (ngModelChange)="onCheckChange($event, i, data?._id)"
                  [(ngModel)]="data.select"></mat-checkbox>
              </td>
              <td>
                <img style="width: 50px" [src]="
                    setThumbnailImage(data)
                      ? setThumbnailImage(data)
                      : '/assets/images/placeholder/test.png'
                  " alt="data.name" />
              </td>
              <td class="produc-details">
                <h2>
                  {{ data.name }}
                  <a [routerLink]="['../../', 'add-product', data._id]">
                    <i class="eyeButton" class="fa fa-eye"></i>
                  </a>
                </h2>
                <span *ngFor="let type of data.variants; let x = index">
                  {{ this.getVariantName(i, type, data, x) }}
                </span>
              </td>
              <td>
                <span>{{ variant?.variantSku }}</span>
              </td>
              <td style="color: blue">
                {{
                variant?.variantQuantity + variant?.variantCommittedQuantity
                }}
              </td>
              <td style="color: orange">
                {{ variant?.variantCommittedQuantity }}
              </td>
              <td style="color: green">{{ variant?.variantQuantity }}</td>
              <td>0</td>
              <td>{{ variant.variantContinueSelling ? "Yes" : "No" }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>

<div class="export-popup-area">
  <app-export-popup (valueChange)="exportToExcel($event)" #export></app-export-popup>
</div>
