<!---view-product-top-->
<div class="view-product-header-area">
  <div class="view-product-header-main">
    <!--view-product-left-->
    <div class="view-product-header-left">
      <h2>All Products </h2>
    </div>
    <!---header-right-->
    <div class="view-product-header-right">
      <ul>
        <li (click)="exportPopUpShow()">Export</li>
        <li><button [routerLink]="['../../', 'add-by-link']">Add By link</button></li>
        <li><button class="active-btn" [routerLink]="['../../', 'add-product']">Add Product</button></li>
      </ul>
    </div>
  </div>
</div>

<!---all-products-main-area-->
<div class="all-products-main-area">
  <!--products-menu-->
  <div class="all-products-menu">
    <ul>
      <!-- <li><button class="active-tab" (click)="onFilterSelectChange(0)">All</button></li> -->
      <li><button [class]="status == 0 ?'active-tab':'inactive'" (click)="onFilterSelectChange(0)">All</button></li>
      <li><button [class]="status == 1 ?'active-tab':'inactive'" (click)="onFilterSelectChange(1)">Draft</button></li>
      <li><button [class]="status == 2 ?'active-tab':'inactive'" (click)="onFilterSelectChange(2)">Active</button></li>
      <li><button [class]="status == 5 ?'active-tab':'inactive'" (click)="onFilterSelectChange(5)">Stock Out</button></li>
      <li><button [class]="status == 3 ?'active-tab':'inactive'" (click)="onFilterSelectChange(3)">Pre-Order</button></li>
      <li><button [class]="status == 6 ?'active-tab':'inactive'" (click)="onFilterSelectChange(6)">Re Order</button></li>
      <li><button [class]="status == 4 ?'active-tab':'inactive'" (click)="getAllArchivedProducts(4)">Archived</button></li>
    </ul>
  </div>
  <!--products-menu-end-->
  <!---products-search-area-->
  <div class="products-search-area">
    <!---search-->
    <div class="search" (click)="onClickSearchArea($event)">
      <button><i class="fa fa-search"></i></button>
      <form #searchForm=ngForm style="width: 100%;">
        <input #searchInput id="searchInput" class="tw" type="text" placeholder="Filter Products"
          (focus)=handleFocus($event) name="searchTerm" autocomplete="off" ngModel required>
      </form>
    </div>
    <!--products-search-area-btn--->
    <div class="products-search-area-btn">
      <ul>
        <li><button [matMenuTriggerFor]="changeProductStatus">Bulk Action <i class="fa fa-caret-down"></i></button></li>
        <mat-menu #changeProductStatus="matMenu">
          <button mat-menu-item (click)="deleteBulkProducts()">Delete</button>
          <button mat-menu-item (click)="changeStatus(1)">Draft</button>
          <button mat-menu-item (click)="changeStatus(2)">Active</button>
        </mat-menu>
        <li><button [matMenuTriggerFor]="productSort">Sort <i class="fa fa-caret-down"></i></button></li>
        <mat-menu #productSort="matMenu">
          <button mat-menu-item (click)="sortData({name: 1}, 1)" [class.dropdown-active]="activeSort === 1">Product
            Title (A-Z)</button>
          <button mat-menu-item (click)="sortData({createdAt: 1}, 2)" [class.dropdown-active]="activeSort === 2">Created
            (Oldest First)</button>
          <button mat-menu-item (click)="sortData({quantity: -1}, 3)" [class.dropdown-active]="activeSort === 3">High
            Inventory</button>
          <!-- need to change -->
          <button mat-menu-item (click)="sortData({categoryName: -1}, 4)"
            [class.dropdown-active]="activeSort === 4">Product Type (A-Z)</button>
          <button mat-menu-item (click)="sortData({vendor: 1}, 5)" [class.dropdown-active]="activeSort === 5">Vendor
            (A-Z)</button>
        </mat-menu>
        <li><button>More</button></li>
      </ul>
    </div>
  </div>
    <!---main-table-->
    <nz-table #nestedTable [nzData]="products">
      <!---main-table-head-->
      <thead>
        <tr>
          <th ></th>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllSelectChange($event)"></th>
          <th>Image</th>
          <th>Product</th>
          <th>Price</th>
          <th>Qty</th>
          <!-- <th>Variants</th> -->
          <th>Status</th>
          <th>Type</th>
          <th>Earn Points</th>
          <th>Redeem Points</th>
          <th>Vendor</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data" >
          <tr >
            <td [class]="data.hasVariant ? '' : 'hidePlus'" [nzExpand]="expandSet.has(data._id) && data.hasVariant" (nzExpandChange)="onExpandChange(data._id, $event)"></td>
            <td [nzChecked]="setOfCheckedId.has(data._id)" (nzCheckedChange)="onCheckChange($event, i, data._id)"></td>
            <td><img style="width: 40px; cursor:pointer" nz-image [nzSrc]="setThumbnailImage(data) ? setThumbnailImage(data) : '/assets/images/placeholder/test.png'" alt=""></td>
            <td>
              <a [routerLink]="['../../', 'add-product', data._id]">{{data.name}}</a>
              <a target="_blank" [routerLink]="['../../../', 'product-details', data.slug]">
                <i  class="eyeButton"  class="fa fa-eye"></i>
              </a>
              <span>{{data.sku}}</span>
            </td>
            <td>{{data.sellingPrice}}</td>
            <td>{{data.quantity}}</td>
            <!-- <td>{{data.variantFormArray.length}}</td> -->
            <td>
              <nz-select
                [(ngModel)]="data.status"
                nzPlaceHolder="Choose"
                [nzOptions]="productStatus"
                (ngModelChange)="onStatusChange(data.status, data, data._id)"
              ></nz-select>
            </td>
            <td>{{data?.productType?.name}}</td>
            <td>
              <span *ngIf = "!data.canEarnPoints">0</span>
              <span *ngIf = "data.canEarnPoints">{{data.earnPoints}} {{data.earnPointsType | amountType}}</span>
            </td>
            <td>
              <span *ngIf="!data.canRedeemPoints">0</span>
              <span *ngIf="data.canRedeemPoints">{{data.redeemPoints}} {{data.redeemPointsType | amountType}}</span>
            </td>
            <td>
              <span>{{data.vendor.name}}</span>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data._id) && data.hasVariant" >
                <nz-table [nzData]="nestedTable.data">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th *ngFor="let variantType of data.variants; let i=index">
                        {{variantType}}</th>
                      <th >Stock</th>
                      <th >Status</th>
                      <th >Pre Order</th>
                      <th >Price</th>
                      <th >Vendor</th>
                      <th>Re-order</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let variant of data.variantFormArray; let i=index">
                      <td>
                        <span>{{variant.variantSku}}</span>
                      </td>
                      <td *ngFor="let type of data.variants; let x=index">
                        <span>{{this.getVariantName(i, type, data)}}</span>
                      </td>
                      <td>
                        <span>{{variant.variantQuantity}}</span>
                      </td>
                      <td>
                        <button [class]="getVariantStatusColor(variant)">{{getVariantStatus(variant)}}</button>
                      </td>
                      <td>
                        <mat-checkbox [checked]="variant?.variantContinueSelling ? true: false"></mat-checkbox>
                      </td>
                      <td>
                        <span>{{variant.variantPrice}}</span>
                      </td>
                      <td>
                        <span>{{variant.variantVendorName.name}}</span>
                      </td>
                      <td>
                        <span>{{variant.variantReOrder}}</span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
          </tr>
        </ng-template>

      </tbody>
      <!---main-table-end-->

    </nz-table>
    <!---indicator-area-->
    <div class="indicator-area">
      <div class="pagination-container">
        <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="15"
          (pageChange)="onPageChanged($event)">
        </pagination-controls>
      </div>

      <div class="indicator-right">
        <span>Showing {{currentPage*productsPerPage-productsPerPage+1}} to {{currentPage*productsPerPage <=
            totalProducts ? currentPage*productsPerPage : totalProducts}} of {{totalProducts}} entries</span>
      </div>
    </div>
  <div class="export-popup-area">
    <app-export-popup (valueChange)='exportToExcel($event)' #export></app-export-popup>
  </div>
  <!-- NO DATA TEMPLATE -->
  <ng-template #noData>
    <div style="margin-top: 50px; text-align: center">
      <h2>No Product Found</h2>
    </div>
  </ng-template>
