@import "./../../../../theme/client-side-varriables";

.card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.att_image {
  h1 {
    font-size: 30px;
  }
  @media (max-width: 500px) {
    margin-top: 30px;
    h1 {
      font-size: 20px;
    }
  }
  .images {
    margin-top: 20px;
    img {
      margin: 0 5px 5px 0;
      display: inline-block;
      width: 48%;
      cursor: pointer;
    }
  }
}
.ticket_details {
  margin-bottom: 30px;
  ul {
    li {
      list-style: none;
      h4 {
        span {
          min-width: 120px;
          display: inline-block;
        }
      }
    }
  }
}
.chat_action {
  display: flex;
  position: relative;
  align-items: center;
  input {
    border: none;
    height: 60px;
  }
  ul {
    position: absolute;
    right: 0;
    margin: 0;
    li {
      list-style: none;
      border-radius: 100%;
      text-align: center;
      float: left;
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      justify-content: center;
      background: rgb(245, 245, 245);
      margin-right: 5px;
      cursor: pointer;
      transition: 0.3s;
      i {
        font-size: 18px;
      }
    }
    li:last-child {
      background: #00662e;
      color: #eeeeee;
    }
    li:hover {
      background: #a32e72;
      color: #eeeeee;
    }
  }
}
.chat_content {
  display: flex;
  flex-direction: column;
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 50px;
  @media (max-width: 500px) {
    background: #ffffff;
    padding: 0px;
  }
  .admin {
    display: flex;
    justify-content: last baseline;
    align-items: flex-start;
    flex-direction: row;
    ul {
      margin: 5px 0 0 10px;
      border-radius: 15px;
      overflow: hidden;
      li {
        max-width: 100%;
        padding: 3px 10px;
        list-style: none;
        margin-bottom: 2px;
        text-align: left;
      }
    }
    .chatprof {
      text-align: center;
      p {
        font-size: 12px;
        padding: 10px 0 0 0;
        color: #626262;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
    }
  }
  .customer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    ul {
      margin: 5px 10px 0 0;
      border-radius: 15px;
      overflow: hidden;
      li {
        max-width: 100%;
        padding: 3px 10px;
        list-style: none;
        margin-bottom: 2px;
        text-align: right;
      }
    }
  }
  .chatprof {
    text-align: center;
    p {
      font-size: 12px;
      padding: 10px 0 0 0;
      color: #626262;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
}
