<div nz-row>
  <div nz-col nzSpan="24"></div>
  <div nz-col nzSpan="24">
    <nz-card>
      <div class="card_head">
        <div class="card_head-info">
          <h3>#TICKETID85898</h3>
          <h5>25/10/2021 | 04.45 PM</h5>
        </div>
        <button nz-button nzType="default">Open</button>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 18 }">
          <div class="ticket_details">
            <ul>
              <li>
                <h4><span>Products SKU</span> : 5072036</h4>
                <h4><span>Order ID</span> : SO-2616493</h4>
                <h4><span>Issue Type</span> : Delivery Issue</h4>
                <h4>
                  <span>Message</span> : nullam 😞 nibh 😽 voluptate aute qui
                  aliquet, consequat. tempor mi. hac dolore veniam, elit.
                  ullamco platea augue dolor risus
                </h4>
              </li>
            </ul>
          </div>

          <div class="ticket_chat">
            <nz-card nzSize="small">
              <div class="chat_content">
                <div class="customer">
                  <ul>
                    <li>Hello there!</li>
                  </ul>
                  <div class="chatprof">
                    <img
                      nz-image
                      nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                      alt=""
                    />
                    <p>09:35PM</p>
                  </div>
                </div>
                <div class="admin">
                  <div class="chatprof">
                    <img
                      nz-image
                      nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                      alt=""
                    />
                    <p>09:35PM</p>
                  </div>
                  <ul>
                    <li>Hello Sir!</li>
                    <li>How are you today?</li>
                  </ul>
                </div>
              </div>
              <div class="chat_action">
                <input
                  nz-input
                  placeholder="Enter your message here"
                  nzSize="large"
                />
                <ul>
                  <li>
                    <i class="fa-solid fa-face-smile"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-paperclip"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-paper-plane"></i>
                  </li>
                </ul>
              </div>
            </nz-card>
          </div>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 6 }">
          <div class="att_image">
            <h1>Your Attachments</h1>
            <nz-image-group class="images">
              <img
                nz-image
                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                alt=""
              />
              <img
                nz-image
                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                alt=""
              />
              <img
                nz-image
                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                alt=""
              />
              <img
                nz-image
                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                alt=""
              />
            </nz-image-group>
          </div>
        </div>
      </div>
    </nz-card>
    <ng-template #extraTemplate>
      <button nz-button nzType="default">Open</button>
    </ng-template>
  </div>
</div>
