
<div class="ticket_details">
    <div class="ticket_details_icon">
        <i class="fa-solid fa-arrow-left-long details_icon" ></i>
    </div>
    <div class="ticket_details_main">
        <div class="ticket_details_left">
            <div class="ticket_details_left_main">
                <div class="status_message_div">

                    <div class="status_div">
                        <h1>#IODSHFSD56</h1>
                        <div class="status_div_main">
                        
                            <div class="status_div_left_column">
                                <div class="status_image">
                                    <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image">
                                </div>
                                <div class="status_image_content">
                                    <h3>#OERGVNGH4</h3>
                                    <div class="image_para">
                                        <P>25/10/2021</P>
                                        <P>4.50 PM</P>
                                    </div>
                                </div>
                            </div>
    
                            <div class="status_div_middle_column">
                                <h3>Complain</h3>
                            </div>
    
                            <div class="status_div_right_column">
                                <i class="fas fa-circle stutas_icon"></i>
                                <div class="sub_icon_text">
                                    <P><strong>Working</strong></P>
                                    <span>17 OCT 2022</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="message_div">
                        <div class="main_message_div">
                            <h4>Your Message</h4>
                            <div class="your_message">
                                <p>To request multiple images of the same size in your browser, add the random query param to prevent the images from being cached:</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="message_box_main">
                    <div class="message_box">
                        <div class="message_box_header">
                            <h5>Discussions</h5>
                        </div>
                        <div class="horizontal_line"></div>
                        <div class="message_box_body ">
                            <div class="message_content">
                                <div class="receive_box">
                                    <div class="receive_message">
                                        <div class="chat_content" ><p>Hi! I'm fine.</p></div>
                                        <div class="chat_content"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
                                    </div>
                                    <div class="receive_thumb">
                                        <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="send_box" *ngFor="let item of [1,2,3]">
                                    <div class="send_thumb">
                                        <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image">
                                    </div>
                                    <div class="send_message">
                                        <div class="chat_content" ><p>Hi! I'm fine.</p></div>
                                        <div class="chat_content"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="input-area">
                        <div class="text_type_box">
                            <input type="text" placeholder="Enter you massage here...">
                            <div class="text_send_box">
                                <span><i class="fa-solid fa-face-smile"></i></span>
                                <span><i class="fa-solid fa-paperclip"></i></span>
                                <span style="color: white;"><i class="fa-solid fa-paper-plane"></i></span>
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ticket_details_right">
            <h2>Your Attachment</h2>
            <div class="image_galery">
                <ul class="gallery">
                    <li><a href="#"> <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image"></a></li>
                    <li><a href="#"> <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image"></a></li>
                    <li><a href="#"> <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image"></a></li>
                    <li><a href="#"> <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


