<div class="main-header">
    <p>Users & Roles</p>
  </div>
  
  <div class="container">
  
    <div class="header">
      <div class="left">
        <ul class="second-header">
          <li class="active">All Users</li>
          <li>Roles</li>
        </ul>
      </div>
  
      <div class="right">
        <ul class="second-header">
          <li><button class="edit" (click)="openDialog()"><i class="fa-solid fa-pen-to-square"></i>&nbsp;<strong>Edit</strong></button></li>
          <li><button class="more"><strong>More &nbsp; </strong><i class="fa-solid fa-caret-down"></i></button></li>
        </ul>
      </div>
    </div>
  
  
    <div class="details-container">
      <div class="users">
          <div class="header">
            <div class="p">User Details</div>
          </div>
  
          <div class="user-column">
            <div class="image">
              <img src="./assets/images/avatar/user-young.jpg" alt="">
            </div>
  
            <div class="details">
              <p><strong>Ahamed Rizvi</strong> &nbsp; &nbsp; <small> (Active) </small></p>
              <p>rizvi.fortunetech@gmail.com</p>
            </div>
          </div>
  
          <div class="user-column">
            <div class="image">
              <img src="./assets/images/avatar/user-young.jpg" alt="">
            </div>
  
            <div class="details">
              <p><strong>Ahamed Rizvi</strong> &nbsp; &nbsp; <small> (Active) </small></p>
              <p>rizvi.fortunetech@gmail.com</p>
            </div>
          </div>
  
          <div class="user-column">
            <div class="image">
              <img src="./assets/images/avatar/user-young.jpg" alt="">
            </div>
  
            <div class="details">
              <p><strong>Ahamed Rizvi</strong> &nbsp; &nbsp; <small> (Active) </small></p>
              <p>rizvi.fortunetech@gmail.com</p>
            </div>
          </div>
  
          <div class="user-column">
            <div class="image">
              <img src="./assets/images/avatar/user-young.jpg" alt="">
            </div>
  
            <div class="details">
              <p><strong>Ahamed Rizvi</strong> &nbsp; &nbsp; <small> (Active) </small></p>
              <p>rizvi.fortunetech@gmail.com</p>
            </div>
          </div>
  
          <div class="user-column">
            <div class="image">
              <img src="./assets/images/avatar/user-young.jpg" alt="">
            </div>
  
            <div class="details">
              <p><strong>Ahamed Rizvi</strong> &nbsp; &nbsp; <small> (Active) </small></p>
              <p>rizvi.fortunetech@gmail.com</p>
            </div>
          </div>
  
          <div class="user-column">
            <div class="image">
              <img src="./assets/images/avatar/user-young.jpg" alt="">
            </div>
  
            <div class="details">
              <p><strong>Ahamed Rizvi</strong> &nbsp; &nbsp; <small> (Active) </small></p>
              <p>rizvi.fortunetech@gmail.com</p>
            </div>
          </div>
      </div>
  
      <div class="details">
        <div class="user-column">
          <div class="image">
            <img src="./assets/images/avatar/user-young.jpg" alt="">
          </div>
  
          <div class="details">
            <p><strong class='name'>Ahamed Rizvi</strong> &nbsp; &nbsp; <button> (Active) </button></p>
            <p><strong class='others'>rizvi.fortunetech@gmail.com</strong></p>
            <br>
            <p><strong class='others'>Role: Admin</strong></p>
          </div>
        </div>
  
        <div class="more-details">
          <ul class="option">
            <li>More Details</li>
            <li class="active">Recent Activities</li>
          </ul>
        </div>
  
  
        <div class="steper">
          <ul class="options">
            <li class="step-div">
              <div class="date">
                  <strong>22 May 2021 <br> 12:20 PM</strong>
              </div>
              <div class="steper-circle">
                  <span class="circle"> </span>
              </div>
              <div class="role">
                  <strong>Role Product listing has been created</strong>
              </div>
            </li>
  
            <li class="step-div">
              <div class="date">
                  <strong>22 May 2021 <br> 12:20 PM</strong>
              </div>
              <div class="steper-circle">
                  <span class="circle"> </span>
              </div>
              <div class="role">
                  <strong>Role Product listing has been created</strong>
              </div>
            </li>
  
            <li class="step-div">
              <div class="date">
                  <strong>22 May 2021 <br> 12:20 PM</strong>
              </div>
              <div class="steper-circle">
                  <span class="circle"> </span>
              </div>
              <div class="role">
                  <strong>Role Product listing has been created</strong>
              </div>
            </li>
          </ul>
        </div>
  
      </div>
  
  
    </div>
  </div>
  


<!--component-->
<!-- <div class="component">
    <app-edit-user ></app-edit-user>
</div> -->
