<nz-tabset [nzTabBarExtraContent]="extraTemplate">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="onTabSelect(tab)">
    <nz-table #table [nzData]="listOfParentData" [nzPageSize]="10">
      <thead >
        <tr>
          <th>Rating</th>
          <th>Reviews</th>
          <th>Date & Time</th>
          <th>SKU</th>
          <th>Order No</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of table.data">
            <td>{{data.rating}}</td>
            <td>{{data.message}}</td>
            <td>{{data.date | date : 'short'}}</td>
            <td>{{data.sku}}</td>
            <td>{{data.orderNo}}</td>
          </tr>
      </tbody>
    </nz-table>

  </nz-tab>

</nz-tabset>
<ng-template #extraTemplate>
  <input nz-search placeholder="Search by id">
</ng-template>

