<!---view-Points-top-->
<div class="view-product-header-area">
    <div class="view-product-header-main">
        <div class="view-product-header-left">
            <h2>Points </h2>
        </div>
    </div>
  </div>
  
  <div class="all-products-main-area">
    <div class="all-products-menu">
      <h3><strong>Points Rules</strong></h3>
    </div>
  
    <div class="all-products-menu">
      <h4><strong>Earnings Rules</strong></h4>
      <div class='earning-rules'>
        <p>
        <strong>
            Every  
        <mat-form-field class="form-field" appearance="outline">
                <textarea matInput cols="10" rows="1"></textarea>
        </mat-form-field> 
        Pts equals 
        <mat-form-field class="form-field" appearance="outline">
          <textarea matInput cols="10" rows="1"></textarea>
        </mat-form-field>
        Tk
    </strong>
    </p>
  
        <p>
            <strong>
            Add points after  
        <mat-form-field class="form-field" appearance="outline">
          <textarea matInput cols="10" rows="1"></textarea>
        </mat-form-field> 
        Days of 
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field></strong></p>
      </div>
    </div>
  
    <div class="expense">
      <h4><strong>Expense Rules</strong></h4>
      <div class='earning-rules'>
        <p><strong>
            Minimum Purchase Amount
            <mat-form-field class="form-field" appearance="outline">
          <textarea matInput cols="10" rows="1"></textarea>
        </mat-form-field> 
        Tk
    </strong></p>
      </div>
    </div>
  </div>
  
