<!--pixel-->
<div class="pixel-header">
    <h3>Pixel</h3>
</div>
<!---pixel-area-->
<div class="pixel-area">
    <div class="pixel-main">
        <!---left-->
        <div class="pixel-left">
            <!--advance-show-->
            <div class="advance-show">
                <a href="#">Show Advanced </a>
            </div>
            <!---pixel-id-->
            <div class="pixel-id">
                <div class="form-input">
                    <h3>Pixel ID</h3>
                    <div>
                        <mat-form-field appearance="outline" class="form-field">
                            <input type="text" matInput placeholder="e.g. 1234556788">
                        </mat-form-field>
                        <h4>Copy your Facebook PixelID here</h4>
                    </div>
                </div>
            </div><!---pixel-id-end-->
            <!---pixel-triger-->
            <div class="pixel-triger">
                <h3>Pixel Will Only Trigger On:</h3>
                <mat-radio-group class="radio-gorup">
                   <ul>
                       <li>
                        <mat-radio-button value="1">
                            <div class="trigger-details">
                                <span><i class="fa fa-star"></i></span>
                                <h3>All</h3>
                            </div>
                            <div class="trigger-description">
                                <p>Pixel will fire on all pages.</p>
                            </div>
                        </mat-radio-button>
                       </li>
                       <li>
                        <mat-radio-button value="2">
                            <div class="trigger-details">
                                <span><i class="fa fa-star"></i></span>
                                <h3>Collection</h3>
                            </div>
                            <div class="trigger-description">
                                <p>Pixel will fire on all pages.</p>
                            </div>
                        </mat-radio-button>
                       </li>
                       <li>
                        <mat-radio-button value="3">
                            <div class="trigger-details">
                                <span><i class="fa fa-star"></i></span>
                                <h3>Product</h3>
                            </div>
                            <div class="trigger-description">
                                <p>Pixel will fire on all pages.</p>
                            </div>
                        </mat-radio-button>
                       </li>
                       <li>
                        <mat-radio-button value="4">
                            <div class="trigger-details">
                                <span><i class="fa fa-star"></i></span>
                                <h3>Page</h3>
                            </div>
                            <div class="trigger-description">
                                <p>Pixel will fire on all pages.</p>
                            </div>
                        </mat-radio-button>
                       </li>
                   </ul>
                </mat-radio-group>
            </div>

            <!--save-btn-->
            <div class="save-btn">
                <ul>
                    <li><button>Save</button></li>
                </ul>
            </div>
            
        </div>
        <!---right-->
        <div class="pixel-right">
            <div class="add-facebook">
                <h3>Add Facebook Account</h3>
                <button><i class="fab fa-facebook-f"></i> Log in With Facebook</button>
            </div>

        </div>
    </div>
</div>
