

<!---size-chart-header-->
<div class="size-chart-header">
  <div class="size-chart-header-main">
      <!--size-chart-header-left-->
      <div class="size-chart-header-left">
          <h2>Size Chart</h2>
      </div>
      <!----size-chart-header-right-->
      <div class="size-chart-header-right">
          <button class="" (click)="showAddChart()" >Add Chart</button>
      </div>
  </div>
</div>

<!----size-chart-main-area-->
<div class="size-chart-main-area">
  <!---size-chart-table-area-->
  <div class="size-chart-table-area">
      <div class="size-chart-table">
          <!--size-chart-table-header-->
          <div class="table-head">
              <!---size-chart-table-row-->
              <div class="table-row">
                  <div class="table-heading serial">
                      <h3>SI</h3>
                  </div>
                  <div class="table-heading chart-name">
                      <h3>Chart Name</h3>
                  </div>
                  <div class="table-heading image">
                      <h3>Image</h3>
                  </div>
                  <div class="table-heading applied">
                      <h3>Applied To</h3>
                  </div>
                  <div class="table-heading applied">
                    <h3>Actions</h3>
                </div>

              </div>
          </div>
          <!--size-chart-table-body-->
          <div class="table-body">
              <!---size-chart-table-row-->
              <div class="table-row" *ngFor="let data of sizeChartPerPage;  let i = index">
                  <div class="table-data serial">
                      <span>{{i+1}}</span>
                  </div>
                  <div class="table-data chart-name">
                     <h3>{{data.name}}</h3>
                  </div>
                  <div class="table-data image">
                    <img src="{{data.images}}" alt="">
                  </div>
                  <div class="table-data applied">
                      <h3>{{data.categories}} Categories</h3>
                  </div>
                  <div class="table-data applied">
                    <button mat-button>
                      <mat-icon class="edit" (click)="onEdit(data)">edit</mat-icon>
                    </button>
                    <button mat-button>
                      <mat-icon class="delete" (click)="onDeleteSizeChart(data._id)">delete</mat-icon>
                    </button>
                </div>
              </div><!---table-row-end-->

          </div>

      </div>
  </div>
</div>

<!----add-chart-area-->
<div class="add-chart-area" *ngIf=" addChart == true">
  <div class="add-chart-main">
      <form [formGroup]="dataForm!!" (ngSubmit)="onSubmit()" #formTemplate="ngForm">
                      <!--add-char-input-area-->
              <div class="add-chart-input-area">
                  <div class="add-chart-input-left">
                      <h3>Name</h3>
                  </div>
                  <div class="add-chart-input-right">
                      <div class="form-input">
                          <div class="field">
                          <mat-form-field appearance="outline" class="form-field">
                              <mat-label>Chart Name</mat-label>
                              <input type="text" formControlName="name"  matInput placeholder="Enter chart name">
                              <mat-error *ngIf="">This field is required</mat-error>
                          </mat-form-field>
                      </div>
                  </div>
              </div>
          </div>
              <!--add-char-input-area-->
              <div class="add-chart-input-area attachment">
                  <div class="add-chart-input-left">
                      <h3>Upload Image</h3>
                  </div>
                  <div class="add-chart-input-right">
                      <div class="upload">

                          <button type="button" (click)="profileImagePicker.click()">Attachment <i class="fas fa-paperclip"></i></button>
                          <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)" accept="image/*"/>
                      </div>
              </div>
          </div>

          <!--add-char-input-area-->
          <div class="add-chart-input-area applies">
              <div class="add-chart-input-left">
                  <h3>Applies to:</h3>
              </div>
              <div class="add-chart-input-right">
                  <div class="form-input">
                      <h3>Categorys</h3>
                      <div class="field">
                          <mat-form-field appearance="outline" class="form-field">
                              <mat-label>Select Categorys</mat-label>
                              <mat-select formControlName="parentCategory" (selectionChange)="onSelectCategory($event)">
                                <mat-option *ngFor="let category of categories" [value]="category._id">
                                  {{category.name}}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="form-input">
                      <h3>Sub Categorys</h3>
                      <div class="field">
                          <mat-form-field appearance="outline" class="form-field">
                              <mat-label>Select Sub Categorys</mat-label>
                              <mat-select formControlName="childCategory" (selectionChange)="onSelectSubCategory($event)" multiple>
                                <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory._id">
                                  {{subCategory.name}}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                    </div>

              <div class="form-input">
                  <h3>Products</h3>
                  <div class="field">
                    <mat-form-field appearance="outline" class="form-field">
                      <mat-label>Select Products</mat-label>
                      <mat-select formControlName="products" multiple>
                        <mat-option *ngFor="let data of allFilteredProducts" [value]="data._id">
                          {{data.name}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>

          </div>
      </div>

      <div class="sub-btn">
          <ul>
              <li><button class="save-active">Save Chart</button></li>
              <li><button type="button" (click)="hideAddChart()">Cancel</button></li>

          </ul>
      </div>

</form>
</div>
</div>
