<!---view-product-top-->
<div class="view-product-header-area">
  <div class="view-product-header-main">
    <!--view-product-left-->
    <div class="view-product-header-left">
      <h2>Summary </h2>
    </div>
    <!---header-right-->
    <div class="view-product-header-right">
      <!-- <ul>
        <li (click)="exportPopUpShow()">Export</li>
        <li><button [routerLink]="['../../', 'add-by-link']">Add By link</button></li>
        <li><button class="active-btn" [routerLink]="['../../', 'add-product']">Add Product</button></li>
      </ul> -->
    </div>
  </div>
</div>

<!---all-products-main-area-->
<div class="all-products-main-area">
  <!--products-menu-->
  <div class="all-products-menu">
    <ul>
      <li><button [class]="status == 0 ?'active-tab':'inactive'" (click)="onFilterSelectChange(0)">All</button></li>
      <li><button [class]="status == 1 ?'active-tab':'inactive'" (click)="onFilterSelectChange(1)">Draft</button></li>
      <li><button [class]="status == 2 ?'active-tab':'inactive'" (click)="onFilterSelectChange(2)">Active</button></li>
    </ul>
   </div>
  <!--products-menu-end-->
  <!---products-search-area-->
  <div class="products-search-area">
    <!---search-->
    <div class="search" (click)="onClickSearchArea($event)">
      <button><i class="fa fa-search"></i></button>
      <form #searchForm=ngForm style="width: 100%;">
        <input #searchInput id="searchInput" class="tw" type="text" placeholder="Filter Products"
          (focus)=handleFocus($event) name="searchTerm" autocomplete="off" ngModel required>
      </form>
    </div>
    <!--products-search-area-btn-->
    <div class="products-search-area-btn">
      <ul>
        <li><button [matMenuTriggerFor]="changeProductStatus">Bulk Action <i class="fa fa-caret-down"></i></button></li>
        <mat-menu #changeProductStatus="matMenu">
          <button mat-menu-item (click)="deleteBulkProducts()">Delete</button>
          <button mat-menu-item (click)="changeStatus(1)">Draft</button>
          <button mat-menu-item (click)="changeStatus(2)">Active</button>
        </mat-menu>
        <li><button [matMenuTriggerFor]="productSort">Sort <i class="fa fa-caret-down"></i></button></li>
        <mat-menu #productSort="matMenu">
          <button mat-menu-item (click)="sortData({name: 1}, 1)" [class.dropdown-active]="activeSort === 1">Product
            Title (A-Z)</button>
          <button mat-menu-item (click)="sortData({createdAt: 1}, 2)" [class.dropdown-active]="activeSort === 2">Created
            (Oldest First)</button>
          <button mat-menu-item (click)="sortData({quantity: -1}, 3)" [class.dropdown-active]="activeSort === 3">High
            Inventory</button>
          <button mat-menu-item (click)="sortData({categoryName: -1}, 4)"
            [class.dropdown-active]="activeSort === 4">Product Type (A-Z)</button>
          <button mat-menu-item (click)="sortData({vendor: 1}, 5)" [class.dropdown-active]="activeSort === 5">Vendor
            (A-Z)</button>
        </mat-menu>
        <li><button>More</button></li>
      </ul>
    </div>
  </div>
  <!---table-area-->
  <div class="table-area">
    <!---main-table-->
    <div class="main-table">
      <!---main-table-head-->
      <div class="main-table-head">
        <div class="main-table-row">
          <div class="check  main-table-heading">
            <mat-checkbox #matCheckbox class="mat-check" (change)="onAllSelectChange($event)"></mat-checkbox>
          </div>
          <div class="check main-table-heading">SI</div>
          <div class="price main-table-heading">Image</div>
          <div class="product  main-table-heading">Product Link</div>
          <div class="price  main-table-heading">Last Shown Price</div>
          <div class="stock-hand  main-table-heading">Multiply Product Price</div>
          <div class="status  main-table-heading">Weight</div>
          <div class="category  main-table-heading">Multiply Weight By</div>
          <div class="earn-point  main-table-heading">Partial Payment</div>
          <div class="redeem-points  main-table-heading">Allow Points</div>
        </div>
      </div>
      <div class="main-table-body">
        <!---table-row-->
        <div class="loop"
          *ngFor="let data of products | paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts }; let i = index">
          <!---main-table-row-->
          <div class="main-table-row">
            <!-- <div class="down-arrow main-table-data"><i (click)="variantDropDown(i)" class="fa fa-caret-down"></i></div> -->
            <div class="down-arrow main-table-data">
              <mat-checkbox class="mat-check" (ngModelChange)="onCheckChange($event, i, data._id)"
              [(ngModel)]="data.select"></mat-checkbox>
            </div>
            <div class="check main-table-data">
              <span>{{i+1}}</span>
            </div>
            <div class="price main-table-data">
               <!---product-img-->
               <div class="product-img">
                <img [src]="setThumbnailImage(data) ? setThumbnailImage(data) : '/assets/images/placeholder/test.png'" alt="">
              </div>
            </div>
            <div class="product main-table-data">
              <div class="product-info ">
                <!---product-text-info-->
                <div class="product-text-info">
                  <!-- <a>{{data.link}}</a> -->
                  <a target="_blank" rel="noopener noreferrer" [href]="data.link" >{{data.link}}</a>
                  <a target="_blank" [routerLink]="['../../../', 'product-details-search', data.slug]">
                    <i class="eyeButton" class="fa fa-eye"></i>
                  </a>

                  <i [routerLink]="['../../', 'add-by-link', data._id]" class="fas fa-edit"></i>
                  <i (click)="deleteProduct(data)" class="fas fa-trash"></i>
                </div>
              </div>
            </div>
            <div class="price main-table-data">
              <span>NOT AVAILABLE</span>
            </div>
            <div class="stock-hand main-table-data">
              <span>{{data?.multyPrice}}</span>
            </div>
            <div class="status main-table-data">
              <span>{{data?.weight}} KG</span>
            </div>
            <div class="category main-table-data">
              <span>{{data?.multyWeight}} </span>
            </div>
            <div class="earn-point main-table-data">
              <span>{{data.canPartialPayment === true ? 'Yes' : 'No'}}</span>
              <span>{{data.partialPayment}} {{data.partialPaymentType | amountType}}</span>
            </div>
            <div class="redeem-points main-table-data">
              <span>{{data.canEarnPoints === true ? 'Yes' : 'No'}}</span>
              <span>{{data.earnPoints}} {{data.earnPointsType | amountType}}</span>
            </div>
          </div>

        </div>
        <!---tbody-end-->
      </div>
      <!---main-table-end-->

    </div>
    <!---indicator-area-->
    <div class="indicator-area">
      <div class="pagination-container">
        <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="15"
          (pageChange)="onPageChanged($event)">
        </pagination-controls>
      </div>

      <div class="indicator-right">
        <span>Showing {{currentPage*productsPerPage-productsPerPage+1}} to {{currentPage*productsPerPage <=
            totalProducts ? currentPage*productsPerPage : totalProducts}} of {{totalProducts}} entries</span>
      </div>
    </div>
  </div>
  <div class="export-popup-area">
    <app-export-popup (valueChange)='exportToExcel($event)' #export></app-export-popup>
  </div>
  <!-- NO DATA TEMPLATE -->
  <ng-template #noData>
    <div style="margin-top: 50px; text-align: center">
      <h2>No Product Found</h2>
    </div>
  </ng-template>
