<!---footer-area-->
<div class="footer-area">
    <div class="container">
        <div class="footer-main">
            <div class="footer-link">
                <div class="footer-title">
                    <h3>Contact Info :</h3>
                </div>
                    <div class="contact">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone"></i> 09678-008899</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@caremebd.com</a></li>
                            <li><a href="#"><i class="fa fa-calendar"></i> Saturday to thusday (9am-9pm)</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="play-store">
                        <ul>
                            <li><a href="#"><img src="./assets/images/image/get-app-app-store.png" alt=""></a></li>
                            <li><a href="#"><img src="./assets/images/image/1_OIIv4FEjJQMqh-zEPhtlYA.png" alt=""></a></li>
                        </ul>
                    </div>
            </div>
            <div class="footer-link">
                <div class="footer-title">
                    <h3>Care Me</h3>
                </div>
                <ul class="link">
                    <li><a routerLink="/about-us">About Us</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/return-policy">Refund & Return Policy</a></li>
                </ul>
            </div>
            <div class="footer-link">
                <div class="footer-title">
                    <h3>Customer Care</h3>
                </div>
                <ul class="link">
                    <li><a routerLink="/shipping-policy">Shipping Policy</a></li>
                    <li><a routerLink="/about-us">Help Center</a></li>
                    <li><a routerLink="/terms-of-service">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer-link footer-link-center">
                <ul class="link">
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <li><a routerLink="/about-us">Wholesale</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="ntt">
    <div class="container">
        <div class="ntt-text">
            <h3>© 2022 Care Me Bangladesh. All Rights Reserved.</h3>
        </div>
        <div class="ssl">
            <img src="./assets/images/image/SSL-Comarce.png" alt="">
        </div>
    </div>
</div>