@import "./../../../../theme/client-side-varriables";

.ticket-create {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.ticket-main {
  padding: 0;
  .closebtn,
  .openbtn {
    padding: 5px 15px;
    border-radius: 50px;
  }
  .openbtn {
    background: #ddd;
  }
  .closebtn {
    background: rgb(11, 133, 0);
    color: #fff;
  }
}
