<div class="ticket-create">
  <h2>Ticket</h2>
</div>

<nz-card class="ticket-main" nzSize="small">
  <nz-tabset [nzTabBarExtraContent]="extraTemplate">
    <nz-tab nzTitle="Tickets">
      <nz-table #fixedTable nzSize="small" [nzData]="listOfData">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Order Details</th>
            <th>Product SKU</th>
            <th>Issue Type</th>
            <th>Message</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of fixedTable.data">
            <td>
              <div>
                <h4>{{ data.ticketid }}</h4>
                <h5>25/10/2021 | 04:34PM</h5>
              </div>
            </td>
            <td>{{ data.orderid }}</td>
            <td>{{ data.productsku }}</td>
            <td>{{ data.issuetype }}</td>
            <td>{{ data.message }}</td>
            <td>
              <span [class]="data.status == 1 ? 'openbtn' : 'closebtn'">{{
                data.status == 1 ? "Open" : "Close"
              }}</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab nzTitle="Open">
      <nz-table #fixedTable nzSize="small" [nzData]="listOfData">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Order Details</th>
            <th>Product SKU</th>
            <th>Issue Type</th>
            <th>Message</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of fixedTable.data">
            <td>
              <div>
                <h4>#TICKETID02</h4>
                <h5>25/10/2021 | 04:34PM</h5>
              </div>
            </td>
            <td>SO-2616493</td>
            <td>5072036</td>
            <td>Late delivery</td>
            <td>Product delivery issue message</td>
            <td><span class="openbtn">Open</span></td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab nzTitle="Close">
      <nz-table #fixedTable nzSize="small" [nzData]="listOfData">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Order Details</th>
            <th>Product SKU</th>
            <th>Issue Type</th>
            <th>Message</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of fixedTable.data">
            <td>
              <div>
                <h4>#TICKETID02</h4>
                <h5>25/10/2021 | 04:34PM</h5>
              </div>
            </td>
            <td>SO-2616493</td>
            <td>5072036</td>
            <td>Late delivery</td>
            <td>Product delivery issue message</td>
            <td><span class="closebtn">Close</span></td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <input nz-input placeholder="Search here" [(ngModel)]="value" />
  </ng-template>
</nz-card>
