@import "./../../../../theme/client-side-varriables";

.ticket-create {
  margin-bottom: 30px;
}
.ticket-main {
  padding: 0;
  .closebtn,
  .openbtn {
    padding: 5px 15px;
    border-radius: 50px;
  }
  .openbtn {
    background: #ddd;
  }
  .closebtn {
    background: rgb(11, 133, 0);
    color: #fff;
  }
  tbody tr {
    cursor: pointer;
  }
}
