<!---header-->
<div class="full-header">
  <div class="header-area" id="header">
    <div class="header-top-area">
      <div class="container">
        <div class="header-top-content">
          <marquee behavior="smooth">
            সম্মানিত গ্রাহকদের অবগতির জন্য জানানো যাচ্ছে যে, ঈদের প্রি-অর্ডার
            নেয়া হবে ১০ এপ্রিল পর্যন্ত, ১০ এপ্রিলের মধ্যে অর্ডারকৃত সব পণ্য
            পর্যায়ক্রমে ২৭ রোজার মধ্যে ডেলিভারি সম্পন্ন করা হবে।
          </marquee>
        </div>
      </div>
    </div>
    <!---header-midle-area-->
    <div [class]="headerFixed ? 'header-fixed' : 'header-midle-area'">
      <div class="container">
        <!---header-midle-main-->
        <div class="header-midle">
          <!---logo-area-->
          <div class="logo-area">
            <a routerLink="/">
              <img src="./assets/images/logo/logo.svg" alt="" />
            </a>
          </div>
          <div class="sub-menu-bar">
            <span (click)="categoryMenuShow()" *ngIf="categoryBar">
              <i class="fa fa-bars"> </i>
            </span>
          </div>
          <!---search-box-->
          <div class="search">
            <form [formGroup]="dataForm" (ngSubmit)="onSearch()">
              <input
                formControlName="url"
                type="text"
                name="url"
                id="url"
                value=""
                placeholder="Search..."
              />
              <button class="text_search" type="submit">
                <i class="las la-search"></i>
              </button>
              <div class="image_search">
                <input type="file" id="image_upload" hidden />
                <label for="image_upload"> <i class="las la-camera"></i></label>
              </div>
            </form>
          </div>
          <!--header-midle-menu-->
          <div class="header-midle-menu">
            <ul>
              <li *ngIf="isUserAuth">
                <a
                  nz-dropdown
                  [nzDropdownMenu]="menuNNotif"
                  nzTrigger="click"
                  nzPlacement="bottomRight"
                >
                  <span>
                    <nz-badge [nzCount]="1">
                      <i class="las la-bell"></i>
                    </nz-badge>
                  </span>
                </a>
                <nz-dropdown-menu #menuNNotif="nzDropdownMenu">
                  <ul class="single_notify_main" nz-menu nzSelectable>
                    <li nz-menu-item [routerLink]="['dashboard/summary']">
                      <div class="single_notify">
                        <h4>Update</h4>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </p>
                      </div>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </li>
              <li *ngIf="!isUserAuth">
                <a (click)="openRegistrationDialog()">
                  <span>
                    <i class="lar la-user"></i>
                  </span>
                </a>
              </li>
              <li *ngIf="isUserAuth">
                <a
                  nz-dropdown
                  [nzDropdownMenu]="menuUser"
                  nzPlacement="bottomRight"
                >
                  <span> <i class="lar la-user"></i> </span>
                </a>
                <nz-dropdown-menu #menuUser="nzDropdownMenu">
                  <ul class="user_dropdown" nz-menu nzSelectable>
                    <li nz-menu-item>
                      Hi,
                      {{ user?.fullName ? user?.fullName : user?.username }}
                    </li>
                    <li nz-menu-item [routerLink]="['dashboard/summary']">
                      <i class="las la-tachometer-alt"></i> Dashboard
                    </li>
                    <li nz-menu-item>
                      <i class="lar la-user"></i> Manage Account
                    </li>
                    <li nz-menu-item><i class="las la-box"></i> My Orders</li>
                    <li nz-menu-item>
                      <i class="lar la-heart"></i> My Wishlist
                    </li>
                    <li nz-menu-item>
                      <i class="lar la-times-circle"></i> My Returns &
                      Cancellations
                    </li>
                    <li nz-menu-item><i class="lar la-star"></i> My Reviews</li>
                    <li nz-menu-item (click)="userLogOut()">
                      <i class="las la-power-off"></i> Logout
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </li>
              <li>
                <a routerLink="/cart">
                  <span>
                    <nz-badge [nzCount]="carts.length">
                      <i class="las la-shopping-cart"></i>
                    </nz-badge>
                  </span>
                </a>
              </li>
              <li class="bar">
                <button (click)="slideMenuActive()">
                  <i class="fa fa-bars"></i>
                </button>
              </li>
            </ul>
          </div>
          <!---category-menu-->
          <div
            class="category-menu"
            [class]="
              categoryMenu ? 'category-menu-active' : 'category-menu-inactive'
            "
          >
            <ul>
              <li *ngFor="let c of category; let i = index">
                <a [routerLink]="['/products-list', c?.slug]">{{ c.name }}</a>
                <span><i class="fa fa-angle-right"></i></span>
                <div class="sub-mega-menu" *ngIf="c.hasChild.length > 0">
                  <app-menu-hover-content
                    [parentCategory]="c"
                    [data]="c.hasChild"
                  ></app-menu-hover-content>
                </div>
              </li>
            </ul>
            <!----static testing category menu-->
            <!-- <ul>
            <li *ngFor="let c of [1,2,3,4,5,6,7,8,9,1,1,23,54,6,78,98,87,9,70,8,089,0,890,8,0]">
              <a [routerLink]="['/products-list', c?.slug]">Menu</a>
              <span><i class="fa fa-angle-right"></i></span>
              <div class="sub-mega-menu">
                <app-menu-hover-content [parentCategory]="c" [data]="c.hasChild"></app-menu-hover-content>
              </div>
            </li>
          </ul> -->
          </div>
          <!----category-menu-end-->
        </div>
      </div>
    </div>
    <!---header-midle-end-->
    <!---header-bottom-area-->
    <div class="header-bottom-area">
      <!---container-->
      <div class="container">
        <!----header-bottom-main-->
        <div class="header-bottom-main">
          <!---category-menu-bar-->
          <div class="category">
            <!-- <div class="shop-by-category" (mouseover)="categoryMenuToggle()">
                        <div class="category-bar">
                           <span><i class="fa fa-list"></i></span>
                        </div>
                        <div class="category-text">
                            <span>Shop By</span>
                            <h3>Categories <i class="fa fa-angle-down"></i></h3>
                        </div>
                    </div> -->
          </div>

          <!---header-menu-area-->
          <div class="header-menu-area">
            <ul>
              <li><a routerLink="/">Shop</a></li>
              <li><a routerLink="/">New </a></li>
              <li><a routerLink="/request-product">Request Product</a></li>
              <li><a routerLink="/">Campaigns</a></li>
              <li><a routerLink="/">Flash Deals </a></li>
              <li><a routerLink="/">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---slide-menu-->
  <div
    class="overlay"
    *ngIf="slideMenu == true"
    (click)="slideMenuInactive()"
  ></div>
  <div class="slide-menu" [class]="slideMenu ? 'active-slide-menu' : 's'">
    <!--slide-menu-top-->
    <div class="slide-menu-top">
      <div>
        <h3>CAREMEBD</h3>
      </div>
      <!---cross-->
      <div class="cross">
        <button (click)="slideMenuInactive()">X</button>
      </div>
    </div>
    <!--slide-menu-toggle-->
    <div class="slide-toggle-btn">
      <ul>
        <li>
          <button
            [class]="resHomeMenu ? 'active-toggle' : 'res-inactive'"
            (click)="resHomeMenuActive()"
          >
            Home Menu
          </button>
        </li>
        <li>
          <button
            [class]="resCateMenu ? 'active-toggle' : 'res-inactive'"
            (click)="resCategoryMenuActive()"
          >
            Categories
          </button>
        </li>
      </ul>
    </div>
    <!---responsive-home-menu-area-->
    <div class="responsive-home-menu-area" *ngIf="resHomeMenu">
      <ul>
        <li><a (click)="slideMenuInactive()" routerLink="/">Shop</a></li>
        <li><a (click)="slideMenuInactive()" routerLink="/">New </a></li>
        <li>
          <a (click)="slideMenuInactive()" routerLink="/request-product"
            >Request Product</a
          >
        </li>
        <li><a (click)="slideMenuInactive()" routerLink="/">Campaigns</a></li>
        <li>
          <a (click)="slideMenuInactive()" routerLink="/">Flash Deals </a>
        </li>
        <li><a (click)="slideMenuInactive()" routerLink="/">Blog</a></li>
      </ul>
    </div>
    <!---resposnive-categorie-menu-->
    <div class="responsive-categorie" *ngIf="resCateMenu">
      <ul>
        <li>
          <a href="#"
            >Women's Fashion <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Men's Fashion <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Phones <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Computer <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Consumer Elecetronics <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Jewelry & Watches <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Home Appliances <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Bags & Shoes <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Toys,Kids & Babies <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Outdoor Fun & Sports <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Beauty,Health & Hair <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Automobiles <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Bags & Shoes<span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Jewelry & Watches <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
        <li>
          <a href="#"
            >Phones <span><i class="fa fa-angle-down"></i></span
          ></a>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="overlay1"
    *ngIf="categoryMenu == true"
    (click)="categoryMenuHide()"
  ></div>
</div>
