<!---order-header-area-->
<div class="page-header">
    <h2>All Refund</h2>
    <div class="header-action">
        <button type="button">Export</button>
        <button type="button">Import</button>
    </div>
</div>
<div class="table-samary">
    <nz-card nzSize="small">
        <nz-tabset>
            <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
                <div class="table-filter-area">
                    <input nz-input placeholder="Search here" nzSize="large" />
                    <ul>
                        <li>
                            <button [matMenuTriggerFor]="paymentStatus">
                                Payment Status <i class="las la-angle-down"></i>
                            </button>
                        </li>
                        <li>
                            <button [matMenuTriggerFor]="orderStatus">
                                Order Status <i class="las la-angle-down"></i>
                            </button>
                        </li>
                        <li>
                            <button [matMenuTriggerFor]="vendor">
                                Vendor <i class="las la-angle-down"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="table-data-area">
                    <nz-table nzSize="small" #rowSelectionTable nzShowSizeChanger [nzData]="listOfData"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                        <thead>
                            <tr>
                                <th style="width: 50px;" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="onAllChecked($event)">
                                </th>
                                <th>ID & Date</th>
                                <th>Initiated By</th>
                                <th>Return ID</th>
                                <th>Return Status</th>
                                <th>Sales Order</th>
                                <th>Refund Status</th>
                                <th>Returned</th>
                                <th>Return Amount</th>
                                <th>Refunded Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rowSelectionTable.data">
                                <td style="width: 50px;" [nzChecked]="setOfCheckedId.has(data.id)"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)">
                                </td>
                                <td>
                                    <a>
                                        <h4>{{ data.name }}</h4>
                                    </a>
                                    <h5>05 Jul 2022 | 11:65 PM</h5>
                                </td>
                                <td>{{ data.initiatedby }}</td>
                                <td>{{data.returnid}}</td>
                                <td>Return Status</td>
                                <td>Sales Order</td>
                                <td>Refund Status</td>
                                <td>Returned</td>
                                <td>Return Amount</td>
                                <td>Refunded Amount</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>