<section class="page">
  <div class="sub-page">

    <!---header-area-->
    <div class="header-area">
      <!---header-logo-->
      <div class="header-logo">
        <img src="/assets/images/junk/Group 67162.png" alt="">
      </div>
      <!---header-bottom-->
      <div class="header-bottom">
        <ul>
          <li><span>Corporate Office:</span> <small>House 14/c, Level-3, Block-L,Road-02,Dhaka-1213</small></li>
          <li><span>Email:</span> <small>info@emedilife.com</small></li>
          <li><span>Website:</span> <small>www.emedilife.com</small></li>
          <li><span>Mobile</span> <small>+88-01790-577887, +88-01972-984049</small></li>
        </ul>
      </div>
    </div>
    <!---invoice-title-->
    <div class="invoice-title">
      <h3>INVOICE</h3>
    </div>
    <!--section-1-->
    <div class="section-1">
      <div class="section1-main">
        <!---section1-left-->
        <div class="section1-left">
          <!---coustomer-name-->
          <div class="coustomer-name">
            <span>To</span>
            <h3>{{order?.name}}</h3>
          </div>
          <!---coustomer-address-->
          <div class="coustomer-address">
            <p>{{order?.shippingAddress}}, {{order?.area ? order?.area : 'N/A'}}, {{order?.city}}, {{order?.phoneNo}}, {{order?.email ? order?.email : ''}}.</p>
          </div>
        </div>
        <!---section1-right-->
        <div class="section1-right">
          <!---section1-right-info-->
          <div class="section1-right-info">
            <h3>Invoice Number: #{{order?.orderId ? order?.orderId : 'n/a'}}</h3>
            <h3>Date: {{order?.checkoutDate | date}}</h3>
          </div>
        </div>
      </div>
    </div>

    <!----table-area-->
    <div class="table-area">
      <!---table-->
      <div class="table">
        <table>
          <!---table-head-->
          <thead>
          <tr>
            <th class="si border-right">SI NO.</th>
            <th class="product-name">Product Name</th>
            <th class="price">Price</th>
            <th class="quantity">Quantity</th>
            <th class="total">Total</th>
          </tr>
          </thead>
          <!--table-body--->
          <tbody *ngFor="let data of order?.orderedItems; let i = index">
          <!--table-data-->
          <tr class="td-data">
            <td class="si">{{i + 1}}</td>
            <td class="product-name">{{data?.product?.productName}}</td>
            <td class="price">৳ {{data?.price | number : '': 'bn'}}</td>
            <td  class="quantity">{{data?.quantity}}</td>
            <td  class="total">৳ {{(data.quantity * data.price) | number : '': 'bn'}}</td>
          </tr>

          </tbody><!---tbody-end-->
        </table><!---table-end-->
      </div>
    </div>

    <!------section-2-area------->
    <div class="section-2">
      <!---section2-main-->
      <div class="section2-main">
        <!---section2-download-->
        <div class="section2-download">
          <!---title-->
          <div class="download-title">
            <h3>Download Apps</h3>
          </div>
          <!--download-img-->
          <div class="download-img">
            <ul>
              <li><a href="https://play.google.com/store/apps/details?id=com.app.emedilife"><img src="/assets/images/junk/Group 6711df0.png" alt=""></a></li>
              <li><img src="/assets/images/junk/Group 67110.png" alt=""></li>
            </ul>
          </div>
        </div>
        <!---summery-area-->
        <div class="summery-area">
          <div class="summery">
            <!---summer-title-->
            <div class="summery-title">
              <h3>Summery</h3>
            </div>

            <!---summery-info-->
            <div class="summery-info">
              <!--summery-left-->
              <div class="summery-left">
                <span>Sub Total</span>
              </div>
              <!--summery-right-->
              <div class="summery-right">
                <span>{{order?.subTotal}} tk.</span>
              </div>
            </div>

            <!---summery-info-->
            <div class="summery-info">
              <!--summery-left-->
              <div class="summery-left">
                <span>Delivery Charge</span>
              </div>
              <!--summery-right-->
              <div class="summery-right">
                <span>{{order?.shippingFee}} tk.</span>
              </div>
            </div>

            <div class="summery-info" *ngIf="order?.couponId">
              <!--summery-left-->
              <div class="summery-left">
                <span>Discount Coupon</span>
              </div>
              <!--summery-right-->
              <div class="summery-right">
                <span>-{{order?.couponValue}} tk.</span>
              </div>
            </div>

            <!---summery-info-->
            <div class="summery-info">
              <!--summery-left-->
              <div class="summery-left">
                <small>Total</small>
              </div>
              <!--summery-right-->
              <div class="summery-right">
                <small>{{order?.totalAmountWithDiscount}} tk.</small>
              </div>
            </div>


          </div>
        </div>



      </div>
    </div><!---section2-end-->

    <!---foooter-area-->
    <div class="footer-area">
      <!--footer-main-->
      <div class="footer-main">
        <!---footer-left-->
        <div class="footer-left">
          <h4>Thanks for shopping with Emedilife.</h4>
        </div>
        <!--footer-right-->

      </div>
    </div>


  </div>
</section><!---page-end-->
