<!---banner-area-->
<div class="entry-banner">
  <div class="container">
    <div class="entry-banner_main">
      <div class="entry-banner_categoty">
        <div class="categoty_title">
          <h2><i class="las la-bars"></i> Categories</h2>
          <a href="#">View All</a>
        </div>
        <ul>
          <li>
            <div class="menu-item">
              <a href="#"> Men Fashion </a>
              <span>
                <i class="las la-long-arrow-alt-right"></i>
              </span>
            </div>
            <ul class="submenu">
              <li>
                <div class="menu-item"><a>Men Fashion </a></div>
              </li>
              <li>
                <div class="menu-item"><a>Women's Fashion</a></div>
              </li>
              <li>
                <div class="menu-item"><a>Men Fashion</a></div>
              </li>
              <li>
                <div class="menu-item"><a>Men Fashion</a></div>
              </li>
              <li>
                <div class="menu-item"><a>Women's Fashion</a></div>
              </li>
            </ul>
          </li>
          <li>
            <div class="menu-item"><a>Men Fashion </a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Men Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Men Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item">
              <a href="#"> Men Fashion </a>
              <span>
                <i class="las la-long-arrow-alt-right"></i>
              </span>
            </div>
            <ul class="submenu">
              <li>
                <div class="menu-item"><a>Men Fashion </a></div>
              </li>
              <li>
                <div class="menu-item"><a>Women's Fashion</a></div>
              </li>
            </ul>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
        </ul>
      </div>
      <div class="entry-banner_slider">
        <div class="entry-banner_image">
          <swiper
            [spaceBetween]="10"
            [pagination]="{ clickable: true }"
            [navigation]="true"
            [loop]="true"
            [autoplay]="true"
            class="mySwiper"
          >
            <ng-container *ngFor="let carousel of carouselData">
              <ng-template swiperSlide>
                <div class="banner-single">
                  <img [src]="carousel?.bannerImage" alt="" />
                </div>
              </ng-template>
            </ng-container>
          </swiper>
        </div>
        <div class="entry-banner_promotion">
          <div class="entry-banner_promotion_thumb">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/files/Small_banner_global_430X130_crop_center.gif?v=1661601501"
              alt=""
            />
          </div>
          <div class="entry-banner_promotion_thumb">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/files/Small_banner_eng_430X130_crop_center.gif?v=1661601554"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Flash Product Grid  -->
<div class="entry-grid-bg" style="background: #fff; padding: 50px 0">
  <div class="container">
    <div>
      <div class="grid-section-title flash-promo">
        <div class="title-left">
          <h2>DEALS OF THE DAY</h2>
          <div class="promo-countdown">
            Ending in
            <span>12</span>: <span>58</span>:<span>65</span>
          </div>
        </div>
        <a class="title-right">
          View More <i class="las la-long-arrow-alt-right"></i>
        </a>
      </div>
      <div class="grid-section-product">
        <div class="single-product grid" *ngFor="let data of cardThreeData">
          <nz-ribbon nzText="Big Offer" nzColor="red">
            <div class="product-top">
              <a href="{{ data.routerLink }}"><img src="{{ data.image }}" /></a>
            </div>
          </nz-ribbon>
          <div class="product-bottom">
            <a href="{{ data.routerLink }}">{{ data.title }}</a>
            <div class="price_rating">
              <div class="price">
                {{ data.price }} TK<span>{{ data.discount }} TK</span>
              </div>
              <ul>
                <li><i class="las la-star"></i></li>
                <li><i class="las la-star"></i></li>
                <li><i class="las la-star"></i></li>
                <li><i class="las la-star"></i></li>
                <li><i class="las la-star-half"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Grid  -->
<div class="entry-grid-bg" style="background: transparent; padding: 50px 0">
  <div class="container">
    <div>
      <div class="grid-section-title flash-promo">
        <div class="title-left">
          <h2>New Arrivals</h2>
        </div>
        <a class="title-right">
          View More <i class="las la-long-arrow-alt-right"></i>
        </a>
      </div>
      <div class="grid-section-product">
        <div class="single-product grid" *ngFor="let data of cardThreeData">
          <div class="product-top">
            <a href="{{ data.routerLink }}"><img src="{{ data.image }}" /></a>
          </div>
          <div class="product-bottom">
            <a href="{{ data.routerLink }}">{{ data.title }}</a>
            <div class="price">
              {{ data.price }} TK<span>{{ data.discount }} TK</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offer-banner">
  <div class="container">
    <div class="offer-banner-main">
      <img src="./assets/images/image/Image 53.png" alt="" />
    </div>
  </div>
</div>

<!-- Product Grid  -->
<div class="entry-grid-bg" style="background: transparent; padding: 50px 0">
  <div class="container">
    <div>
      <div class="grid-section-title">
        <div class="title-left">
          <h2>New Arrivals</h2>
        </div>
        <a class="title-right">
          View More <i class="las la-long-arrow-alt-right"></i>
        </a>
      </div>

      <swiper
        [slidesPerView]="1.5"
        [spaceBetween]="16"
        [breakpoints]="{
          '400': {
            slidesPerView: 2
          },
          '500': {
            slidesPerView: 2
          },
          '700': {
            slidesPerView: 3
          },
          '800': {
            slidesPerView: 3.5
          },
          '1000': {
            slidesPerView: 4
          },
          '1400': {
            slidesPerView: 5.5
          }
        }"
        [pagination]="{
          clickable: true
        }"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let data of cardThreeData">
          <app-product-card-two [data]="data"></app-product-card-two>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
>
  <!-- <p style="color: white" > Loading... </p> -->
  <p style="color: white; padding-left: 40px">
    We are testing your patience...
  </p>
</ngx-spinner>
