<!---banner-area-->
<div class="entry-banner">
  <div class="container">
    <div class="entry-banner_main">
      <div class="entry-banner_categoty">
        <div class="categoty_title">
          <h2><i class="las la-bars"></i> Categories</h2>
          <a href="#">View All</a>
        </div>
        <ul>
          <li>
            <div class="menu-item">
              <a href="#"> Men Fashion </a>
              <span>
                <i class="las la-long-arrow-alt-right"></i>
              </span>
            </div>
            <ul class="submenu">
              <li>
                <div class="menu-item"><a>Men Fashion </a></div>
              </li>
              <li>
                <div class="menu-item"><a>Women's Fashion</a></div>
              </li>
              <li>
                <div class="menu-item"><a>Men Fashion</a></div>
              </li>
              <li>
                <div class="menu-item"><a>Men Fashion</a></div>
              </li>
              <li>
                <div class="menu-item"><a>Women's Fashion</a></div>
              </li>
            </ul>
          </li>
          <li>
            <div class="menu-item"><a>Men Fashion </a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Men Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Men Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item">
              <a href="#"> Men Fashion </a>
              <span>
                <i class="las la-long-arrow-alt-right"></i>
              </span>
            </div>
            <ul class="submenu">
              <li>
                <div class="menu-item"><a>Men Fashion </a></div>
              </li>
              <li>
                <div class="menu-item"><a>Women's Fashion</a></div>
              </li>
            </ul>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
          <li>
            <div class="menu-item"><a>Women's Fashion</a></div>
          </li>
        </ul>
      </div>
      <div class="entry-banner_slider">
        <div class="entry-banner_image">
          <swiper
            [spaceBetween]="10"
            [pagination]="{ clickable: true }"
            [navigation]="true"
            [loop]="true"
            [autoplay]="true"
            class="mySwiper"
          >
            <ng-container *ngFor="let carousel of carouselData">
              <ng-template swiperSlide>
                <div class="banner-single">
                  <img [src]="carousel?.bannerImage" alt="" />
                </div>
              </ng-template>
            </ng-container>
          </swiper>
        </div>
        <div class="entry-banner_promotion">
          <div class="entry-banner_promotion_thumb">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/files/Small_banner_global_430X130_crop_center.gif?v=1661601501"
              alt=""
            />
          </div>
          <div class="entry-banner_promotion_thumb">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/files/Small_banner_eng_430X130_crop_center.gif?v=1661601554"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Grid  -->
<div class="entry-grid-bg">
  <div class="container">
    <div>
      <div class="grid-section-title">
        <div class="title-left">
          <h2>DEALS OF THE DAY</h2>
          <div class="promo-countdown">
            End in
            <span>12</span>: <span>58</span>:<span>65</span>
          </div>
        </div>
        <a class="title-right">
          View More <i class="las la-long-arrow-alt-right"></i>
        </a>
      </div>
      <div class="grid-section-product">
        <div class="single-product">
          <div class="product-top">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
            />
          </div>
          <div class="product-bottom">
            <h2>Men's Casual Shock Absorption Wear-resistant Shoes</h2>
            <div class="price">1054 TK <span>-12%</span></div>
          </div>
        </div>
        <div class="single-product">
          <div class="product-top">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
            />
          </div>
          <div class="product-bottom">
            <h2>Men's Casual Shock Absorption Wear-resistant Shoes</h2>
            <div class="price">1054 TK <span>-12%</span></div>
          </div>
        </div>
        <div class="single-product">
          <div class="product-top">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
            />
          </div>
          <div class="product-bottom">
            <h2>Men's Casual Shock Absorption Wear-resistant Shoes</h2>
            <div class="price">1054 TK <span>-12%</span></div>
          </div>
        </div>
        <div class="single-product">
          <div class="product-top">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
            />
          </div>
          <div class="product-bottom">
            <h2>Men's Casual Shock Absorption Wear-resistant Shoes</h2>
            <div class="price">1054 TK <span>-12%</span></div>
          </div>
        </div>
        <div class="single-product">
          <div class="product-top">
            <img
              src="https://cdn.shopify.com/s/files/1/0464/2281/8974/products/O1CN015QAr4e2Jn1Wi9H9C2__1762329465-0-cib.jpg?v=1662883560"
            />
          </div>
          <div class="product-bottom">
            <h2>Men's Casual Shock Absorption Wear-resistant Shoes</h2>
            <div class="price">1054 TK <span>-12%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---section1-->
<div class="section1">
  <!---container-->
  <div class="container">
    <div class="section-title-area">
      <!---title-left-->
      <div class="title-left">
        <h3>Deals of the day</h3>
      </div>
      <!---title-right-->
      <div class="title-right">
        <a href="#">View All</a>
      </div>
    </div>
    <!---section1-main-->
    <div class="section1-main carousels">
      <swiper
        [slidesPerView]="2"
        [spaceBetween]="10"
        [breakpoints]="{
          '450': {
            slidesPerView: 1.5
          },
          '520': {
            slidesPerView: 2
          },
          '660': {
            slidesPerView: 3
          },
          '900': {
            slidesPerView: 3
          },
          '1000': {
            slidesPerView: 4
          },
          '1200': {
            slidesPerView: 4
          },
          '1370': {
            slidesPerView: 5
          },
          '1600': {
            slidesPerView: 5
          }
        }"
        [pagination]="{
          clickable: true
        }"
        [autoplay]="true"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let data of cardThreeData">
          <app-product-card-three [data]="data"></app-product-card-three>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<div class="offer-banner">
  <div class="container">
    <div class="offer-banner-main">
      <img src="./assets/images/image/Image 53.png" alt="" />
    </div>
  </div>
</div>

<!---section1-->
<div class="section3">
  <!---container-->
  <div class="container">
    <div class="section-title-area">
      <!---title-left-->
      <div class="title-left">
        <h3>Just For You</h3>
      </div>
      <!-- -title-right -->
      <div class="title-right">
        <a href="#">View All</a>
      </div>
    </div>

    <!---section3-main-->
    <div class="section3-main carousels">
      <swiper
        [slidesPerView]="2"
        [spaceBetween]="14"
        [breakpoints]="{
          '450': {
            slidesPerView: 1.5
          },
          '520': {
            slidesPerView: 2
          },
          '660': {
            slidesPerView: 2.5
          },
          '900': {
            slidesPerView: 3
          },
          '1000': {
            slidesPerView: 3.5
          },
          '1200': {
            slidesPerView: 4
          },
          '1370': {
            slidesPerView: 4.5
          },
          '1600': {
            slidesPerView: 5
          }
        }"
        [pagination]="{
          clickable: true
        }"
        [autoplay]="true"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let data of cardThreeData">
          <app-product-card-three [data]="data"></app-product-card-three>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<!---section2-->
<div class="section2">
  <div class="container">
    <div class="section-title-area">
      <!---title-left-->
      <div class="title-left">
        <h3>Categorys</h3>
      </div>
      <!-- -title-right -->
      <div class="title-right">
        <a href="#">View All</a>
      </div>
    </div>
    <!----section2-main-->
    <div class="section2-main">
      <!---categorys-details-->
      <div class="categorys-details">
        <!---categorys-img-->
        <div class="categorys-img">
          <img src="./assets/images/image/dsaf.png" alt="" />
        </div>
        <!---categorys-text-info-->
        <div class="categorys-text-info">
          <a href="#">Men's Fashion</a>
        </div>
      </div>
      <!---categorys-details-->
      <div class="categorys-details">
        <!---categorys-img-->
        <div class="categorys-img">
          <img
            src="./assets/images/image/pmv-chamara-dMjkQJs58uo-unsplash.png"
            alt=""
          />
        </div>
        <!---categorys-text-info-->
        <div class="categorys-text-info">
          <a href="#">Beautty Bay</a>
        </div>
      </div>
      <!---categorys-details-->
      <div class="categorys-details">
        <!---categorys-img-->
        <div class="categorys-img">
          <img
            src="./assets/images/image/italian-kitchen-accessories.png.png"
            alt=""
          />
        </div>
        <!---categorys-text-info-->
        <div class="categorys-text-info">
          <a href="#">Kitchen Corner</a>
        </div>
      </div>
      <!---categorys-details-->
      <div class="categorys-details">
        <!---categorys-img-->
        <div class="categorys-img">
          <img
            src="./assets/images/image/josiah-weiss-8sjBzL1IyMo-unsplash.png"
            alt=""
          />
        </div>
        <!---categorys-text-info-->
        <div class="categorys-text-info">
          <a href="#">Travel Picks</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!---section1-->
<div class="section3">
  <!---container-->
  <div class="container">
    <div class="section-title-area">
      <!---title-left-->
      <div class="title-left">
        <h3>Subscription</h3>
      </div>
      <!-- -title-right -->
      <div class="title-right">
        <a href="#">View All</a>
      </div>
    </div>

    <!---section3-main-->
    <div class="section3-main carousels">
      <swiper
        [slidesPerView]="2"
        [spaceBetween]="14"
        [breakpoints]="{
          '450': {
            slidesPerView: 1.5
          },
          '520': {
            slidesPerView: 2
          },
          '660': {
            slidesPerView: 2.5
          },
          '900': {
            slidesPerView: 3
          },
          '1000': {
            slidesPerView: 3.5
          },
          '1200': {
            slidesPerView: 4
          },
          '1370': {
            slidesPerView: 4.5
          },
          '1600': {
            slidesPerView: 5
          }
        }"
        [pagination]="{
          clickable: true
        }"
        [autoplay]="true"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let data of cardThreeData">
          <app-product-card-three [data]="data"></app-product-card-three>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<!---section1-->
<div class="section4">
  <!---container-->
  <div class="container">
    <div class="section-title-area">
      <!---title-left-->
      <div class="title-left">
        <h3>Only For You</h3>
      </div>
      <!---title-right-->
      <div class="title-right">
        <a href="#">View All</a>
      </div>
    </div>
    <!---section1-main    [autoplay]="true"-->
    <div class="section4-main carousels">
      <swiper
        [slidesPerView]="1.5"
        [spaceBetween]="16"
        [breakpoints]="{
          '400': {
            slidesPerView: 1.5
          },
          '500': {
            slidesPerView: 2
          },
          '700': {
            slidesPerView: 2
          },
          '800': {
            slidesPerView: 2.5
          },
          '1000': {
            slidesPerView: 3
          },
          '1400': {
            slidesPerView: 3.5
          }
        }"
        [pagination]="{
          clickable: true
        }"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let data of cardTwoData">
          <app-product-card-two [data]="data"></app-product-card-two>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
>
  <!-- <p style="color: white" > Loading... </p> -->
  <p style="color: white; padding-left: 40px">
    We are testing your patience...
  </p>
</ngx-spinner>
