@import'./../../../../theme/variables';
.weight-input-main{
  // max-width: 500px;
  display: grid;
  grid-template-columns: 2fr 100px;
  grid-gap: 5px;
}
@media (max-width: 648px){
  .weight-input-main{
    grid-template-columns: 90px 85px;
    justify-content: space-between;
}
}
@media (max-width: 500px){
  .weight-input-main{
    grid-template-columns: 1fr 100px;
}

}
@media (max-width: 377px){
  .weight-input-main{
    grid-template-columns: 150px 100px;
}
}
.payment-input-main, .points-input-main {
  display: grid;
  grid-template-columns: 1fr 95px;
  justify-content: space-between;
  gap: 5px;
}
@media(max-width: 629px){
  .payment-input-main, .points-input-main {
    grid-template-columns: 135px 95px;
  }
}
@media(max-width: 563px){
  .payment-input-main, .points-input-main {
    grid-template-columns: 80px 95px;
  }
}
@media(max-width: 500px){
  .payment-input-main, .points-input-main {
    grid-template-columns: 1fr 95px;
  }
}
@media(max-width: 377px){
  .payment-input-main, .points-input-main {
    grid-template-columns:  150px 100px;
  }
}
.save-btn{
  text-align: right;
}
.save-btn button{
  background-color: #0058ff;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  outline: none;
  border: 1px solid #0058ff;
  margin: auto;
  padding: 6px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}


img {
    display: block;
    width: 100%;
}
.add-by-link-header{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 30px 0px 40px 0px;
}
.add-by-link-header-main{
    display: flex;
    align-items: center;

    i{
      font-size: 20px;
      padding-right: 10px;
    }
}
.add-by-link-header-main h2{
    color: #131523;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: block;
    line-height: 30px;
}
.add-by-link-main-area{
    display: block;
    margin-bottom: 40px;
}

.source-link{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 7%), 0 2px 4px 0 rgb(0 0 0 / 7%);
    margin-bottom: 25px;
}
.source-link-header{
    display: block;
    margin-bottom: 20px;
}
.source-link-header h3{
    color:#131523;
    font-family: $font-en-primary-2;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height:28px;
}
.source-link-input{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 15px;
    width: 100%;
}
.source-link-input .form-input{
    display: block;
    width: 100%;
}
.source-link-btn button{
    background-color: #0058ff;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    outline: none;
    border: 1px solid #0058ff;
    display: block;
    margin: auto;
    padding: 6px 20px;
    box-sizing: border-box;
    position: relative;
    top: -10px;
    border-radius: 5px;
}
.product-area{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}
.product-area-main{
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding: 20px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-gap: 20px 30px;
    border-left: 1px solid #aab0b5;
}

.product-left{
    display: block;
}
.product-img img{
    border-radius: 10px;
    box-sizing: border-box;
}
.product-right{
    display: block;
}

.general-area,.product-pricing,.pricing-rules{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 7%), 0 2px 4px 0 rgb(0 0 0 / 7%);
    margin-bottom: 25px;
}
.general-top,.product-pricing-top,.pricing-rules-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 25px;
}
@media(max-width:500px){
    .general-top,.product-pricing-top{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
.general-top h3,.product-pricing-top h3,.pricing-rules-top h3{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: block;
    line-height: 24px;
}
.pricing-rules-top h3 span{
    font-weight: 400;
    font-size: 14px;
}
.general-top .mat-check{
    color: #333333;
    font-family:$font-en-primary-2;
    font-weight: 500;
    font-size: 15px;
    display: block;
}
.product-right .form-input h3{
    color:#333333;
    font-family: $font-en-primary-2;
    font-size: 15px;
    font-weight: 500;
    display: block;
}
.general-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 20px;
    grid-template-rows: auto;
    width: 100%;
}

.product-pricing-main,.pricing-rules-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 20px;
    grid-template-rows: auto;
    width: 100%;
}
@media(max-width:800px){
    .product-area-main{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:500px){
    .general-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-pricing-main,.pricing-rules-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-area-main{
        padding:0px 0px;
    }
}
@media(min-width:1450px){
    .product-pricing-main,.pricing-rules-main{
        grid-template-columns: repeat(3, 1fr);
    }
}

.varriant-area{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.product-varriant-info-main.ng-star-inserted {
    display: grid;
    align-content: flex-start;
    justify-content: start;
    grid-template-columns: 1fr 3fr;
}
.product-quantity-size-info-main{
display: block;
width: 100%;
}
.product-quantity-size-info{
display: flex;
align-items: flex-start;
justify-content: flex-start;
gap: 10px;
margin-bottom: 20px;
width: 100%;
}
.product-quantity-size-info-left{
    display: block;
    width: 120px;
}
.product-quantity-size-info-left span{
    color: #000;
    font-family: $font-en-primary;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    display: block;
    text-transform: capitalize;
}

.product-info-right{
    display: block;
    width: 100%;

    ul.quantity {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.product-info-right li button{
    padding: 10px;
    margin: 10px 10px 10px 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border: 1px solid #a8a8a8;
    background-color: #fff;
    outline: none;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s linear;
}

.product-info-right li button:focus{
    background-color: aqua;
}




.title{
    display: block;
    margin-bottom: 40px;
}
.title h2{
    color: #131523;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    display: block;
    line-height: 22px;
}


.varriant-info,.inventory{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 7%), 0 2px 4px 0 rgb(0 0 0 / 7%);
    margin-bottom: 25px;
}
.varriant-area h4{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: block;
    line-height: 24px;
    margin-bottom: 25px!important;
}
.varriant-info mat-radio-button{
    display: block;
    width: 100%;
    margin-bottom: 22px;
    color: #333333;
    font-family: $font-en-primary-2;
    font-size: 16px;
    font-weight: 500;

}
.varriant-info mat-radio-button i{
    color:#c3c3c3;
}
.varriant-info mat-radio-button:last-child{
    margin: 0px;
}
.inventory-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;

}
@media(max-width:420px){
    .inventory-header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
.inventory-header h4{
    margin: 0px!important;
}
.inventory mat-checkbox{
    color: #333333;
    font-family: $font-en-primary-2;
    font-weight: 500;
    font-size: 16px;
    display: block;

}
.inventory-input-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media(max-width:580px){
    .inventory-input-area{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px 20px;
    }
}
.video-area{
    display: block;
    margin-bottom: 30px;
}
.video-main-area{
    display: block;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.video-area-header{
    display: block;
    margin-bottom: 30px;
}
.video-area-header h3{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: block;
    line-height: 24px;
    margin-bottom: 15px!important;
}
.video-area-header p{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 24px;
}
.video-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 50px;
    box-sizing: border-box;
}
@media(max-width:900px){
    .video-main{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width:1600px){
    .video-main{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media(min-width:1800px){
    .video-main{
        grid-template-columns: repeat(7, 1fr);
    }
}
@media(max-width:680px){
    .video-main{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:520px){
    .video-main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 20px;
    }
}
.video-info{
    text-align: center;
}
.video-info img{
    border-radius: 5px;
    // max-height: 200px;
    height: auto;
    // min-height: 120px;
}


.images-area{
    display: block;
    margin-bottom: 30px;
}
.images-main-area{
    display: block;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.images-area-header{
    display: block;
    margin-bottom: 30px;
}
.images-area-header h3{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: block;
    line-height: 24px;
    margin-bottom: 15px!important;
}
.images-area-header p{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 24px;
}
.images-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 20px 30px;
    box-sizing: border-box;
}
@media(max-width:770px){
    .images-main{
        grid-template-columns: repeat(1, 1fr);
    }
}
.big-image{
    display: block;
    text-align: center;
}
.big-image img{
    margin-bottom: 10px;
    border-radius: 7px;
    max-height: 350px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.big-image p{
    color: #333333;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 24px;
}
.images-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 50px;
    box-sizing: border-box;
}

.images-info{
    text-align: center;
}
.images-info img{
    border-radius: 5px;
    // max-height: 200px;
}

@media(min-width:1600px){
    .images-right{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width:1800px){
    .images-right{
        grid-template-columns: repeat(5, 1fr);
    }

}
@media(max-width:520px){
    .images-right{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 20px;
    }
    .images-main-area,.video-main-area{
        padding: 0px;
    }
}
.form-sub-btn{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: right;
}
.form-sub-btn button{
    background-color: #0058ff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    outline: none;
    border: 1px solid #0058ff;
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 #b0ceff;
}



/** form-field and common code****/
.form-field{
    display: block;
    width: 100%;
    min-width: 0px;
}
::ng-deep.form-field.mat-form-field .mat-form-field-label{
    color: #74777e;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field .mat-form-field-appearance-outline .mat-form-field-outline{
    color: #a1a5a9;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: #0058ff;
}
::ng-deep.form-field.mat-form-field.mat-focused .mat-form-field-label{
    color: #0058ff!important;
}
.form-field input,.form-field textarea{
    color: #74777e;
    font-family: $font-en-primary-2;
    font-size: 16px;
}
::placeholder{
    color:#74777e;
}
.form-input{
    display: block;
}
.form-input h3{
    color:#333333;
    font-family: $font-en-primary-2;
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px!important;
}
.form-input h3 i{
    font-size: 13px;
    color: #c3c3c3
}
::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin{
    background-color: #d7e7ff;
}
::ng-deep.mat-check .mat-checkbox-frame{
    border-color: #b0ceff;
}
::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #0058ff;
}
::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #0058ff;
}
::ng-deep.radio .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #0058ff;
}
::ng-deep.radio .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #0058ff;
}
::ng-deep.radio .mat-radio-outer-circle{
    border-color: #c3c3c3;
}
::ng-deep.radio .mat-radio-label{
    white-space: pre-wrap;
}
.check-box mat-checkbox{
    display: block;
    color: #5c5f62;
    font-family: $font-en-primary-2;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
}
::ng-deep.check-box .mat-checkbox-frame{
    border-color: #8c9196;
    border-radius: 4px;
}
::ng-deep.check-box.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #0058ff;
}
::ng-deep.check-box.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #0058ff;
}
::ng-deep.mat-check .mat-checkbox-layout{
    white-space: pre-wrap;
}
