<!----add-by-link-header-->
<div class="add-by-link-header">
    <div class="add-by-link-header-main">
        <span><i [routerLink]="['../../', 'products-by-link']" class="fa fa-arrow-left"></i></span>
        <h2>Add By Links</h2>
    </div>
</div>
<!---add-by-link-main-area-->
<div class="add-by-link-main-area">
    <div class="add-by-link-main">
        <div>
            <!---source-link-->
            <form [formGroup]="dataForm" (ngSubmit)="onSearch()" class="source-link">
                <div class="source-link-header">
                    <h3>Use Source Link</h3>
                </div>
                <div class="source-link-input">
                    <!---source-link-->
                    <div class="form-input">
                        <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                            <input formControlName="url" name="url" id="url" type="text" matInput
                                placeholder="Enter your use source link">
                            <mat-error *ngIf="">This field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="source-link-btn">
                        <button type="submit">Search</button>
                    </div>

                </div>
            </form>



            <!----product-area-->
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="product-area">
                    <div class="title">
                        <h2>Product</h2>
                    </div>
                    <div class="product-area-main">
                        <!---product-left-area-->
                        <div class="product-left">
                            <div class="product-img">
                                <img [src]="banner" alt="">
                            </div>
                        </div>
                        <!---product-right-area-->
                        <div class="product-right">

                            <!---general-area-->
                            <div class="general-area">
                                <div class="general-top">
                                    <div>
                                        <h3>General</h3>
                                    </div>
                                    <div>
                                        <mat-checkbox class="mat-check">Product will be visible on online store.
                                        </mat-checkbox>
                                    </div>
                                </div>

                                <div class="general-input">
                                    <div class="form-input">
                                        <h3>Title <i class="fas fa-exclamation-circle"></i></h3>
                                        <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                                            <input formControlName="name" type="text" matInput (change)="autoGenerateSlug()"
                                                placeholder="Enter product title..">
                                            <mat-error *ngIf="">This field is required</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="form-input">
                                        <h3>Slug <i class="fas fa-exclamation-circle"></i></h3>
                                        <mat-form-field appearance="outline" class="form-field" [floatLabel]="false">
                                            <input formControlName="slug" type="text" matInput (change)="autoGenerateSlug()"
                                                placeholder="Enter product title..">
                                            <mat-error *ngIf="">This field is required</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="standard-form-input">
                                        <h3>Select Parent Category</h3>
                                        <mat-form-field appearance="outline" class="w-100">
                                          <mat-select [disableOptionCentering]="true" #select placeholder="Select parent category *" required
                                                      formControlName="parentCategory" (selectionChange)="onSelectCategory($event)">
                                            <mat-select-filter [placeholder]="'Filter Category List'"
                                                               *ngIf="select.focused"
                                                               [array]="categories"
                                                               [displayMember]="'name'"
                                                               (filteredReturn)="filteredCatList = $event"></mat-select-filter>
                                            <mat-option *ngFor="let item of filteredCatList" [value]="item._id">
                                              {{item.name}}
                                            </mat-option>
                                          </mat-select>
                                          <mat-error *ngIf="">This field is required</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="standard-form-input">
                                        <h3>Select Child Category</h3>
                                        <mat-form-field appearance="outline" class="w-100">
                                          <mat-select [disableOptionCentering]="true" #select1 placeholder="Select child category *" required
                                                      formControlName="childCategory">
                                            <mat-select-filter [placeholder]="'Filter Child List'"
                                                               *ngIf="select1.focused"
                                                               [array]="subCategories"
                                                               [displayMember]="'name'"
                                                               (filteredReturn)="filteredSubCatList = $event"></mat-select-filter>
                                            <mat-option *ngFor="let item of filteredSubCatList" [value]="item._id">
                                              {{item.name}}
                                            </mat-option>
                                          </mat-select>
                                          <mat-error *ngIf="">This field is required</mat-error>
                                        </mat-form-field>
                                    </div>


                                    <div class="general-input">
                                        <div class="general-grid">
                                            <div class="form-input">
                                                <h3>Type</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="type" type="text" matInput placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-input">
                                                <h3>Tags</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="tags" type="text" matInput placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="form-input">
                                                <h3>Vendor</h3>
                                                <mat-form-field appearance="outline" class="form-field">
                                                    <mat-select formControlName="vendor" placeholder="Vendor">
                                                        <mat-option value="careme">Care me</mat-option>
                                                        <mat-option value="global">Care me Global</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-input">
                                                <h3>Weight <i class="fas fa-exclamation-circle"></i></h3>

                                                <div class="weight-input">
                                                    <div>
                                                        <mat-form-field appearance="outline" class="form-field"
                                                            [floatLabel]="false">
                                                            <input formControlName="weight" type="number" matInput>
                                                            <mat-error *ngIf="">This field is required</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- <div>
                                                        <mat-form-field appearance="outline" class="form-field"
                                                            [floatLabel]="false">
                                                            <mat-label>Select</mat-label>
                                                            <mat-select formControlName="weightType">
                                                                <mat-option *ngFor="let c of weightType"
                                                                    [value]="c.value">{{c.viewValue}}</mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="">This field is required</mat-error>
                                                        </mat-form-field>
                                                    </div> -->
                                                </div>
                                            </div>

                                            <div class="form-input">
                                                <h3>Multiply Price by</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="multyPrice" type="number" matInput
                                                        placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-input">
                                                <h3>Multiply Weight by</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="multyWeight" type="number" matInput
                                                        placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-input">
                                                <h3>MOQ</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="moq" type="text" matInput placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-input">
                                                <h3>SKU</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="sku" type="text" matInput placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-input">
                                                <h3>Price</h3>
                                                <mat-form-field appearance="outline" class="form-field"
                                                    [floatLabel]="false">
                                                    <input formControlName="sellingPrice" type="text" matInput placeholder="">
                                                    <mat-error *ngIf="">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="payment_points_inputs">
                                                <div class="form-input">
                                                    <h3>Partial Payment</h3>

                                                    <div class="payment-input-main">
                                                        <div>
                                                            <mat-form-field appearance="outline" class="form-field"
                                                                [floatLabel]="false">
                                                                <input formControlName="partialPayment" type="number"
                                                                    matInput placeholder="" value="2">
                                                                <mat-error *ngIf="">This field is required</mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="outline" class="form-field">
                                                                <mat-label>Select</mat-label>
                                                                <mat-select formControlName="partialPaymentType">
                                                                  <mat-option *ngFor="let c of amountType" [value]="c.value">{{c.viewValue}}</mat-option>
                                                                </mat-select>
                                                              </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-input">
                                                    <h3>Points eligibility </h3>

                                                    <div class="points-input-main">
                                                        <div>
                                                            <mat-form-field appearance="outline" class="form-field"
                                                                [floatLabel]="false">
                                                                <input formControlName="earnPoints" type="number" matInput
                                                                    placeholder="" value="2">
                                                                <mat-error *ngIf="">This field is required</mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="outline" class="form-field">
                                                                <mat-label>Select</mat-label>
                                                                <mat-select formControlName="earnPointsType">
                                                                  <mat-option *ngFor="let c of amountType" [value]="c.value">{{c.viewValue}}</mat-option>
                                                                </mat-select>
                                                              </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <!---description-->
                                        <!-- <div class="form-input" style="margin-bottom: 25px;">
                                          <h3>Description</h3>
                                          <mat-form-field appearance="outline" class="form-field">
                                            <textarea #textarea matInput rows="7" cols="10" formControlName="description"
                                              placeholder="Write your description" maxlength="320"></textarea>
                                          </mat-form-field>
                                        </div> -->


                                        <div class="description">
                                          <h3>Description</h3>

                                          <div class="description-plugins">
                                            <quill-editor *ngIf="modules" [styles]="{height: '400px'}" [modules]="modules" (onFocus)="focus($event)"
                                              (onEditorChanged)="changedEditor($event)" formControlName="description" formControlName="description">
                                            </quill-editor>

                                          </div>
                                        </div>

                                        <div class="save-btn">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <!-- <p style="color: white" > Loading... </p> -->
  <p style="color: white">We are testing your patience...</p>
</ngx-spinner>
