<!---order-header-area-->
<div class="order-header-area">
  <div class="order-header-main">
    <!---order-header-top-->
    <div class="order-header-top">
      <!---order-title-->
      <div class="order-title">
        <h3>Request Orders</h3>
      </div>
      <!--order-search-->
      <form class="search-form" #searchForm="ngForm">

        <div class="order-search">
          <button><i class="fa fa-search"></i></button>
          <input #searchInput id="searchInput" type="text" (focus)=handleFocus($event) name="searchTerm"
            autocomplete="off" ngModel value="" placeholder="Search by phone, order number">
        </div>
      </form>
      <!---order-btn-area-->
      <div class="order-btn-area">
        <ul>
          <li><button (click)="exportPopUpShow()">Export</button></li>
          <li><button (click)="picker.open()">Date<i class="fa fa-caret-down"></i></button></li>
          <li><button [matMenuTriggerFor]="sort">Sort<i class="fa fa-caret-down"></i></button></li>
        </ul>
        <!--  -->


        <mat-menu #sort="matMenu">
          <button mat-menu-item (click)="sortData({orderId: -1}, 1)" [class.dropdown-active]="activeSort === 1">Order
            Number(High to low)</button>
          <button mat-menu-item (click)="sortData({orderId: 1}, 2)" [class.dropdown-active]="activeSort === 2">Order
            Number(Low to High)</button>
          <button mat-menu-item (click)="sortData({checkoutDate: -1}, 3)"
            [class.dropdown-active]="activeSort === 1">Date(oldest)</button>
          <button mat-menu-item (click)="sortData({checkoutDate: 1}, 4)"
            [class.dropdown-active]="activeSort === 2">Date(Newest)</button>
          <button mat-menu-item (click)="sortData({fullName: -1}, 5)"
            [class.dropdown-active]="activeSort === 1">Customer Name (A-Z)</button>
          <button mat-menu-item (click)="sortData({fullName: 1}, 6)" [class.dropdown-active]="activeSort === 2">Customer
            Name (Z-A)</button>
          <button mat-menu-item (click)="sortData({totalAmount: -1}, 5)"
            [class.dropdown-active]="activeSort === 1">Total(High to low)</button>
          <button mat-menu-item (click)="sortData({totalAmount: 1}, 6)" [class.dropdown-active]="activeSort === 2">Total
            (Low to High)</button>
        </mat-menu>
      </div>
      <div class="datePicker">
        <mat-date-range-input [formGroup]="dataFormDateRange" [rangePicker]="picker" [max]="today">
          <input hidden matStartDate formControlName="start" readonly>
          <input hidden matEndDate formControlName="end" readonly (dateChange)="endChangeRegDateRange($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle [hidden]="true" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="dataFormDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
        </mat-error>
        <mat-error *ngIf="dataFormDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date </mat-error>
      </div>
    </div>

  </div>
</div>
<!---table-area-->
<div class="order-table-area">
  <!---table-area-header-->
  <div class="order-table-area-header">
    <!---order-btn-area-->
    <div class="order-btn-area">
      <ul>
        <li><button (click)="createOrderPopUp()">Create Order</button></li>
        <li><button [matMenuTriggerFor]="paymentStatus">Payment Status<i class="fa fa-caret-down"></i></button></li>
        <mat-menu #paymentStatus="matMenu">
          <button mat-menu-item *ngFor="let data of paymentOrderStatus"
            (click)="filterByPaymentStatus(data.value)">{{data.viewValue}}</button>
        </mat-menu>
        <li><button [matMenuTriggerFor]="orderStatus">Order Status<i class="fa fa-caret-down"></i></button></li>
        <mat-menu #orderStatus="matMenu">
          <button mat-menu-item *ngFor="let data of productOrderStatus"
            (click)="filterByOrderStatus(data.value)">{{data.viewValue}}</button>
        </mat-menu>
        <li><button [matMenuTriggerFor]="vendor">Vendor<i class="fa fa-caret-down"></i></button></li>
        <mat-menu #vendor="matMenu">
          <button mat-menu-item>Careme</button>
          <button mat-menu-item>Careme Global</button>
        </mat-menu>

      </ul>
    </div>
  </div>

  <div class="order-table-main">
    <!---table-->
    <div class="table">
      <!---table-head-->
      <div class="table-head">
        <!---table-row-->
        <div class="table-row">
          <div class="table-heading check">
            <mat-checkbox #matCheckbox class="mat-check" (change)="onAllSelectChange($event)"></mat-checkbox>
          </div>
          <div class="table-heading id">
            <h3>Order No</h3>
          </div>
          <div class="table-heading date">
            <h3>Date & Time</h3>
          </div>
          <div class="table-heading item">
            <h3>Customer Name</h3>
          </div>
          <div class="table-heading item">
            <h3>Phone</h3>
          </div>
          <div class="table-heading amount">
            <h3>Amount</h3>
          </div>
          <div class="table-heading pay-status">
            <h3>Advance Payment</h3>
          </div>
          <div class="table-heading pay-status">
            <h3>Invoice Status</h3>
          </div>
          <div class="table-heading order-status">
            <h3>Order Status</h3>
          </div>
          <div class="table-heading vendor">
            <h3>Vendor</h3>
          </div>
          <div class="table-heading note">
            <h3>Notes</h3>
          </div>
        </div>
      </div>
      <!----table-body-->
      <div class="table-body">
        <div class="table-row"
          *ngFor="let data of orders | paginate: { itemsPerPage: ordersPerPage, currentPage: currentPage, totalItems: totalOrders }; let i = index">
          <div class="table-data check">
            <mat-checkbox class="mat-check" (ngModelChange)="onCheckChange($event, i, data._id)"
              [(ngModel)]="data.select"></mat-checkbox>
          </div>
          <div class="table-data id">
            <span [routerLink]="['../../','request-details', data._id ]">{{data.orderId}}</span>
          </div>
          <div class="table-data date">
            <h3>{{data.checkoutDate | date}}</h3>
            <h3>{{data.checkoutDate | date : 'mediumTime'}}</h3>
          </div>
          <div class="table-data item">
            <span>{{data?.user?.fullName? data.user.fullName : 'No Name'}} <img style="width: 20px;"
                [src]="data?.user?.tag?.images" alt=""></span>
          </div>
          <div class="table-data item">
            <span>{{data?.phoneNo? data.phoneNo : data.user.phoneNo}} </span>
          </div>
          <div class="table-data amount">
            <h3>{{getRoundValue(data.totalAmount)}}</h3>
          </div>
          <div class="table-data pay-status">
            <button>{{data.paymentStatus | paymentStatus }}</button>
          </div>
          <div class="table-data order-status">
            <span><i class="fa-solid fa-circle"></i></span>
          </div>
          <div class="table-data order-status">
            <h3>{{data.deliveryStatus | orderStatus }}</h3>
          </div>
          <div class="table-data vendor">
            <button>Careme</button>
          </div>
          <div class="table-data note">
            <span><i class="fa-solid fa-file-lines"></i></span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!---indicator-->


  <!-- <ul>
            <li><button ><i class="fa fa-angle-left"></i></button></li>
            <li><button ><i class="fa fa-angle-right"></i></button></li>
        </ul> -->

  <!---indicator-->
  <!-- <div class="indicator-area">
    <div class="pagination-container">
      <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="15"
        (pageChange)="onPageChanged($event)">
      </pagination-controls>
    </div>
    <div class="indicator-right">
      <span>Showing {{currentPage*ordersPerPage-ordersPerPage+1}} to {{currentPage*ordersPerPage <= totalOrders ?
          currentPage*ordersPerPage : totalOrders}} of {{totalOrders}} entries</span>
    </div>
  </div> -->
</div>
<!---create-return-->
<div class="create-order-area">
  <app-create-order #createOrder></app-create-order>
</div>
<!---export-pop-area-->
<div class="pagination-container">
  <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="15" (pageChange)="onPageChanged($event)">
  </pagination-controls>
</div>
<div class="export-popup-area">
  <app-export-popup (valueChange)='exportToExcel($event)' #export></app-export-popup>
</div>
