form nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

.estimated-time {
  h3 {
    font-weight: 300;
  }
  h3 span {
    color: #fcad2f;
    font-weight: 600;
  }
}
.estimated-time.instock {
  h3 span {
    font-weight: 600;
    color: green;
  }
}
.payment {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 25px;
  text-align: center;
  padding: 5px 15px;
  font-style: italic;
  font-size: 12px;
}
.payment.paid {
  background: #eeeeee;
  border: #ddd;
}
.order-status {
  color: black;
  text-align: center;
  background-color: rgb(208, 208, 208);
  height: 100%;
  width: 100%;
}
.pay-order {
  border: 1px solid green;
  color: white;
  text-align: center;
  padding: 10px 30px;
  background-color: green;
  transition: 0.3s;
  float: right;
  border-radius: 3px;
}
.pay-order:hover {
  color: green;
  background: transparent;
}
.order-id {
  h2 {
    font-size: 18px;
    color: rgb(236, 84, 203);
  }
  h5 {
    font-size: 12px;
  }
}
