<nz-tabset [nzTabBarExtraContent]="orderTemplate">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="onTabSelect(tab)">
    <nz-table
      #nestedTable
      [nzData]="listOfParentData"
      [nzPageSize]="10"
      nzSize="small"
    >
      <thead>
        <tr style="display: none">
          <th></th>
          <th>Name</th>
          <th>Platform</th>
          <th>Version</th>
          <th>Upgraded</th>
          <th>Creator</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="listOfParentData">
          <tr>
            <td [(nzExpand)]="data.expand" style="width: 50px"></td>
            <td>
              <a
                class="order-id"
                matTooltip="Click to view order details"
                [routerLink]="['../../order-details', data.id]"
              >
                <h2>SO - {{ data.orderId }}</h2>
                <h5>{{ data.date | date: "short" }}</h5>
              </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <nz-countdown [nzValue]="deadline"></nz-countdown>
            </td>
            <td>
              <a class="pay-order">Pay To Confirmed</a>
            </td>
          </tr>
          <tr [nzExpand]="data.expand">
            <nz-table
              #innerTable
              [nzData]="listOfChildrenData"
              nzSize="middle"
              [nzShowPagination]="false"
            >
              <tbody>
                <tr *ngFor="let data of innerTable.data">
                  <td style="width: 60px">
                    <img
                      style="width: 60px"
                      src="/assets/images/placeholder/test.png"
                      alt=""
                    />
                  </td>
                  <td>
                    <h3>{{ data?.name }}</h3>
                    <span>{{ data?.sku }}</span>
                  </td>
                  <td>Qty : {{ data?.qty }}</td>
                  <td>Total : {{ data?.total }}</td>
                  <td>Advance : {{ data?.advance }}TK</td>
                  <td>
                    <span class="payment paid unpaid">
                      {{ data?.paymentStatus }}
                    </span>
                  </td>
                  <td class="estimated-time instock">
                    <h3>
                      Estimated Delivery by
                      <span>{{ data?.deliveryDate | date: "short" }}</span>
                    </h3>
                  </td>
                  <td>
                    <a class="order-status">{{ data?.orderStatus }}</a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
<ng-template #orderTemplate>
  <input nz-input placeholder="Search here" [(ngModel)]="value" />
</ng-template>
