form nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

.estimated-time {
  h3 {
    font-weight: 300;
  }
  h3 span {
    color: #db8700;
    font-weight: 600;
  }
}
.estimated-time.instock {
  h3 span {
    font-weight: 400;
    color: green;
  }
}
.payment {
  border: 1px dashed rgb(56, 56, 56);
  border-radius: 25px;
  text-align: center;
  padding: 5px 15px;
  font-style: italic;
  font-size: 12px;
}
.payment.paid {
  border: 1px dashed rgba(0, 128, 0, 0.336);
  color: rgb(0 128 0 / 82%);
}
.order-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  float: right;
}
.order-status.pending {
  border: 1px dashed #f7a103;
  color: #f7a103;
}
.pay-order {
  width: 180px;
  padding: 0 !important;
  a {
    border: 1px solid #da5894;
    text-transform: uppercase;
    width: 100%;
    min-height: 50px;
    color: #da5894;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    transition: 0.3s;
  }
  a:hover {
    background: #da5894;
    color: #fff;
  }
}
.order-id {
  h2 {
    font-size: 18px;
    color: rgb(236, 84, 203);
  }
  h5 {
    font-size: 12px;
  }
}
