<!---order-header-area-->
<div class="page-header">
  <h2>All Customer</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
  </div>
</div>
<div class="table-samary">
  <nz-card>
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form class="search-form" #searchForm="ngForm">
            <input
              nz-input
              nzSize="large"
              #searchInput
              placeholder="Search in customers..."
              (focus)="handleFocus($event)"
              name="searchTerm"
              autocomplete="off"
              ngModel
              required
            />
          </form>
          <ul>
            <li>
              <nz-range-picker
                [(ngModel)]="date"
                (ngModelChange)="onChange($event)"
              ></nz-range-picker>
            </li>
            <li>
              <button [matMenuTriggerFor]="customerSort">
                Sort <i class="fa fa-caret-down"></i>
              </button>
              <mat-menu #customerSort="matMenu">
                <button
                  mat-menu-item
                  style="font-size: 14px; height: 40px"
                  (click)="sortData({ createdAt: 1 }, 1)"
                  [class.dropdown-active]="activeSort === 1"
                >
                  Last Update (Oldest First)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 14px; height: 40px"
                  (click)="sortData({ createdAt: -1 }, 2)"
                  [class.dropdown-active]="activeSort === 2"
                >
                  Last Update (Newest First)
                </button>
                <!-- Need to fix params -->
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ createdAt: 1 }, 3)"
                  [class.dropdown-active]="activeSort === 3"
                >
                  Amount Spent (High to low)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ createdAt: 1 }, 4)"
                  [class.dropdown-active]="activeSort === 4"
                >
                  Amount Spent (Low to High)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ checkouts: -1 }, 5)"
                  [class.dropdown-active]="activeSort === 5"
                >
                  Total Orders (High to low)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ checkouts: 1 }, 6)"
                  [class.dropdown-active]="activeSort === 6"
                >
                  Total Orders (Low to High)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ createdAt: 1 }, 5)"
                  [class.dropdown-active]="activeSort === 5"
                >
                  Last order date (High to low)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ createdAt: 1 }, 6)"
                  [class.dropdown-active]="activeSort === 6"
                >
                  Last order date (Low to High)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ createdAt: 1 }, 5)"
                  [class.dropdown-active]="activeSort === 5"
                >
                  Data Added as a customer (Oldest First)
                </button>
                <button
                  mat-menu-item
                  style="font-size: 13px; height: 40px"
                  (click)="sortData({ createdAt: -1 }, 6)"
                  [class.dropdown-active]="activeSort === 6"
                >
                  Data Added as a customer (Newest First)
                </button>
              </mat-menu>
            </li>
          </ul>
        </div>
        <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzData]="customers"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr>
              <th
                style="width: 50px"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Customer Name</th>
              <th>Order</th>
              <th>Total Spent</th>
              <th>Status</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td
                style="width: 50px"
                [nzChecked]="setOfCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
              <td>
                <a [routerLink]="['../../', 'customer', data._id]">
                  {{ data.fullName ? data.fullName : data.phoneNo }}
                </a>
              </td>
              <td>{{ data?.checkouts ? data.checkouts.length : "0" }}</td>
              <td>{{ totalSpent(i) }} Tk</td>
              <td class="customer_status">
                <span *ngIf="data?.status === 0">Active</span>
                <span *ngIf="data?.status === 1" class="block"> Block </span>
              </td>
              <td>Need Customer Address</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
