@import'../../../../../theme/variables';
img{
    display: block;
    width: 100%;
}
.all-customer-header{
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}
img{
  width: 100%;
  display: block;
}
.all-customer-header-main{
    display: grid;
    grid-template-columns:1.5fr 3fr 150px;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title h2{
    color: #131523;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    margin: 0px;
    letter-spacing: 0.5px;
}
.all-customer-search{
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-form {
        position: relative;
        overflow: hidden;
        width: 100%;
        // border-right: none;


        input {
          width: 100%;
          height: 45px;
          outline: none;
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          padding: 0 60px 0 20px;
          font-size: 14px;
          font-family: $font-en-primary;
          background: #FFFFFF;
        }

        .icon {
          height: 45px;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 24px;
          color: #444444;
          background: #FFFFFF;
          width: 55px;
          cursor: pointer;
          display: grid;
          place-items: center;
          // border: 1px solid $color-secondary;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          &:hover {
            background: #FFD200;
          }
        }
      }

      .auto-complete-box {
        position: absolute;
        // width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background: #ffffff;
        // padding: 10px 8px;
        padding: 0;
        top: 6rem;
        max-height: 400px;
        overflow-y: auto;
        //....
        opacity: 0;
        pointer-events: none;

        li {
          list-style: none;
          cursor: default;
          font-size: 14px;
          display: none;

          &:hover {
            background: #efefef;
          }
        }
      }

      .active {
        padding: 10px 0;
        opacity: 1;
        pointer-events: auto;

        li {
          display: block;
        }
      }
}
@media(max-width:720px){
    .all-customer-header-main{
        grid-template-columns: repeat(2, 1fr);
    }
    .all-customer-search{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}
@media(max-width:450px){
    .all-customer-header-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .all-customer-create-btn{
        justify-content: flex-start!important;
    }
}
.all-customer-search button{
    background-color: #d3dff8;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid #d3dff8;
    color: #6672fb;
    border-radius: 5px 0px 0px 5px;
}
.all-customer-search input{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #eff3fb;
    background-color: #eff3fb;
    height: 45px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-family: $font-en-primary-2;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
}
.all-customer-create-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.all-customer-create-btn button{
    background-color: #0058ff;
    border: 1px solid #0058ff;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.3s linear;
}
@media(max-width:720px){
    .all-customer-header-main{
        grid-template-columns: repeat(2, 1fr);
    }
    .all-customer-search{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}
@media(max-width:450px){
    .all-customer-header-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .vendor-create-btn{
        justify-content: flex-start!important;
    }
}

.all-customer-main{
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%),0 -1px 2px rgb(0 0 0 / 10%);
    border-radius:10px;
    margin-bottom: 40px;
    padding:25px 0px 0px 0px;
    box-sizing: border-box;
}
.all-customer-header-area{
    padding: 10px 20px 40px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
@media(max-width:570px){
    .all-customer-header-area{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        padding-bottom: 20px;
    }
}
.all-customer-header-left{
    display: block;
}
.all-customer-header-left mat-checkbox{
    color: #131523;
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 16px;
    display: block;
}
.all-customer-header-right{
    display: block;

}
.sortMenu button{
  border: 2px solid #0058ff;
}
.all-customer-header-right ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.all-customer-header-right ul li{
    display: inline-block;
    margin-right: 10px;
}
.all-customer-header-right ul li:last-child{
    margin: 0px;
}
.all-customer-header-right ul li button{
    display: flex;
    align-items: center;
    background-color: #0058ff;
    gap: 7px;
    outline: none;
    border: 1px solid #0058ff;
    color: #fff;
    padding: 5px 15px;
    font-family: $font-en-primary-2;
    font-size: 16px;
    border-radius: 5px;
}

.all-customer-table-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    padding-bottom: 30px;
}
.table-head{
    display: block;
}

.table-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // padding: 0px 15px;
    box-sizing: border-box;
    width: 100%;

}
.table-heading{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #7ca9fe;
}
.table-heading h3{
    margin: 0px;
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 18px;
    display:block;
    color: #131523;
    font-style: normal;
    line-height: 22px;
}
.table-data{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;

}

.table-data h3{
    font-family: $font-en-primary-2;
    font-weight: 600;
    font-size: 16px;
    display:block;
    color: #131523;
    font-style: normal;
    margin: 0px;
}
.customer-info a{
    font-family: $font-en-primary-2;
    font-weight: 700;
    font-size: 17px;
    display:block;
    color: #131523;
    font-style: normal;
    margin-bottom: 7px;
}
.customer-info address{
    font-family: $font-en-primary-2;
    font-weight:500;
    font-size: 16px;
    display:block;
    color: #131523;
    font-style: normal;
}
.confirm{
    display: block;
}
.confirm span{
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #4fb908;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 13px;
    margin: 0px;
}
.table-data.subscribe button{
   background-color: #aee9d1;
   font-family: $font-en-primary-2;
   color: #131523;
   font-size: 14px;
   font-weight: 600;
   outline: none;
   border: none;
   display: block;
   padding: 5px 15px;
   border-radius: 25px;
   text-transform: capitalize;
}
.active{
    display: block;
}
.active button{
    background-color: #a9ff8f;
    font-family: $font-en-primary-2;
   color: #131523;
   font-size: 14px;
   font-weight: 600;
   outline: none;
   border: none;
   display: block;
   padding: 5px 17px;
   border-radius: 25px;
   text-transform: capitalize;
}
.in-active{
    display: block;
}
.in-active button{
    background-color: #ff8f8f;
    font-family: $font-en-primary-2;
   color: #131523;
   font-size: 14px;
   font-weight: 600;
   outline: none;
   border: none;
   display: block;
   padding: 5px 17px;
   border-radius: 25px;
   text-transform: capitalize;
}


.name{
    min-width: 200px;
    text-align: left;
    justify-content: flex-start;
}

.check{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.tag,.order-number,.status,.subscribe{
    min-width: 150px;
}
.spent{
    min-width: 200px;
}

button{
    display: inline-block;
}

::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin{
    background-color: #d7e7ff;
}
::ng-deep.mat-check .mat-checkbox-frame{
    border-color: #b0ceff;
}
::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #0058ff;
}
::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #0058ff;
}
::ng-deep.mat-check .mat-checkbox-layout{
    white-space: pre-wrap;
}
.indicator-area{
  margin-top: 25px;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.indicator-left{
  display: block;
}
.indicator-left ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.indicator-left ul li{
  display: inline-block;
  margin-right: 8px;
}
.indicator-left ul li:last-child{
  margin: 0px;
}
.indicator-left ul li button{
  width: 35px;
  height: 35px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 #b0ceff;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e2e2f;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.3s linear;
}
.indicator-left ul li button:hover{
  color: #fff;
  background-color: #0058ff;
}
.active-indicator{
  background-color: #0058ff!important;
  color: #fff!important;
}
.indicator-right{
  display: block;
  text-align: right;
}
.indicator-right span{
  color: #131523;
  font-family: $font-en-primary-2;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  display: block;
}



@media(min-width:960px) and (max-width:1440px){
    .container{
      width: 90%!important;
      gap: 30px!important;
    }
    .icon-text {
      .wrap {
        h3 {
          font-size: 11px;
        }
      }
    }
    .icon i{
      font-size: 24px!important;
    }
    .social a i{
      font-size: 15px!important;
    }
    .all-customer-search {

      .search-form {
        input {
          height: 40px;
        }

        .icon {
          height: 40px;
        }
      }
    }
  }
  .sk-fading-circle {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 85px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /**
LIST VIEW ON SEARCH
 */

.list-view {
    // width: 100%;
    min-height: 75px;
    padding: 10px 15px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    cursor: pointer !important;

    .img-thumb {
      width: 55px;
      height: 55px;

      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }

    .desc {
      flex: 1;
      line-height: 1;

      h3 {
        font-size: 15px;
        font-family: $font-en-primary;
      }

      p {
        font-size: 12px;
        font-family: $font-en-primary;
      }
    }

    .price {
      h5 {
        font-family: $font-en-primary;
        float: right;
        font-size: 16px;
      }

      .discount {
        font-family: $font-en-primary;
        color: red;
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }
