<div class="page-header">
  <h2>Purchase Order</h2>
  <div class="header-action">
    <button type="button" (click)="exportPopUpShow()">Export</button>
    <button type="button" >Import</button>
    <button class="create_btn" (click)="openDialog()">Create Purchase</button>
  </div>
</div>

<div class="table-samary">
  <nz-card nzSize="small">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div class="table-filter-area">
          <form class="search-form" #searchForm="ngForm">
              <input #searchInput (focus)=handleFocus($event) name="searchTerm" autocomplete="off" ngModel nz-input placeholder="Search here" nzSize="large">
          </form>
          <ul>
            <li>
              <button nz-dropdown [nzDropdownMenu]="sortMenu">
                Sort <i class="las la-sort"></i>
              </button>
              <nz-dropdown-menu #sortMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="sortData({purchaseId: -1}, 1)"> Order Number(High to low) </li>
                  <li nz-menu-item (click)="sortData({purchaseId: 1}, 2)"> Order Number(Low to High) </li>
                  <li nz-menu-item (click)="sortData({createdAt: -1}, 3)"> Created (oldest first) </li>
                  <li nz-menu-item (click)="sortData({createdAt: 1}, 4)"> Created (newest first) </li>
                  <li nz-menu-item (click)="sortData({totalAmount: -1}, 5)"> Amount(High to low)  </li>
                  <li nz-menu-item (click)="sortData({totalAmount: 1}, 6)"> Amount (Low to High) </li>
                </ul>
              </nz-dropdown-menu>
            </li>
          </ul>
        </div>
        <div class="table-data-area">
          <nz-table [nzData]="purchases" #bodyData>
            <thead>
              <tr>
                <!-- <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllSelectChange($event)"></th> -->
                <th>Date</th>
                <th>Purchase Order</th>
                <th>Status</th>
                <th>Reference</th>
                <th>Supplier Name</th>
                <th>Recieved</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of bodyData.data">
                <!-- <td [nzChecked]="setOfCheckedId.has(data._id)" (nzCheckedChange)="onCheckChange($event, i, data._id)"></td> -->
                <td >
                  {{ data?.dateTime | date: "short" }}
                </td>
                <td >
                  <a [routerLink]="['details', data._id]">{{ data?.purchaseId }}</a>
                </td>
                <td>
                  {{ data.status ? data.status : "Draft" }}
                </td>
                <td>
                  {{ data?.reference }}
                </td>
                <td>
                  {{ data?.supplier?.name }}
                </td>
                <td >
                  {{ data?.recieved ? "yes" : "no" }}
                </td>
              </tr>
            </tbody>
            <!---tbody-end-->
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>




<div class="export-popup-area">
  <app-export-popup (valueChange)="exportToExcel($event)" #export></app-export-popup>
</div>



