<mat-dialog-content>

  <div class="main_create_invoice" [class]="createInvoice ?'active-create-invoice-area':'in-active'">
    <!-- form-field -->
    <form [formGroup]="dataForm" (ngSubmit)="onSubmitInvoice()">
      <div class="inside_create_invoice">

        <!---header-area-->
        <div class="header-area">
          <!--header-top-->
          <div class="header-top">

            <div class="header-top-left">
              <h3>New Invoice</h3>
            </div>
            <div class="header-top-right">
              <!-- create invoice header  -->
              <div class="create-invoice-icon">
                <button mat-dialog-close type="button"><i class="fa-solid fa-xmark" (click)="close()"></i></button>
              </div>
            </div>
          </div>
          <!--header-main-->
          <div class="header-main">
            <!--user-side-->
            <div class="user-side">
              <!---user-search-->
              <div class="user-search">
                <h3>Shipping Address</h3>
              </div>
              <!--user-info-->
              <div class="user-info">
                <ul>
                  <li>
                    <div class="user-title">
                      <h4>Name :</h4>
                    </div>
                    <div class="user-title-info">
                      <h3>{{order?.name }}</h3>
                    </div>
                  </li>
                  <li>
                    <div class="user-title">
                      <h4>Phone :</h4>
                    </div>
                    <div class="user-title-info">
                      <h3>{{order?.phoneNo}}</h3>
                    </div>
                  </li>
                  <li>
                    <div class="user-title">
                      <h4>Email :</h4>
                    </div>
                    <div class="user-title-info">
                      <h3>{{order?.email }}</h3>
                    </div>
                  </li>
                  <li>
                    <div class="user-title">
                      <h4>Address :</h4>
                    </div>
                    <div class="user-title-info">
                      <h3>{{order?.shippingAddress }}</h3>
                    </div>
                  </li>
                </ul>
              </div>



            </div>
            <!---end-->
            <!---user-invoice-->
            <div class="user-invoice">
              <div class="user-invoice-main">

                <div class="inovice-details">
                  <ul>
                    <li>
                      <div class="invoice-title">
                        <h4>Order Number :</h4>
                      </div>
                      <div class="invoice-value">
                        <p>{{order?.orderId ? order.orderId : '-'}}</p>
                      </div>
                    </li>
                    <li>
                      <div class="invoice-title">
                        <h4>Invoice Date :</h4>
                      </div>
                      <div class="invoice-value">
                        <p>{{DateToday | date}}</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="invoice-field">
                  <div class="invoice_date_field">
                    <h3>Shipping Carrier</h3>
                    <mat-form-field appearance="outline">
                      <mat-label>Select</mat-label>
                      <mat-select formControlName="shippingCarrier">
                        <mat-option value="Pathao" selected>Pathao</mat-option>
                        <mat-option value="REDX">REDX</mat-option>
                        <mat-option value="SA Paribahan">SA Paribahan</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="invoice_date_field">
                    <h3>Tracking Number</h3>
                    <mat-form-field appearance="outline">
                      <mat-label>#REG55376587</mat-label>
                      <input matInput value="" placeholder="">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="sale-person">
                  <h3>Sales Person : <span>Shamim</span></h3>
               </div> -->
              </div>
            </div>
            <!---end-->

          </div>
          <!---end-->


        </div>
        <!---end-->


        <!-- invoice table  -->
        <div class="order-table">
          <nz-table #bodyData [nzData]="invoiceProducts" nzShowPagination = "false">

            <thead>
              <tr>
                <th >SI</th>
                <th nzWidth="50px">Image</th>
                <th >Item Name</th>
                <th >Quantity</th>
                <th >Unit Price</th>
                <th >Discount</th>
                <th >Tax</th>
                <th >Amount</th>
                <!-- <th >Delete</th> -->
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let data of bodyData.data; let i=index">
                <td >
                  {{i+1}}
                </td>
                <td nzWidth="50px"><img width="50px" nz-image
                  [nzSrc]="data.productId.images ? data.productId.images[0] : '/assets/images/placeholder/test.png'"
                  [alt]="data.productId.name"></td>
                <td >
                  <a>{{data?.name}}</a>
                  <span>SKU: {{data?.sku}}</span>
                  <span>Delivery: {{data.deliveryDateFrom | date: 'd MMM'}} to {{data.deliveryDateTo | date: 'd MMM'}}</span>
                </td>
                <td >
                    <button nz-button type="button" id="mine" (click)="decrementQty(data,i)">-</button>
                    <input style="width: 50px" nz-input [value]="data.quantity" (change)="quantity(i)" readonly />
                    <button nz-button type="button" id="decre" (click)="incrementQuty(data,i)">+</button>
                </td>
                <td >
                  {{data?.price}}
                </td>
                <td >
                  0
                </td>
                <td >
                  {{data.tax ? data.tax : '0'}}
                </td>
                <td >
                  {{(data?.price + data.tax) * data?.quantity}}
                </td>
                <!-- <td >
                  <mat-icon (click)="deleteFromInvoice(i)">delete_sweep</mat-icon>
                </td> -->
              </tr>

            </tbody>

          </nz-table>

        </div>

        <!-- invoice custom notes -->
        <div class="custom_notes_field">


          <!-- <div class="invoice_total">
            <div class="invoice_total_main subtotal">
              <p>Subtotal:</p>
              <p>{{calculateSubTotal()}}</p>
            </div>
            <div class="invoice_total_main">
              <p>Delivery Fee:</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="deliveryFee">
              </mat-form-field>
            </div>
            <div class="invoice_total_main">
              <p>Adjustment:</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="adjustment">
              </mat-form-field>
            </div>
            <div class="total_horizontal_line"></div>
            <div class="total">
              <p>Total(BDT):</p>
              <p>{{calculateSubTotal() + this.dataForm.value.deliveryFee - this.dataForm.value.adjustment}}</p>
            </div>
            <div class="shipped_checkbox">
              <mat-checkbox [value]="true" formControlName="deliveryStatus">Mark as shipped</mat-checkbox>
            </div>
          </div> -->


          <div class="total-area">
            <ul>
              <li>
                <div class="total-title">
                  <h3>Sub Total</h3>
                </div>
                <div class="total-price">
                  <h4>{{calculateSubTotal()}} TK</h4>
                </div>
              </li>
              <li *ngIf="order.couponCode">
                <div class="total-title">
                  <h3>Coupon Code</h3>
                </div>
                <div class="total-price">
                  <h4 class="color-red">(-) 0 TK</h4>
                </div>
              </li>
              <li *ngIf="order.redeemedPoints">
                <div class="total-title" >
                  <h3>Points Redeem</h3>
                </div>
                <div class="total-price">
                  <h4 class="color-red">(-) {{order.redeemedPoints}} PTS</h4>
                </div>
              </li>
              <li *ngIf="order.redeemedPoints">
                <div class="total-title">
                  <h3>Shipping Charge</h3>
                </div>
                <div class="total-price">
                  <h4>{{order.shippingCharge}} TK</h4>
                </div>
              </li>
              <hr>
              <!--              <li>-->
              <!--                <div class="total-title">-->
              <!--                   <h3>Amount to pay</h3>-->
              <!--                </div>-->
              <!--                <div class="total-price">-->
              <!--                   <h4>{{calculateSubTotal() + 120}} TK</h4>-->
              <!--                </div>-->
              <!--             </li>-->
              <li>
                <div class="total-title">
                  <h3>Paid</h3>
                </div>
                <div class="total-price">
                  <h4 class="color-red">(-) 0 TK</h4>
                </div>
              </li>
              <li *ngIf="order.adjustmentAmount">
                <div class="total-title">
                  <h3>Adjustment</h3>
                </div>
                <div class="total-price">
                  <h4 class="color-red">(-) 0 TK</h4>
                </div>
              </li>
              <hr>
              <li *ngIf="order.adjustmentAmount">
                <div class="total-title">
                  <h3>Due Amount</h3>
                </div>
                <div class="total-price">
                  <h4>{{(calculateSubTotal() + 120) - 0}} TK</h4>
                </div>
              </li>
              <hr>
              <li>
                <div class="total-title">
                  <h3>Total Due =</h3>
                </div>
                <div class="total-price">
                  <h4>{{calculateSubTotal() + order.shippingCharge}} TK</h4>
                </div>
              </li>
            </ul>
          </div>


        </div>
        <!---total-->

        <div class="invoice_buttons">
          <button mat-stroked-button type="submit">Save</button>
          <div class="save_print_button">
            <button mat-stroked-button type="submit">Save & Print</button>
          </div>

        </div>

      </div>



    </form>
  </div>

</mat-dialog-content>
