<!---activation-header-->
<div class="activation-header">
    <h3>Activation</h3>
</div>
<!---activation-main-->
<div class="actiovation-area">
    <div class="activation-main">
        <!---actiovation-data-->
        <div class="activation-data">
            <!---activation-data-header-->
            <div class="activation-data-header">
                <h3>Payment Gateway</h3>
            </div>
            <div class="activation-data-body">
                   <!--check-box-area-->
            <div class="checkbox-area">
                <ul>
                    <li><mat-checkbox class="mat-check">Bekash</mat-checkbox></li>
                    <li><mat-checkbox class="mat-check">Nagad</mat-checkbox></li>
                    <li><mat-checkbox class="mat-check">SSL</mat-checkbox></li>
                    <li><mat-checkbox class="mat-check">COD</mat-checkbox></li>
                </ul>
            </div>
            <!---api-area-->
            <div class="api-area">
                <div class="form-input">
                    <h3>Bekash API</h3>
                    <div class="field">
                        <mat-form-field appearance="outline" class="form-field">
                            <input type="text"  matInput placeholder="Enter Bekash API">
                            <mat-error *ngIf="">This field is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            </div>

        </div>  <!---actiovation-data-end-->

         <!---actiovation-data-->
         <div class="activation-data">
            <!---activation-data-header-->
            <div class="activation-data-header">
                <h3>SMS & Email</h3>
            </div>
            <div class="activation-data-body">
                 <!--check-box-area-->
            <div class="checkbox-area">
                <ul>
                    <li><mat-checkbox class="mat-check">SMS</mat-checkbox></li>
                    <li><mat-checkbox class="mat-check">Email</mat-checkbox></li>
                </ul>
            </div>
            <!---api-area-->
            <div class="api-area">
                <div class="form-input">
                    <h3>SMS API</h3>
                    <div class="field">
                        <mat-form-field appearance="outline" class="form-field">
                            <input type="text"  matInput placeholder="Enter SMS API">
                            <mat-error *ngIf="">This field is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            </div>

        </div>  <!---actiovation-data-end-->

         <!---actiovation-data-->
         <div class="activation-data">
            <!---activation-data-header-->
            <div class="activation-data-header">
                <h3>Social Login</h3>
            </div>
            <div class="activation-data-body">
                 <!--check-box-area-->
                <div class="checkbox-area">
                    <ul>
                        <li><mat-checkbox class="mat-check">Facebook </mat-checkbox></li>
                        <li><mat-checkbox class="mat-check">Gmail</mat-checkbox></li>
                    </ul>
                </div>
            </div>
        </div>  <!---actiovation-data-end-->



    </div>
</div>
