// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-ui-primary: mat.define-palette(mat.$indigo-palette);
$angular-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-ui-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-ui-primary,
      accent: $angular-ui-accent,
      warn: $angular-ui-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-ui-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
.ant-btn-primary {
  color: #fff !important;
  background: #da5894 !important;
  border: 1px solid #da5894 !important;
}
.ant-btn-primary:hover {
  color: #fff !important;
  background: #da5894 !important;
  border: 1px solid #da5894 !important;
}
.ant-input-focused,
.ant-input:focus {
  box-shadow: 0 0 0 2px #da5894;
  border-right-width: 1px;
  outline: 0;
}

.mat-drawer.mat-drawer-side {
  z-index: -2 !important;
}

@import "theme/theme";
@import "theme/fonts";
@import "theme/base";
@import "theme/mixins";
@import "theme/nav";

@import "~swiper/swiper-bundle.min.css";
@import "~swiper/css/effect-fade";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import "~swiper/css/effect-coverflow";

// // Font Awesome
@import "~@fortawesome/fontawesome-free/css/all.css";
/** additional-page-problem-solve-code****/

.page-content,
.wpb_column {
  float: none !important;
}
#post-5193,
.entry-content,
article {
  float: none !important;
}

::ng-deep.section1-description h3 {
  background: transparent;
}
/*** swipper-slider ****/
// @import "~swiper/swiper-bundle.min.css";
// @import "~swiper/css/effect-fade";
//@import "~swiper/css/navigation";
//@import "~swiper/css/pagination";
