
<div class="individual_product">
    <div class="individual_header_main">
        <div class="individual_header">
            <h1>Product Order Details</h1>
            <div class="individual_content">
                <h2>Deliverd on 22 Nov 2022</h2>
                <p>Courier Deliverd by Tofail Ahmed Rifat</p>
                <p>Delivery Partner: RED X</p>
            </div>
        </div>
    </div>
    <div class="horizontal_line"></div>
    <div class="individual_main_div">
        <div class="individual_div">
            <div class="individual_address">
                <div class="individual_icon">
                    <i class="far fa-list-alt" style="color: #404040;"></i>
                </div>
                <div class="address_content">
                    <h3>Receiver: Ahamed Rizvi</h3>
                    <p>Sonargong Plaza, Panthapath Signal</p>
                    <p>Dhaka 1215</p>
                    <p>+880619187770</p>
                </div>
            </div>
            <div class="horizontal_line"></div>

            <div class="individual_process_table">
                <div class="main_process_table">
                    <ul>
                        <li>
                            <div class="process_date">
                                <p>25 OCT </p>
                                <p>1.25</p>
                            </div>                    
                            <div class="process_step">
                                <i class="material-icons">check</i>
                            </div>                    
                            <div class="process_content">
                                <h4>Delevered</h4>
                                <p>SKU: FGFGFHGJGJ has been shipped by Razvi</p>
                            </div>                    
                        </li>
                        <li>
                            <div class="process_date">
                                <p>24 OCT </p>
                                <p>1.25</p>
                            </div>                    
                            <div class="process_step">
                                <i class="material-icons">check</i>
                            </div>                    
                            <div class="process_content">
                                <h4>Shipped</h4>
                                <p>SKU: FGFGFHGJGJ has been shipped by Razvi</p>
                            </div>                    
                        </li>
                        <li>
                            <div class="process_date">
                                <p>25 OCT </p>
                                <p>1.25</p>
                            </div>                    
                            <div class="process_step">
                                <i class="material-icons">check</i>
                            </div>                    
                            <div class="process_content">
                                <h4>Order confirm</h4>
                                <p>Orderd confirmed by Nasrin Kona</p>
                            </div>                    
                        </li>
                        <li>
                            <div class="process_date">
                                <p>25 OCT </p>
                                <p>1.25</p>
                            </div>                    
                            <div class="process_step">
                                <i class="material-icons">check</i>
                            </div>                    
                            <div class="process_content">
                                <h4>Processing</h4>
                                <p>Payment complete, Order selected for <br> processing - Care me</p>
                            </div>                    
                        </li>
                        <li>
                            <div class="process_date">
                                <p>25 OCT </p>
                                <p>1.25</p>
                            </div>                    
                            <div class="process_step">
                                <i class="material-icons">check</i>
                            </div>                    
                            <div class="process_content">
                                <h4>Order Placed</h4>
                                <p>Taka 5,800 (Bcash) Payment received by <br> Care me from Customer</p>
                            </div>                    
                        </li>
                        <li>
                            <div class="process_date">
                                <p>25 OCT </p>
                                <p>1.25</p>
                            </div>                    
                            <div class="process_step">
                                <i class="material-icons">check</i>
                            </div>                    
                            <div class="process_content">
                                <h4>Pending</h4>
                                <p>Thank you for placing you order at <br> Care me. We will start processing you <br> order after payment is complete - Care me</p>
                            </div>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="individual_policy">
        <h3>Return Policy Ended on Seb 1</h3>
    </div>


</div>
