
<div class="header-area">
  
    <div class="header">
        <h2>New Roles</h2>
    </div>

</div>
<div class="roles">
<div class="create-role">
  <form>
  <div class="name">
    <div class="lebel">
      <strong>Role Name</strong>
    </div>
    <div class="input">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput>
        </mat-form-field>
    </div>
  </div>
  <div class="name">
    <div class="lebel">
      <strong>Description</strong>
    </div>
    <div class="input">
        <mat-form-field class="example-full-width" appearance="outline">
          <textarea matInput placeholder="Max 500 Charecters"></textarea>
        </mat-form-field>
    </div>
  </div>
</form>
</div>
<div class="table-main">
  <div class="product-category">
<div class="product-category-header">
  <strong>Product/Category</strong>
</div>
<div class="product-category-table">
    <div class="product-category-table-header">
      <div>
      </div>
      <div >
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Create</strong>
      </div>
      <div class='mid'>
        <strong>Edit</strong>
      </div>
      <div class='mid'>
        <strong>Delete</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div></div>
    </div>
    <div class="product-category-table-row">
      <div class="lebel">
        <strong>View Product</strong>
      </div>
      <div class='mid' >
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>
    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Add Product</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>
    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Categories</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>
</div>
</div>
</div>
<div class="product-category">

<div class="product-category-header">
  <strong>Orders</strong>
</div>

<div class="product-category-table">

    <div class="product-category-table-header">
      <div>

      </div>
      <div>
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Create</strong>
      </div>
      <div class='mid'>
        <strong>Edit</strong>
      </div>
      <div class='mid'>
        <strong>Delete</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>All Orders</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Request Orders</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>

    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Abondoned Cart</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>
</div>


</div>


<div class="product-category">


<div class="product-category-header">
  <strong>Customers/Users</strong>
</div>

<div class="product-category-table">

    <div class="product-category-table-header">
      <div>

      </div>
      <div>
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Create</strong>
      </div>
      <div class='mid'>
        <strong>Edit</strong>
      </div>
      <div class='mid'>
        <strong>Delete</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Customers</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Customer Pofile</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>

</div>


</div>


<div class="product-category">


<div class="product-category-header">
  <strong>Issue</strong>
</div>

<div class="product-category-table">

    <div class="product-category-table-header">
      <div>

      </div>
      <div>
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Create</strong>
      </div>
      <div class='mid'>
        <strong>Edit</strong>
      </div>
      <div class='mid'>
        <strong>Delete</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Request Overview</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>

    
</div>


</div>



<div class="product-category">


<div class="product-category-header">
  <strong>Pomotions</strong>
</div>

<div class="product-category-table">

    <div class="product-category-table-header">
      <div>

      </div>
      <div>
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Create</strong>
      </div>
      <div class='mid'>
        <strong>Edit</strong>
      </div>
      <div class='mid'>
        <strong>Delete</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Coupon</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Bulk SMS/Email</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>
    
</div>


</div>


<div class="product-category">


<div class="product-category-header">
  <strong>Subscription</strong>
</div>

<div class="product-category-table">

    <div class="product-category-table-header">
      <div>

      </div>
      <div>
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Create</strong>
      </div>
      <div class='mid'>
        <strong>Edit</strong>
      </div>
      <div class='mid'>
        <strong>Delete</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>All Subscription</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Settings</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div></div>
    </div>
    
</div>


</div>



<div class="product-category">


<div class="product-category-header">
  <strong>Reports</strong>
</div>

<div class="product-category-table">

    <div class="product-category-table-header">
      <div>

      </div>
      <div>
        <strong>Full Access</strong>
      </div>
      <div class='mid'>
        <strong>View</strong>
      </div>
      <div class='mid'>
        <strong>Export</strong>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Sales by Item</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>


    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Sales by Category</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>

    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Sales by Invoice</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>

    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Sales by Customer</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>

    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Return Report</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>

    <div class="product-category-table-row">
      <div class="lebel">
        <strong>Coupon Performence</strong>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        <mat-checkbox class="mat-check" ></mat-checkbox>
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div class='mid'>
        
      </div>
      <div></div>
    </div>
</div>


</div>
<br>
<br>

<div class="buttons">
<div class="cancel">
  <button>Cancel</button>
</div>
<div class="save">
  <button>Save</button>
</div>
</div>



</div>


