@import "src/theme/_variables.scss";

nz-select {
  margin: 0 8px 10px 0;
  width: 150px;
}

.return{
  display: flex;
  .box{
    padding-left: 5px;
  }
  input {
    width: 150px;
  }
}


.single-inv {
  h2 {
    font-size: 20px;
    margin-bottom: 15px !important;
  }
}
.invoice-card {
  .invoice-table {
    ul {
      li {
        list-style: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        .invoice-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          border-bottom: 1px solid #ddd;
          .invoice-id {
            padding-left: 15px;
            span {
              font-size: 12px;
            }
          }
          > h3 {
            background: rgb(78, 78, 248);
            color: #fff;
            padding: 15px 30px;
            text-transform: uppercase;
          }
        }
        .invoice-progress {
          padding: 15px;
          .invoice-progress_step {
            padding: 15px 300px;
            text-align: center;
            h1 {
              margin-bottom: 30px !important;
              font-size: 18px;
              span {
                color: orangered;
              }
            }
            .invoice-progress_timeline {
              margin: 15px 0 0 0;
              padding: 30px 0 0 0;
              border-radius: 3px;
              background: #f9f9f9;
            }
          }
        }
        .invoice-product {
          margin: 15px;
          padding: 15px;
          border-radius: 5px;
          border: 1px solid #ddd;
          display: flex;
          align-items: center;
          text-align: center;
          .image {
            flex: 1;
          }
          .details {
            flex: 3;
            text-align: left;
          }
          .total {
            flex: 2;
          }
          .advanch {
            flex: 2;
          }
          .paystatus {
            flex: 2;
          }
          .status {
            flex: 1;
          }
          .returnpreiod {
            flex: 1;
            a {
              padding: 5px 15px;
              border: 1px dashed rgb(255, 0, 0);
              background: #ff0000;
              color: #fff;
              h5 {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
