@import "src/theme/_variables.scss";

.order-delivery-status{
  background-color: rgb(14, 113, 5);
  color: white;
  padding: 10px;
  text-align: center;
}
form nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

.instock{
  color : rgb(252, 173, 47);
  span{
    color : green;
  }
}
.status{
  color : red;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 25px;
  text-align: center;
  padding: 5px;
}
.order-status{
  border: none;
  color: white;
  padding: 10px;
  background-color: $color-primary;
}
.order-status:hover{
  border: 2px solid $color-primary;
  color: $color-primary;
  padding: 10px;
  background-color: white;
}
.return-button{
  margin-top: 20px;
  border: none;
  color: white;
  padding: 10px;
  background-color: $table-sm-color;
}
.return-button:hover{
  cursor: pointer;
  border: 2px solid $table-sm-color;
  color: white;
  padding: 10px;
  background-color: $table-sm-color;
}
.timeline-items{
  position: relative;
  height: auto;
  justify-content: start;
  width: 40%;
  h3{
    padding: 30px;
    margin-bottom: 20px;
    font-size: 25px;
  }
}
