<div class="single-inv">
  <h2>Track Order</h2>
  <div class="invoice-card">
    <div class="invoice-table">
      <ul>
        <li>
          <div class="invoice-header">
            <div class="invoice-id">
              <h3>INV-2616493</h3>
              <span>26 Aug 2022 | 12.20 PM</span>
            </div>
            <h3>Shipped</h3>
          </div>
          <div class="invoice-progress">
            <div class="invoice-progress_step">
              <h1>
                Estimated Delivery By <span>Fri 22 Jul - Sun 22 Aug</span>
              </h1>
              <nz-steps [nzCurrent]="3" [nzProgressDot]="progressTemplate">
                <nz-step nzTitle="Pending"></nz-step>
                <nz-step nzTitle="Confirmed"></nz-step>
                <nz-step nzTitle="Processing"></nz-step>
                <nz-step nzTitle="Shipped"></nz-step>
                <nz-step nzTitle="Deliverd"></nz-step>
              </nz-steps>
              <ng-template
                #progressTemplate
                let-dot
                let-status="status"
                let-index="index"
              >
                <span
                  nz-popover
                  nzPopoverContent="steps {{ index }} status: {{ status }}"
                  style="margin-left: -100%"
                >
                  <ng-template [ngTemplateOutlet]="dot"></ng-template>
                </span>
              </ng-template>
              <div class="invoice-progress_timeline">
                <nz-timeline>
                  <nz-timeline-item
                    nzLabel="2015-09-01 09:12:11"
                    [nzDot]="propending"
                    nzColor="red"
                  >
                    Your Order is Shipped by Emmon
                  </nz-timeline-item>
                </nz-timeline>
                <ng-template #prodone>
                  <span
                    nz-icon
                    style="font-size: 18px"
                    nzType="check-circle"
                    nzTheme="outline"
                  ></span>
                </ng-template>
                <ng-template #propending>
                  <span
                    nz-icon
                    style="font-size: 18px"
                    nzType="clock-circle"
                    nzTheme="outline"
                  ></span>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="invoice-product">
            <div class="image">Image</div>
            <div class="details">
              <h3>Men's casual shirt</h3>
              <span>SKU: 5072036, Yellow / XXL</span>
            </div>
            <div class="total">1 X 205 = 205</div>
            <div class="advanch">Cash On Delivery</div>
            <div class="paystatus">COD</div>
            <div class="status">Shipped</div>
            <div class="returnpreiod">
              <a href="#">
                Return
                <h5>( 09:12:11 )</h5>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
