<!---account-area-->
<div class="account-area">
    <div class="account-main">
        <!---account-title-->
        <div class="account-title">
            <h3>Account</h3>
        </div>
        <!---user-info-area-->
        <div class="user-info-area">
            <form action="#">
                  <!---user-profile--->
                <div class="user-profile-area">
                    <!---profile-img-->
                    <div class="profile-img">
                        <h3>Avatar</h3>
                        <!---img-->
                        <div class="img">
                            <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="">
                        </div>
                    </div>
                    <!---img-upload-btn-->
                    <div class="img-upload-btn">
                        <ul>
                            <li><button class="upload-active">Upload</button></li>
                            <li><button>Remove</button></li>
                        </ul>
                    </div>
                </div><!---user-profile-end--->
                <!---form-field-area-->
                <div class="form-field-area">
                    <!---form-input-->
                    <div class="form-input">
                        <label for="#">Full Name</label>
                        <!--form-field-->
                        <div class="form-field">
                            <mat-form-field appearance="outline" class="field">
                                <!-- <mat-label>Outline form field</mat-label> -->
                                <input matInput name="" value="" type="text" placeholder="Enter your full name..">
                                <mat-error>This Field is required</mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                     <!---form-input-->
                     <div class="form-input">
                        <label for="#">Phone Number</label>
                        <!--form-field-->
                        <div class="form-field">
                            <mat-form-field appearance="outline" class="field">
                                <!-- <mat-label>Outline form field</mat-label> -->
                                <input matInput name="" value="" type="text" placeholder="Enter your phone..">
                                <mat-error>This Field is required</mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                      <!---form-input-->
                      <div class="form-input">
                        <label for="#">Address</label>
                        <!--form-field-->
                        <div class="form-field">
                            <mat-form-field appearance="outline" class="field">
                                <!-- <mat-label>Outline form field</mat-label> -->
                                <textarea matInput cols="10" rows="4" placeholder="Write your address"></textarea>
                                <mat-error>This Field is required</mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                        <!---form-input-->
                        <div class="form-input">
                            <label for="#">Email</label>
                            <!--form-field-->
                            <div class="form-field" >
                                <mat-form-field appearance="outline" class="field">
                                    <!-- <mat-label>Outline form field</mat-label> -->
                                    <input matInput name="" value="" type="email" placeholder="Enter your email..">
                                    <mat-error>This Field is required</mat-error>
                                  </mat-form-field>
                            </div>
                        </div>
                </div><!---form-field-area-end-->
                <!---account-btn-->
                <div class="account-btn">
                    <ul>
                        <li><button>Cancel</button></li>
                        <li><button class="save-active">Save</button></li>
                    </ul>
                </div>



            </form>
        </div><!---user-info-area-end-->



    </div>
</div>
