@import'./../../../../theme/variables';
.header-area{
    display: block;
    margin: 40px 0px 30px 0px;
}
.header-area h3{
    color:#131523;
    font-family: $font-en-primary-2;
    font-style:normal;
    font-size: 25px;
    font-weight: 600;
    display: block;
}
.create-subscription-area{
    display: block;
    background-color: #f9fbfd;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%), 0 -3px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 5px;
    margin-bottom: 20px;
}
.section1,.section2{
    display: block;
    width: 100%;
    margin-bottom:30px;

}
.section1-main,.section2-main{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px 30px;
    width: 100%;
}
@media(max-width:1100px){
    .section1-main,.section2-main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
}
.section1-left{
    display: block;
    width: 100%;
}
.form-input{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
@media(max-width:780px){
    .form-input{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
.form-input div:last-child{
    width: 100%;
}
.title{
    display: block;
    max-width: 180px;
    width: 100%;
}
.title h3{
    color: #131523;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    display: block;
}
.form-input .mat-check{
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    font-family: $font-en-primary-2;
    font-style: normal;
}
.frequency,.details{
    align-items: flex-start;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.quantity div{
    flex-basis: 33%;
}
@media(max-width:550px){
    .quantity{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .quantity div{
        width: 100%;
    }
}
.quantity button{
    background-color: #0058ff;
    color: #fff;
    font-family: $font-en-primary-2;
    max-width: 160px;
    width: 100%;
    font-style: normal;
    border: 1px solid #0058ff;
    outline: none;
    padding: 7px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
}
.more-option{
    display: block;
    max-width: 850px;
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}
.more-option span{
    display: block;
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    display: block;
}
.drag-drop-area{
    display: block;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 7%), 0 -3px 4px 0 rgb(0 0 0 / 7%);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}
.drag-drop-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}
@media(max-width:450px){
    .drag-drop-header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
.drag-drop-header h3{
    color:#5c5f62;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 17px;
    font-weight: 600;
    display: block;
}
.drag-drop-header span{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
}
.section3{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
    max-width: 1300px;
}
@media(max-width:780px){
    .section3{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 20px;
    }
}
.date-area{
    display: block;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%), 0 -3px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 5px;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
}
.date-area h4{
    color: #5c5f62;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 17px;
    display: block;
    font-weight: 600;
    display: block;
    margin-bottom: 20px!important;
}
.date-area h3{
    color: #5c5f62;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-family: $font-en-primary-2;
    display: block;
}
.date-area .form-input{
    display: block;
    width: 100%;
}
.date-area .form-field{
    max-width: 100%!important;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media(max-width:600px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
}

.edit-btn{
    display: block;
    margin-top: 25px;
}
.edit-btn ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align:right;
}
.edit-btn ul li{
    display: inline-block;
    margin-right: 10px;
}
.edit-btn ul li:last-child{
    margin: 0px;
}
.edit-btn ul li button{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #0058ff;
    font-style: normal;
    padding: 7px 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.edit-btn ul li button:hover{
    background-color: #0058ff;
    color: #fff;
}
.edit-btn ul li .save{
    background-color: #0058ff;
    color: #fff;
}

/** form-field and common code****/
.form-field{
    display: block;
    width: 100%;
    max-width: 320px;
    min-width: 0px;
    background-color: #fff;
}
::ng-deep.form-field.mat-form-field .mat-form-field-label{
    color: #74777e;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field mat-select{
    color: #000;
    font-family: $font-en-primary-2;
}
::ng-deep.form-field .mat-form-field-infix{
    width: auto;
    min-width: 0px;
}
::ng-deep.filter .mat-form-field-infix{
    width: 80px;
}
.form-field mat-label{
    color: #0058ff;
    font-family: $font-en-primary-2;
    font-style: normal;
    font-size: 17px;
}
::ng-deep.form-field .mat-select-arrow{
    color: #0058ff;
}
::ng-deep.form-field .mat-form-field-appearance-outline .mat-form-field-outline{
    color: #a1a5a9;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: #0058ff;
}
::ng-deep.form-field.mat-form-field.mat-focused .mat-form-field-label{
    color: #0058ff!important;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding-bottom:0px;
}
.form-field input,.form-field textarea{
    color: #74777e;
    font-family: $font-en-primary-2;
    font-size: 16px;
}
::placeholder{
    color:#74777e;
}
::ng-deep.form-field.mat-form-field-appearance-outline .mat-form-field-outline{
    color: #0058ff;
}

::ng-deep.mat-check .mat-checkbox-inner-container-no-side-margin{
    background-color: #d7e7ff;
}
::ng-deep.mat-check .mat-checkbox-frame{
    border-color: #b0ceff;
}
::ng-deep.mat-check.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #0058ff;
}
::ng-deep.mat-check.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #0058ff;
}