<!---header--area-->
<div class="header-area">
    <div class="header-main">
        <div class="title">
            <h3>Request Overview</h3>
        </div>
        <div class="header-btn">
            <ul>
                <li><button class="refund">Refund</button></li>
                <li><button>Status <i class="fa fa-caret-down"></i></button></li>
            </ul>
        </div>
    </div>
</div>
<!---overview-main-->
<div class="overview-area">
    <div class="overview-main">
        <!---overview-left-->
        <div class="overview-left">
            <div class="overview-details">
                <h3>#R29347</h3>
                <span>12 September 2021</span>
                <span>4:21 PM</span>
                <h4>Assign To: <span>Rayna Koly</span></h4>
            </div>
            <div class="overview-write-msg">
                <h3>Message Form Customer</h3>
                <textarea placeholder="Customer Message" name="" id="" cols="10" rows="7"></textarea>
                <button>Attachment</button>
            </div>

            <div class="message_box_main">
                <div class="message_box">
                    <div class="message_box_header">
                        <h5>Discussions</h5>
                    </div>
                    <div class="horizontal_line"></div>
                    <div class="message_box_body ">
                        <div class="message_content">
                            <div class="receive_box">
                                <div class="receive_message">
                                    <div class="chat_content" ><p>Hi! I'm fine.</p></div>
                                    <div class="chat_content"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
                                    <div class="time">
                                        <span>09:35</span>
                                    </div>
                                </div>
                                <div class="receive_thumb">
                                    <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image">
                                </div>
                            </div>
                            <div class="send_box" *ngFor="let item of [1,2,3]">
                                <div class="send_thumb">
                                    <img src="./assets/images/junk/1218NP_economicoutlook_img1.jpg" alt="Image">
                                </div>
                                <div class="send_message">
                                    <div class="chat_content" ><p>Hi! I'm fine.</p></div>
                                    <div class="chat_content"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
                                    <div class="time">
                                        <span>09:35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="input-area">
                    <div class="text_type_box">
                        <input type="text" placeholder="Enter you massage here...">
                        <div class="text_send_box">
                            <span><i class="fa-solid fa-face-smile"></i></span>
                            <span><i class="fa-solid fa-paperclip"></i></span>
                            <span style="color: white;"><i class="fa-solid fa-paper-plane"></i></span>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div><!---end-->

        <!---order-details-right-->
<div class="overview-right">
    <!---customer-info-->
    <div class="customer-info-area">
        <!--customer-title-->
        <div class="customer-title">
            <h3>Customer Info</h3>
        </div> <!--customer-title-end-->
        <!---customer-info--->
        <div class="customer-info">
            <ul>
                <li>
                    <div class="customer-info-left">
                        <h3>Name:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>Shamim</h4>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Phone No:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>+8801881325037</h4>
                        <h4>+8801609431842</h4>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Email:</h3>
                    </div>
                    <div class="customer-info-right">
                        <a href="#">autanber111@gmail.com</a>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Address:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing</h4>
                    </div>
                </li>
                <li>
                    <div class="customer-info-left">
                        <h3>Total Request:</h3>
                    </div>
                    <div class="customer-info-right">
                        <h4 class="total_request_padding">01</h4>
                    </div>
                </li>
            </ul>

        </div>

    </div> <!---customer-info-end-->

    <!---comment-->
    <div class="customer-comment">
         <!--customer-title-->
         <div class="customer-title">
            <h3>Comments</h3>
        </div> <!--customer-title-end-->
        <!---customer-comment-main-->
        <div class="customer-comment-main">
            <textarea name="" id="" cols="5" rows="6" placeholder="Write Comments"></textarea>
            <button>Add</button>
        </div>

    </div><!---comment-end-->
    <!---order-confirm-status-->
    <div class="order-confirm-status">
        <!---status-info-->
        <div class="status-info">
            <!--status-check-->
            <div class="status-check">
                <span class="active-status"><i class="fa fa-check"></i></span>
            </div>
            <!--status-type-->
            <div class="status-type">
                <h3>Order Done</h3>
                <p>Order Confirmed by Nashrin Kona</p>
                <p>14 September 2021. 4:22 PM</p>
            </div>
        </div>  <!---status-info-end-->
        <!---status-info-->
         <div class="status-info">
                <!--status-check-->
                <div class="status-check">
                    <span><i class="fa fa-check"></i></span>
                </div>
                <!--status-type-->
                <div class="status-type">
                    <h3>Order Done</h3>
                    <p>Order Confirmed by Nashrin Kona</p>
                    <p>14 September 2021. 4:22 PM</p>
                </div>
        </div>  <!---status-info-end-->
        <!---status-info-->
        <div class="status-info">
            <!--status-check-->
            <div class="status-check">
                <span><i class="fa fa-check"></i></span>
            </div>
            <!--status-type-->
            <div class="status-type">
                <h3>Order Done</h3>
                <p>Order Confirmed by Nashrin Kona</p>
                <p>14 September 2021. 4:22 PM</p>
            </div>
        </div>  <!---status-info-end-->

    </div>
</div><!---order-details-right-end-->
    </div>
</div>