<div class="page-header">
  <h2><i class="las la-arrow-left"></i> All Customer</h2>
  <div class="header-action">
    <button type="button">Export</button>
    <button type="button">Import</button>
    <button class="create_btn">Add Customer</button>
  </div>
</div>
<div class="table-samary">
  <nz-card nzSize="small">
    <nz-layout>
      <nz-sider class="left_navbar">
        <div class="inner_nav_header">
          <div class="header_action">
            <a nz-dropdown [nzDropdownMenu]="statusMenu">
              All Customer <i class="las la-angle-down"></i>
              <nz-dropdown-menu #statusMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Active</li>
                  <li nz-menu-item>Platinum</li>
                  <li nz-menu-item>Gold</li>
                  <li nz-menu-item>Silver</li>
                  <li nz-menu-item>Bronze</li>
                  <li nz-menu-item>Block</li>
                </ul>
              </nz-dropdown-menu>
            </a>
            <nz-button-group>
              <button
                nz-button
                nz-dropdown
                [nzDropdownMenu]="actionMenu"
                nzPlacement="bottomRight"
              >
                <span nz-icon nzType="ellipsis"></span>
              </button>
              <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>Delete</li>
                  <li nz-menu-item>Pending</li>
                  <li nz-menu-item>Reject</li>
                </ul>
              </nz-dropdown-menu>
            </nz-button-group>
          </div>
          <input nz-input placeholder="Basic usage" />
        </div>
        <ul class="refund_list" nz-menu nzTheme="light" nzMode="inline">
          <li nz-menu-item>
            <div class="left">
              <h4>Mr. Rafiqul Islam</h4>
              <h5 style="color: green">Active</h5>
            </div>
            <div class="right">
              <h4>35 Order</h4>
              <h5>15020 TK</h5>
            </div>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="customer_body_main" style="background: #fff">
        <div class="customer_details_header">
          <h4>Mr. Rafiqul Islam</h4>
          <h5>05 Jul 2022 | 11:30 PM</h5>
        </div>
        <nz-card nzSize="small" class="customer_details_body">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 5 }">
              <div class="customer_thumb">
                <nz-ribbon
                  nzText="{{ customerActive === true ? 'Active' : 'Block' }}"
                  nzColor="{{ customerActive === true ? 'green' : 'red' }}"
                >
                  <img
                    nz-image
                    nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                    alt=""
                /></nz-ribbon>
              </div>
              <div class="customer_rank">
                <p>
                  <i style="color: #ff9900" class="las la-crown"></i>
                  Platinum
                </p>
                <nz-switch [(ngModel)]="customerActive"></nz-switch>
              </div>
            </div>
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 13 }">
              <div class="customer_detils">
                <h3>Contact Informations</h3>
                <table>
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td style="padding: 0 10px">:</td>
                      <td>Mr. Rafiqul Islam</td>
                    </tr>
                    <tr>
                      <td>Phone No</td>
                      <td style="padding: 0 10px">:</td>
                      <td>
                        01618847548
                        <i
                          (click)="showSmsModal()"
                          class="las la-lg la-comment"
                        ></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td style="padding: 0 10px">:</td>
                      <td>
                        rafiq@gmail.com
                        <i
                          (click)="showSmsModal()"
                          class="las la-lg la-envelope"
                        ></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Join Date</td>
                      <td style="padding: 0 10px">:</td>
                      <td>15/10/2022</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td style="padding: 0 10px">:</td>
                      <td>57/12 Sonargong Plaza, Panthapath Signal, Dhaka.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 6 }">
              <div class="customer_points">
                <nz-card nzSize="small">
                  <h3>Available Points</h3>
                  <h2>400 Pts</h2>
                </nz-card>
                <button nz-button [nzType]="'primary'" (click)="orderModal()">
                  <i class="las la-plus"></i> Create order
                </button>
              </div>
            </div>
          </div>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-card>
</div>

<nz-modal
  [(nzVisible)]="smsVisible"
  nzTitle="Send a Message"
  (nzOnCancel)="smsCancel()"
  (nzOnOk)="smsOk()"
>
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="createOrder"
  nzTitle="The first Modal"
  (nzOnCancel)="orderCancel()"
  (nzOnOk)="orderOk()"
>
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
  </ng-container>
</nz-modal>
