@import "src/theme/variables";

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  .header-action {
    display: flex;
    align-items: center;
    button {
      border: none;
      background: transparent;
      margin-left: 25px;
    }
    .create_btn {
      background: #1b75bb;
      color: #fff;
      border: 1px solid #1b75bb;
      padding: 10px 20px;
      transition: 0.3s;
      border-radius: 3px;
    }
    .create_btn:hover {
      background: #8bc53f;
      border: 1px solid #8bc53f;
    }
  }
}
.refunt-tab {
  min-height: 80vh;
  margin-bottom: 30px;
}
.tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 200px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-left: -22px;
  padding: 0 0 10px 0;
  .title {
    font-size: 14px;
  }
  .status-details {
    text-align: right;
    font-size: 14px;
    .details {
      font-size: 12px;
      span {
        margin-left: 15px;
      }
    }
  }
}
.ant-tabs-nav-list {
  padding: 0;
}
.header_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_navbar {
  background: #fff;
  border-right: 1px solid #ddd;
  min-width: 230px !important;
}
.inner_nav_header {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  .header_action {
    margin-bottom: 15px;
  }
}
.refund_list {
  padding: 0;
  margin: 0;
  li {
    display: flex;
    padding: 5px 10px !important;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    height: unset;
    .right {
      text-align: right;
      h4 {
        font-size: 14px;
      }
    }
  }
  li:hover {
    .left {
      h4 {
        color: #1b75bb;
      }
    }
  }
}
.customer_body_main {
  padding: 0 15px;
}
.customer_details_header {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
    color: #585858;
  }
}
.customer_details_body {
  margin: 15px 0;
}
.customer_thumb {
  img {
    max-width: 100%;
  }
}
.customer_rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  p {
    i {
      font-size: 25px;
    }
  }
}
.customer_detils {
  margin-left: 15px;
  h3 {
    text-transform: uppercase;
    margin-bottom: 15px !important;
  }
  table {
    tbody {
      tr {
        color: #585858;
        line-height: 25px;
        td:first-child {
          min-width: 80px;
        }
      }
    }
  }
}
.customer_points {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  button {
    i {
      margin-right: 10px;
    }
  }
}
@media (max-width: 768px) {
  .table-samary {
    nz-layout {
      max-height: unset;
      flex-direction: column;
    }
  }
  .main-layout {
    flex-direction: column !important;
  }
  .left_navbar {
    min-width: 100% !important;
    width: 100% !important;
    border: none;
  }

  .customer_body_main {
    width: 100% !important;
    padding: 0;
  }
  .customer_details_header {
    padding: 0;
  }
}
