@import "./../../../../theme/variables";

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  .header-action {
    display: flex;
    align-items: center;
    button {
      border: none;
      background: transparent;
      margin-left: 25px;
    }
    .create_btn {
      background: #1b75bb;
      color: #fff;
      border: 1px solid #1b75bb;
      padding: 10px 20px;
      transition: 0.3s;
      border-radius: 3px;
    }
    .create_btn:hover {
      background: #8bc53f;
      border: 1px solid #8bc53f;
    }
  }
}
.table-samary {
  margin-bottom: 30px;
}
.table-filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  form {
    width: 50%;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      border: 1px solid #ddd;
      button {
        i {
          margin-left: 10px;
        }
      }
    }
  }
}
.table-data-area {
  td {
    color: #585858;
  }
}
@media (max-width: 768px) {
  .table-filter-area {
    flex-direction: column;
    input {
      width: 100%;
    }
    ul {
      padding: 10px 0 0 0;
      li {
        button {
          padding: 5px;
        }
      }
    }
  }
}

// Details page CSS
.mb {
  margin-bottom: 15px !important;
}
.page-header {
  h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    i {
      font-size: 30px;
      margin-right: 15px;
    }
  }
}
.shoose_product {
  form {
    display: inline-flex;
    align-items: center;
    .shoose_product_single {
      display: flex;
      align-items: center;
      margin-right: 20px;
      label {
        margin-left: 10px;
        line-height: 0;
        cursor: pointer;
      }
    }
  }
}
.profile_left {
  input {
    margin-bottom: 15px;
  }
}
nz-select {
  width: 100%;
}
