<div class="add-product-area">
  <form
    [formGroup]="dataForm"
    (ngSubmit)="onSubmit()"
    #templateForm="ngForm"
    autocomplete="off"
  >
    <div class="page-header">
      <h3>
        <i routerLink="../../products" class="las la-long-arrow-alt-left"></i>
        Add Products
      </h3>
      <div class="header-action">
        <button nz-button nzType="text" (click)="onRefresh()">
          <i class="las la-sync"></i>
        </button>
        <button nz-button nzType="dashed" [routerLink]="['../../', 'products']">
          Discard
        </button>
        <button nz-button nzType="primary" type="submit">Save</button>
      </div>
    </div>
    <nz-card znSize="small" class="mb15">
      <div class="import_by_link">
        <input
          nzSize="large"
          nz-input
          placeholder="Import by link"
          formControlName="link"
        />
        <button
          nzSize="large"
          nz-button
          nzType="default"
          (click)="importProductInfo()"
        >
          <i class="las la-cloud-download-alt"></i> Import
        </button>
      </div>
    </nz-card>

    <div class="add-product-main">
      <div class="add-product-left">
        <nz-card class="product-description-area">
          <div class="description-title-input mb15">
            <h3>Title</h3>
            <input
              nz-input
              placeholder="Product Name"
              formControlName="name"
              (change)="autoGenerateSlug()"
            />
          </div>

          <div class="description">
            <h3>
              Description
              <button
                nz-button
                nzType="dashed"
                type="button"
                (click)="onEditHtmlEditor()"
              >
                <i class="las la-code"></i>
              </button>
            </h3>

            <div *ngIf="showHtmlEditor">
              <textarea
                rows="15"
                style="width: 100%"
                type="text"
                nz-input
                (input)="onInput($event)"
                [value]="htmlData"
              ></textarea>
            </div>
            <!----description-plugins-->
            <div *ngIf="!showHtmlEditor" class="description-plugins">
              <quill-editor
                *ngIf="modules"
                [styles]="{ height: '400px' }"
                [modules]="modules"
                (onFocus)="focus($event)"
                (onEditorChanged)="changedEditor($event)"
                formControlName="description"
              >
              </quill-editor>
            </div>
          </div>
        </nz-card>
        <nz-card class="media-area">
          <!---media-top-->
          <div class="media-top-area">
            <div>
              <h3>Media</h3>
            </div>
            <div>
              <div>
                <a (click)="toggleLink()"
                  >Add media form URL <i class="fa fa-caret-down"></i
                ></a>
              </div>
            </div>
          </div>
          <div *ngIf="hasLink === true">
            <div
              class="media-link-array"
              *ngFor="let f of mediaArray?.controls; let i = index"
            >
              <mat-form-field
                formArrayName="medias"
                appearance="outline"
                class="form-field"
              >
                <mat-label>Link</mat-label>
                <input
                  type="text"
                  [formControlName]="i"
                  matInput
                  placeholder="paste image/video link"
                />
                <mat-error *ngIf="">This field is required</mat-error>
              </mat-form-field>
              <button
                class="button"
                type="button"
                (click)="addMediaLinkButton()"
              >
                <mat-icon style="align-items: center">add</mat-icon>
              </button>
              <button
                class="button deleteButton"
                type="button"
                (click)="deleteMediaFormControl(i)"
              >
                <mat-icon style="align-items: center">remove</mat-icon>
              </button>
            </div>
          </div>
          <!---meadia-drag-drop-area-->
          <div class="meadia-drag-drap-area">
            <div
              *ngIf="chooseImage && chooseImage.length > 0"
              class="img-container"
              cdkDropList
              cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="preview" *ngFor="let data of chooseImage" cdkDrag>
                <img
                  class="inactiveImage"
                  nz-image
                  [nzSrc]="data"
                  [alt]="data"
                />
                <button
                  type="button"
                  class="overlay-ac"
                  mat-icon-button
                  color="warn"
                  (click)="removeSelectImage(data)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div
              class="custom-dropzone"
              ngx-dropzone
              [accept]="'image/*'"
              (change)="onSelect($event)"
            >
              <ngx-dropzone-label>
                <div class="label">
                  <h2>Upload or Drag and Drop Here</h2>
                </div>
              </ngx-dropzone-label>

              <ngx-dropzone-image-preview
                style="display: flex; flex-wrap: wrap"
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
                <!--        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>-->
                <ngx-dropzone-label>{{ f.type }}</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
            <button
              *ngIf="files.length"
              mat-button
              class="upload-button"
              type="button"
              (click)="onUploadImages()"
            >
              Upload
              <span
                >{{ files.length }}
                {{ files.length > 1 ? "images" : "image" }}</span
              >
            </button>
          </div>
          <!---meadia-drag-drop-area-end-->
        </nz-card>

        <nz-card class="pricing-area">
          <div class="title">
            <h2>Pricing</h2>
          </div>

          <div class="grid-main">
            <div class="form-input">
              <h3>Wholesale Price</h3>
              <mat-form-field
                appearance="outline"
                class="form-field"
                [floatLabel]="false"
              >
                <input
                  type="number"
                  formControlName="wholeSalePrice"
                  matInput
                  placeholder="BDT 0.00"
                  digitOnly
                />
              </mat-form-field>
            </div>

            <div class="form-input">
              <h3>Selling Price</h3>
              <mat-form-field appearance="outline" class="form-field">
                <input
                  type="number"
                  formControlName="sellingPrice"
                  matInput
                  placeholder="BDT 0.00"
                  digitOnly
                />
                <mat-error *ngIf="dataForm.invalid">
                  This field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!---check-box-->
          <div class="check-box">
            <mat-checkbox
              [(ngModel)]="hasTax"
              value="true"
              formControlName="hasTax"
              class="example-margin"
              >Charge tax on this product</mat-checkbox
            >
            <mat-form-field
              *ngIf="hasTax === true"
              appearance="outline"
              class="form-field"
            >
              <mat-label>Tax (%)</mat-label>
              <input
                type="number"
                formControlName="tax"
                matInput
                placeholder="BDT 0.00 (in percentage)"
                digitOnly
              />
            </mat-form-field>
          </div>
        </nz-card>

        <nz-card class="inventory-area">
          <div class="title">
            <h2>Inventory</h2>
          </div>

          <div class="grid-main">
            <div class="form-input">
              <h3>SKU(Stock Keeping Unit)</h3>
              <mat-form-field appearance="outline" class="form-field">
                <!-- <mat-label>SKU</mat-label> -->
                <input
                  type="text"
                  formControlName="sku"
                  matInput
                  placeholder="Enter SKU Code.."
                />
                <mat-error *ngIf="dataForm.invalid"
                  >This field is required</mat-error
                >
              </mat-form-field>
            </div>
            <!---form-input-->
            <div class="form-input">
              <h3>Barcode(ISBN,UPC,GTIN,etc.)</h3>
              <mat-form-field appearance="outline" class="form-field">
                <!-- <mat-label>Barcode</mat-label> -->
                <input
                  type="text"
                  formControlName="barcode"
                  matInput
                  placeholder="Enter Barcode.."
                />
                <mat-error *ngIf="">This field is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <!---check-box-->
          <div class="check-box">
            <!-- <mat-checkbox (change)="makeQuantityRequired()" formControlName="trackQuantity" class="example-margin">
                Track quantity</mat-checkbox> -->
            <mat-checkbox
              formControlName="continueSelling"
              class="example-margin"
              >Continue selling when out of stack
            </mat-checkbox>
          </div>
        </nz-card>

        <nz-card class="quantity-area">
          <!--title-->
          <div class="title">
            <h2>QUANTITY</h2>
          </div>
          <!---grid-main-->
          <div class="grid-main">
            <!---form-input-->
            <div class="form-input">
              <h3>Available</h3>
              <mat-form-field appearance="outline" class="form-field">
                <!-- <input *ngIf="this.trackQuantity === false " type="number" formControlName="quantity" digitOnly
                    matInput> -->
                <input
                  type="number"
                  formControlName="quantity"
                  digitOnly
                  matInput
                  disabled
                  readonly
                />
                <mat-error *ngIf="">This field is required</mat-error>
              </mat-form-field>
            </div>
            <div class="form-input">
              <h3>Re Order</h3>
              <mat-form-field appearance="outline" class="form-field">
                <!-- <mat-label>Available</mat-label> -->
                <input
                  type="number"
                  formControlName="reOrder"
                  digitOnly
                  matInput
                />
                <mat-error *ngIf="dataForm.invalid"
                  >This field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </nz-card>

        <nz-card class="shipping-area">
          <!---shipping-top-->
          <div class="shipping-top">
            <!---title--->
            <div class="title">
              <h2>Shipping</h2>
            </div>
            <!--check-box-->
            <div class="check-box">
              <mat-checkbox
                class="example-margin"
                formControlName="isPhysicalProduct"
                [(ngModel)]="checkedPhysical"
              >
                This a physical product</mat-checkbox
              >
            </div>
          </div>
          <!--weight-area-->
          <div class="shipping-info">
            <div style="display: flex">
              <div class="shipping-block">
                <div>
                  <h3>Weight (Kg)</h3>
                  <mat-form-field appearance="outline" class="form-field">
                    <input
                      matInput
                      type="number"
                      formControlName="weight"
                      placeholder="0.0"
                      digitOnly
                      decimal="true"
                      decimalSeparator="."
                      pattern="[0-9]+([.][0-9]+)?"
                    />
                    <mat-error *ngIf="dataForm.invalid"
                      >This field is required</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="shipping-block">
                <h3>Country of Origin</h3>
                <mat-form-field appearance="outline" class="form-field">
                  <mat-select
                    [disableOptionCentering]="true"
                    #selectCountry
                    placeholder="Select Country"
                    formControlName="country"
                  >
                    <mat-select-filter
                      [placeholder]="'Filter Country List'"
                      *ngIf="selectCountry.focused"
                      [array]="countrys"
                      [displayMember]="'name'"
                      (filteredReturn)="filteredCountryList = $event"
                    >
                    </mat-select-filter>
                    <mat-option
                      *ngFor="let item of filteredCountryList"
                      [value]="item._id"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </nz-card>
      </div>

      <div class="add-product-right">
        <nz-card
          class="card_single mb15"
          nzTitle="Product Status"
          nzSize="small"
        >
          <nz-select
            [(ngModel)]="selectedOption"
            formControlName="status"
            style="width: 100%"
          >
            <nz-option
              *ngFor="let c of productStatus"
              [nzValue]="c.value"
              nzLabel="{{ c.viewValue }}"
            ></nz-option>
          </nz-select>
        </nz-card>

        <nz-card
          class="card_single mb15"
          nzTitle="Product Status"
          nzSize="small"
        >
          <div class="cardsingle return">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canReturn"
                formControlName="canReturn"
              >
                Allow Return
              </label>
              <span *ngIf="canReturn === true">
                <input
                  nz-input
                  formControlName="returnPeriod"
                  placeholder="1"
                />
                Day
              </span>
            </div>
          </div>
          <div class="cardsingle payment">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canPartialPayment"
                formControlName="canPartialPayment"
              >
                Allow Partial
              </label>
              <nz-input-group nzCompact *ngIf="canPartialPayment === true">
                <input type="text" nz-input formControlName="partialPayment" />
                <nz-select formControlName="partialPaymentType">
                  <nz-option
                    *ngFor="let c of amountType"
                    [nzValue]="c.value"
                    [nzLabel]="c.viewValue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </div>
          </div>

          <div class="cardsingle payment">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canEarnPoints"
                formControlName="canEarnPoints"
              >
                Earn Points
              </label>
              <nz-input-group nzCompact *ngIf="canEarnPoints">
                <input type="text" nz-input formControlName="earnPoints" />
                <nz-select formControlName="earnPointsType">
                  <nz-option
                    *ngFor="let c of amountType"
                    [nzValue]="c.value"
                    [nzLabel]="c.viewValue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </div>
          </div>
        </nz-card>

        <!--Redeem Rule-->
        <nz-card class="payment-status-other-info">
          <!--other-status-title-->
          <div
            class="other-status-title"
            style="border-radius: 0px; box-shadow: none"
          >
            <h3>Redeem Rule</h3>
          </div>
          <div class="other-status-body">
            <!--other-check-->
            <div class="other-check check-box">
              <ul>
                <li>
                  <mat-checkbox
                    class="example-margin"
                    value="true"
                    [checked]="true"
                    [(ngModel)]="canRedeemPoints"
                    formControlName="canRedeemPoints"
                    >Allow redeem points</mat-checkbox
                  >
                </li>
              </ul>
            </div>
            <!--other-status--input-main-->
            <div *ngIf="canRedeemPoints" class="other-status-input-main">
              <h3>Amount</h3>
              <!--input-box-->
              <div class="input-box">
                <div style="width: 100%">
                  <mat-form-field appearance="outline" class="form-field">
                    <!-- <mat-label>Amount</mat-label> -->
                    <input
                      type="number"
                      matInput
                      formControlName="redeemPoints"
                    />
                    <mat-error *ngIf="">This field is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="select-btn">
                  <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="redeemPointsType">
                      <mat-option
                        *ngFor="let c of amountType"
                        [value]="c.value"
                        >{{ c.viewValue }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </nz-card>
        <!----------end------------------>
        <!----organization-area-->
        <nz-card class="organization-area">
          <!---vendor-->
          <div class="vendor">
            <!--title-->
            <div class="title">
              <h2>Organization</h2>
            </div>
            <!---form-input-->
            <div class="form-input">
              <h3>Vendor</h3>
              <!--form-input-main-->
              <div class="form-input-main">
                <div style="width: 100%">
                  <mat-form-field appearance="outline" class="form-field">
                    <!-- <mat-label>Vendor</mat-label> -->
                    <mat-select
                      [disableOptionCentering]="true"
                      #selectVendor
                      placeholder="Select Vendor"
                      formControlName="vendor"
                    >
                      <mat-select-filter
                        [placeholder]="'Filter Vendor List'"
                        *ngIf="selectVendor.focused"
                        [array]="vendors"
                        [displayMember]="'name'"
                        (filteredReturn)="filteredVendorList = $event"
                      >
                      </mat-select-filter>
                      <mat-option
                        *ngFor="let item of filteredVendorList"
                        [value]="item._id"
                      >
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="">This field is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="form-input-main">
            <h3>Brand</h3>
            <mat-form-field appearance="outline" class="form-field">
              <mat-select
                [disableOptionCentering]="true"
                #selectBrand
                placeholder="Select Brand"
                formControlName="brand"
              >
                <mat-select-filter
                  [placeholder]="'Filter Brand List'"
                  *ngIf="selectBrand.focused"
                  [array]="brands"
                  [displayMember]="'name'"
                  (filteredReturn)="filteredBrandList = $event"
                ></mat-select-filter>
                <mat-option
                  *ngFor="let item of filteredBrandList"
                  [value]="item._id"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!---product-type-->
          <div class="product-type">
            <!--title-->
            <div class="product-type-title">
              <h2>product type</h2>
            </div>
            <div class="standard-form-input">
              <nz-select
                [compareWith]="compareFn"
                formControlName="productType"
                [nzMaxTagCount]="3"
                nzMode="multiple"
                nzPlaceHolder="Please select"
              >
                <nz-option
                  *ngFor="let item of listOfTypes"
                  [nzLabel]="item.name"
                  [nzValue]="item"
                ></nz-option>
              </nz-select>
              <!-- <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template> -->
            </div>
          </div>
          <!---product-type-end-->

          <!---tags-->
          <div class="tags-area">
            <div class="tags-top">
              <h3>Tags</h3>
              <a href="#">View all tags</a>
            </div>
            <div class="form -input">
              <nz-select
                formControlName="tags"
                nzMode="tags"
                nzPlaceHolder="Tag Mode"
                [(ngModel)]="listOfTagOptions"
              >
                <nz-option
                  *ngFor="let option of listOfOption"
                  [nzLabel]="option.label"
                  [nzValue]="option.value"
                >
                </nz-option>
              </nz-select>
            </div>
          </div>
        </nz-card>
      </div>
    </div>

    <div class="varriant-area-main">
      <nz-card class="varriant-area">
        <div class="varriant-top">
          <div class="title">
            <h2>Variant</h2>
          </div>
          <div class="check-box">
            <mat-checkbox
              [(ngModel)]="hasVariant"
              value="true"
              formControlName="hasVariant"
              class="example-margin"
            >
              This product has multiple options like different sizes or colors.
            </mat-checkbox>
          </div>
        </div>

        <div class="option-area" *ngIf="hasVariant === true">
          <div class="option-title">
            <h3>Options</h3>
          </div>
          <!--option-main-->
          <div class="option-main">
            <div class="form-input">
              <div *ngFor="let f of variantArray?.controls; let i = index">
                <h3 style="margin-bottom: 10px">Option-{{ i + 1 }}</h3>
                <div class="option-input">
                  <mat-form-field
                    formArrayName="variants"
                    class="example-full-width"
                    appearance="fill"
                  >
                    <mat-label>Variant Name</mat-label>
                    <input
                      type="text"
                      placeholder="Pick one"
                      aria-label="Number"
                      matInput
                      [formControlName]="i"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete #auto="matAutocomplete" [selected]="i">
                      <mat-option value="size">size</mat-option>
                      <mat-option value="color">color</mat-option>
                      <mat-option value="material">material</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-input">
              <div *ngFor="let f of optionsArray?.controls; let i = index">
                <h3 style="margin-bottom: 10px">
                  Values for options {{ i + 1 }}
                </h3>
                <div class="option-input">
                  <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Separate options with a comma</mat-label>
                    <mat-chip-list
                      formArrayName="options"
                      #chipList
                      aria-label="Fruit selection"
                    >
                      <mat-chip
                        *ngFor="let fruit of fruits[i]"
                        (removed)="remove(fruit)"
                      >
                        {{ fruit }}
                        <button
                          *ngIf="this.dataForm.value?.status === 1"
                          matChipRemove
                        >
                          <mat-icon (click)="remove(fruit, i)">cancel</mat-icon>
                        </button>
                        <button
                          *ngIf="this.dataForm.value?.status === 2"
                          matChipRemove
                        >
                          <mat-icon (click)="edit(fruit, i)">edit</mat-icon>
                        </button>
                      </mat-chip>
                      <input
                        placeholder="New value"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event, i)"
                      />
                    </mat-chip-list>
                  </mat-form-field>

                  <button
                    *ngIf="this.dataForm.value?.status === 1"
                    class="button deleteButton"
                    type="button"
                    (click)="deleteFormControl(i)"
                  >
                    <mat-icon style="align-items: center">remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!---varriant-btn-->
          <div class="varriant-btn" style="display: flex">
            <button
              type="button"
              style="margin-right: 10px"
              (click)="onAddNewFormControl()"
            >
              Add another option
            </button>
            <button type="button" (click)="submitVariant()">DONE</button>
          </div>
        </div>

        <nz-table
          [nzData]="variantFormArray.controls"
          *ngIf="hasVariant === true"
        >
          <thead>
            <tr>
              <th
                [nzChecked]="false"
                [nzIndeterminate]="true"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Image</th>
              <th>Variants</th>
              <th>Sku</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Vendor</th>
              <th>Low Stock</th>
              <th>Pre Order</th>
              <th>Display</th>
            </tr>
          </thead>
          <tbody formArrayName="variantFormArray">
            <!-- <td
              [nzChecked]="setOfCheckedId.has(data.id)"
              [nzDisabled]="data.disabled"
              (nzCheckedChange)="onItemChecked(data.id, $event)"
            ></td> -->
            <tr
              *ngFor="
                let data of variantFormArray.controls;
                let variant;
                of: variantDataArray;
                let i = index
              "
              [formGroupName]="i"
            >
              <td>
                <h3>
                  <mat-checkbox
                    [checked]="checkSelectionVariantImg(i)"
                    (change)="onCheckVariantImage($event, i)"
                  >
                  </mat-checkbox>
                </h3>
              </td>
              <td>
                <div>
                  <div class="variant-image">
                    <button
                      *ngIf="dataForm.value.variantFormArray[i].image"
                      (click)="
                        removeVariationImage(
                          i,
                          dataForm.value.variantFormArray[i].image
                        )
                      "
                      mat-icon-button
                      color="warn"
                      type="button"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <img
                      (click)="selectImage()"
                      [src]="
                        dataForm.value.variantFormArray[i].image
                          ? dataForm.value.variantFormArray[i].image
                          : '/assets/images/placeholder/test.png'
                      "
                      [alt]="dataForm.value.variantFormArray[i].variantSku"
                    />
                  </div>
                  <!-- (click)="imagePicker.click()" -->
                  <!-- <input [hidden]="true" #imagePicker type="file" (change)="fileChangeEvent($event)" accept="image/*" /> -->
                </div>
              </td>
              <td display="flex">
                <span *ngFor="let name of variantObject; let n = index"
                  >{{ variant[name]
                  }}<span
                    style="color: blue"
                    *ngIf="n !== variantObject.length - 1"
                    >/</span
                  ></span
                >
              </td>
              <td>
                <p type="text" matInput placeholder="sku" readonly>
                  {{ dataForm.value.variantFormArray[i].variantSku }}
                </p>
              </td>
              <td>
                <input
                  type="number"
                  nz-input
                  formControlName="variantPrice"
                  placeholder="Price"
                  readonly
                />
              </td>
              <td>
                <input
                  type="number"
                  nz-input
                  formControlName="variantQuantity"
                  placeholder="qty"
                  readonly
                />
              </td>
              <td>
                <mat-select
                  appearance="outline"
                  class="form-field"
                  [disableOptionCentering]="true"
                  #selectVendor
                  placeholder="Select Vendor"
                  formControlName="variantVendorName"
                >
                  <mat-select-filter
                    [placeholder]="'Filter Vendor List'"
                    *ngIf="selectVendor.focused"
                    [array]="vendors"
                    [displayMember]="'name'"
                    (filteredReturn)="filteredVendorList = $event"
                  >
                  </mat-select-filter>
                  <mat-option
                    *ngFor="let item of filteredVendorList"
                    [value]="item._id"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </td>
              <td>
                <input
                  type="number"
                  nz-input
                  formControlName="variantReOrder"
                  placeholder="re order"
                />
              </td>
              <td>
                <mat-checkbox
                  formControlName="variantContinueSelling"
                  class="example-margin"
                ></mat-checkbox>
              </td>
              <td>
                <mat-checkbox
                  formControlName="variantDisplay"
                  class="example-margin"
                ></mat-checkbox>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>

      <nz-card class="search-engine">
        <!--search-engine-top-->
        <div class="search-engine-top">
          <div class="title">
            <h2>Search engine listing preview</h2>
            <p>
              Add a title and description to see how this product might appear
              in a search engine listing.
            </p>
          </div>
        </div>
        <!---search-engine-main-->
        <div class="search-engine-main">
          <!---form-input-->
          <div class="form-input" style="margin-bottom: 25px">
            <h3>Page Title</h3>
            <mat-form-field appearance="outline" class="form-field">
              <!-- <mat-label>Page Title</mat-label> -->
              <input
                type="text"
                #input
                [value]=""
                formControlName="searchPageTitle"
                matInput
                placeholder="Enter your page title"
                maxlength="70"
              />
              <mat-hint
                >{{ input.value?.length || 0 }} of 70 characters used.</mat-hint
              >
            </mat-form-field>
          </div>
          <!---form-input-->
          <div class="form-input" style="margin-bottom: 25px">
            <h3>Description</h3>
            <mat-form-field appearance="outline" class="form-field">
              <!-- <mat-label>Descrption</mat-label> -->
              <textarea
                #textarea
                matInput
                rows="7"
                cols="10"
                formControlName="searchPageDescription"
                placeholder="Write your description"
                maxlength="320"
              ></textarea>
              <mat-hint
                >{{ textarea.value?.length || 0 }} of 320 characters
                used.</mat-hint
              >
            </mat-form-field>
          </div>
          <!---form-input-->
          <div class="form-input">
            <h3>URL and Handle</h3>
            <mat-form-field appearance="outline" class="form-field">
              <input
                type="text"
                value=""
                formControlName="searchPageUrl"
                matInput
                placeholder="example https://global.caremebd.com"
              />
              <mat-error *ngIf="">This field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </nz-card>

      <div class="varriant-btn-area">
        <!---archive-btn-area-->
        <div class="archive-btn-area">
          <ul>
            <li>
              <button type="button" *ngIf="product" (click)="archive()">
                Archive Product
              </button>
            </li>
            <li>
              <button type="button" (click)="deleteProduct()" *ngIf="product">
                Delete Product
              </button>
            </li>
          </ul>
        </div>

        <!---form-btn-->
        <div class="form-btn" style="margin: 0px">
          <button
            nz-button
            nzType="dashed"
            type="button"
            [routerLink]="['../../', 'products']"
          >
            Discard
          </button>
          <button nz-button nzType="primary" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>

<nz-modal
  [(nzVisible)]="showImageList"
  nzTitle="All Images"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <mat-error></mat-error>
    <div
      [class]="
        clickActive[i]
          ? 'activeImage imageListPopUp'
          : 'inactiveImage imageListPopUp'
      "
      *ngFor="let data of chooseImage; let i = index"
    >
      <img [src]="data" (click)="onSelectImage(data, i)" />
      <i *ngIf="clickActive[i]" class="las la-check-circle"></i>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      Select Image
    </button>
  </div>
</nz-modal>
