<div class="add-product-area">
  <form
    [formGroup]="dataForm"
    (ngSubmit)="onSubmit()"
    #templateForm="ngForm"
    autocomplete="off"
  >
    <div class="page_header">
      <h3>
        <i routerLink="../../products" class="las la-long-arrow-alt-left"></i>
        Add Products
      </h3>
      <div class="header_action">
        <a type="button" (click)="onRefresh()">
          <i class="las la-sync"></i>
        </a>
        <a type="button" *ngIf="product" (click)="preview()"> Preview </a>
        <a type="button" [routerLink]="['../../', 'products']"> Discard </a>
        <button nz-button nzType="primary" type="submit">Save</button>
      </div>
    </div>
    <nz-card nzSize="small" class="mb15">
      <div class="import_by_link">
        <input
          nzSize="large"
          nz-input
          placeholder="Import by link"
          formControlName="link"
        />
        <button
          nzSize="large"
          nz-button
          nzType="default"
          (click)="importProductInfo()"
          type="button"
        >
          <i class="las la-cloud-download-alt"></i> Import
        </button>
      </div>
    </nz-card>

    <div nz-row [nzGutter]="16">
      <div nz-col nzXs="24" nzLg="18">
        <nz-card class="mb15 product-description-area">
          <div class="description-title-input mb15">
            <h3>Title</h3>
            <input
              nz-input
              placeholder="Product Name"
              formControlName="name"
              (change)="autoGenerateSlug()"
            />
          </div>
          <div class="description">
            <h3>
              Description
              <button
                nz-button
                nzType="dashed"
                type="button"
                (click)="onEditHtmlEditor()"
              >
                <i class="las la-code"></i>
              </button>
            </h3>

            <div *ngIf="showHtmlEditor">
              <textarea
                rows="15"
                style="width: 100%"
                type="text"
                nz-input
                (input)="onInput($event)"
                [value]="htmlData"
              ></textarea>
            </div>
            <!----description-plugins-->
            <div *ngIf="!showHtmlEditor" class="description-plugins">
              <quill-editor
                *ngIf="modules"
                [styles]="{ height: '400px' }"
                [modules]="modules"
                (onFocus)="focus($event)"
                (onEditorChanged)="changedEditor($event)"
                formControlName="description"
              >
              </quill-editor>
            </div>
          </div>
        </nz-card>

        <nz-card nzTitle="Media" [nzExtra]="mediaUrl" class="mb15 media_area">
          <div
            nz-row
            [nzGutter]="16"
            *ngIf="hasLink === true"
            style="margin: 0 0 25px 0"
          >
            <div
              nz-col
              nzXs="24"
              nzLg="24"
              *ngFor="let f of mediaArray?.controls; let i = index"
            >
              <nz-input-group nzCompact class="input_group">
                <input
                  type="text"
                  nz-input
                  [formControlName]="i"
                  placeholder="Paste image/video url..."
                />
                <button
                  nz-button
                  nzType="default"
                  type="button"
                  (click)="addMediaLinkButton()"
                >
                  <i class="las la-plus"></i>
                </button>
                <button
                  nz-button
                  nzType="default"
                  type="button"
                  (click)="deleteMediaFormControl(i)"
                >
                  <i class="las la-minus"></i>
                </button>
              </nz-input-group>
            </div>
          </div>

          <!---meadia-drag-drop-area-->
          <div class="meadia-drag-drap-area">
            <div
              *ngIf="chooseImage && chooseImage.length > 0"
              class="img-container"
              cdkDropList
              cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="preview" *ngFor="let data of chooseImage" cdkDrag>
                <img
                  class="inactiveImage"
                  nz-image
                  [nzSrc]="data"
                  [alt]="data"
                />
                <button
                  type="button"
                  class="overlay-ac"
                  mat-icon-button
                  color="warn"
                  (click)="removeSelectImage(data)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div
              class="custom-dropzone"
              ngx-dropzone
              [accept]="'image/*'"
              (change)="onSelect($event)"
            >
              <ngx-dropzone-label>
                <div class="label">
                  <h2>Upload or Drag and Drop Here</h2>
                </div>
              </ngx-dropzone-label>

              <ngx-dropzone-image-preview
                style="display: flex; flex-wrap: wrap"
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
                <!--        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>-->
                <ngx-dropzone-label>{{ f.type }}</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
            <button
              *ngIf="files.length"
              mat-button
              class="upload-button"
              type="button"
              (click)="onUploadImages()"
            >
              Upload
              <span
                >{{ files.length }}
                {{ files.length > 1 ? "images" : "image" }}</span
              >
            </button>
          </div>
        </nz-card>

        <nz-card class="mb15 pricing-area" nzTitle="Pricing">
          <div nz-row [nzGutter]="16">
            <div class="mb15" nz-col nzXs="12" nzMd="6">
              <label for="seling">Selling Price</label>
              <input
                nz-input
                id="seling"
                formControlName="sellingPrice"
                placeholder="0.00"
                digitOnly
              />
            </div>
            <div class="mb15" nz-col nzXs="12" nzMd="6">
              <label for="aprice">App Price</label>
              <input
                nz-input
                id="aprice"
                formControlName="sellingPrice"
                placeholder="0.00"
                digitOnly
              />
            </div>
            <div class="mb15" nz-col nzXs="12" nzMd="6">
              <label for="tax">Tax (%)</label>
              <input
                nz-input
                id="tax"
                formControlName="tax"
                placeholder="0.00"
                digitOnly
              />
            </div>
            <div nz-col nzXs="12" nzMd="6">
              <label for="whprice">Wholesale Price</label>
              <input
                [disabled]="true"
                nz-input
                id="whprice"
                formControlName="wholeSalePrice"
                placeholder="0.00"
                digitOnly
              />
            </div>
          </div>
        </nz-card>
        <nz-card class="mb15 inventory_area" nzTitle="Inventory">
          <div nz-row [nzGutter]="16">
            <div class="mb15" nz-col nzXs="12" nzMd="12">
              <label for="sku">SKU</label>
              <input
                nz-input
                id="sku"
                formControlName="sku"
                placeholder="Enter SKU code.."
                digitOnly
              />
            </div>
            <div class="mb15" nz-col nzXs="12" nzMd="8">
              <label for="barcode">Barcode</label>
              <input
                nz-input
                id="barcode"
                formControlName="barcode"
                placeholder="Enter barcode.."
                digitOnly
              />
            </div>
            <div class="mb15" nz-col nzXs="12" nzMd="4">
              <label for="reOrder">Re Order</label>
              <input
                nz-input
                id="reOrder"
                formControlName="reOrder"
                placeholder="1"
                digitOnly
              />
            </div>
            <div nz-col nzXs="12" nzMd="6" class="quantity_area">
              <label> Available Quantity: </label>
              <input
                type="number"
                formControlName="quantity"
                digitOnly
                disabled
                readonly
              />
            </div>
            <div nz-col nzXs="24" nzMd="8">
              <label nz-checkbox formControlName="continueSelling">
                Continue selling when out of stack
              </label>
            </div>
          </div>
        </nz-card>
        <nz-card class="mb15 shipping_area" nzTitle="Shipping">
          <div nz-row [nzGutter]="16">
            <div class="mb15" nz-col nzXs="24" nzMd="24">
              <label nz-checkbox formControlName="isPhysicalProduct">
                This a physical product
              </label>
            </div>
            <div nz-col nzXs="12" nzMd="6">
              <label for="weight">Weight (Kg)</label>
              <input
                nz-input
                id="weight"
                type="number"
                formControlName="weight"
                decimal="true"
                decimalSeparator="."
                digitOnly
                pattern="[0-9]+([.][0-9]+)?"
              />
            </div>
            <div nz-col nzXs="12" nzMd="6">
              <div class="cardsingle">
                <p>Country of Origin</p>
                <nz-select formControlName="country" nzShowSearch>
                  <nz-option
                    *ngFor="let option of filteredCountryList"
                    [nzLabel]="option.name"
                    [nzValue]="option._id"
                  ></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
        </nz-card>
        <nz-card nzTitle="Variants" class="mb15 variants_area">
          <div nz-row [nzGutter]="16">
            <div class="mb15" nz-col nzXs="24">
              <label
                nz-checkbox
                formControlName="hasVariant"
                [(ngModel)]="hasVariant"
              >
                This product has multiple options.
              </label>
            </div>
            <!-- Mamun -->
            <div class="mb15" nz-col nzXs="24" *ngIf="hasVariant === true">
              <div nz-row [nzGutter]="0">
                <div class="mb15" nz-col nzXs="24" nzMd="4">
                  <div *ngFor="let f of variantArray?.controls; let i = index">
                    <div class="option-input">
                      <mat-form-field
                        formArrayName="variants"
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Variant Name {{ i + 1 }}</mat-label>
                        <input
                          type="text"
                          placeholder="Pick one"
                          aria-label="Number"
                          matInput
                          [formControlName]="i"
                          [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                          #auto="matAutocomplete"
                          [selected]="i"
                        >
                          <mat-option value="size">size</mat-option>
                          <mat-option value="color">color</mat-option>
                          <mat-option value="material">material</mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="mb15" nz-col nzXs="24" nzMd="20">
                  <div *ngFor="let f of optionsArray?.controls; let i = index">
                    <div class="option-input">
                      <mat-form-field
                        class="example-chip-list"
                        appearance="fill"
                      >
                        <mat-label>Variant value {{ i + 1 }} </mat-label>
                        <mat-chip-list
                          formArrayName="options"
                          #chipList
                          aria-label="Fruit selection"
                        >
                          <mat-chip
                            *ngFor="let fruit of fruits[i]"
                            (removed)="remove(fruit)"
                          >
                            {{ fruit }}
                            <button
                              *ngIf="this.dataForm.value?.status === 1"
                              matChipRemove
                            >
                              <i
                                (click)="remove(fruit, i)"
                                class="lar la-times-circle"
                              ></i>
                            </button>
                            <button
                              *ngIf="this.dataForm.value?.status === 2"
                              matChipRemove
                            >
                              <i
                                (click)="edit(fruit, i)"
                                class="las la-pen"
                              ></i>
                            </button>
                          </mat-chip>
                          <input
                            placeholder="New value"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event, i)"
                          />
                        </mat-chip-list>
                      </mat-form-field>

                      <button
                        *ngIf="this.dataForm.value?.status === 1"
                        class="button deleteButton"
                        type="button"
                        (click)="deleteFormControl(i)"
                      >
                        <mat-icon style="align-items: center">remove</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="mb15" nz-col nzXs="24" nzMd="20">
                  <div>
                    <button
                      type="button"
                      nz-button
                      style="margin-right: 10px"
                      (click)="onAddNewFormControl()"
                    >
                      Add another option
                    </button>
                    <button nz-button type="button" (click)="submitVariant()">
                      DONE
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb15" nz-col nzXs="24" nzMd="24">
              <nz-table
                [nzData]="variantFormArray.controls"
                *ngIf="hasVariant === true"
                nzSize="small"
                [nzScroll]="{ x: '900px' }"
              >
                <thead>
                  <tr>
                    <th
                      [nzChecked]="false"
                      [nzIndeterminate]="true"
                      (nzCheckedChange)="onAllChecked($event)"
                      nzWidth="50px"
                    ></th>
                    <th nzWidth="60px">Image</th>
                    <th>Variants</th>
                    <th>Sku</th>
                    <th nzWidth="80px">Price</th>
                    <th nzWidth="80px">Qty</th>
                    <th>Vendor</th>
                    <th nzWidth="80px">Low Stock</th>
                    <th nzWidth="80px">Pre Order</th>
                    <th nzWidth="80px">Display</th>
                  </tr>
                </thead>
                <tbody formArrayName="variantFormArray">
                  <tr
                    *ngFor="
                      let data of variantFormArray.controls;
                      let variant;
                      of: variantDataArray;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <td>
                      <h3>
                        <mat-checkbox
                          [checked]="checkSelectionVariantImg(i)"
                          (change)="onCheckVariantImage($event, i)"
                        >
                        </mat-checkbox>
                      </h3>
                    </td>
                    <td>
                      <div>
                        <div class="variant-image">
                          <button
                            *ngIf="dataForm.value.variantFormArray[i].image"
                            (click)="
                              removeVariationImage(
                                i,
                                dataForm.value.variantFormArray[i].image
                              )
                            "
                            type="button"
                            nz-button
                            nzType="text"
                          >
                            <i class="las la-trash"></i>
                          </button>
                          <img
                            (click)="selectImage()"
                            [src]="
                              dataForm.value.variantFormArray[i].image
                                ? dataForm.value.variantFormArray[i].image
                                : '/assets/images/placeholder/test.png'
                            "
                            [alt]="
                              dataForm.value.variantFormArray[i].variantSku
                            "
                          />
                        </div>
                      </div>
                    </td>
                    <td display="flex">
                      <span *ngFor="let name of variantObject; let n = index">
                        {{ variant[name] }}
                        <span *ngIf="n !== variantObject.length - 1"> / </span>
                      </span>
                    </td>
                    <td>
                      {{ dataForm.value.variantFormArray[i].variantSku }}
                    </td>
                    <td>
                      <input
                        type="number"
                        nz-input
                        formControlName="variantPrice"
                        placeholder="Price"
                        readonly
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        nz-input
                        formControlName="variantQuantity"
                        placeholder="qty"
                        readonly
                      />
                    </td>
                    <td>
                      <nz-select
                        formControlName="variantVendorName"
                        nzShowSearch
                      >
                        <nz-option
                          *ngFor="let option of filteredVendorList"
                          [nzLabel]="option.name"
                          [nzValue]="option._id"
                        ></nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <input
                        type="number"
                        nz-input
                        formControlName="variantReOrder"
                        placeholder="re order"
                      />
                    </td>
                    <td>
                      <mat-checkbox
                        formControlName="variantContinueSelling"
                        class="example-margin"
                      ></mat-checkbox>
                    </td>
                    <td>
                      <mat-checkbox
                        formControlName="variantDisplay"
                        class="example-margin"
                      ></mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </nz-card>
        <nz-card nzTitle="Search engine listing">
          <div class="search_engine_text">
            <h3>Product Title</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
              est quidem, nulla omnis debitis velit rem facere dignissimos.
              Quaerat, soluta.
            </p>
          </div>
          <nz-collapse nzGhost class="search_engine_edit">
            <nz-collapse-panel nzHeader="Edit" [nzExpandedIcon]="expandedIcon">
              <label for="producttitle">Page title</label>
              <input id="producttitle" nz-input placeholder="Product Title" />
              <label for="productdes">Page title</label>
              <textarea
                nz-input
                id="productdes"
                placeholder="Product description"
                [nzAutosize]="{ minRows: 3, maxRows: 5 }"
              ></textarea>
              <label for="producturl">URL</label>
              <input id="producturl" nz-input placeholder="/product-title" />
              <button nz-button nzType="default">Save</button>
            </nz-collapse-panel>
          </nz-collapse>
          <ng-template #expandedIcon>
            <i style="margin-right: 10px" class="las la-cog"></i>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col nzXs="24" nzLg="6">
        <nz-card
          class="card_single mb15"
          nzTitle="Product Status"
          nzSize="small"
        >
          <div class="cardsingle">
            <nz-select
              [(ngModel)]="selectedOption"
              formControlName="status"
              style="width: 100%"
            >
              <nz-option
                *ngFor="let c of productStatus"
                [nzValue]="c.value"
                nzLabel="{{ c.viewValue }}"
              ></nz-option>
            </nz-select>
            <div class="sell_chanel">
              <p>Sales Channels</p>
              <nz-divider></nz-divider>
              <label nz-checkbox [ngModel]="true">Website</label> <br />
              <label nz-checkbox>Mobile App</label> <br />
              <label nz-checkbox>Facebook</label>
            </div>
          </div>
        </nz-card>
        <nz-card
          class="card_single mb15"
          nzTitle="Product Status"
          nzSize="small"
        >
          <div class="cardsingle">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canReturn"
                formControlName="canReturn"
              >
                Allow Return
              </label>
              <span *ngIf="canReturn === true">
                <input
                  nz-input
                  formControlName="returnPeriod"
                  placeholder="1"
                />
                Day
              </span>
            </div>
          </div>
          <div class="cardsingle">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canPartialPayment"
                formControlName="canPartialPayment"
              >
                Allow Partial
              </label>
              <nz-input-group nzCompact *ngIf="canPartialPayment === true">
                <input type="text" nz-input formControlName="partialPayment" />
                <nz-select formControlName="partialPaymentType">
                  <nz-option
                    *ngFor="let c of amountType"
                    [nzValue]="c.value"
                    [nzLabel]="c.viewValue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </div>
          </div>

          <div class="cardsingle">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canEarnPoints"
                formControlName="canEarnPoints"
              >
                Earn Points
              </label>
              <nz-input-group nzCompact *ngIf="canEarnPoints">
                <input type="text" nz-input formControlName="earnPoints" />
                <nz-select formControlName="earnPointsType">
                  <nz-option
                    *ngFor="let c of amountType"
                    [nzValue]="c.value"
                    [nzLabel]="c.viewValue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </div>
          </div>

          <div class="cardsingle">
            <div class="single_align">
              <label
                nz-checkbox
                value="true"
                [(ngModel)]="canRedeemPoints"
                formControlName="canRedeemPoints"
              >
                Redeem Points
              </label>
              <nz-input-group nzCompact *ngIf="canRedeemPoints">
                <input type="text" nz-input formControlName="redeemPoints" />
                <nz-select formControlName="redeemPointsType">
                  <nz-option
                    *ngFor="let c of amountType"
                    [nzValue]="c.value"
                    [nzLabel]="c.viewValue"
                  ></nz-option>
                </nz-select>
              </nz-input-group>
            </div>
          </div>
        </nz-card>
        <nz-card nzTitle="Organization" nzSize="small" [nzExtra]="dataLoad">
          <div class="cardsingle">
            <p>Vendor</p>
            <nz-select formControlName="vendor" nzShowSearch>
              <nz-option
                *ngFor="let option of filteredVendorList"
                [nzLabel]="option.name"
                [nzValue]="option._id"
              ></nz-option>
            </nz-select>
          </div>
          <div class="cardsingle">
            <p>Brand</p>
            <nz-select formControlName="brand" nzShowSearch>
              <nz-option
                *ngFor="let option of filteredBrandList"
                [nzLabel]="option.name"
                [nzValue]="option._id"
              ></nz-option>
            </nz-select>
          </div>
          <div class="cardsingle">
            <p>Product Type</p>
            <nz-select
              [compareWith]="compareFn"
              formControlName="productType"
              nzMode="multiple"
              nzPlaceHolder="Select product type"
            >
              <nz-option
                *ngFor="let item of listOfTypes"
                [nzLabel]="item.name"
                [nzValue]="item"
              ></nz-option>
            </nz-select>
          </div>
          <div class="cardsingle">
            <p>Tags</p>
            <nz-select
              formControlName="tags"
              nzMode="tags"
              nzPlaceHolder="Tag Mode"
              [(ngModel)]="listOfTagOptions"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              >
              </nz-option>
            </nz-select>
          </div>
        </nz-card>
      </div>
      <div nz-col nzXs="24">
        <div class="varriant_area">
          <div class="archive_area">
            <button
              class="archive"
              nz-button
              type="button"
              *ngIf="product"
              (click)="archive()"
            >
              Archive
            </button>
            <button
              class="delete"
              nz-button
              type="button"
              (click)="deleteProduct()"
              *ngIf="product"
            >
              Delete
            </button>
          </div>
          <div class="form_btn">
            <button
              nz-button
              nzType="dashed"
              type="button"
              [routerLink]="['../../', 'products']"
            >
              Discard
            </button>
            <button nz-button nzType="primary" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #dataLoad>
  <i (click)="onRefresh()" class="las la-sync"></i>
</ng-template>

<ng-template #mediaUrl>
  <button nz-button nzType="dashed" type="button" (click)="toggleLink()">
    <i class="las la-lg la-plus"></i> Add form URL
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="showImageList"
  nzTitle="All Images"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <mat-error></mat-error>
    <div
      [class]="
        clickActive[i]
          ? 'activeImage imageListPopUp'
          : 'inactiveImage imageListPopUp'
      "
      *ngFor="let data of chooseImage; let i = index"
    >
      <img [src]="data" (click)="onSelectImage(data, i)" />
      <i *ngIf="clickActive[i]" class="las la-check-circle"></i>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      Select Image
    </button>
  </div>
</nz-modal>
